<table  id="data" border=2 cellspacing=0 cellpadding=0 style='border-collapse: collapse' class="list">
	<thead>
		<tr>
			<th>DA</th>
			<th>Wire Center</th>
			<th>Lead ID</th>
			<th>Customer Name</th>
			<th>Street Address</th>
			<th>Apt#</th>
			<th>City</th>
			<th>Zip</th>
			<th>ICL Assigned</th>
		</tr>
		<tbody>
			<#list result.data as row>
			<tr>
				<td><a
					href="./Controller?pageName=campaign/EditCampaignTerritoryDef.html&iclCode=${row[1].value}&amp;iclName=${row[2].value}&amp;iclStatus=${row[3].value}&amp;officeSeq=${row[0].value}">Edit</a>
				</td>
				<#list row as column> <#if (column_index == 1)> <#else>
				<td>${column.value}</td>
				</#if> </#list>
			</tr>
			</#list>
		</tbody>
</table>