<#if filterComponents?exists>

<table cellspacing="0" cellpadding="0" border="0" class="list crmWidth">
<thead>
<tr>
<th>Upload Filename</th>
<th>Campaign</th>
<th>Lead Owner</th>
<th>Wirecenter</th>
<#if isDAAdded?exists && isDAAdded>
<th>DA</th>
</#if>
<#if isZIPAdded?exists && isZIPAdded>
<th>Zip</th>
</#if>
<th>Count</th>
</tr>
</thead>
	<tbody>
		<#if result.data?exists>
		<#list result.data as row>
		<tr>
			<#list row as column>
			
			<#if column_index == columnCount-1>
			<#else>
				<td>${column.value!''}</td>
			</#if>
			</#list>
		</tr>
		</#list>
		</#if>
	</tbody>
</table>

</#if>



		<#if campaignSelector?exists>
			<td class="fl">Select Campaign:&nbsp; </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" name="campaignID" id="campaignID"  class="inputControl" onchange="javascript:loadICLSelector();">
				    <option value="-1">-Select-</option>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
				</SELECT>
			</td>
		</#if>
		<#if iclSelector?exists>
			<td class="fl">Select ICL Name:&nbsp; </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" id="iclID"  name="iclID" >
					<option value="-1">-Select-</option>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
				</SELECT>
			</td>
		</#if>
