<#if filterComponents?exists>

<script type="text/javascript">

	var selectedFeildIndex ;
	var criteriaOpened = false;
	var criteriaSection = "<div id='criteriaSection'> <TABLE> <TR> <TD>&nbsp;</TD><TD>&nbsp;</TD><TD><SELECT id='slFieldSeparator' name='slFieldSeparator'><OPTION VALUE='AND' SELECTED>AND</option><OPTION VALUE='OR'>OR</option></SELECT></TD> </TR> <TR><TD>Operator</TD><TD>&nbsp;</TD><TD><SELECT  NAME='slOperator' id='slOperator'><OPTION VALUE='' ></option><OPTION VALUE='Equals' >Equals</option><OPTION VALUE='Not Equals' >Not Equals</option><OPTION VALUE='In' >In</option><OPTION VALUE='Not In' >Not In</option><OPTION VALUE='Contains' >Contains</option><OPTION VALUE='Not Contains' >Not Contains</option></SELECT> </TD> </TR> <TR> <TD>Values(s)</TD> 	<TD>&nbsp;</TD> <TD><INPUT class='inputControl' TYPE='text'  size='15' maxsize='100'  id='itFieldValue' NAME='itFieldValue'></TD> </TR> <TR><TD colspan='3' align='center'><INPUT TYPE='submit' id='isOK' value='OK'  class='buttonTD'  onclick='javascript:showSelectedValues();'>&nbsp;<INPUT TYPE='submit' id='isCancel' value='Cancel'  class='buttonTD'  onclick='javascript:hideCriteriaSelection();'></TD></TR>  </TABLE> </div> ";
	var criteriaSectionForDateFileds = "<div id='criteriaSection'> <TABLE> <TR> <TD>&nbsp;</TD><TD>&nbsp;</TD><TD><SELECT id='slFieldSeparator' name='slFieldSeparator'><OPTION VALUE='AND' SELECTED>AND</option><OPTION VALUE='OR'>OR</option></SELECT></TD> </TR> <TR><TD>Operator</TD><TD>&nbsp;</TD><TD><SELECT  NAME='slOperator' id='slOperator'><OPTION VALUE='' ></option><OPTION VALUE='Equals' >Equals</option><OPTION VALUE='Not Equals' >Not Equals</option><OPTION VALUE='In' >In</option><OPTION VALUE='Not In' >Not In</option><OPTION VALUE='Contains' >Contains</option><OPTION VALUE='Not Contains' >Not Contains</option></SELECT> </TD> </TR> <TR> <TD>Values(s)</TD> 	<TD>&nbsp;</TD> <TD><INPUT class='inputControl' TYPE='text' size='15' maxsize='100' readonly='readonly' id='itFieldValue' NAME='itFieldValue'/> &lt;script language='javaScript'&gt; 	$('#itFieldValue').datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });&lt;/script&gt;</TD> </TR> <TR><TD colspan='3' align='center'><INPUT TYPE='submit' id='isOK' value='OK'  class='buttonTD'  onclick='javascript:showSelectedValues();'>&nbsp;<INPUT TYPE='submit' id='isCancel' value='Cancel'  class='buttonTD'  onclick='javascript:hideCriteriaSelection();'></TD></TR>  </TABLE> </div> ";
	var selectedValues = " <div id='divSelectedValues'> <TABLE> <TR> 	<TD align='left' id='tdSelectedFS' name='tdSelectedFS'></TD> </TR> <TR> <TD  align='left' id='tdSelectedOperator' name='tdSelectedOperator'></TD> </TR> <TR> <TD align='left' width='10px'  id='tdSelectedvalues' name='tdSelectedvalues'></TD> </TR> </TABLE>  </div> "; 
	var fieldsAndValues = '';

function showCriteriaSection(selectedField,isDateFeild){

	if(!criteriaOpened){

		var components =  criteriaSection;		
		
		if(isDateFeild){
			criteriaSectionForDateFileds = criteriaSectionForDateFileds.replaceAll('&gt;','>') ;
			criteriaSectionForDateFileds = criteriaSectionForDateFileds.replaceAll('&lt;','<') ;
			components = criteriaSectionForDateFileds;
		}

		selectedFeildIndex = selectedField.substring(3);
		var fs = '';
		var op = '';
		var val = '';
		if( isDateFeild == undefined && document.getElementById('tdSelectedFS'+selectedFeildIndex)){
			fs = $('#tdSelectedFS'+selectedFeildIndex).html();
			op = $('#tdSelectedOperator'+selectedFeildIndex).html();
			val = $('#tdSelectedvalues'+selectedFeildIndex).html();
			$('#tdFV'+selectedFeildIndex).html(components);		
			$('#slFieldSeparator').val(fs);
			$('#slOperator').val(op);
			$('#itFieldValue').val(val);
		}else{
			document.getElementById('tdFV'+selectedFeildIndex).innerHtml = components;
		}
		criteriaOpened = true;
	}
}

function hideCriteriaSelection(){
	$('#tdFV'+selectedFeildIndex).html('');
	criteriaOpened = false;
}

function showSelectedValues(){
	var fs = $('#slFieldSeparator').val();
	var op = $('#slOperator').val();
	if(op == ''){
		alert('Operator is required.');
		return;
	}
	var val = $('#itFieldValue').val();	
	if(val == ''){
		alert('Value is required.');
		return;
	}

	$('#tdFV'+selectedFeildIndex).html(selectedValues);
	$('#tdSelectedFS').html(fs);
	$('#tdSelectedFS').attr('id','tdSelectedFS'+selectedFeildIndex);
	$('#tdSelectedOperator').html(op);
	$('#tdSelectedOperator').attr('id','tdSelectedOperator'+selectedFeildIndex);
	$('#tdSelectedvalues').html(val);
	$('#tdSelectedvalues').attr('id','tdSelectedvalues'+selectedFeildIndex);
	criteriaOpened = false;	
}

function showResults(pageNumber, columnName){
	fieldsAndValues = '';
	for(var i=0;i<14;i++){
		if(document.getElementById('tdSelectedFS'+i)){
			fieldsAndValues = fieldsAndValues +  $('#tdSelectedFS'+i).html() +':' + $('#spanCOL'+i).html() + ':' + $('#tdSelectedOperator'+i).html() +':' + $('#tdSelectedvalues'+i).html() + '::' ;
		}
	}

	if(pageNumber != undefined){
		var params = {
				pageName : "ICLLeadSheetReport",
				controlName :"leadSheetTable",
				pageNumber : pageNumber,
				sortingColumn : columnName,
				fieldsAndValues : fieldsAndValues
			}
		}else{
			var params = {
					pageName : "ICLLeadSheetReport",
					controlName :"leadSheetTable",
					pageNumber : "1",
					fieldsAndValues : fieldsAndValues
				}
		}
		var url = "uiController";
		loadPaginatedTable(url,params,refreshleadSheetTableLoaded,pageNumber);
	

}

function refreshleadSheetTableLoaded(data){
	$("#leadSheetTable").children().remove();
	$("#leadSheetTable").append(data);
}

function loadCampaignSelector() {
	var params = {
		pageName :"LeadSheetGeneration",
		controlName :"campaignSelector"
	}
	var url = "uiController";
	loadControl(url, params, onCampaignSelectorLoaded);
}

// Call back function when Campaign is loaded
function onCampaignSelectorLoaded(data) {
	$("#campaignSelector").children().remove();
	$("#campaignSelector").append(data);
	loadICLSelector();
}

function loadICLSelector() {
	var params = {
		pageName :"LeadSheetGeneration",
		controlName :"iclSelector",
		campaignSeq :document.getElementById("campaignID").value
	}
	var url = "uiController";
	loadControl(url, params, iclSelectorLoaded);
}

// Call back function when Campaign is loaded
function iclSelectorLoaded(data) {
	$("#iclSelector").children().remove();
	$("#iclSelector").append(data);
}

</script>

<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px" width="100%">
	<tr>
		<td valign="top">
		<div class="hltb" style="padding:0px;padding-bottom:5px; margin:0px">
		<table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
			<tbody>
				<tr>
					<td width="2%">
					<ul class="piped-list piped-list-left piped-list-view-left">
						<li class="first">
						<h4 id="ocTitleFieldLabel">ICL LeadSheet Report
						<span id="ocTitleField" /></h4>
						</li>
						<li><a class="vlk" onclick="javascript:gotoHomePage();" style="cursor:pointer">Back to Main Page</a></li>
					</ul>
					</td>
					<td></td>
					<td width="35%">
					<div align="right"></div>
					</td>
				</tr>

			</tbody>
		</table>
		</div>
		</td>
	</tr>
	
		<tr>
		<td>
		<table class="crmWidth" border="0">
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr>
				<td>
					<div id="campaignSelector" name="campaignSelector"></div>
				</td>
				<td><script type="text/javascript"></script>
				<div id="iclSelector" name="iclSelector"></div>
				</td>
			</tr>
			<tr><td colspan="3">&nbsp;</td></tr>
		</table>
		</td>
	</tr>
	
	
	
<tr>
<td> &nbsp;</td>
</tr>
<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('FilterTable'))" id="FilterTableLink" style="CURSOR: hand"> <IMG style="vertical-align:middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a>
						</td>
						<td>Selection Criteria</td>
						<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</td>
</tr>
<tr>
<td> &nbsp;</td>
</tr>
<tr>
	<td align="center">
<TABLE class='crmWidth'>
<thead>
<TR>
	<TH>&nbsp;</TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id);" id='tdF3'><b>WC</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL3' style='display:none'>CLLI</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id);" id='tdF4'><b>DA</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL4' style='display:none'>DA</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id);" id='tdF5'><b>ZIP</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL5' style='display:none'>ZIP</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id);" id='tdF6'><b>Rep Name</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL6' style='display:none'>PERSON_ID</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id,true);" id='tdF7'><b>Date Issued</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL7' style='display:none'>REP_ASSIGNED_DATE</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id,true);" id='tdF8'><b>Date Returned</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL8' style='display:none'>REP_RETURNED_DATE</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id);" id='tdF9'><b>Leads</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL9' style='display:none'>LEADS</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id);" id='tdF10'><b>DMS Reached</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL10' style='display:none'>DMS</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id);" id='tdF11'><b>Acounts(no of sales)</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL11' style='display:none'>ACCOUNTS</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id);" id='tdF12'><b>Penetration rate</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL12' style='display:none'>PR</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id);" id='tdF13'><b>Number of times worked</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL13' style='display:none'>NTW</span></TH>
	<TH align="left" onclick="javascript:showCriteriaSection(this.id);" id='tdF14'><b>Leadsheet Notes</b>&nbsp;<IMG style="vertical-align:middle" src="assets/images/drop.gif"><span id='spanCOL14' style='display:none'>NOTES</span></TH>
</TR>
</thead>
<tbody>
<TR>
	<TD>
		<TABLE>
			<TR>
				<TD>&nbsp;</TD>
			</TR>
			<TR>
				<TD><b>Operator</b></TD>
			</TR>
			<TR>
				<TD><b>Value(s)</b></TD>
			</TR>
		</TABLE>
	</TD>
	<TD align='center' id='tdFV3'></TD>
	<TD align='center' id='tdFV4'></TD>
	<TD align='center' id='tdFV5'></TD>
	<TD align='center' id='tdFV6'></TD>
	<TD align='center' id='tdFV7'></TD>
	<TD align='center' id='tdFV8'></TD>
	<TD align='center' id='tdFV9'></TD>
	<TD align='center' id='tdFV10'></TD>
	<TD align='center' id='tdFV11'></TD>
	<TD align='center' id='tdFV12'></TD>
	<TD align='center' id='tdFV13'></TD>
	<TD align='center' id='tdFV14'></TD>
</TR>
<tr>
<td colspan="15"> &nbsp;</td>
</tr>

<tr>
<td align="center" colspan="15"><input class="buttonTD" value="Search" type="submit" onclick='javascript:showResults('',1);'> </td>
</tr>
</tbody>
</TABLE>
</td>
</tr>

 <tr>
<td> &nbsp;</td>
</tr>
<tr>
		<td colspan="2" align="center">
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('leadTable'))" id="leadTableLink" style="CURSOR: hand"> <IMG style="vertical-align:middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a>
						</td>
						<td>Leadsheets</td>
						<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div id="leadSheetTable" name="leadSheetTable"></div>
		</td>
</tr>




</table>

<script type="text/javascript">
	loadCampaignSelector();
</script>

</#if>

