<#if report?exists>
    <script type="text/javascript" >

    function loadCampaignSelector() {
    	var params = {
    		pageName :"LeadSheetGeneration",
    		controlName :"campaignSelector"
    	}
    	var url = "uiController";
    	loadControl(url, params, onCampaignSelectorLoaded);
    }

    function onCampaignSelectorLoaded(data) {
    	$("#campaignSelector").children().remove();
    	$("#campaignSelector").append(data);
    	loadICLSelector();
    }

    function loadICLSelector() {
    	var params = {
    		pageName :"LeadSheetGeneration",
    		controlName :"iclSelector",
    		campaignSeq :document.getElementById("campaignID").value
    	}
    	var url = "uiController";
    	loadControl(url, params, iclSelectorLoaded);
    }

    function iclSelectorLoaded(data) {
    	$("#iclSelector").children().remove();
    	$("#iclSelector").append(data);
    	loadDataTable();
    }

    function handleICLChange(){
    	loadDataTable();
    }
    

function loadDataTable(){
	var campaignId = document.getElementById("campaignID").value;
	var officeId = document.getElementById("iclID").value;

	if(officeId != '-1' && campaignId != '-1' ){
		jQuery("#data").jqGrid('setGridParam',{url:"iclReportServlet?q=1&queryId=ICL_LEADSHEET_REPORT1&campaignId="+campaignId+'&officeId='+officeId ,page:1});
		jQuery("#data").jqGrid('setCaption',"Leadsheets").trigger('reloadGrid');
	}
	$('#gs_PENETRATION').hide();

}
    
jQuery('document').ready(function() {
	    jQuery("#data").jqGrid({
	        url:'iclReportServlet?q=1&queryId=ICL_LEADSHEET_REPORT1',
	        datatype: "json",
	        height: 440,
	        width: 1100,
	        colNames:['WC','DA', 'Zip','Leads','Rep Name','Date Issued','Date Returned','DMS Reached','Accounts','Penetration','Notes'],
	        colModel:[
	         {name:'CLLI',index:'CLLI',width:60},
	         {name:'DA',index:'DA',width:60},
	         {name:'ZIP',index:'ZIP',width:50},
	         {name:'LEAD_COUNT',index:'LEAD_COUNT',width:80},
	         {name:'PERSON_ID',index:'PERSON_ID',width:140},
	         {name:'REP_ASSIGNED_DATE',index:'REP_ASSIGNED_DATE',width:60},
	         {name:'REP_RETURNED_DATE',index:'REP_RETURNED_DATE',width:60},
	         {name:'DMS_REACHED',index:'DMS_REACHED',width:60},
	         {name:'SALES',index:'SALES',width:60},
	         {name:'PENETRATION',index:'PENETRATION',width:80},
	         {name:'NOTES',index:'NOTES'}
	        ],
	        rowNum:20,
	        rowList : [20,50,100],
	        loadonce:false,
	        mtype: "GET",
	        rownumWidth: 40,
	        gridview: true,
	        pager: '#dataPage',
	        sortname: 'CLLI',
	        viewrecords: true,
	        sortorder: "asc",
	        caption: "Leadsheets"  ,
			loadtext : "<img src='assets/images/spinnerLarge.gif' alt='Processing'>"
	    });
	 
	    jQuery("#data").jqGrid('navGrid','#ptoolbar',{del:false,add:false,edit:false,search:false});
	    jQuery("#data").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
	}); 

function exportReport(type){
	var campaignId = document.getElementById("campaignID").value;
	var officeId = document.getElementById("iclID").value;

	if(officeId != '-1' && campaignId != '-1' ){
		jQuery('#data').jqGrid('excelExport',{url: 'iclReportServlet?q=1&queryId=ICL_LEADSHEET_REPORT1&reportName=ICLLeadsheets&type='+type+'&campaignId='+campaignId+'&officeId='+officeId});
	}

	
}
</script>

<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px" width="100%">
	<tr>
		<td valign="top">
		<div class="hltb" style="padding:0px;padding-bottom:5px; margin:0px">
		<table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
			<tbody>
				<tr>
					<td width="2%">
					<ul class="piped-list piped-list-left piped-list-view-left">
						<li class="first">
						<h4 id="ocTitleFieldLabel">ICL LeadSheet Report
						<span id="ocTitleField" /></h4>
						</li>
						<li><a class="vlk" onclick="javascript:gotoHomePage();" style="cursor:pointer">Back to Main Page</a></li>
					</ul>
					</td>
					<td></td>
					<td width="35%">
					<div align="right"></div>
					</td>
				</tr>

			</tbody>
		</table>
		</div>
		</td>
	</tr>
<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('FilterTable'))" id="FilterTableLink" style="CURSOR: hand"> <IMG style="vertical-align:middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a>
						</td>
						<td>ICL LeadSheet Report</td>
						<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</td>
</tr>

	<tr>
		<td>
		<table class="crmWidth" border="0">

			<tr>
				<td>
					<div id="campaignSelector" name="campaignSelector"></div>
				</td>
				<td><script type="text/javascript"></script>
				<div id="iclSelector" name="iclSelector"></div>
				</td>
			</tr>

		</table>
		</td>
	</tr>
<tr>
<td> &nbsp;</td>
</tr>
<tr>
<td align="center">

    <center>
        <!--Your grid will be diplayed here-->
        <table id="data" class="crmwidth"></table>
        <div id="dataPage"></div>
        <!--End of grid-->
        <br>
        <input class="inputControl" type="submit" value="Export to Excel" onclick="javascript:exportReport('xls');"> &nbsp;
        <br>
    </center>
</td>
</tr>
</table>

<script type="text/javascript">
	loadCampaignSelector();
</script>

</#if>
 