/* this file is only for running the Rico 3.0 examples */

body {
font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
	font-family : Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 16pt;
}

#explanation {
  background-color:#EEEEFF;
  font-size:small;
  margin-bottom:0.5em;
  padding: 2px;
}

#libinfo {
  background-color:#EEEEFF;
  font-size:9pt;
  margin-bottom:0.5em;
  padding: 2px;
}

p.ricoBookmark { clear:both; }

form#settings {
  font-size:smaller;
  margin: 0px 10px 0px 0px;
  padding: 3px;
  border: 1px solid black;
}

.appHeader {
	margin:0px;
}

#DrillDownDesc {
  font-weight: bold;
}

table.demoSettings td {
  font-size:small;
  white-space: nowrap;
}

#addplaceholder {
  height: 125px;
  width: 125px;
  background-color:white;
  border: 1px solid blue;
}
