<#if iclRepSelector?exists>
<table border="1" cellpadding="0" cellspacing="0" class="crmWidth">
  <thead>
	  <th align="left" style="padding-bottom:5px"><input name="colorCodes" value="leadSheetDispositionalColorCodes" onclick="javascript:leadSheetToggleColorCode(this.value);" type="radio"/><b>Disposition Color Codes</b></th>
  	  <th align="left" style="padding-bottom:5px"> <input name="colorCodes" value="leadSheetDefaultColorCodes" onclick="javascript:leadSheetToggleColorCode(this.value);" type="radio" checked="true"/><b>Available Lead Color Codes</b></th>
	  <th align="left" style="padding-left:20px;padding-bottom:5px"><b>Rep Info</b></th>
  </thead>
  <tbody>
    <tr>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" width="60%">
			<table border="0" width="100%">
				<tbody>
				<#if dispositionResult?size!=0>
					<#list dispositionResult as row>
					<tr>
						<#list row as column>
						<td align="center">
							<img height="20px" src="${column[2].value!''}" />
						</td>
						<td>
						<#if column[0].value?exists && column[0].value = "Default"> 
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	${column[0].value!''} - ${column[1].value!''}
						<#else>
						<input type="checkbox" id="dispositionCode_${column_index}" disabled="disabled"
							name='leadSheetDispositionalImages' value="${column[2].value!''}"
							onClick="javascript:showLeadSheetDispositionalImages();" />
							${column[0].value!''} - ${column[1].value!''}
						</#if>
						</td>
						</#list>
					</tr>
					</#list>
				</#if>
				</tbody>
			</table>
		</td>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" width="20%" align="center">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/brown.png"/></td>
						<td style="vertical-align:middle">TV</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/yellow.png"/></td>
						<td style="vertical-align:middle">Internet</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/blue.png"/></td>
						<td style="vertical-align:middle">DSL Candidate</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/green.png"/></td>
						<td style="vertical-align:middle">DSL Current Customer</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/red-dot.png"/></td>
						<td style="vertical-align:middle">Voice Only</td>
					</tr>
				</tbody>
			</table>
		</td>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" align="center" width="20%">
			<table border="0">
				<tbody>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Name&nbsp;&nbsp;</td>
						<td align="left">
							<select style="border: 1px solid; width: 120px;"
								name="repID" id="repID" onchange="javascript:loadICLRepInfo();">
								<#list reps.data as row>
								<option value="${row[0].value}">${row[1].value}</option>
								</#list>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div id="iclRepInfo" name="iclRepInfo"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	  </tr>
	</tbody>
</table>
</#if>

<#if iclRepInfo?exists>
<table border="0">
	<tr>
		<td>
			<table width="100%" align="left" valign="top" cellspacing="5" cellpadding="5" border="0">
				<#if repDetails.data?exists>
					<#list repDetails.data as row>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Code</td>
						<td><INPUT TYPE="text" NAME="" value='${row[0].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Last Worked</td>
						<td><INPUT TYPE="text" NAME="" value='${row[1].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Distributed</td>
						<td><INPUT TYPE="text" NAME="" value='${row[2].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Returned </td>
						<td><INPUT TYPE="text" NAME="" value='${row[3].value!""}' size="14" class="inputControl"></td>
					</tr>
					</#list>
				<#else>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Code</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Last Worked</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Distributed</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Returned </td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
				</#if>
			</table>
		</td>
	</tr>
</table>
</#if>




 <#if leadListTable?exists>
 <table border="2" cellspacing="0" cellpadding="0" style='border-collapse: collapse;' class="list crmWidth"><tr>
		<td>** = Unmapped Lead</td>
 		<td>BTN = Billing Telephone #</td>
 		<td>DATA = Fios internet</td>
 		<td>Disp = Final Disposition</td>
 		<td>FDM= Freedom</td>
		<td>TV = FiosTV</td>
 </tr></table>
<table border="2" cellspacing="0" cellpadding="0" style='border-collapse: collapse;' class="list crmWidth">
	<tr align="center" style="font-weight:bold">
	<#if type = 'Saved'>
		<td colspan="12"></td>
	<#else>
		<td colspan="11"></td>
	</#if>
		
		<td colspan="3"  style="background-color: #C0C0C0;">Candidate of product</td>
		<td colspan="3" >Customer of product</td>
		<td colspan="12"></td>
	</tr>

	<tr>
	
	<#if type = 'Saved'>
		<th><input id="checkAlltoUnAssign" type="checkbox" onclick="javascript:checkAll();"></th>
	</#if>
		<th width=2%>#</th>
		<th width=10%>Street Address</th>
		<th width=10%>STE</th>
		<th width=10%>Company Name</th>
		<th width=5%>City</th>
		<th width=10%>Customer Name</th>
		<th width=2%>BTN</th>
		<th width=2%>ONT Id</th>
		<th width=2%>Residency Status</th>
		<th width=2%>No. of Lines</th>
		<th width=2%>Lead Type</th>
		<th width=2%>TV</th>
		<th width=2%>DATA</th>
		<th width=2%>DSL</th>
		<th width=2%>TV</th>
		<th width=2%>DATA</th>
		<th width=2%>DSL</th>
		<th width=2%>50/25</th>
		<th width=2%>75/35</th>
		<th width=2%>150/65</th>
		<th width=2%>300/65</th>
		<th width=2%>HHL</th>
		<th width=2%>FHL</th>
		<th width=2%>MBAC</th>
		<th width=2%>FDS</th>
		<th width=2%>1</th>
		<th width=2%>2</th>
		<th width=2%>3</th>
		<th width=5%>Disp</th>
	</tr>
		<#if result.data?exists>
			<#list result.data as row>
				<#if row_index ==0 >
				<script type="text/javascript">
				 firstLeadRowId = "${row[28].value!''}";
				 totalRecords = ${result.data?size};
				 tKey = "${tKey!"-1"}";
				</script>
				</#if>
				<tr>
<!-- 				<#if (row[28].value?exists && row[28].value == "Y") || (row[34].value?exists && row[34].value == "P")  > -->
<!-- 					<#assign bTagOpen = "<b>"> -->
<!-- 					<#assign bTagClose = "</b>"> -->
<!-- 				<#else> -->
<!-- 					<#assign bTagOpen = ""> -->
<!-- 					<#assign bTagClose = ""> -->
<!-- 				</#if> -->
<!-- 				<#if row[29].value?exists && row[29].value == "Y"> -->
<!-- 					<#assign iTagOpen = "<i>"> -->
<!-- 					<#assign iTagClose = "</i>"> -->
<!-- 				<#else> -->
<!-- 					<#assign iTagOpen = ""> -->
<!-- 					<#assign iTagClose = ""> -->
<!-- 				</#if> --> <!-- 2013181 - Verizon B2B Lead Sheet Changes -->	
				<#assign bTagOpen = "">
				<#assign bTagClose = "">
				<#assign iTagOpen = "">
				<#assign iTagClose = "">
				<#if type = 'Saved'>
					<#if row[25].value?exists && row[25].value != "">
						<td><input value="${row[28].value!''}-${row[31].value!''}" name="unDispositionedLeads"  type="checkbox"  disabled="disabled" /></td>
					<#else>
						<td><input value="${row[28].value!''}-${row[31].value!''}" name="unDispositionedLeads"  type="checkbox"  /></td>
					</#if>
				</#if>
				<td>${bTagOpen}${row_index+1}${bTagClose}</td>
				<#list row as column>
					<#if column_index==0>
						<td>
							<#assign s = column.value>
								${bTagOpen}${iTagOpen}
								${s}
								<#if row[36].value?exists && (row[36].value == "I" || row[36].value == "E")>**</#if>
								${iTagClose}${bTagClose}
								
						</td>
					<#elseif column_index == 10 || column_index == 11 || column_index == 12>
							<td style="background-color:#C0C0C0;">${bTagOpen}${iTagOpen}${column.value!''}${iTagClose}${bTagClose}</td>
					<#elseif column_index == 28 || column_index == 29 || column_index == 30 || column_index == 31 || column_index == 32 || column_index == 33 || column_index == 34  || column_index == 35 || column_index == 36 || column_index == 37  || column_index == 38 || column_index == 39 || column_index == 40     > 
					<#else>
							<td>${bTagOpen}${iTagOpen}${column.value!''}${iTagClose}${bTagClose}</td>
					</#if>
				</#list>																		
			</tr>
			</#list>
			<TR><TD  colspan="32">&nbsp;</TD></TR>
					<#if type == "Saved">
			<tr><td align='center' colspan="28">Total Leads Available for Leadsheet : ${availLeads!'0'}</td></tr>
			<tr><td align='center' colspan="28">Total Leads Disabled : ${disabledLeads!'0'}</td> </tr>
			<tr><td align='center' colspan="28">Total Leads Dispositioned : ${dispLeads!'0'}</td></tr>
						</#if>
	
			<TR><TD  colspan="28">&nbsp;</TD></TR>
		<#else>
			<tr><td colspan="28">No Records to Display</td></tr>
		</#if>
		
</table>
</#if>