
<#if campaignSelector?exists>
	<table align="center">
		<tbody>
			<tr>
				<td width="10px">&nbsp;</td>
				<td class="fl">Select Campaign:&nbsp;</td>
				<td class="fv" align="center" width="80">
				<select class="inputControl"
					style="width: 180px;" name="CampaignSelector" id="CampaignSelector" onchange="javascript:checkCustomController();">
					<option value="-1">-Select-</option>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >
					${row[1].value}</option>
					</#list>
				</select></td>
			</tr>
		</tbody>
	</table>
</#if>

<div style="clear:both">&nbsp;</div>

<#if iclTable?exists>
<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
								<tbody>
									<tr>
										<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('def3'))" id="GroupOne" style="CURSOR: hand"> <IMG style="vertical-align:middle"
											src="assets/images/hideshow_infoshown_grayscale.gif"></a>
										</td>
									<td>Campaign ICL Territories</td>
									<td width="100%">&nbsp;</td>
									</tr>
								</tbody>
							</table>
<DIV id="def3">
	<table id="data" cellspacing="0" cellpadding="0" class="list crmWidth">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Plot</th>
				<th>ICL Code</th>
				<th>ICL Name</th>
				<th>ICL Owner</th>
				<th>ICL Address</th>
				<th>ICL Status</th>
				<th>Created Date</th>
			</tr>
		</thead>
		<tbody>
			<#if result.data?exists>
			<#list result.data as row>
			<tr>
				<td><a onclick="territoryFor='ICL';javascript:goToICLAdmin(${row[0].value});" style="text-decoration:underline;cursor: pointer;text-decoration:underline;cursor: pointer">Edit</a></td>
				<td><input type="checkbox" name="iclCheckbox"  checked="checked"  value="${row[0].value}" onclick="javascript:showTerritory();" /></td>
				<#list row as column>
					<#if (column_index == 0) || (column_index == 7)>
					<#elseif column_index==5>
						<#if column.value?exists>
							<#if column.value =='Y'>
								<td>Active</td>
							<#else>
								<td>InActive</td>
							</#if>
						</#if>
					<#else>
						<td>${column.value!''}</td>
					</#if>
				</#list>
			</tr>
			</#list>
			</#if>
		</tbody>
	</table>
</DIV>
</#if>
