 <#if showCampaignMap?exists>

<script type="text/javascript">
	var officeSeq = "${officeSeq}";
	var campaignSeq = "${campaignSeq}";
	var personID=-1;
	var territoryID = "${territoryID}";
	var isRepChanged = false;
	var territoryMapSeq="";
	territoryFor='ICLLEAD';
	territoryPageName = "ICL_TERRITORY";
	function loadterritoryDefSelector() {
		var params = {
			pageName :"TerritoryManagement",
			controlName :"territoryDefSelector",
			campaignSeq:campaignSeq,
			officeSeq:officeSeq,
			personID :personID,
			parentTerritoryKey:territoryID
		}
		var url = "uiController";
		loadControl(url, params, territoryDefSelectorLoaded);
	}
	// Call back function when Campaign is loaded
	function territoryDefSelectorLoaded(data) {
		$("#territoryDefSelector").children().remove();
		$("#territoryDefSelector").append(data);
		loadTerritoryTable();
	}

// To refresh just child Territories
	function refreshChildTerritories(){
		var params = {
				pageName :"TerritoryManagement",
				controlName :"loadTerritoryDetails",
				personID :personID,
				campaignSeq:campaignSeq,
				parentTerritoryKey:territoryID,
				territoryFor:territoryFor,
				officeSeq:officeSeq
			};

		var url = "uiController";
		loadControl(url, params,onChildTerritoryloaded);
	}


	function onChildTerritoryloaded(data) {
		$("#territoryListTable").children().remove();
		$("#territoryListTable").append(data);
	}

	
	function loadTerritoryTable(pageNumber) {
		if(pageNumber){
			var params = {
				pageName :"TerritoryManagement",
				controlName :"loadTerritoryDetails",
				personID :personID,
				territoryFor:territoryFor,
				parentTerritoryKey:territoryID,
				officeSeq:officeSeq,
				campaignSeq:campaignSeq,
				pageNumber:pageNumber
			}
		}else{
			var params = {
					pageName :"TerritoryManagement",
					controlName :"loadTerritoryDetails",
					personID :personID,
					campaignSeq:campaignSeq,
					parentTerritoryKey:territoryID,
					territoryFor:territoryFor,
					officeSeq:officeSeq
				}
		}

		var url = "uiController";
		loadPaginatedTable(url, params, onTerritoryListTableloaded,pageNumber);
	}

	function onTerritoryListTableloaded(data) {
		$("#territoryListTable").children().remove();
		$("#territoryListTable").append(data);
		clearPolylines();
		loadKML("mapServlet?action=loadPolygons&parentTerritoryIds=" + territoryID+"&clientKey="getClientKeyFromUrl());
	}

	function deleteICLLEADTerritory(mapSeq, territoryName){
		var url = "mapServlet";
		var params = {
				action :"delete",
				territoryFor : territoryFor,
				territoryName : territoryName,
				territoryID : territoryID,
				territoryMapSeq : mapSeq
		}
	   loadControl(url, params, loadTerritoryTable);
	}


	function onTerritorySaveOrUpdated(data){
		var responseObject = data.split("|");

		territoryID = responseObject[0];
		var responseMessage = responseObject[1];
		try{
			if(responseMessage && responseMessage != ""){
				alert(responseMessage);
			}
		}catch(e){
			alert("Unknown Error !!Try again by refreshing page");
		}
	}


	function saveOrUpdateTerritory(){
		personID = document.getElementById('personID').value;
		var territoryName=document.getElementById('territoryName').value;
		if(territoryName == ""){
			alert("Territory Name Cannot be blank");
			document.getElementById('territoryName').focus();
			return;
		}
		var status=document.getElementById('status').value;
		var noOfBusines=document.getElementById('noOfBusines').value;
		var noOfOrders=document.getElementById('noOfOrders').value;
		var description=document.getElementById('description').value;
		var returnedDate=document.getElementById('iclReturnedDate').value;
		var repAssignedDate=document.getElementById('repAssignedDate').value;
		var createdDate=document.getElementById('createdDate').value;
		var params = {
				pageName :"TerritoryManagement",
				controlName :"saveOrUpdateTerritory",
				campaignSeq:campaignSeq,
				officeSeq:officeSeq,
				territoryName:territoryName,
				status:status,
				noOfBusines:noOfBusines,
				noOfOrders:noOfOrders,
				description:description,
				personID :personID,
				parentTerritoryKey:territoryID,
				returnedDate:returnedDate,
				createdDate :createdDate,
				repAssignedDate : repAssignedDate,
				isRepChanged : isRepChanged
			}

			 loadControl(url, params,onTerritorySaveOrUpdated);
		}

		function isPersonChanged(oldValue,newValue){
			if(oldValue != newValue){
				isRepChanged = true;
			}
		}
</script>



<table class="crmWidth">
	<tr>
		<td>
		<div class="hltb">
		<table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
			<tbody>
				<tr>
					<td width="2%">
					<ul class="piped-list piped-list-left piped-list-view-left">
						<li class="first">
						<h4 id="ocTitleFieldLabel">ICL Territory Management - Setup
						Territories<span id="ocTitleField" /></h4>
						</li>
						<li><a href="#" onclick="javascript:gotoHomePage();">Main Page</a></li>
						<li><a href="#" onclick="javascript:goToICLManagement()">ICL
						Territory Management</a></li>
						<li>Edit Territory</li>
					</ul>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</td>
	</tr>
	<tr>
		<td align="left">
		<table cellpadding="1" cellspacing="0" class="tb crmWidth">
			<tbody>
				<tr valign="center">
					<td>Setup Territories</td>
				</tr>
			</tbody>
		</table>
		</td>
	</tr>


	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
		<div id="tempMapHolder" name="tempMapHolder"></div>
		<script type="text/javascript">
	try{
		showMap();
		resizeMap(820);
		mapRequired = "true";
		// Now Load Map
		loadMap();
		createMapControls();
		markerControlEnabled = "true";
		polygonControlEnabled = "true";
		polylineControlEnabled = "true";
		addControls();
		polygonInfoWindowEnabled = true;
		enablePolygonDrawing = true;	
	}catch(e){
	}
</script></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	</#if> <#if territoryDefSelector?exists>
	<script type="text/javascript">
	loadterritoryDefSelector();
</script>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('def1'))" id="GroupOne" style="CURSOR: hand"> <IMG style="vertical-align:middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a>
						</td>
					<td>ICL Territory Definition</td>
					<td width="100%" align="left">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		<div id="territoryDefSelector" name="territoryDefSelector"></div>
		</td>
	</tr>
	<tr>
		<td>
		<table border="0" cellspacing="0" cellpadding="0" align="center">
			<tr height=50>
				<td align="right"><INPUT TYPE="button" style="width: 75px" value="Save" class="buttonTD"
					onclick="javascript:saveOrUpdateTerritory();"></td>
				<td style="width: 10%;"></td>
				<td align="left"><INPUT TYPE="submit" style="width: 75px" onClick="javascript:goToICLManagement();" value="Cancel" class="buttonTD"></td>
			</tr>
		</table>
		</td>
	</tr>
	</#if> <#if territoryListTable?exists>

	<tr>
		<td>
					<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
						<tbody>
							<tr>
								<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('territoryListTable'))" id="GroupOne" style="CURSOR: hand"> <IMG style="vertical-align:middle"
									src="assets/images/hideshow_infoshown_grayscale.gif"></a>
								</td>
								<td>Territory List</td>
								<td width="100%" align="left"><input type="button" value="New" class="buttonTD" onclick="javascript:openModal(campaignSeq,officeSeq);" name='territory' class='territory demo' align="left" /></td>
							</tr>
						</tbody>
					</table>

		<div id="territoryListTable" name="territoryListTable"></div>
		</td>
	</tr>
	</#if>
</table>