
<#if statesSelector?exists>
 
	<script type="text/javascript">

		// Call back function when ICL is loaded
		function onStatesLoaded(data){
			$("#countiesSelector_holder").children().remove();
			$("#countiesSelector_holder").append(data);
		} 
		
		function loadCounties(selectBox) {
			var stateName = selectBox.value;
			var params = {pageName : "PopupWindow",controlName:"countiesSelector",stateName:stateName,territorySeq:territory};
			var url = "uiController"; 
			loadControl(url,params,onStatesLoaded); 
			
		}
	</script>

	<table align="center">
		<tbody>
		<tr>
		<td align="right" class="fl"><b>Us State:</b></td>
		<td style="padding-left: 15px;"><SELECT NAME="states" id="states"
			onchange="javaScript:loadCounties(this)"> 
			<#list result.data as row> <#list row as column>
			<OPTION VALUE='${column.value}'<#if usState?exists> <#if column.value == usState> selected="selected"</#if> </#if>  >${column.value}</OPTION>
			</#list> </#list>
		</SELECT></td>
	</tr>
		</tbody>
	</table>
	
	<script type="text/javascript">
	<#if usState?exists> 
	loadCounties(document.getElementById("states"));
	</#if>
	</script>	
</#if>



<#if countiesSelector?exists>  
	<table align="center">
		<tbody>
			<tr>
		<td align="right" class="fl"><b>County:</b></td>
		<td style="padding-left: 15px;" id="countyHolder" name="countyHolder">
		<SELECT NAME="counties" id="counties"> 
		<#list result.data as row>
				<OPTION VALUE='${row[1].value}' <#if usCounty?exists> <#if row[0].value == usCounty> selected="selected"</#if> </#if> >${row[0].value}</OPTION>			  
		</#list>
		</SELECT></td>
	</tr>
		</tbody>
	</table>
</#if>

<#if iclSubmitActions?exists>

<script type="text/javascript">
function mapStateCounty() {
	var countyKey = document.getElementById("counties").value;
	var stateKey = document.getElementById("states").value;
	$.post("uiController?pageName=PopupWindow", {
		action : "saveIclTerritory",
		officeSeq : officeSeq,
		countyKey : countyKey,
		stateKey : stateKey,
		territorySeq : territory,
		loadTemplate : "false" 
	}, function(data) {
		parent.opener.refreshMapAndTerritory();
		window.close();
	});
}
</script>

<div id="editCancel">
<input name="input" type="submit"
	value="Save" onclick="javascript:mapStateCounty();" class="buttonTD" /></div>
</#if>


<#if wireCenterStatesSelector?exists>
	<table align="center">
		<tbody>
			<tr>
		<td align="right" class="fl"><b>State:</b></td>
		<td style="padding-left: 15px;" id="wireCenterHolder" name="wireCenterHolder">
		<SELECT NAME="wireCenterState" id="wireCenterState" onchange="javascript:loadWireCenter();"> 
		<#list result.data as row>
				<OPTION VALUE='${row[0].value}'>${row[0].value}</OPTION>			  
		</#list>
		</SELECT></td>
	</tr>
		</tbody>
	</table>

</#if>

<#if wireCenterSelector?exists>
	<table align="center">
		<tbody>
			<tr>
		<td align="right" class="fl"><b>Wire Center:</b></td>
		<td style="padding-left: 15px; width:50px;" id="wireCenterHolder" name="wireCenterHolder">
		<SELECT NAME="wireCenter" id="wireCenter" onchange="javascript:loadDA();"> 
		<#list result.data as row>
				<OPTION VALUE='${row[0].value}' >${row[0].value}</OPTION>			  
		</#list>
		</SELECT></td>
	</tr>
		</tbody>
	</table>

</#if>

<#if daSelector?exists>
	<table align="center">
		<tbody>
			<tr>
		<td align="right" class="fl"><b>DA:</b></td>
		<td style="padding-left: 15px;" id="daHolder" name="daHolder">
		<SELECT NAME="da" id="da">
		<OPTION VALUE=''  ></OPTION> 
		<#list result.data as row>
				<OPTION VALUE='${row[0].value}'  >${row[0].value}</OPTION>			  
		</#list>
		</SELECT></td>
	</tr>
		</tbody>
	</table>
<script type="text/javascript">

function mapRepTerritory(){

	var wireCenter = document.getElementById("wireCenter").value;
	var da = document.getElementById("da").value;
	var stateName = document.getElementById("wireCenterState").value;
	$.post("uiController?pageName=PopupWindow", {
		action : "saveIclRepTerritory",
		wireCenter : wireCenter,
		da : da,
		stateName : stateName,
		repId: repId,
		officeSeq : officeSeq,
		loadTemplate : "false" 
	}, function(data) {
		parent.opener.loadTerritoryTable();
		window.close();
	});
	
}
</script>

<div id="editCancel">
<input name="input" type="submit"
	value="Save" onclick="javascript:mapRepTerritory();" class="buttonTD" /></div>

</#if>
