<#if report?exists>
    <script type="text/javascript" >

    function loadCampaignSelector() {
    	var params = {
    		pageName :"LeadSheetGeneration",
    		controlName :"campaignSelector"
    	}
    	var url = "uiController";
    	loadControl(url, params, onCampaignSelectorLoaded);
    }

    function onCampaignSelectorLoaded(data) {
    	$("#campaignSelector").children().remove();
    	$("#campaignSelector").append(data);
    	loadICLSelector();
    }

    function loadICLSelector() {
    	var params = {
    		pageName :"LeadSheetGeneration",
    		controlName :"iclSelector",
    		campaignSeq :document.getElementById("campaignID").value
    	}
    	var url = "uiController";
    	loadControl(url, params, iclSelectorLoaded);
    }

    function iclSelectorLoaded(data) {
    	$("#iclSelector").children().remove();
    	$("#iclSelector").append(data);
    }

    function handleICLChange(){
    	
    }
    

function loadDataTable(){
	var campaignId = document.getElementById("campaignID").value;
	var officeId = document.getElementById("iclID").value;
	var startDate = $('#startDate').val();
	var endDate = $('#endDate').val();

	if(officeId != '-1' && campaignId != '-1' && startDate != '' && endDate != ''){
		jQuery("#data").jqGrid('setGridParam',{url:"iclReportServlet?q=1&queryId=ICL_LEADSHEET_REPORT2&campaignId="+campaignId+'&officeId='+officeId+'&startDate='+startDate+'&endDate='+endDate ,page:1});
		jQuery("#data").jqGrid('setCaption',"Leadsheets").trigger('reloadGrid');
	}


}
    
jQuery('document').ready(function() {

	$("#startDate").datepicker({ altField: "input#date", altFormat: "yy-mm-dd" });
	$("#endDate").datepicker({ altField: "input#date", altFormat: "yy-mm-dd" });
	
	jQuery("#data").jqGrid({
	        url:'iclReportServlet?q=1&queryId=ICL_LEADSHEET_REPORT2',
	        datatype: "json",
	        height: 440,
	        width: 1100,
	        colNames:['Rep Name','WC Count', 'DA Count','Zip Count','Rep Assigned Date','Leads Count','DMS Reached','Accounts','Penetration'],
	        colModel:[
	         {name:'PERSON_ID',index:'PERSON_ID',width:140},
	         {name:'NUMBER_OF_CLLI',index:'NUMBER_OF_CLLI',width:50},
	         {name:'NUMBER_OF_DA',index:'NUMBER_OF_DA',width:50},
	         {name:'NUMBER_OF_ZIP',index:'NUMBER_OF_ZIP',width:50},
	         {name:'REP_ASSIGNED_DATE',index:'REP_ASSIGNED_DATE',width:60},
	         {name:'NUMBER_OF_LEADS',index:'NUMBER_OF_LEADS',width:60},
	         {name:'DMS_REACHED',index:'DMS_REACHED',width:60},
	         {name:'SALES',index:'SALES',width:60},
	         {name:'PENETRATION',index:'PENETRATION',width:80}
	        ],
	        rowNum:20,
	        rowList : [20,50,100],
	        loadonce:false,
	        mtype: "GET",
	        rownumWidth: 40,
	        gridview: true,
	        pager: '#dataPage',
	        sortname: 'PERSON_ID, REP_ASSIGNED_DATE',
	        viewrecords: true,
	        sortorder: "asc",
	        caption: "Leadsheets"  ,
			loadtext : "<img src='assets/images/spinnerLarge.gif' alt='Processing'>"
	    });
	 
	    jQuery("#data").jqGrid('navGrid','#ptoolbar',{del:false,add:false,edit:false,search:false});
	    jQuery("#data").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
	}); 

function exportReport(type){
	var campaignId = document.getElementById("campaignID").value;
	var officeId = document.getElementById("iclID").value;
	var startDate = $('#startDate').val();
	var endDate = $('#endDate').val();

	if(officeId != '-1' && campaignId != '-1' && startDate != '' && endDate != ''){
		jQuery('#data').jqGrid('excelExport',{url: 'iclReportServlet?q=1&queryId=ICL_LEADSHEET_REPORT2&reportName=ICLLeadsheets&type='+type+'&campaignId='+campaignId+'&officeId='+officeId+'&startDate='+startDate+'&endDate='+endDate});
	}

	
}
</script>

<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px" width="100%">
	<tr>
		<td valign="top">
		<div class="hltb" style="padding:0px;padding-bottom:5px; margin:0px">
		<table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
			<tbody>
				<tr>
					<td width="2%">
					<ul class="piped-list piped-list-left piped-list-view-left">
						<li class="first">
						<h4 id="ocTitleFieldLabel">Territory Tracker
						<span id="ocTitleField" /></h4>
						</li>
						<li><a class="vlk" onclick="javascript:gotoHomePage();" style="text-decoration:underline;cursor: pointer">Back to Main Page</a></li>
					</ul>
					</td>
					<td></td>
					<td width="35%">
					<div align="right"></div>
					</td>
				</tr>

			</tbody>
		</table>
		</div>
		</td>
	</tr>
<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('FilterTable'))" id="FilterTableLink" style="CURSOR: hand"> <IMG style="vertical-align:middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a>
						</td>
						<td>Territory Tracker</td>
						<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</td>
</tr>

	<tr>
		<td>
		<table border="0" width='100%' >

			<tr>
				<td>
					<div id="campaignSelector" name="campaignSelector"></div>
				</td>
				<td>
					<div id="iclSelector" name="iclSelector"></div>
				</td>
			</tr>

		</table>
	</td>
	</tr>
	<tr>
		<td>
			<table border="0"  width='100%' > 
			<tr>
				<td align='right'>
					Start Date :
				</td>
				<td>
					<input type="text" id="startDate" class="inputControl" size="12">
				</td>
				<td  align='right'>
					End Date : 
				</td>
				<td>
					<input type="text" id="endDate" class="inputControl" size="12">
				</td>
			</tr>
			<tr>
				<td colspan='4' align='center'>
					<input type="submit" id="refreshReport" value='Refresh Report' class="buttonTD" onclick='javascript:loadDataTable();'>
				</td>
			</tr>

		</table>
		</td>
	</tr>

<tr>
<td> &nbsp;</td>
</tr>
<tr>
<td align="center">

    <center>
        <!--Your grid will be diplayed here-->
        <table id="data" class="crmwidth"></table>
        <div id="dataPage"></div>
        <!--End of grid-->
        <br>
        <input class="inputControl" type="submit" value="Export to Excel" onclick="javascript:exportReport('xls');"> &nbsp;
        <br>
    </center>
</td>
</tr>
</table>

<script type="text/javascript">
	loadCampaignSelector();
		var today = new Date();
		var endDate = new Date()
		endDate.setDate(endDate.getDate()-60);

		var sDate = today.getDate()+'';
		var sMonth = (today.getMonth()+1)+'';
		var sYear = today.getFullYear();

		var eDate = endDate.getDate()+'';
		var eMonth = (endDate.getMonth()+1)+'';
		var eYear = endDate.getFullYear();
		
		if(sDate.length < 2){
			sDate = '0'+sDate;
		}
		if(sMonth.length < 2){
			sMonth = '0'+sMonth;
		}

		if(eDate.length < 2){
			eDate = '0'+eDate;
		}
		if(eMonth.length < 2){
			eMonth = '0'+eMonth;
		}

		$('#endDate').val(sMonth+'/'+sDate+'/'+sYear);
		$('#startDate').val(eMonth+'/'+eDate+'/'+eYear);

</script>

</#if>
 