<?xml version='1.0' encoding='UTF-8'?>

<ajax-response> <response type='object'	id='${context.metadata.entityName}'> <rows update_ui='true'	offset='0'> <#list context.data as row>
<tr>	<#list row as column>	<td>${column.value!''}</td>	</#list></tr>
</#list></rows> <debug> </debug> <rowcount>${context.totalRows}</rowcount> </response> </ajax-response>