<#if releaseLeadsTable?exists>
<#if result?exists>
<script type="text/javascript" >
	searchReleaseLeadsCount = ${result?size};
</script>
</#if>
<table cellspacing="0" cellpadding="0" border="0" class="list crmWidth">
<thead>
<tr>
<th>Upload Filename</th>
<th>Campaign</th>
<th>Count</th>
</tr>
</thead>
	<tbody>
		<#if result?exists && result?size&gt;0>
			<tr>
				<#list result as column>
					<td>${column!''}</td>
				</#list>
			</tr>
		<#else>
			<#if message?exists>
				<tr>
					<td></td>
					<td>${message!''}</td>
					<td></td>
				</tr>
			</#if>
		</#if>
	</tbody>
</table>
</#if>

<#if leadTable?exists>
<#if result.data?exists>
<script type="text/javascript" >
searchRecordCount = ${result.data?size};
</script>
</#if>
<table cellspacing="0" cellpadding="0" border="0" class="list crmWidth">
<thead>
<tr>
<th>Upload Filename</th>
<th>Campaign</th>
<th>Lead Owner</th>
<th>Wirecenter</th>
<#if isDAAdded?exists && isDAAdded>
<th>DA</th>
</#if>
<#if isZIPAdded?exists && isZIPAdded>
<th>Zip</th>
</#if>
<th>Count</th>
</tr>
</thead>
	<tbody>
		<#if result.data?exists>
		<#list result.data as row>
		<tr>
			<#list row as column>
			
			<#if column_index == columnCount-1>
			<#else>
				<td>${column.value!''}</td>
			</#if>
			</#list>
		</tr>
		</#list>
		</#if>
	</tbody>
</table>

</#if>

		<#if campaignSelector?exists>
			<td class="fl">Select Campaign:&nbsp; </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" name="campaignID" id="campaignID"  class="inputControl" onchange="javascript:loadICLSelector();">
				    <option value="-1">-Select-</option>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
				</SELECT>
			</td>
		</#if>
		<#if iclSelector?exists>
			<td class="fl">Select ICL Name:&nbsp; </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" id="iclID"  name="iclID" class="inputControl"  >
					<option value="-1">-Select-</option>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
				</SELECT>
			</td>
		</#if>
		
<#if ownerListTable?exists>
<DIV>
<TABLE><TR><TD>
<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<TD class="fv" style="padding-right:5px;" align="left">Add Owner</TD>
	</tr>
	<tr>
		<TD>
		<TABLE style='border-style:solid;border-width:thin;border-color:#B9C9FE;font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;font-size: 12px;text-align:left;width: 800px;'>
			<tr>
				<TD class="fv" style="padding-right:5px;">Office CY code *:</TD>
				<TD class="fv" style="padding-right:5px;"><INPUT class="inputControl"  size="20px"  TYPE="text" id="officeCYCode" NAME="officeCYCode"></TD>	

				<TD class="fv" style="padding-right:5px;">Merlin Code *:</TD>
				<TD class="fv" style="padding-right:5px;">
				<SELECT style="width:80px;" name="merlinCode" id="merlinCode"  class="inputControl">
				<option value="-1">-Select-</option>
				<#list resultMerlinCode.data as row>
					<option value="${row[0].value}">${row[0].value!''}</option>
				</#list>
				</SELECT>
				</TD>

				<TD class="fv" style="padding-right:5px;"></TD>
				<TD class="fv" style="padding-right:5px;"></TD>
			</tr>
			<tr>
				<TD class="fv" style="padding-right:5px;">Salesforce Owner ID *:</TD>
				<TD class="fv" style="padding-right:5px;"><INPUT class="inputControl"  size="20px"  TYPE="text" id="salesForceOwnerID" NAME="salesForceOwnerID"></TD>
			
				<TD class="fv" style="padding-right:5px;">Region *:</TD>
				<TD class="fv" style="padding-right:5px;">
				<SELECT style="width:80px;" name="regionList" id="regionList"  class="inputControl">
				<option value="-1">-Select-</option>
				<#list resultRegion.data as row>
					<option value="${row[0].value}">${row[0].value!''}</option>
				</#list>
				</SELECT>
				</TD>

				<TD class="fv" style="padding-right:5px;" align="center">
					<INPUT TYPE="submit" size="60px" value='Save Owner' onclick="javascript:saveOwner();" class="buttonTD">
				</TD>
			</tr>
		</TABLE>
		</TD>
	</tr>
</table>
</TD></TR><TR><TD>
<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<TD class="fv" style="padding-right:5px;" align="left">Search Office CY code</TD>
	</tr>
	<tr>
		<TD>
		<TABLE style='border-style:solid;border-width:thin;border-color:#B9C9FE;font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;font-size: 12px;text-align:left;width: 800px;'>
			<tr>
				<TD class="fv" style="padding-right:2px;">Office CY code :</TD>
				<TD class="fv" style="padding-right:2px;">
				<SELECT style="width:80px;" name="sOperation" id="sOperation"  class="inputControl">
					<option value="-1">-Select-</option>
					<option value="1">Begins with</option>
					<option value="2">Equals</option>
					<option value="3">Not Equals</option>
				</SELECT>
				</TD>
				<TD class="fv" style="padding-right:2px;">
				<TD class="fv" style="padding-right:2px;"><INPUT class="inputControl"  size="20px"  TYPE="text" id="sText" NAME="sText"></TD>
				<TD class="fv" style="padding-right:2px;">
				<TD class="fv" style="padding-right:2px;" align="center">
					<INPUT TYPE="submit" size="60px" value='Search CY Code' onclick="javascript:searchOfficeCYCode();" class="buttonTD"> &nbsp;
					<INPUT class="buttonTD"  size="60px" TYPE="submit" value='Cancel' onclick="javascript:loadOwnerPage();">
				</TD>
			</tr>
		</TABLE>
		</TD>
	</tr>
</table>
</TD></TR><TR><TD>
<table id="mytable" cellspacing="0" cellpadding="0" border="0" class="crmWidth">
	<thead>
		<tr>
			<th align="center">Region</th>
			<th align="center">Office CY code</th>
			<th align="center">Merlin Office Code </th>
			<th align="center">Salesforce Owner ID</th>
			<th align="center">Lead Pull Date</th>
			<th align="left">Active</th>
		</tr>
	</thead>
	<#if result.data?exists>
		<#list result.data  as row>
		<tr>
		<#list row as column>
			<#if column_index == 6>
			<#elseif column_index == 5 >
				<!--<td id="td_${row[1].value}_${row[3].value}" >
					<table>
						<tr>
							<td style="border-style: none " id="td_s_${row[1].value}_${row[3].value}">
								<a title="Click to Edit" id="activeEditBtn_${row[1].value}_${row[3].value}"  onclick="javascript:goToEditActive('${row[1].value}','${row[3].value}','${row[0].value}','${row[2].value!''}')"  href="#">
								<span id='span_s_${row[1].value}_${row[3].value}' name="" >
									${column.value!''}
								</span>
								</a>
							</td>
							<td valign="middle"  style="border-style: none ">
								<button id="activeEditSubmitBtn_${row[1].value}_${row[3].value}" style="width: 18px; height: 18px; display: none" onclick="javascript:goToSubmitEditActive('${row[1].value}','${row[3].value}','${row[0].value}','${row[2].value!''}')"><img src="assets/images/okIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>
								<br>
								<button id="activeEditCancelBtn_${row[1].value}_${row[3].value}"style="width: 18px; height: 18px; display: none" onclick="javascript:goToCancelEditActive('${row[1].value}','${row[3].value}','${row[0].value}','${row[2].value!''}')"><img src="assets/images/cancelIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>			
							</td>
						</tr>
					</table>
				</td> -->
					<td id="td_${row[1].value}_${row[2].value}_${row[3].value}" >
					<table>
						<tr>
							<td style="border-style: none " id="td_s_${row[1].value}_${row[2].value}_${row[3].value}">
								<a title="Click to Edit" id="activeEditBtn_${row[1].value}_${row[2].value}_${row[3].value}"  onclick="javascript:goToEditActive('${row[1].value}','${row[3].value}','${row[0].value}','${row[2].value!''}')"  href="#">
								<span id='span_s_${row[1].value}_${row[2].value}_${row[3].value}' name="" >
									${column.value!''}
								</span>
								</a>
							</td>
							<td valign="middle"  style="border-style: none ">
								<button id="activeEditSubmitBtn_${row[1].value}_${row[2].value}_${row[3].value}" style="width: 18px; height: 18px; display: none" onclick="javascript:goToSubmitEditActive('${row[1].value}','${row[3].value}','${row[0].value}','${row[2].value!''}')"><img src="assets/images/okIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>
								<br>
								<button id="activeEditCancelBtn_${row[1].value}_${row[2].value}_${row[3].value}"style="width: 18px; height: 18px; display: none" onclick="javascript:goToCancelEditActive('${row[1].value}','${row[3].value}','${row[0].value}','${row[2].value!''}')"><img src="assets/images/cancelIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>			
							</td>
						</tr>
					</table>
				</td>
				
			<#else>
			<td align="center">
				${column.value!''}
			</td>
			</#if>
		</#list>
		</tr>
		</#list>
	</#if>
</table>
</TD></TR></TABLE>
</DIV>
</#if>

<#if mergeOfficeList?exists>
<DIV>
<TABLE><TR><TD>
<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<TD class="fv" style="padding-right:5px;" align="left">Merge Offices</TD>
	</tr>
	<tr>
		<TD>
		<TABLE style='border-style:solid;border-width:thin;border-color:#B9C9FE;font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;font-size: 12px;text-align:left;width: 600px;'>
			<tr>
				<TD class="fv" style="padding-right:2px;">Move this office&#39;s reps *:</TD>
				<TD class="fv" style="padding-right:2px;">
				<SELECT style="width:80px;" name="fromOffice" id="fromOffice"  class="inputControl">
				<option value="-1">-Select-</option>
				<#list resultOwnerCode.data as row>
					<option value="${row[0].value}">${row[0].value!''}</option>
				</#list>
				</SELECT>
				</TD>

				<TD class="fv" style="padding-right:2px;">To this office&#39;s account *:</TD>
				<TD class="fv" style="padding-right:2px;">
				<SELECT style="width:80px;" name="toOffice" id="toOffice"  class="inputControl">
				<option value="-1">-Select-</option>
				<#list resultOwnerCode.data as row>
					<option value="${row[0].value}">${row[0].value!''}</option>
				</#list>
				</SELECT>
				</TD>
				<TD class="fv" style="padding-right:2px;" align="center">
					<INPUT TYPE="submit" size="60px" value='Merge Office' onclick="javascript:saveMergeOffice();" class="buttonTD">
				</TD>
			</tr>
		</TABLE>
		</TD>
	</tr>
</table>
</TD></TR><TR><TD>
<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<TD class="fv" style="padding-right:5px;" align="left">Search Offices</TD>
	</tr>
	<tr>
		<TD>
		<TABLE style='border-style:solid;border-width:thin;border-color:#B9C9FE;font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;font-size: 12px;text-align:left;width: 600px;'>
			<tr>
				<TD class="fv" style="padding-right:2px;">Office Code :</TD>
				<TD class="fv" style="padding-right:2px;">
				<SELECT style="width:80px;" name="sOperation" id="sOperation"  class="inputControl">
					<option value="-1">-Select-</option>
					<option value="1">Begins with</option>
					<option value="2">Equals</option>
					<option value="3">Not Equals</option>
				</SELECT>
				</TD>
				<TD class="fv" style="padding-right:2px;">
				<TD class="fv" style="padding-right:2px;"><INPUT class="inputControl"  size="20px"  TYPE="text" id="sText" NAME="sText"></TD>
				<TD class="fv" style="padding-right:2px;">
				<TD class="fv" style="padding-right:2px;" align="center">
					<INPUT TYPE="submit" size="60px" value='Search Office' onclick="javascript:searchOffice();" class="buttonTD"> &nbsp;
					<INPUT class="buttonTD"  size="60px" TYPE="submit" value='Cancel' onclick="javascript:loadMergeOfficePage();">
				</TD>
			</tr>
		</TABLE>
		</TD>
	</tr>
</table>
</TD></TR><TR><TD>
<table id="mytablemerge" cellspacing="0" cellpadding="0" border="0" class="crmWidth">
	<thead>
		<tr>
			<th align="center">Reps moved from  this account</th>
			<th align="center">Account showing both office&#39;s reps</th>
			<th align="left">Active</th>
		</tr>
	</thead>
		<#if result.data?exists>
			<#list result.data  as row>
			<tr>
			<#list row as column>
				<#if column_index == 3 >
				<#elseif column_index == 2 >
				<td id="td_${row[0].value}_${row[1].value}">
					<table>
						<tr>
							<td style="border-style: none " id="td_s_${row[0].value}_${row[1].value}">
								<a title="Click to Edit" id="mergeActiveEditBtn_${row[0].value}_${row[1].value}"  onclick="javascript:goToEditMergeActive('${row[0].value}','${row[1].value}')"  href="#" >
								<span id='span_s_${row[0].value}_${row[1].value}' name="" >
								${column.value!''}
								</span>
								</a>
							</td>
							<td valign="middle"  style="border-style: none ">
								<button id="mergeActiveEditSubmitBtn_${row[0].value}_${row[1].value}" style="width: 18px; height: 18px; display: none" onclick="javascript:goToSubmitEditMergeActive('${row[0].value}','${row[1].value}')"><img src="assets/images/okIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>
								<br>
								<button id="mergeActiveEditCancelBtn_${row[0].value}_${row[1].value}"style="width: 18px; height: 18px; display: none" onclick="javascript:goToCancelEditMergeActive('${row[0].value}','${row[1].value}')"><img src="assets/images/cancelIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>			
							</td>
						</tr>
					</table>
				</td>
				<#else>
				<td align="center">
					${column.value!''}
				</td>
				</#if>
			</#list>
			</tr>
			</#list>
		</#if>
</table>
</TD></TR></TABLE>
</DIV>
</#if>
<!-- //code added by sanjay -->
<#if LeadApprovalList?exists>
 <DIV>
		<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
			<thead>
				<tr>
					<th style="width:auto;text-align:center"><a id="${tableName}_LION_RUN_ID" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New ICL Owner Name<span id='span_${tableName}_LION_RUN_ID'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_SFOpp_External_Lead_Run_Id__c" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New Assignment Date<span id='span_${tableName}_SFOpp_External_Lead_Run_Id__c'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_CurrentOwner_ICL_Owner_Name__c_ownerduringingestion" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New Run ID<span id='span_${tableName}_CurrentOwner_ICL_Owner_Name__c_ownerduringingestion'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_New_Merlin_OwnerName__c" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Oppty Owner in SF<span id='span_${tableName}_New_Merlin_OwnerName__c'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_LION_LEAD_OWNER" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Owner<span id='span_${tableName}_LION_LEAD_OWNER'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_SFOpp_Lead_Assigned_Date__c" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Assignment Date<span id='span_${tableName}_SFOpp_Lead_Assigned_Date__c'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_LION_LEAD_ASSIGNED" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Run ID<span id='span_${tableName}_LION_LEAD_ASSIGNED'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_LION_RUN_ID" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Count<span id='span_${tableName}_LION_RUN_ID'></span></a></th>
   				    <th width="6%"></th>
					
				</tr>
			</thead>
			<tbody>
				<#if result.data?exists>
				<#list result.data as row>
					<tr>
						<!--<td><input type="checkbox"  name="selectedFiles" value="" id="selectedFiles" onclick="javascript:addToSelectedFilesList(this);"/></td>
						    <td align="center"><input type="checkbox" name="selectedFiles" class="selectedFiles" value="${row[0].value}" id="selectedFiles" onchange="javascript:addToMergeList(this);"/></td>--> 
						
						<#list row as column>
								   <#if (column_index == 0)>
									  <td align="center">${column.value!''}</td>
								   </#if>
								 
									
								   <#if (column_index == 1)>
									    <td align="center">${column.value!''}</td>
								   </#if>
								 
								   <#if (column_index == 2)>
										 <td align="center">${column.value!''}</td> 
									</#if>
								   <#if (column_index == 3)>
									   <td align="center">${column.value!''}</td>
								   </#if>
								    <#if (column_index == 4)>
									    <td align="center">${column.value!''}</td> 
								   </#if>
								   <#if (column_index == 5)>
										<td align="center">${column.value!''}</td>							   
									</#if>
									 
								   <#if (column_index == 6)>
										<td align="center">${column.value!''}</td> 
								   </#if>	
								   
								   <#if (column_index == 7)>
										<td align="center">${column.value!''}</td> 
								   </#if>
								 
								
								   <#if (column_index == 8)>
									   <td>
									   <select>
										    <option value=""></option>
										    <option onclick="javascript:GetSelectedTextValue()">Same Owner</option>
										    <option onclick="javascript:GetSelectedTextValue1()">Different Owner</option>
										    <option onclick="javascript:GetSelectedTextValue2()">Approved</option>
										</select>
									   </td>
								   </#if>
								    
					  </#list>
					</tr>
				</#list>
					
			
				</#if>
			</tbody>
		</table>
		
					<#list result.data as row>
					 <#if row_index == 2>
					
			    		<td style="display: inline-block;">
							<INPUT TYPE="submit" style="width:202px; margin:auto;margin-top:10px;" value="EXPORT ALL to csv" class="buttonTD" onclick="javascript:DownloadleadUploadHistoryTable('XLS')">
						</td>
						
						<td style="display: inline-block;">
							<INPUT TYPE="submit" id="unchk" style="width:202px; margin:auto;margin-top:10px;" value="APPROVE selected" class="buttonTD" onclick="javascript:Allapprovedleads()">
						
						</td>
					</#if>
					</#list>
		
		</DIV>

</#if>

<!-- 
<#if LeadOwnereApprovalList?exists>
 <DIV>
		<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
			<thead>
				<tr>
					<th style="width:auto;text-align:center"><input type="checkbox" id="selectAllFiles" name="selectAllFiles" value="" onclick="javascript:toggleFiles(this)"/></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_RUN_ID" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New ICL Owner name<span id='span_${tableName}_RUN_ID'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_OWNER" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Owner name<span id='span_${tableName}_OWNER'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New Lead Assign Date<span id='span_${tableName}_CSF_PREV_ASSIGNEDDATE'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_LEAD_ASSIGNED" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Assigned Date<span id='span_${tableName}_LEAD_ASSIGNED'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_counts" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">COUNT<span id='span_${tableName}_counts'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_RUN_ID" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">RUN ID<span id='span_${tableName}_RUN_ID'></span></a></th>
					
					<th width="6%"></th>
					<th width="28%"></th>
					
					
				</tr>
			</thead>
			<tbody>
				<#if result.data?exists>
				<#list result.data as row>
					<tr>
					    <td align="center"><input type="checkbox" name="selectedFiles" class="selectedFiles" value="${row[0].value}" id="selectedFiles" onchange="javascript:addToMergeList(this);"/></td>
						
						<#list row as column>
						
									
								   <#if (column_index == 0)>
										 <td align="center">${column.value!''}</td> 
									</#if>
								   <#if (column_index == 1)>
									   <td align="center">${column.value!''}</td>
								   </#if>
								    <#if (column_index == 2)>
									    <td align="center">${column.value!''}</td> 
								   </#if>
								       <#if (column_index == 3)>
									    <td align="center">${column.value!''}</td> 
								   </#if>
								   <#if (column_index == 4)>
									    <td align="center">${column.value!''}</td> 
								   </#if>
								   
								   <#if (column_index == 5)>
									    <td align="center">${column.value!''}</td> 
								   </#if>
								   
								   
								    <#if (column_index == 6)>
										<td><a href="javascript:void(0)"  onclick="javascript:exportReportNewLeadOwner('XLS','${row[0].value!''}','${row[1].value!''}','${row[2].value!''}','${row[3].value!''}')">Export</a></td>								   
									</#if>
								    <#if (column_index == 6)>
									  <td><a href="javascript:void(0)"  onclick="javascript:updateleadowner('${row[0].value!''}','${row[2].value!''}')">Approve</a></td>    
								   	</#if>
								    
					  </#list>
		
					</tr>
				</#list>
					
			
				</#if>
			</tbody>
		</table>
		
					<#list result.data as row>
					 <#if row_index == 2>
					
			    		<td style="display: inline-block;">
							<INPUT TYPE="submit" style="width:202px; margin:auto;margin-top:10px;" value="EXPORT ALL to csv" class="buttonTD" onclick="javascript:DownloadOwnerleads('XLS')">
						</td>
						
						<td style="display: inline-block;">
							<INPUT TYPE="submit" id="unchk" style="width:202px; margin:auto;margin-top:10px;" value="APPROVE selected" class="buttonTD" onclick="javascript:AllapprovedleadOwner()">
						
						</td>
					</#if>
					</#list>
		
		</DIV>

</#if>

<#if NewLeadOwnereApprovalList?exists>
 <DIV>
		<table cellspacing=0 cellpadding=0 class="list" width="200%" align="center">
			<thead>
				<tr>
					<th style="width:auto;text-align:center"><input type="checkbox" id="selectAllFiles" name="selectAllFiles" value="" onclick="javascript:toggleFiles(this)"/></th>
					
					<th style="width:auto;text-align:center"><a id="${tableName}_RUN_ID" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New ICL Owner name<span id='span_${tableName}_RUN_ID'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_OWNER" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Owner name<span id='span_${tableName}_OWNER'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New Lead Assign Date<span id='span_${tableName}_CSF_PREV_ASSIGNEDDATE'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_LEAD_ASSIGNED" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Assigned Date<span id='span_${tableName}_LEAD_ASSIGNED'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_counts" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">COUNT<span id='span_${tableName}_counts'></span></a></th>
					<th style="width:auto;text-align:center"><a id="${tableName}_RUN_ID" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">RUN ID<span id='span_${tableName}_RUN_ID'></span></a></th>
					
					<th width="6%"></th>
					<th width="28%"></th>
					
					
				</tr>
			</thead>
			<tbody>
				<#if result.data?exists>
				<#list result.data as row>
					<tr>
					    <td align="center"><input type="checkbox" name="selectedFiles" class="selectedFiles" value="${row[0].value}" id="selectedFiles" onchange="javascript:addToMergeList(this);"/></td>
						
						<#list row as column>
					 
								    <#if (column_index == 0)>
										 <td align="center">${column.value!''}</td> 
									</#if>
									
								   <#if (column_index == 1)>
									   <td align="center">${column.value!''}</td>
								   </#if>
								    
								    <#if (column_index == 2)>
									    <td align="center">${column.value!''}</td> 
								   </#if>
								    
								    <#if (column_index == 3)>
									    <td align="center">${column.value!''}</td> 
								   </#if>
								   
								   <#if (column_index == 4)>
									    <td align="center">${column.value!''}</td> 
								   </#if>
								   
								   <#if (column_index == 5)>
									    <td align="center">${column.value!''}</td> 
								   </#if>
								   
								    
								    <#if (column_index == 6)>
								     	<td><a href="javascript:void(0)"  onclick="javascript:exportReportNewLeadOwner('XLS','${row[0].value!''}','${row[1].value!''}','${row[2].value!''}','${row[3].value!''}')">Export</a></td>								   
								   </#if>
								
								    <#if (column_index == 6)>
									   <td><a href="javascript:void(0)"  onclick="javascript:UpdateReportnewleadowner('${row[0].value!''}','${row[2].value!''}')">Approve</a></td>
								   </#if>
								    
								    
					  </#list>
		
					</tr>
				</#list>
					
			
				</#if>
			</tbody>
		</table>
		
					<#list result.data as row>
					 <#if row_index == 2>
					
			    		<td style="display: inline-block;">
							<INPUT TYPE="submit" style="width:202px; margin:auto;margin-top:10px;" value="EXPORT ALL to csv" class="buttonTD" onclick="javascript:DownloadOwnerleads('XLS')">
						</td>
						
						<td style="display: inline-block;">
							<INPUT TYPE="submit" id="unchk" style="width:202px; margin:auto;margin-top:10px;" value="APPROVE selected" class="buttonTD" onclick="javascript:AllapprovedNewleadOwner()">
						
						</td>
					</#if>
					</#list>
		
		</DIV>

</#if> -->