<#if leadOperations?exists>


<script type="text/javascript">
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            if($(this).attr("value")=="LEADOWNER")
            {
                $(".box").not(".LEADOWNER").hide();
                $(".LEADOWNER").show();
           }
            else if($(this).attr("value")=="CLLI" || $(this).attr("value")=="DA")
            {
                $(".box").not(".CLLI").hide();
                $(".CLLI").show();
            }
            else if($(this).attr("value")=="NEWLEADOWNER")
            {
                $(".box").not(".NEWLEADOWNER").hide();
                $(".NEWLEADOWNER").show();
            }
            
        });
    }).change();
});

</script>


<script type="text/javascript">
		var today = new Date();
		var endDate = new Date()
		endDate.setDate(endDate.getDate()-14);

		var sDate = today.getDate()+'';
		var sMonth = (today.getMonth()+1)+'';
		var sYear = today.getFullYear();

		var eDate = endDate.getDate()+'';
		var eMonth = (endDate.getMonth()+1)+'';
		var eYear = endDate.getFullYear();
		
		if(sDate.length < 2){
			sDate = '0'+sDate;
		}
		if(sMonth.length < 2){
			sMonth = '0'+sMonth;
		}

		if(eDate.length < 2){
			eDate = '0'+eDate;
		}
		if(eMonth.length < 2){
			eMonth = '0'+eMonth;
		}

		$('#uploadEndDate').val(sMonth+'/'+sDate+'/'+sYear);
		$('#uploadStartDate').val(eMonth+'/'+eDate+'/'+eYear);
		
</script>


<script type="text/javascript">
	// var sortedColumns= new Array();
	var leadsType = '';
	var fieldsAndValues ='';
	var queryString =''; 
	var isTableLoaded  = false;	
	var campaignSeq = '';
	var officeSeq = '';
	var statusTemplate = " <table> <tr style='display:none'  id='ST1' ><td><b>##STATUS##</b> 'On The Map' Leads where ##QUERY##</td> </tr><tr style='display:none'  id='ST2' >	<td><b>##STATUS##</b> 'Generated LeadSheets' Leads where ##QUERY##</td> </tr><tr style='display:none'  id='ST3' >	<td><b>##STATUS##</b> 'Saved LeadSheet's(Not Assigned)' Leads where ##QUERY##</td></tr><tr style='display:none'  id='ST4' ><td><b>##STATUS##</b> 'Saved LeadSheets(Assigned)' Leads where ##QUERY##</td> </tr><tr><td>&nbsp;</td></tr><tr>	<td align='center'><input class='buttonTD' type='submit' id='statusBtn' value='' onclick='javascript:changeLeadsStatus(this.value);'></td></tr></table>";
	//var reAssignTemplate = "<table><tr style='display:none'  id='RA1' ><td>Updating 'On The Map' Leads Campaign to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> where ##QUERY##</td></tr><tr  style='display:none'  id='RA2'><td>Updating 'Generated LeadSheets' Leads Campaign to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> where ##QUERY##</td></tr><tr  style='display:none'  id='RA3'><td>Updating 'Saved LeadSheets(Not Assigned)' Leads Campaign to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> where ##QUERY##</td></tr><tr  style='display:none'  id='RA4'><td>Updating 'Saved LeadSheets(Assigned)' Leads Campaign to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> where ##QUERY##</td></tr><tr><td>&nbsp;</td></tr><tr><td align='center'><input class='buttonTD' type='submit' value='Re-Assign'	onclick='javascript:reAssignLeads();'></td></tr></table>";
	//var reAssignTemplate = "<table><tr id='RA1' ><td>Re-Assigning leads to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> </td></tr><tr style='display:none'  id='RA2'><td></td></tr><tr  style='display:none'  id='RA3'><td></td></tr><tr  style='display:none'  id='RA4'><td></td></tr><tr><td>&nbsp;</td></tr><tr><td align='center'><input class='buttonTD' type='submit' value='Re-Assign' onclick='javascript:reAssignLeads();'></td></tr> </table>"; 
	//var reAssignTemplate = "<table><tr style='display:none'  id='RA1' ><td>Re-Assigning leads to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> </td></tr><tr style='display:none'  id='RA2'><td></td></tr><tr  style='display:none'  id='RA3'><td></td></tr><tr  style='display:none'  id='RA4'><td></td></tr><tr><td>&nbsp;</td></tr><tr><td align='center'><input class='buttonTD' type='submit' value='Re-Assign'	onclick='javascript:reAssignLeads();'></td></tr> </table>"; 
  	  var reAssignTemplate = "<table><tr id='RA1' ><td>Re-Assigning leads to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> </td></tr><tr style='display:none'  id='RA2'><td></td></tr><tr  style='display:none'  id='RA3'><td></td></tr><tr  style='display:none'  id='RA4'><td></td></tr><tr><td>&nbsp;</td></tr><tr><td align='center'><input class='buttonTD' type='submit' value='Re-Assign' onclick='reAssignLeads();'></td></tr> </table>"; 

	var operation = '';
	var operationString = '';
	var searchRecordCount = 0;
	var searchReleaseLeadsCount = 0;
	var cyCode = '';
	var sfOficeId = '';
	var region='';
	var merlinCode='';
	var fromOffice='';
	var toOffice='';
	
	function reAssignLeads() {
		var params = {
				pageName : "LeadManagement",
				controlName : "reAssignLeads",
				fieldsAndValues : fieldsAndValues,
				leadsType : leadsType,
				operation :operationString,
				campaignSeq : document.getElementById("campaignID").value,
				officeSeq : document.getElementById("iclID").value
			}
		var url = "uiController";
		loadControl(url,params,loadLeadStatus);
	}
	
	function changeLeadsStatus(action){
		var params = {
				pageName : "LeadManagement",
				controlName : "changeStatus",
				fieldsAndValues : fieldsAndValues,
				leadsType : leadsType,
				operation :operationString,
				action : action
			}
		var url = "uiController";
		loadControl(url,params,loadLeadStatus);
	}

	function loadLeadStatus(data) {
		if(data == 'SUCCESS'){
			refreshLeadTable();
		}else {
			alert('ERROR!!! Try again Later.');
		}
	}
	
	function loadCampaignSelector() {
		var params = {
			pageName :"LeadManagement",
			controlName :"campaignSelector"
		}
		var url = "uiController";
		loadControl(url, params, onCampaignSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function onCampaignSelectorLoaded(data) {
		$("#campaignSelector").children().remove();
		$("#campaignSelector").append(data);
		loadICLSelector();
	}

	function loadICLSelector() {
		var campaignSeq = document.getElementById("campaignID").value;
		var params = {
			pageName :"LeadManagement",
			controlName :"iclSelector",
			campaignSeq :campaignSeq
		}
		var url = "uiController";
		loadControl(url, params, iclSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function iclSelectorLoaded(data) {
		$("#iclSelector").children().remove();
		$("#iclSelector").append(data);
	}
	function showActionComponents(){
		if(isTableLoaded){
			if(operation == '-1'){
				document.getElementById('reAssignLeads').style.display='none';
				document.getElementById('leadStatus').style.display='none';
			}else if (operation == '1'){
				document.getElementById('reAssignLeads').style.display='';
				document.getElementById('leadStatus').style.display='none';
			}else if (operation == '2' || operation =='3'){
				document.getElementById('reAssignLeads').style.display='none';
				document.getElementById('leadStatus').style.display='';
			}
		}
	}
	
	function refreshleadTableLoaded(data){
		document.getElementById('leadTable').style.display='';
		$("#leadTable").children().remove();
		$("#leadTable").append(data);
		isTableLoaded = true;
		document.getElementById('reviewBtn').style.display='';
		showActionComponents();
	}
	
	function refreshLeadTable(pageNumber,columnName){
		operation = $('#operationsList').val();
		operationString = $('#operationsList :selected').text();
		
		if(operation == '-1')
		{
			
			alert('Please select a Opearation');
			return;
		}
		
		if(operation == '4'){ // Added for 2013106 - ATT Leads Release Automation
			searchReleaseLeads();
			return;
		}

		leadsType = '';
		fieldsAndValues =''; 
		queryString ='';
		document.getElementById('reAssignReviewTable').style.display='none';
		document.getElementById('reAssignReviewTable').innerHTML='';
		document.getElementById('statusReviewTable').style.display='none';
		document.getElementById('statusReviewTable').innerHTML='';
		for(var i=1 ; i <= 7 ; i++){
			var field = document.getElementById("SF"+i).value;
			var operator = document.getElementById("SO"+i).value;
			var value = document.getElementById("IT"+i).value;
			if(value.search('[!@#$%="\'^:;><?]') != -1){
				alert('Invalid characters in field value at row no.' +i);
				return;
			}
			var statementSeparator = "";
			if(i!=1){
				statementSeparator  =  document.getElementById("SFS"+i).value;
			}
			if(field == '-1' && operator == '-1' && value == ''){
				continue;
			}
			else if(field == '-1' || operator == '-1' || value == ''){
				alert("Field/Operator/value is missed in "+i+ " row." );
				return;
			}else{
				fieldsAndValues =  fieldsAndValues + statementSeparator +':'+ field +':'+ operator +':'+ value+"::" ;
				queryString = queryString +  ( i != 1 ? statementSeparator :' ') + ' <b>' + document.getElementById("SF"+i).options[document.getElementById("SF"+i).selectedIndex].text.replace('By ','') +'</b> '+ document.getElementById("SO"+i).options[document.getElementById("SO"+i).selectedIndex].text +' <b>'+ value + '</b>'  ;
			}			
		}
		if(fieldsAndValues.length < 1){
			alert('Search Criteria is required.');
			return;
		}

		for(var j=0;j<document.getElementsByName('LeadsType').length;j++){
			if(document.getElementsByName('LeadsType')[j].checked){
				leadsType = leadsType + document.getElementsByName('LeadsType')[j].value + ":" ;
			}
		}

		if(leadsType.length < 1){
			alert('Please select at least one type.');
			return;
		}
		
		if(pageNumber != undefined){
		var params = {
				pageName : "LeadManagement",
				controlName :"leadTable",
				pageNumber : pageNumber,
				sortingColumn : columnName,
				fieldsAndValues: fieldsAndValues,
				leadsType : leadsType,
				operation :operationString
				}
		}else{
			var params = {
					pageName : "LeadManagement",
					controlName :"leadTable",
					pageNumber : "1",
					fieldsAndValues : fieldsAndValues,
					leadsType : leadsType,
					operation :operationString
				}
		}
		var url = "uiController";
		loadPaginatedTable(url,params,refreshleadTableLoaded,pageNumber);
	}

	function reviewRows(){
		if(searchRecordCount == 0 ){
			alert("No records found to Review!");
			return;
		}
		if(operation == '-1'){
			alert('Please select a Opearation');
			return;
		}
		var tmpStr ='';
		if (operation == '1'){
			campaignSeq = document.getElementById("campaignID").value;
			officeSeq = document.getElementById("iclID").value;
			var campaignName =  document.getElementById('campaignID').options[document.getElementById('campaignID').selectedIndex].text;
			var iclName =  document.getElementById('iclID').options[document.getElementById('iclID').selectedIndex].text;
			if( campaignSeq == '-1' ) {
				alert("Please select Campaign");
				return;
			}
			if( officeSeq == '-1' ){
				alert("Please select ICL");
				return;
			}
			 
			var tempReAssnStr = reAssignTemplate.replaceAll('##CAMPAIGN##', campaignName);
			tempReAssnStr = tempReAssnStr.replaceAll('##ICL##', iclName);
			tempReAssnStr = tempReAssnStr.replaceAll('##QUERY##', queryString);
			
			document.getElementById('reAssignReviewTable').innerHTML = tempReAssnStr;
			document.getElementById('reAssignReviewTable').style.display='';
			document.getElementById('statusReviewTable').style.display='none';
			document.getElementById('statusReviewTable').innerHTML='';
			document.getElementById('reAssignLeads').style.display='none';
			tmpStr = 'RA';	
		}else if (operation == '2' || operation =='3'){
			
			document.getElementById('reAssignReviewTable').style.display='none';
			document.getElementById('reAssignReviewTable').innerHTML = '';
			var tmpStatus =''
			if ( operation == '2' ){
				tmpStatus ='Enable'; 
			} else if ( operation =='3' ){
				tmpStatus ='Disable';
			}
			
			var tempStatusStr = statusTemplate.replaceAll('##STATUS##', tmpStatus);
			tempStatusStr = tempStatusStr.replaceAll('##QUERY##', queryString);

			document.getElementById('statusReviewTable').style.display = '';
			document.getElementById('statusReviewTable').innerHTML= tempStatusStr;
			document.getElementById('statusBtn').value = tmpStatus; 
			
			document.getElementById('leadStatus').style.display='none';
			tmpStr = 'ST';
		}

		var leadsTypes = leadsType.split(':');
		
		for(var i =0; i< leadsTypes.length ;i++){
			if(leadsTypes[i] != null && leadsTypes[i] != ''){ 
				document.getElementById(tmpStr+leadsTypes[i]).style.display='';
			}
		}
		
		document.getElementById('leadTable').style.display='none';
		document.getElementById('reviewBtn').style.display='none';
	}

	// 2013106 - ATT Leads Release Automation - Start
	function selectSearchOptions()
	{
		operation = $('#operationsList').val();
		operationString = $('#operationsList :selected').text();
		
		if(operation == "4"){
			$("#AddDisableOwner").hide();
			$("#Leadapproval").hide();
			$("#mergeOffices").hide();
			$("#FilterTable").show();
			$("#SearchOpsTable,#SearchOpsTableCbox").hide();
			$("#leadTable").hide();
			$("#reviewBtn").hide();
			$("#SearchReleaseLeadsOpsTable").show();
			$("#releaseLeadsTable").show();
			$("#date_search_rl").html($.datepicker.formatDate('mm/dd/yy', new Date())+"");
			$("#releaseLeadsBtn").show();
			$("#reAssignLeads").hide();	
			$("#statusReviewTable").hide();
			$("#reAssignReviewTable").hide();
			$("#leadTable").children().remove();			
			isTableLoaded = false;
			searchRecordCount = 0;
			$('#SearchOpsTable input').val('');
			$('#SearchOpsTable select').val('-1');
			$('#SearchOpsTableCbox :checkbox').removeAttr('checked');
			$('#iclID').val('-1');
			$('#campaignID').val('-1');
		}
		else if(operation == "5")
		{
			//alert("operation 5");
			loadOwnerPage();
			$("#Leadapproval").hide();
		}
		else if(operation == "7")
		{
			loadLeadapprovalPage();
		}
		
		else if(operation == "6"){
			loadMergeOfficePage();
			$("#Leadapproval").hide();
		}else if(operation == "1" || operation == "2" || operation == "3"){
			$("#AddDisableOwner").hide();
			$("#mergeOffices").hide();
			$("#Leadapproval").hide();
			$("#FilterTable").show();
			$("#SearchReleaseLeadsOpsTable").hide();
			$("#releaseLeadsTable").hide();
			$("#releaseLeadsBtn").hide();
			$("#SearchOpsTable,#SearchOpsTableCbox").show();
		}
	}
	
	function searchReleaseLeads(){
		var officeCode = $("#searchOpsIclId").val();
		if(officeCode==null || officeCode == ''){
			alert("Please enter Office Code.");
			return;
		}
		var params = {
					pageName : "LeadManagement",
					controlName :"loadReleaseLeadsTable",
					officeCode : officeCode
				}
		var url = "uiController";
		loadControl(url,params,releaseLeadsTableLoaded);	
	}
	
	function releaseLeadsTableLoaded(data){
		$("#releaseLeadsTable").children().remove();
		$("#releaseLeadsTable").append(data);		
		$("#releaseLeadsBtn").show();
	}
	
	function releaseLeads(){
		if(searchReleaseLeadsCount == 0 ){
			alert("No leads found to Release!");
			return;
		}
		if(operation == '-1'){
			alert('Please select a Opearation');
			return;
		}
		var officeCode = $("#searchOpsIclId").val();
		var params = {
					pageName : "LeadManagement",
					controlName :"releaseLeads",
					officeCode : officeCode
				}
		var url = "uiController";
		loadControl(url,params,releaseLeadsComplete);	
	}
	
	function releaseLeadsComplete(data){	
		$("#releaseLeadsTable").children().remove();
		$("#releaseLeadsTable").append(data);	
		searchReleaseLeadsCount = 0;
	}
	// 2013106 - ATT Leads Release Automation - End
	
	function loadOwnerPage(){
		//alert("operation 25..");
		var params = {
				pageName : "LeadManagement",
				controlName :"loadOwnerList"
		}
		var url = "uiController";
		loadControl(url,params,loadOwnerList);
	}
	
	function loadLeadapprovalPage()
	{
		$("#Leadapproval").show();
		$("#AddDisableOwner").hide();
		$("#mergeOffices").hide();
		$("#FilterTable").hide();
		$("#SearchReleaseLeadsOpsTable").hide();
		$("#releaseLeadsTable").hide();
		$("#releaseLeadsBtn").hide();
		$("#SearchOpsTable,#SearchOpsTableCbox").hide();
		
	}
	
	
	function loadOwnerList(data){
		$("#FilterTable").hide();
		$("#mergeOffices").hide();
		$("#AddDisableOwner").show();
		$("#Leadapproval").hide();
		$("#addBtn").show();
		$("#addOwnerScreen").children().remove();
		$("#ownerListTable").children().remove();
		$("#ownerListTable").append(data);
	}
	
	function loadMergeOfficePage(){
		var params = {
				pageName : "LeadManagement",
				controlName :"loadMergeOfficeList"
		}
		var url = "uiController";
		loadControl(url,params,loadMergeOfficeList);
	}
	
	function loadMergeOfficeList(data){
		$("#FilterTable").hide();
		$("#AddDisableOwner").hide();
		$("#Leadapproval").hide();
		$("#mergeOffices").show();
		$("#newMergeBtn").show();
		$("#mergeOfficeList").children().remove();
		$("#mergeOfficeList").append(data);
	}
		
	function saveOwner(){
		if($("#officeCYCode").val() == ""){
			alert("Please enter Office CY Code.");
			$("#officeCYCode").focus();
			return;
		}
		if($("#merlinCode").val() == -1){
			alert("Please select Merlin code value.");
			$("#merlinCode").focus();
			return;
		}
		if($("#salesForceOwnerID").val() == ""){
			alert("Please select Sales force Owner Id.");
			$("#salesForceOwnerID").focus();
			return;
		}
		if($("#regionList").val() == -1){
			alert("Please select Region.");
			$("#regionList").focus();
			return;
		}
		var controlName = "saveOwner";
		if($("#regionList").val() == 'Northeast'){
			alert("Additional work is needed in order to set up an office in the Northeast region. \nAn email has been sent to itservicedesk@cydcor.com and leadshelp@cydcor.com  with the entered details to finish creating this account.");
			controlName = "sendEmail";
		}
		
		var params = {
				pageName : "LeadManagement",
				controlName :controlName,
				region : $("#regionList").val(),
				merlinCode : $("#merlinCode").val(),
				sfOwnerId : $("#salesForceOwnerID").val(),
				officeCYCode :  $("#officeCYCode").val(),
				active : 'Y',
				action : 'Insert'
		}
		var url = "uiController";
		loadControl(url,params,loadOwnerPage);
	}
	
	function saveMergeOffice(){
		if($("#fromOffice").val() == -1){
			alert("Please select an office to merge.");
			$("#fromOffice").focus();
			return;
		}
		if($("#toOffice").val() == -1){
			alert("Please select an office to merge.");
			$("#toOffice").focus();
			return;
		}
		
		if($("#fromOffice").val() == $("#toOffice").val()){
			alert("Office code values selected are the same. Please change one of the office codes.");
			$("#fromOffice").focus();
			return;
		}
		var url = "uiController";
		var params = {
				pageName : "LeadManagement",
				controlName : "checkOwnerAvailability",
				fromOffice : $("#fromOffice").val(),
				toOffice : $("#toOffice").val()
		}
		$.post(url, params, function(data) {
			if(data == 'SUCCESS'){
				var answer = confirm("The owner selected is already active in the merged owners list do you want to continue.");
				if(answer){
					var params = {
						pageName : "LeadManagement",
						controlName : "saveMergeOffice",
						fromOffice : $("#fromOffice").val(),
						toOffice : $("#toOffice").val(),
						active : 'Y',
						action : 'Insert'
					}
					var url = "uiController";
					loadControl(url,params,loadMergeOfficePage);
				}else{
					return;
				}
			}else if(data == 'ERROR'){
				var params = {
						pageName : "LeadManagement",
						controlName : "saveMergeOffice",
						fromOffice : $("#fromOffice").val(),
						toOffice : $("#toOffice").val(),
						active : 'Y',
						action : 'Insert'
				}
				var url = "uiController";
				loadControl(url,params,loadMergeOfficePage);
			}
		});
	}
	
	function searchOfficeCYCode(){
		if($("#sOperation").val() == -1){
			alert("Please select search operation value.");
			$("#sOperation").focus();
			return;
		}
		if($("#sText").val().trim() == ""){
			alert("Please enter search text.");
			$("#sText").focus();
			return;
		}
		
		var params = {
				pageName : "LeadManagement",
				controlName :"loadSearchOfficeCYCode",
				sOperation : $("#sOperation").val(),
				sText : $("#sText").val().trim()
		}
		var url = "uiController";
		loadControl(url,params,loadSearchOfficeCYCode);
	}
	
	function loadSearchOfficeCYCode(data){
		var sOperation = $("#sOperation").val();
		var sText =$("#sText").val();
		$("#FilterTable").hide();
		$("#mergeOffices").hide();
		$("#AddDisableOwner").show();
		$("#Leadapproval").hide();
		$("#addBtn").show();
		$("#addOwnerScreen").children().remove();
		$("#ownerListTable").children().remove();
		$("#ownerListTable").append(data);
		$("#sOperation").val(sOperation);
		$("#sText").val(sText);
	}
	
	function searchOffice(){
		if($("#sOperation").val() == -1){
			alert("Please select search operation value.");
			$("#sOperation").focus();
			return;
		}
		if($("#sText").val().trim() == ""){
			alert("Please enter search text.");
			$("#sText").focus();
			return;
		}
		
		var params = {
				pageName : "LeadManagement",
				controlName :"loadSearchOfficeList",
				sOperation : $("#sOperation").val(),
				sText : $("#sText").val().trim()
		}
		var url = "uiController";
		loadControl(url,params,loadSearchOfficeList);
	}
	
	function loadSearchOfficeList(data){
		var sOperation = $("#sOperation").val();
		var sText =$("#sText").val();
		$("#FilterTable").hide();
		$("#AddDisableOwner").hide();
		$("#Leadapproval").hide();
		$("#mergeOffices").show();
		$("#newMergeBtn").show();
		$("#mergeOfficeList").children().remove();
		$("#mergeOfficeList").append(data);
		$("#sOperation").val(sOperation);
		$("#sText").val(sText);
	}
//*********ATT Owner*******************	
	function goToSubmitEditActive(cyCode, sfOficeId, region, merlinCode){
		var activeSelected =  $("#aChangedValue").val();
		var url = "uiController";
		if(activeSelected == activeOldValue.trim()){
			alert('No Changes made');
			$("#aChangedValue").focus();
			return;
		}

 		var params = {
 			pageName :"LeadManagement",
 			controlName :"updateOwner",
 			region : region,
			merlinCode : merlinCode,
			sfOwnerId : sfOficeId,
			officeCYCode : cyCode,
			active : activeSelected,
			action : 'Update'
 		};
 		loadControl(url, params, function(data) {
			$('#td_'+cyCode+"_"+merlinCode+"_"+sfOficeId).html(oldSavedActiveTD);
			$('#span_s_'+cyCode+"_"+merlinCode+"_"+sfOficeId).html(activeSelected);
		});
		$('#activeEditSubmitBtn_'+cyCode+"_"+merlinCode+"_"+sfOficeId).hide();
		$('#activeEditCancelBtn_'+cyCode+"_"+merlinCode+"_"+sfOficeId).hide();
		//alert("Data is saved, setting old value");
		inlineOpened = false;
	}
	
	var inlineOpened = false;
	var oldSavedActiveTD = '';
	var activeOldValue ='';
	var activeInlineOldTD = '';
	
	function goToEditActive(cyCode,sfOficeId, region, merlinCode){
		var rowId = cyCode+"_"+merlinCode+"_"+sfOficeId;
		
		if(inlineOpened){
			return;
		}
		oldSavedActiveTD = $('#td_' + rowId).html();
		
		changeActive(rowId);
		$('#activeEditSubmitBtn_'+cyCode+"_"+merlinCode+"_" + sfOficeId).show();
		$('#activeEditCancelBtn_'+cyCode+"_"+merlinCode+"_" + sfOficeId).show();
		inlineOpened = true;
		$('#aChangedValue').focus();
		return false;
	}
	
	function goToCancelEditActive(cyCode,sfOficeId, region, merlinCode){
		$('#td_'+cyCode+"_"+merlinCode + "_" + sfOficeId).html(oldSavedActiveTD);
		$('#activeEditSubmitBtn_'+cyCode+"_"+merlinCode + "_" + sfOficeId).hide();
		$('#activeEditCancelBtn_'+cyCode+"_"+merlinCode + "_" + sfOficeId).hide();
		inlineOpened = false;
	}

	function changeActive(id){
		if(inlineOpened == true){
			return ;
		}
		inlineId = id;
		
		
		activeOldValue = $('#span_s_'+id).html();
	
		
		activeInlineOldTD = $('#td_s_'+id).html();
	
		
		var inlineActiveComponent = '<table><tr><td><SELECT class="inputControl" id="aChangedValue"><option value="Y">Y</option><option value="N">N</option></SELECT></td></tr></table>'; 
		$('#td_s_'+id).html(inlineActiveComponent);
		
		
		inlineOpened = false;
		$('#aChangedValue').val(activeOldValue);	
	}
//*********ATT Owner Ends*****************

//*********Merge Owner*******************	
	function goToSubmitEditMergeActive(fromOffice, toOffice){
		var mergeActiveSelected =  $("#mChangedValue").val();
		var url = "uiController";
		if(mergeActiveSelected == mergeActiveOldValue.trim()){
			alert('No Changes made');
			$("#mChangedValue").focus();
			return;
		}

 		var params = {
 			pageName :"LeadManagement",
 			controlName :"updateMergedOwner",
 			fromOffice : fromOffice,
 			toOffice : toOffice,
			active : mergeActiveSelected,
			action : 'Update'
 		};
 		loadControl(url, params, function(data) {
			$('#td_'+fromOffice+"_"+toOffice).html(oldSavedMergeActiveTD);
			$('#span_s_'+fromOffice+"_"+toOffice).html(mergeActiveSelected);
		});
		$('#mergeActiveEditSubmitBtn_'+fromOffice+"_"+toOffice).hide();
		$('#mergeActiveEditCancelBtn_'+fromOffice+"_"+toOffice).hide();
		//alert("Data is saved, setting old value");
		inlineOpened = false;
	}
	
	var inlineOpened = false;
	var oldSavedMergeActiveTD = '';
	var mergeActiveOldValue ='';
	var mergeActiveInlineOldTD = '';
	
	function goToEditMergeActive(fromOffice, toOffice){
		var rowId = fromOffice+"_"+toOffice;
		if(inlineOpened){
			return;
		}
		oldSavedMergeActiveTD = $('#td_'+rowId).html();
		changeMergeActive(rowId);
		$('#mergeActiveEditSubmitBtn_'+fromOffice+"_"+toOffice).show();
		$('#mergeActiveEditCancelBtn_'+fromOffice+"_"+toOffice).show();
		inlineOpened = true;
		$('#mChangedValue').focus();
		return false;
	}
	
	function goToCancelEditMergeActive(fromOffice, toOffice){
		$('#td_'+fromOffice+"_"+toOffice).html(oldSavedMergeActiveTD);
		$('#mergeActiveEditSubmitBtn_'+fromOffice+"_"+toOffice).hide();
		$('#mergeActiveEditCancelBtn_'+fromOffice+"_"+toOffice).hide();
		inlineOpened = false;
	}

	function changeMergeActive(id){
		if(inlineOpened == true){
			return ;
		}
		inlineId = id;
		mergeActiveOldValue = $('#span_s_'+id).html();
		mergeActiveInlineOldTD = $('#td_s_'+id).html();
		var inlineMergeActiveComponent = '<table><tr><td><SELECT class="inputControl" id="mChangedValue"><option value="Y">Y</option><option value="N">N</option></SELECT></td></tr></table>'; 
		$('#td_s_'+id).html(inlineMergeActiveComponent);
		inlineOpened = false;
		$('#mChangedValue').val(mergeActiveOldValue);	
	}
//*********Merge Owner Ends*****************



function SearchLead(pageNumber,columnName)
{
	var uploadStartDate = document.getElementById("uploadStartDate").value;
	var uploadEndDate = document.getElementById("uploadEndDate").value;
	var leadid = document.getElementById("leadid").value;
	   if (leadid != "") 
	   {
       		var params;
			columnName = getSortingColumn('LeadApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"LeadApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					leadid : leadid
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"LeadApprovalList",
						uploadStartDate : uploadStartDate,
						uploadEndDate :uploadEndDate,
						leadid : leadid
					};
			}
			var url = "uiController";
		
			loadPaginatedTable(url, params, leadapprovallistTableLoaded,pageNumber);
			
			
			columnName = getSortingColumn('LeadOwnereApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"LeadOwnereApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					leadid : leadid
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"LeadOwnereApprovalList",
						leadid : leadid
					};
			}
			var url = "uiController";
		
			loadPaginatedTable(url, params, leadapprovallistTable,pageNumber);
			
			
			columnName = getSortingColumn('NewLeadOwnereApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"NewLeadOwnereApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					leadid : leadid
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"NewLeadOwnereApprovalList",
						leadid : leadid
					};
			}
			var url = "uiController";
		
			loadPaginatedTable(url, params, NewleadapprovalownerTable,pageNumber);
			
	   }
	   else
		{
		   alert("Search field cannot be Empty");
		}
}


function NewleadapprovalownerTable(data)
{
		$("#NewLeadOwnereApprovalList").children().remove();
		$("#NewLeadOwnereApprovalList").append(data);
		setSortOrderImage('NewLeadOwnereApprovalList',sortedColumns);
		
}


function leadapprovallistTable(data)
{
		$("#LeadOwnereApprovalList").children().remove();
		$("#LeadOwnereApprovalList").append(data);
		setSortOrderImage('LeadOwnereApprovalList',sortedColumns);
		
}


function refreshleadapprovallist(pageNumber,columnName)
{
		var uploadStartDate = document.getElementById("uploadStartDate").value;
		var uploadEndDate = document.getElementById("uploadEndDate").value;
		
		var e = document.getElementById("ddlViewBy");
		var viewbylead = e.options[e.selectedIndex].value;
		
		
		
		if(viewbylead == "DA" || viewbylead == "CLLI")
		{		
			var params;
			columnName = getSortingColumn('LeadApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"LeadApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"LeadApprovalList",
						uploadStartDate : uploadStartDate,
						uploadEndDate :uploadEndDate,
						viewbylead : viewbylead
					};
			}
			var url = "uiController";
		
			loadPaginatedTable(url, params, leadapprovallistTableLoaded,pageNumber);
		}
		
		if(viewbylead == "LEADOWNER")
		{
			var params;
			columnName = getSortingColumn('LeadOwnereApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"LeadOwnereApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"LeadOwnereApprovalList",
						uploadStartDate : uploadStartDate,
						uploadEndDate :uploadEndDate,
						viewbylead : viewbylead
					};
			}
			var url = "uiController";
			loadPaginatedTable(url, params, NewleadapprovalleadlistTableLoaded,pageNumber);
		}
		
		if(viewbylead == "NEWLEADOWNER")
		{
			
			var params;
			columnName = getSortingColumn('NewLeadOwnereApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"NewLeadOwnereApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"NewLeadOwnereApprovalList",
						uploadStartDate : uploadStartDate,
						uploadEndDate :uploadEndDate,
						viewbylead : viewbylead
					};
			}
			var url = "uiController";
			loadPaginatedTable(url, params, NewleadapprovalleadLoaded,pageNumber);
		}
}

function NewleadapprovalleadLoaded(data)
{
		$("#NewLeadOwnereApprovalList").children().remove();
		$("#NewLeadOwnereApprovalList").append(data);
		setSortOrderImage('NewLeadOwnereApprovalList',sortedColumns);
		
}

function NewleadapprovalleadlistTableLoaded(data)
{
		$("#LeadOwnereApprovalList").children().remove();
		$("#LeadOwnereApprovalList").append(data);
		setSortOrderImage('LeadOwnereApprovalList',sortedColumns);
		
}

function leadapprovallistTableLoaded(data)
{
		$("#LeadApprovalList").children().remove();
		$("#LeadApprovalList").append(data);
		setSortOrderImage('LeadApprovalList',sortedColumns);
		
}

function exportReportcllida(reportType,DA,CLLI) {

	var fullDate = new Date()
	console.log(fullDate);
	var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
	var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
	var uploadedStartDate = document.getElementById("uploadStartDate").value;
	var uploadedEndDate = document.getElementById("uploadEndDate").value;
	
	
	var url = "reportServlet?queryString=SELECT_IMS_LeadApproval_report&reportName=Lead_Approval_"+currentDate+"&reportType="+reportType+"&DA="+DA+"&CLLI="+CLLI+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate;
	
	if (url != undefined && url != null) {
		if (url.indexOf("?") == -1) {
			url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
		} else {
			url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
		}
	}

	var mywindow = window.open (url,
			  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
			  mywindow.moveTo(0,0);
}

function exportReportowner(reportType,OWNER,LEAD_ASSIGNED) 
{

	
	//alert(LEAD_ASSIGNED);
	var fullDate = new Date()
	console.log(fullDate);
	var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
	var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
	var uploadedStartDate = document.getElementById("uploadStartDate").value;
	var uploadedEndDate = document.getElementById("uploadEndDate").value;
	
	
	if (OWNER == "" || OWNER.length == 0 || OWNER == null)
	{
		alert("Report cannot be exported OwnerName is mandatory");
	}
	else
	{
		var url = "reportServlet?queryString=SELECT_IMS_LeadOwner_report&reportName=Lead_Approval_"+currentDate+"&reportType="+reportType+"&OWNER="+OWNER+"&LEAD_ASSIGNED="+LEAD_ASSIGNED+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate;
	
		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

			var mywindow = window.open (url,
					  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
					  mywindow.moveTo(0,0);
	}
}

function exportReportNewLeadOwner(reportType,OWNER,CSF_CURRENT_ICL_OWNERNAME,LEAD_ASSIGNED,CSF_PREV_ASSIGNEDDATE) 
{

	
	//alert(LEAD_ASSIGNED);
	var fullDate = new Date()
	console.log(fullDate);
	var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
	var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();

	//var uploadedStartDate = document.getElementById("uploadStartDate").value;
	//var uploadedEndDate = document.getElementById("uploadEndDate").value;
	
	if (OWNER == "" || OWNER.length == 0 || OWNER == null)
	{
		alert("Report cannot be exported OwnerName is mandatory");
	}
	if (CSF_CURRENT_ICL_OWNERNAME == "" || CSF_CURRENT_ICL_OWNERNAME.length == 0 || CSF_CURRENT_ICL_OWNERNAME == null)
	{
		alert("Report cannot be exported OwnerName is mandatory");
	}
	if (LEAD_ASSIGNED == "" || LEAD_ASSIGNED.length == 0 || LEAD_ASSIGNED == null)
	{
		alert("Report cannot be exported LEAD_ASSIGNED is mandatory");
	}
	if (CSF_PREV_ASSIGNEDDATE == "" || CSF_PREV_ASSIGNEDDATE.length == 0 || CSF_PREV_ASSIGNEDDATE == null)
	{
		alert("Report cannot be exported CSF_PREV_ASSIGNEDDATE is mandatory");
	}
	else
	{
		//var url = "reportServlet?queryString=SELECT_IMS_New_LeadOwner_report&reportName=Lead_Approval_"+currentDate+"&reportType="+reportType+"&OWNER="+OWNER+"&LEAD_ASSIGNED="+LEAD_ASSIGNED+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate;
		var url = "reportServlet?queryString=SELECT_IMS_New_LeadOwner_report&reportName=LeadApproval_"+currentDate+"&reportType="+reportType+"&OWNER="+OWNER+"&CSF_CURRENT_ICL_OWNERNAME="+CSF_CURRENT_ICL_OWNERNAME+"&LEAD_ASSIGNED="+LEAD_ASSIGNED+"&CSF_PREV_ASSIGNEDDATE="+CSF_PREV_ASSIGNEDDATE;

		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

		var mywindow = window.open (url,
				  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
				  mywindow.moveTo(0,0);
	
	}
	
	
}

//code added by sanjay
function DownloadleadUploadHistoryTable(reportType)
{
	var fullDate = new Date()
	console.log(fullDate);
	var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
	var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
	
	var LEAD_ASSIGNED = document.getElementById("uploadStartDate").value;
	var uploadEndDate = document.getElementById("uploadEndDate").value;
	
	var url = "reportServlet?queryString=SELECT_LEAD_APPROVAL_BY_DOWNLOAD&reportName=ATTLead_Approval_"+currentDate+"&reportType="+reportType+"&LEAD_ASSIGNED="+LEAD_ASSIGNED+"&uploadEndDate="+uploadEndDate;
		
		
		
		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

		var mywindow = window.open (url,
				  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
				  mywindow.moveTo(0,0);
	
			  
}

function DownloadOwnerleads(reportType)
{
	var fullDate = new Date()
	console.log(fullDate);
	var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
	var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
	
	var LEAD_ASSIGNED = document.getElementById("uploadStartDate").value;
	var uploadEndDate = document.getElementById("uploadEndDate").value;
	
	var url = "reportServlet?queryString=SELECT_LEAD_OWNER_DOWNLOAD&reportName=ATTLead_Approval_"+currentDate+"&reportType="+reportType+"&LEAD_ASSIGNED="+LEAD_ASSIGNED+"&uploadEndDate="+uploadEndDate;
		
		
		
		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

		var mywindow = window.open (url,
				  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
				  mywindow.moveTo(0,0);
	
			  
}


function updateapprovedleads(DA,CLLI) 
{
	
	var x;
	if (confirm("Do you want to Approve Lead?  \n\nClick OK to continue") == true) 
	{
		var params = {
				pageName : "LeadManagement",
				controlName : "updateleadapproval",
				DA : DA,
				CLLI : CLLI
			}
		var url = "uiController";
		loadControl(url,params,loadupdateleadapp);

	}
	else
	{
		 x = "You pressed Cancel!";
	}
}

function updateleadowner(OWNER,LEAD_ASSIGNED) 
{
	
	var x;
	if (OWNER == "" || OWNER.length == 0 || OWNER == null)
	{
		alert("OwnerName is mandatory for updating leads");
	}
	else
	{
			if (confirm("Do you want to Approve Lead?  \n\nClick OK to continue") == true) 
			{
				var params = {
						pageName : "LeadManagement",
						controlName : "updateleadowner",
						OWNER : OWNER,
						LEAD_ASSIGNED : LEAD_ASSIGNED
					}
				var url = "uiController";
				loadControl(url,params,loadupdateleadowner);
		
			}
			else
			{
				 x = "You pressed Cancel!";
			}
	}
}
function loadupdateleadowner(data) {
	if(data == 'SUCCESS'){
		//alert("Leads successfully updated");
		refreshDivlead(data,this);
		
		

	}else {
		alert('ERROR!!! Try again Later.');
	}
}
/*
function exportReportnewowner(OWNER,LEAD_ASSIGNED) 
{
	
	var x;
	if (confirm("Do you want to Approve Lead?  \n\nClick OK to continue") == true) 
	{
		var params = {
				pageName : "LeadManagement",
				controlName : "updateleadnewowner",
				OWNER : OWNER,
				LEAD_ASSIGNED : LEAD_ASSIGNED
			}
		var url = "uiController";
		loadControl(url,params,loadupdateleadnewowner);

	}
	else
	{
		 x = "You pressed Cancel!";
	}
}*/

function UpdateReportnewleadowner(OWNER,LEAD_ASSIGNED) 
{
	
	var x;
	if (OWNER == "" || OWNER.length == 0 || OWNER == null)
	{
		alert("OwnerName is mandatory for updating leads");
	}
	else
	{
		if (confirm("Do you want to Approve Lead?  \n\nClick OK to continue") == true) 
		{
			var params = {
					pageName : "LeadManagement",
					controlName : "updateleadnewowner",
					OWNER : OWNER,
					LEAD_ASSIGNED : LEAD_ASSIGNED
				}
			var url = "uiController";
			loadControl(url,params,loadupdateleadnewowner);
	
		}
		else
		{
			 x = "You pressed Cancel!";
		}
	}
}

function loadupdateleadnewowner(data) {
	if(data == 'SUCCESS'){
		//alert("Leads successfully updated");
		refreshDivleadnew(data,this);
		
		

	}else {
		alert('ERROR!!! Try again Later.');
	}
}
function refreshDivlead(pageNumber,columnName)
{
		var uploadStartDate = document.getElementById("uploadStartDate").value;
		var uploadEndDate = document.getElementById("uploadEndDate").value;
		
		
		var viewbylead = "TEST";
		
				
		var params;
		columnName = getSortingColumn('LeadOwnereApprovalList');
		if(pageNumber != undefined){
		params = {
				pageName :"LeadManagement",
				controlName :"LeadOwnereApprovalList",
				pageNumber : pageNumber,
				sortingColumn : columnName,
				uploadStartDate : uploadStartDate,
				uploadEndDate :uploadEndDate,
				viewbylead : viewbylead
				
			};
		}else{
			params = {
					pageName :"LeadManagement",
					controlName :"LeadOwnereApprovalList",
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
				};
		}
		var url = "uiController";
		loadPaginatedTable(url, params, NewleadapprovalleadlistTableLoaded,pageNumber);
		
}
function refreshDivleadnew(pageNumber,columnName)
{
		var uploadStartDate = document.getElementById("uploadStartDate").value;
		var uploadEndDate = document.getElementById("uploadEndDate").value;
		
		
		var viewbylead = "TEST";
		
				
		var params;
		columnName = getSortingColumn('NewLeadOwnereApprovalList');
		if(pageNumber != undefined){
		params = {
				pageName :"LeadManagement",
				controlName :"NewLeadOwnereApprovalList",
				pageNumber : pageNumber,
				sortingColumn : columnName,
				uploadStartDate : uploadStartDate,
				uploadEndDate :uploadEndDate,
				viewbylead : viewbylead
				
			};
		}else{
			params = {
					pageName :"LeadManagement",
					controlName :"NewLeadOwnereApprovalList",
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
				};
		}
		var url = "uiController";
		loadPaginatedTable(url, params, NewleadapprovalleadLoaded,pageNumber);
}

function AllapprovedNewleadOwner() 
{
	var DA;
	var x;
	var choices = [];
	var els = document.getElementsByName('selectedFiles');

		if (confirm("Do you want to Approve Leads? \n\nClick OK to continue") == true) 
		{	
				for (var i=0;i<els.length;i++)
				{
				  if ( els[i].checked ) 
				  {
				   	 DA= els[i].value;
					   	if (DA == "" || DA.length == 0 || DA == null)
						{
					   		alert("OwnerName is mandatory for updating leads");
						}
					   	else
					   	{
					   		var params = {
									pageName : "LeadManagement",
									controlName : "SelectNEWleadownerapproval",
									DA : els[i].value
								}
							var url = "uiController";
							loadControl(url,params,loadupdateleadnewowner);
					   	}
				   }
				}
		}
		else
		{
			 x = "You pressed Cancel!";
		}	
	
}
function Allapprovedleads() 
{
	var DA;
	var x;
	var choices = [];
	var els = document.getElementsByName('selectedFiles');
	
	if (confirm("Do you want to Approve Leads? \n\nClick OK to continue") == true) 
	{	
			for (var i=0;i<els.length;i++)
			{
			  if ( els[i].checked ) 
			  {
			    DA= els[i].value;
				
				 	
						var params = {
								pageName : "LeadManagement",
								controlName : "Selectleadapproval",
								DA : els[i].value
							}
						var url = "uiController";
						loadControl(url,params,loadupdateleadapps);
			  }
			}
	}
	else
	{
		 x = "You pressed Cancel!";
	}
}

function AllapprovedleadOwner() 
{
	var DA;
	var x;
	var choices = [];
	var els = document.getElementsByName('selectedFiles');
	//alert(els);
	if (confirm("Do you want to Approve Leads? \n\nClick OK to continue") == true) 
	{	
			for (var i=0;i<els.length;i++)
			{
			  if ( els[i].checked ) 
			  {
			    DA= els[i].value;
					if (DA == "" || DA.length == 0 || DA == null)
					{
				   		alert("OwnerName is mandatory for updating leads");
					}
					else
					{	
							var params = {
									pageName : "LeadManagement",
									controlName : "Selectleadownerapproval",
									DA : els[i].value
								}
							var url = "uiController";
							loadControl(url,params,loadupdateleadowner);
					}
			  }
			}
	}
	else
	{
		 x = "You pressed Cancel!";
	}
}





function loadupdateleadapp(data) {
	if(data == 'SUCCESS'){
		//alert("Leads successfully updated");
		refreshDiv(data,this);
		
		

	}else {
		alert('ERROR!!! Try again Later.');
	}
}

function loadupdateleadapps(data) {
	if(data == 'SUCCESS')
	{
		refreshDiv(data,this);

			
	}else {
		alert('ERROR!!! Try again Later.');
	}
}

function refreshDiv(pageNumber,columnName)
{
		var uploadStartDate = document.getElementById("uploadStartDate").value;
		var uploadEndDate = document.getElementById("uploadEndDate").value;
		
		
		var viewbylead = "TEST";
		
				
		var params;
		columnName = getSortingColumn('LeadApprovalList');
		if(pageNumber != undefined){
		params = {
				pageName :"LeadManagement",
				controlName :"LeadApprovalList",
				pageNumber : pageNumber,
				sortingColumn : columnName,
				uploadStartDate : uploadStartDate,
				uploadEndDate :uploadEndDate,
				viewbylead : viewbylead
				
			};
		}else{
			params = {
					pageName :"LeadManagement",
					controlName :"LeadApprovalList",
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
				};
		}
		var url = "uiController";
	
		loadPaginatedTable(url, params, leadapprovallistTableLoaded,pageNumber);
		
}
function sucessTest() 
{
	   var container = document.getElementById("LeadApprovalList");
	   var content = container.innerHTML;
	   container.innerHTML= content;
}

function toggleFiles(selectAll) {
	var str = '';
	selectedFiles = "'-1'";
	for (i = 0; i < document.getElementsByName('selectedFiles').length; i++){
		document.getElementsByName('selectedFiles')[i].checked=selectAll.checked;
		if(selectAll.checked){
			//selectedFiles = "";
				if(selectedFiles == "'-1'")
					selectedFiles = ",'" + document.getElementsByName('selectedFiles')[i].value + "'";
				else
					selectedFiles = selectedFiles + ",'"+document.getElementsByName('selectedFiles')[i].value + "'";
		}
	}
	if(selectAll.checked){
		//selectedFiles = "";
		isCheckAllFiles = true;
		str = (selectedFiles.length>1?selectedFiles.substring(1):selectedFiles).replaceAll("'"," ");
	}else{
		selectedFiles = "'-1'";
		isCheckAllFiles = false;
		str = "NONE";
	}
//	alert('selectedFiles='+selectedFiles);
	$('#selectedWCs').html(str);
}

function addToMergeList(leadSheetCheckBox){
	var stringToBeReplaced = ",'"+leadSheetCheckBox.value + "'";
	var mergeLeadList = "";
	if(leadSheetCheckBox.checked){
		mergeLeadList = mergeLeadList.replaceAll(stringToBeReplaced,"");
		mergeLeadList = mergeLeadList + stringToBeReplaced;
		
	}else{
		mergeLeadList = mergeLeadList.replaceAll(stringToBeReplaced,"");
	}
}


function addToSelectedFilesList(selectedFilesCheckBox){
	if(selectedFilesCheckBox.checked){
		if(selectedFiles == "'-1'")
			selectedFiles = ",'" + selectedFilesCheckBox.value + "'";
		else
			selectedFiles = selectedFiles + ",'"+selectedFilesCheckBox.value + "'";
	}else{
		if(document.getElementById("selectAllFiles").checked == true) {
			$('#selectAllFiles').attr('checked',false);
			isCheckAllFiles = false;
			for (i = 0; i < document.getElementsByName('selectedFiles').length; i++){
				if(document.getElementsByName('selectedFiles')[i].checked) {
		     		selectedFiles = selectedFiles + ",'"+document.getElementsByName('selectedFiles')[i].value + "'";     
		    	}
		   	}
		}
		var stringToBeReplaced = ",'" + selectedFilesCheckBox.value + "'";
		selectedFiles = selectedFiles.replaceAll(stringToBeReplaced,"");
	}
	if(selectedFiles==""){
		selectedFiles = "'-1'";
		$('#selectedWCs').html("NONE");
	}else{
		$('#selectedWCs').html((selectedFiles.length>1?selectedFiles.substring(1):selectedFiles).replaceAll("'"," "));
	}
}


function loadLeadapproval(pageNumber,columnName)
{
		var params;
		columnName = getSortingColumn('LeadApprovalList');
		if(pageNumber != undefined){
		params = {
				pageName :"LeadManagement",
				controlName :"LeadApprovalList",
				pageNumber : pageNumber,
				sortingColumn : columnName
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"LeadApprovalList"
					};
			}
			var url = "uiController";
			loadPaginatedTable(url, params, leadapprovallistTableLoaded,pageNumber);
		
}
function leadapprovallistTableLoaded(data)
{
		$("#LeadApprovalList").children().remove();
		$("#LeadApprovalList").append(data);
		setSortOrderImage('LeadApprovalList',sortedColumns);
		
}

</script>

<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px" width="100%">
  <tr>
    <td valign="top">
      <div class="hltb" style="padding:0px;padding-bottom:5px; margin:0px">
        <table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
          <tbody>
            <tr>
              <td width="2%">
                <ul class="piped-list piped-list-left piped-list-view-left">
                  <li class="first">
                    <h4 id="ocTitleFieldLabel">Lead Management
                      <span id="ocTitleField"/>
                      </h4>
                  </li>
                  <li>
                    <a class="vlk" onclick="javascript:gotoHomePage();" style="cursor:pointer">Back to Main Page
                    </a>
                  </li>
                </ul>
              </td>
              <td>
              </td>
              <td width="35%">
                <div align="right">
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td> &nbsp;
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
        <tbody>
          <tr>
            <td style="vertical-align:middle;">
              <A onClick="Toggle(this,document.getElementById('divOperationList'))" id="divOperationListLink" style="CURSOR: hand"> 
                <IMG style="vertical-align:middle" src="assets/images/hideshow_infoshown_grayscale.gif">
              </a>
            </td>
            <td>Operations
            </td>
            <td width="100%">&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td> &nbsp;
    </td>
  </tr>

  <tr>
    <td align="center" >
    <div id='divOperationList'>
      Select Operation: 
      <SELECT id="operationsList" onchange="selectSearchOptions();">
        <OPTION VALUE="-1">---Select---</option>
        <OPTION VALUE="1">Lead ReAssign</option>
        <OPTION VALUE="2">Lead Enable</option>
        <OPTION VALUE="3">Lead Disable</OPTION>
        <OPTION VALUE="4">Release Leads</OPTION>
        <OPTION VALUE="5">Add/Disable owner</OPTION>
        <OPTION VALUE="6">Merge two offices</OPTION>
        <OPTION VALUE="7">Lead Approval</OPTION>
       </SELECT>
    </div>
    </td>
  </tr>
  <tr>
    <td> &nbsp;
    </td>
  </tr>

  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
        <tbody>
          <tr>
            <td style="vertical-align:middle;">
              <A onClick="Toggle(this,document.getElementById('FilterTable'))" id="FilterTableLink" style="CURSOR: hand"> 
                <IMG style="vertical-align:middle" src="assets/images/hideshow_infoshown_grayscale.gif">
              </a>
            </td>
            <td>Search Options
            </td>
            <td width="100%">&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td> &nbsp;
    </td>
  </tr>
  <tr>
    <td>		
      <div id="FilterTable">
        <TABLE class="crmWidth" >
          <TR>
            <td align="center" width='30%'>
              <TABLE id="SearchOpsTable">
                <TR>
                  <Th>
                  </Th>
                  <Th>Field
                  </Th>
                  <Th>Condition
                  </Th>
                  <Th>Value(s)
                  </Th>
                </TR>
                <TR>
                  <TD>&nbsp;
                  </TD>
                  <TD>
                    <SELECT NAME="SF1" id="SF1">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SO1" id="SO1">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT1" NAME="IT1">
                  </TD>
                </TR>
                <TR>
                  <TD>
                    <SELECT NAME="SFS2" id="SFS2">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SF2" id="SF2">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SO2" id="SO2">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT2" NAME="IT2">
                  </TD>
                </TR>
                <TR>
                  <TD>
                    <SELECT NAME="SFS3" id="SFS3">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SF3" id="SF3">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SO3" id="SO3">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT3" NAME="IT3">
                  </TD>
                </TR>
                <TR>
                  <TD>
                    <SELECT NAME="SFS4" id="SFS4">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SF4" id="SF4">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SO4" id="SO4">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT4" NAME="IT4">
                  </TD>
                </TR>
                <TR>
                  <TD>
                    <SELECT NAME="SFS5" id="SFS5">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SF5" id="SF5">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SO5" id="SO5">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT5" NAME="IT5">
                  </TD>
                </TR>
                <TR>
                  <TD>
                    <SELECT NAME="SFS6" id="SFS6">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SF6" id="SF6">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SO6" id="SO6">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT6" NAME="IT6">
                  </TD>
                </TR>
                <TR>
                  <TD>
                    <SELECT NAME="SFS7" id="SFS7">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SF7" id="SF7">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT NAME="SO7" id="SO7">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT7" NAME="IT7">
                  </TD>
                </TR>
              </TABLE>
			  <br/>
			  <TABLE id="SearchOpsTableCbox">
                <TR>
                  <td>
                    <INPUT TYPE="checkbox" NAME="LeadsType" value="1"> On The Map
                  </td>
                  <td>
                  </td>
                </tr>
                <TR>
                  <td>
                    <INPUT TYPE="checkbox" NAME="LeadsType" value="2"> Generated LeadSheets
                  </td>
                  <td>
                  </td>
                </tr>
                <TR>
                  <td>
                    <INPUT TYPE="checkbox" NAME="LeadsType" value="3"> Saved LeadSheets(Not Assigned)
                  </td>
                  <td>
                  </td>
                </tr>
                <TR>
                  <td>
                    <INPUT TYPE="checkbox" NAME="LeadsType" value="4"> Saved LeadSheets(Assigned)
                  </td>
                  <td>
                  </td>
                </tr>
              </table>
              <table id="SearchReleaseLeadsOpsTable" style="display: none;">                           	
				<tr><td style="text-align:right;"><b>Office Code:&nbsp; </b></td><td><INPUT class="inputControl" TYPE="text" id="searchOpsIclId" NAME="searchOpsIclId"><td></tr>
				<tr><td style="text-align:right;"><b>Date:&nbsp; </b></td><td><span id="date_search_rl"></span></td></tr>
			</table>
			<br/>
	        <INPUT TYPE="submit" value='Search' onclick="javascript:refreshLeadTable();" class="buttonTD"> &nbsp;
	        <INPUT class="buttonTD" TYPE="submit" value='Cancel' onclick="javascript:goToLeadManagement();">
			
            </td>
	    <td align='center' valign='top' style='border-left:0.1em solid black;'>
	    <div id="leadTable" name="leadTable" style='margin-left:15px;'>
				<table cellspacing="0" cellpadding="0" border="0"
					class="list crmWidth">
					<thead>
						<tr>
							<th>Upload Filename</th>
							<th>Campaign</th>
							<th>Lead Owner</th>
							<th>Wirecenter</th>
							<th>Count</th>
						</tr>
					</thead>
				</table>
		</div>
		<div id="releaseLeadsTable" name="releaseLeadsTable" style='margin-left:15px; display:none;'>
				<table cellspacing="0" cellpadding="0" border="0"
					class="list crmWidth">
					<thead>
						<tr>
							<th>Upload Filename</th>
							<th>Campaign</th>
							<th>Count</th>
						</tr>
					</thead>
				</table>
		</div>
		<div id="reAssignReviewTable" style='margin-left:15px; display: none;' > 		</div>
		<div id="statusReviewTable" style='margin-left:15px; display: none;'>		</div>
		
					<br />
					<br />
				<table>
					<tr>
						<td>
						<table id="reAssignLeads" style="display: none">
							<tr>
								<td>
								<div id="campaignSelector" name="campaignSelector"></div>
								</td>
								<td>
								<div id="iclSelector" name="iclSelector"></div>
								</td>
							</tr>
						</table>
						</td>
						<td>
						<table id="leadStatus" style="display: none">
							<!-- 					<tr>
							<td><input type="submit" value="Enable"
								onclick="javascript:changeLeadsStatus(this.value);"
								class="buttonTD"></td>
							<td><input type="submit" value="Disable"
								onclick="javascript:changeLeadsStatus(this.value);"
								class="buttonTD"></td>
						</tr>  -->
						</table>
						</td>
						<td>&nbsp;</td>
						<td><INPUT class="buttonTD" TYPE="submit" value='Review' id="reviewBtn" style="display: none"
							onclick="javascript:reviewRows();">
							<INPUT class="buttonTD" TYPE="submit" value='Release Leads' id="releaseLeadsBtn" style="display: none"
							onclick="javascript:releaseLeads();"></td>							
					</tr>
				</table>
				</td>
          </tr>
        </table>
      </div>
      <div id="AddDisableOwner" name="AddDisableOwner">
		<TABLE class="crmWidth" >
          <TR>
            <TD align="center" width='100%'>
				<div id="ownerListTable" name="ownerListTable"></div>
			</TD>
		  </TR>
		</TABLE>
      </div>
      
        <div id="Leadapproval" name="Leadapproval">
		<table border="0" class="crmWidth" width="75%" align="center" style="float:left;">
			 <script>
        		$(document).ready(function()
        		{
        			loadLeadapproval();
        		});
    		</script>
			
	  </table>
	  </BR>
		<div class="CLLI box">
		<div id="LeadApprovalList" name="LeadApprovalList" class="crmWidth" align="center">
				<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
					<thead>
						<tr>
						    <th><a id="CLLI" style="cursor:pointer;">New ICL Owner Name<span id='span_CLLI'></span></a></th>
						    <th><a id="CLLI" style="cursor:pointer;">New Assignment Date<span id='span_CLLI'></span></a></th>
							<th><a id="OWNER" style="cursor:pointer;">New Run ID<span id='span_OWNER'></span></a></th>
							<th><a id="CSF_CURRENT_ICL_OWNERNAME" style="cursor:pointer;">Current Oppty Owner in SF<span id='CSF_CURRENT_ICL_OWNERNAME'></span></a></th>
							<th><a id="LEAD_ASSIGNED" style="cursor:pointer;">Current Owner<span id='span_LEAD_ASSIGNED'></span></a></th>
							<th><a id="CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;">Current Assignment Date<span id='span_CSF_PREV_ASSIGNEDDATE'></span></a></th>
							<th><a id="counts" style="cursor:pointer;">Current Run ID<span id='span_counts'></span></a></th>
							<th><a id="counts" style="cursor:pointer;">Count<span id='span_counts'></span></a></th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
      </div> 
      
       <div class="LEADOWNER box" style="display:none;">
		<div id="LeadOwnereApprovalList" name="LeadOwnereApprovalList" class="crmWidth" align="center" >
				<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
					<thead>
						<tr>
						  	
							<th width="20%"><a id="CSF_CURRENT_ICL_OWNERNAME" style="cursor:pointer;">New ICL Owner name<span id='CSF_CURRENT_ICL_OWNERNAME'></span></a></th>
							<th><a id="OWNER" style="cursor:pointer;">Current Owner name<span id='span_OWNER'></span></a></th>
							<th><a id="CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;">New Lead Assign Date<span id='span_CSF_PREV_ASSIGNEDDATE'></span></a></th>
							<th><a id="LEAD_ASSIGNED" style="cursor:pointer;">Current Assigned Date<span id='span_LEAD_ASSIGNED'></span></a></th>
							<th><a id="counts" style="cursor:pointer;">COUNT<span id='span_counts'></span></a></th>
							
							<th></th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
      </div>
      
       <div class="NEWLEADOWNER box" style="display:none;">
		<div id="NewLeadOwnereApprovalList" name="NewLeadOwnereApprovalList" class="crmWidth" align="center" >
				<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
					<thead>
						<tr>
						   	<th width="20%"><a id="CSF_CURRENT_ICL_OWNERNAME" style="cursor:pointer;">New ICL Owner name<span id='CSF_CURRENT_ICL_OWNERNAME'></span></a></th>
							<th><a id="OWNER" style="cursor:pointer;">Current Owner name<span id='span_OWNER'></span></a></th>
							<th><a id="CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;">New Lead Assign Date<span id='span_CSF_PREV_ASSIGNEDDATE'></span></a></th>
							<th><a id="LEAD_ASSIGNED" style="cursor:pointer;">Current Assigned Date<span id='span_LEAD_ASSIGNED'></span></a></th>
							<th><a id="counts" style="cursor:pointer;">COUNT<span id='span_counts'></span></a></th>
							<th><a id="runid" style="cursor:pointer;">RUN_ID<span id='span_runid'></span></a></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
      </div>
      
      
      <div id="mergeOffices" name="mergeOffices">
		<TABLE class="crmWidth" >
          <TR>
            <TD align="center" width='100%'>
				<div id="mergeOfficeList" name="mergeOfficeList"></div>
			</TD>
		  </TR>
		</TABLE>
      </div>
    </td>
  </tr>
  <tr>
    <td> &nbsp;
    </td>
  </tr>
<tr>
    <td> &nbsp;
    </td>
  </tr>
</table>


<script type="text/javascript"> 
loadCampaignSelector();
$("#AddDisableOwner").hide();
$("#mergeOffices").hide();
$("#Leadapproval").hide();
</script>
</#if>





<style type="text/css">
  	#mytable {
    	border-collapse: collapse;
    	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    	font-size: 12px;
    	text-align: left;
    	width: 800px;
	}
	
	#mytable th {
    	background: none repeat scroll 0 0 #B9C9FE;
   	 	font-size: 13px;
    	font-weight: normal;
    	padding: 5px;
	}
	#mytable td {
    	background: none repeat scroll 0 0 #E8EDFF;
    	border-top: 1px solid #FFFFFF;
    	color: #666699;
    	padding: 5px;
	}
	
	#mytablemerge {
    	border-collapse: collapse;
    	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    	font-size: 12px;
		text-align: left;
    	width: 600px;
	}

	#mytablemerge th {
    	background: none repeat scroll 0 0 #B9C9FE;
   	 	font-size: 13px;
    	font-weight: normal;
    	padding: 5px;
	}
	#mytablemerge td {
    	background: none repeat scroll 0 0 #E8EDFF;
    	border-top: 1px solid #FFFFFF;
    	color: #666699;
    	padding: 5px;
	}
</style>