<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px" width="100%">
	<tbody>
		<tr>
			<td><h4 style="font-size: 20pt;font-family:Times New Roman;font-weight: bold;color: maroon">IMS 1.0 - Main Page</h4></td>
			<td align="right" valign="bottom">User Role: System Administrator, User: xxx xxx</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">
			<div id="alertsPlaceHolder" name="alertsPlaceHolder">
			</div>
			</td>
		</tr>
		<tr><td colspan="2">&nbsp;&nbsp; </td></tr>
		<tr>
			<td colspan="2">
				<table cellpadding="0" cellspacing="0" width="100%">
					<thead>
						<td>
							<table cellpadding="1" cellspacing="0" width="100%" class="tb">
								<tbody>
									<tr><td>&nbsp;&nbsp; Management</td></tr>
								</tbody>
							</table>
						</td>
					<thead>
					<tbody>
						<tr>
							<td style="padding-left:50px">
								<div>
									<ul class="slb">
										<li><b>Campaign Lead Management</b>
											<ul class="slb">
												<#if ProcessCampaignLeads?exists><li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToCampaignLeadAssignment();" style="text-decoration:underline" id="ProcessCampaignLeads" name="ProcessCampaignLeads">Leads Assignment to ICLs</a></li></#if>
												<#if LeadAssignmentRules?exists><li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToLeadAssignment();"  style="text-decoration:underline" id="LeadAssignmentRules" name="LeadAssignmentRules">Leads Assignment Template Setup</a></li></#if>
											</ul>
										</li>
										<#if CampaignTerritoryManagement?exists><li style="padding-bottom:5px;"><a href="javascript:void(0)" class="nclk" onclick="javascript:goToCampaignAdmin();" style="text-decoration:underline" id="CampaignTerritoryManagement" name="CampaignTerritoryManagement"><b>Campaign Territory Management</b></a></li></#if>
										<li><b>ICL Lead Management</b>
											<ul class="slb">
												<#if GenerateLeadSheets?exists><li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToLeadSheetGeneration();" style="text-decoration:underline" id="GenerateLeadSheets" name="GenerateLeadSheets">Lead Sheet Generation</a></li></#if>
												<#if LeadSheetGenerationRules?exists><li><a href="javascript:void(0)" class="nclk" onclick="goToGenericRuleTemplate();"  style="text-decoration:underline" id="LeadSheetGenerationRules" name="LeadSheetGenerationRules">Lead Sheet Generation Template Setup</a></li></#if>
												<#if DefaultTerritoryView?exists><li><a href="javascript:void(0)" class="nclk" onclick="goToDefaultTerritoryViewSetUp();"  style="text-decoration:underline" id="DefaultTerritoryView" name="DefaultTerritoryView">Default Territory View Setup</a></li></#if>
												<#if ICLTerritoryManagement?exists><li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToICLManagement();" style="text-decoration:underline" id="ICLTerritoryManagement" name="ICLTerritoryManagement">View Lead Sheet History</a></li></#if>
											</ul>
										</li>
										<li style="padding-bottom:5px;"><a href="javascript:void(0)" class="nclk" onclick="javascript:goToICLManagement();" style="text-decoration:underline" id="ICLTerritoryManagement" name="ICLTerritoryManagement"><b>ICL B2B Territory Management</b></a></li>
										<li><b>Disposition Management</b>
											<ul class="slb">
												<li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToDispositionManagement();" style="text-decoration:underline" id="DispositionManagement" name="DispositionManagement">Enter Dispositions for Lead Sheets</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td colspan="2">&nbsp;&nbsp; </td></tr>
		<tr>
			<td colspan="2">
				<table cellpadding="0" cellspacing="0" width="100%">
					<thead>
						<td>
							<table cellpadding="1" cellspacing="0" width="100%" class="tb">
								<tbody>
									<tr><td>&nbsp;&nbsp; Territory Analysis</td></tr>
								</tbody>
							</table>
						</td>
					<thead>
					<tbody>
						<tr>
							<td style="padding-left:50px">
								<div>
									<ul class="slb">
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline" id="CampaignTerritoryAnalysis" name="CampaignTerritoryAnalysis">Campaign Territory Analysis</a></li>
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline" id="ICLTerritoryAnalysis" name="ICLTerritoryAnalysis">ICL Territory Analysis</a></li>
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline" id="LeadsAnalysis" name="LeadsAnalysis">Leads Analysis</a></li>
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline" id="LeadSheetsAnalysis" name="LeadSheetsAnalysis">Lead Sheets Analysis</a></li>
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline">Campaign Territory Analysis</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td colspan="2">&nbsp;&nbsp; </td></tr>
		<tr>
			<td colspan="2">
				<table cellpadding="0" cellspacing="0" width="100%">
					<thead>
						<td>
							<table cellpadding="1" cellspacing="0" width="100%" class="tb">
								<tbody>
									<tr><td>&nbsp;&nbsp; System Administration</td></tr>
								</tbody>
							</table>
						</td>
					<thead>
					<tbody>
						<tr>
							<td style="padding-left:50px">
								<div>
									<ul class="slb">
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline" id="RolesAdministration" name="RolesAdministration">User Roles Administration</a></li>
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline" id="SystemManagement" name="SystemManagement">System Management</a></li>
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline" id="Alerts" name="Alerts">Alerts and Notifications</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td colspan="2">&nbsp;&nbsp; </td></tr>
	</tbody>
</table>


<script type="text/javascript">

	// Call back function when Campaign is loaded
	function onAlertsLoaded(data){
		$("#alertsPlaceHolder").children().remove();
		$("#alertsPlaceHolder").append(data);
	}

	function refreshAlerts(){
		var params = {
				pageName : "IMSDashboard",
				controlName :"showAlerts"
		}
		var url = "uiController";

		loadControl(url, params, onAlertsLoaded);
	}

	refreshAlerts();
	</script>