<html>
<body>
	<p> Please find the details below to create new owner in the north east region.</p>
	
	<TABLE style='border-style:solid;border-width:thin;border-color:#B9C9FE;'>
		<TR><TD>Region :</TD><TD>${region}</TD></TR>
		<TR><TD>Office CY Code :</TD><TD>${officeCYCode}</TD></TR>
		<TR><TD>Merlin Office Code :</TD><TD>${merlinCode}</TD></TR>
		<TR><TD>Salesforce Owner ID :</TD><TD>${sfOwnerId}</TD></TR>
	</TABLE>
		
</body>
<p>Thanks,</p>

<p>${userId}</p>
</html>