<script type="text/javascript"></script>
	<#if campaignSelector?exists>

			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" name="campaignID" id="campaignID"  class="inputControl" onchange="javascript:checkCustomController();">
					<option value="-1">-Select-</option>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
				</SELECT>
			</td>
	</#if>
	<#if iclSelector?exists>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" id="iclID"  name="iclID" onchange="javascript:loadDefaultTerritoryViewDetails();">
					<option value="-1">-Select-</option>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
				</SELECT>
			</td>
	</#if>

<#if defaultViewDetails?exists>
<table border="0" cellpadding="0" cellspacing="0" class="crmWidth">
  <tbody>
    <tr><td>&nbsp;</td></tr>
    <tr><td style="padding-left:50px;">Select Default Territory view to be displayed in the Lead Sheet Generation page.</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
	<td style="padding-left:100px;">
			<table border="0" width="100%">
				<tbody>
				<#if result.data?size!=0>
					<#list result.data as row>
						
						<tr>
						<#if row[2].value="byZip">
							<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="byZip" id="byZip" <#if row[2].value?exists && row[2].value='byZip'>checked="checked" <#else> </#if> type="radio"/>&nbsp;&nbsp;By ZIP</td>
						<#else>
						<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="byZip" id="byZip"  type="radio"/>&nbsp;&nbsp;By ZIP</td>
						</#if>
						</tr>
						
						<tr>
						<#if row[2].value="none">
							<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="none" id="none" <#if row[2].value="none"> checked="checked" <#else> </#if> type="radio">&nbsp;&nbsp;None</td>
							<#else>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="none" id="none" type="radio">&nbsp;&nbsp;None</td>
							</#if>
						</tr>
					</#list>
				<#else>
				
					<tr>
						<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="byZip" id="byZip"  type="radio"/>&nbsp;&nbsp;By ZIP</td>
					</tr>
					
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="none" id="none" type="radio">&nbsp;&nbsp;None</td>
					</tr>
				</#if>
				</tbody>
			</table>
		</div>
		<br>
	</div>
	</td>
	</tr>
	</tbody>
</table>
</#if>