
<#if campaignSelector?exists>
<table border="0">
	<tr>
		<td>Select Campaign:&nbsp;</td>
		<td>
			<SELECT name="campaignID" id="campaignID"
				style="width: 180px;" class="inputControl"
				onchange="javascript:checkCustomController();">
				<option value="-1">-Select-</option>
				<#list result.data as row>
					<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
				</#list>
			</SELECT>
		</td>
	</tr>
</table>
</#if>

<#if iclSelector?exists>
<table border="0">
	<tr>
		<td>Select ICL Name:&nbsp;</td>
		<td><SELECT id="iclID" style="width: 180px;" name="iclID"
			onchange="javascript:loadRepSelector();">
			<option value="-1">-Select-</option>
			<#list result.data as row>
				<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
			</#list>
		</SELECT></td>
	</tr>
</table>
</#if>



<#if repSelector?exists>
<table border="0">
	<tr>
		<td>
			Select Rep Name:&nbsp;
			<SELECT style="width:150px;" id="repId"  name="repId">
				<option value="">--Select--</option>
				<#list result.data as row>
					<option value="${row[0].value}">${row[1].value!''}</option>
				</#list>
			</SELECT>
		</td>
	</tr>
</table>
</#if>

<#if leadSheetSelector?exists>
<table border="0" class="crmWidth">
	<tr>
		<td  style="padding:5px" align="center" >
			Lead Sheet ID:&nbsp;
			<SELECT name="leadSheetID" id="leadSheetID"
				style="width: 180px;" class="inputControl" onchange="javascript:loadLeadList();">
				<option value="-1">-Select-</option>
				<#list result.data as row>
					<option value="${row[0].value}~~${row[1].value}">${row[0].value!''}</option>
				</#list>
			</SELECT>
		</td>
	</tr>
</table>
</#if>


<#if leadListTable?exists>
<script>
<#if result.data?has_content>
	tableSize=${result.data?size};
</#if>
	if(printStatus=='true'){
	 		print();
	}
</script>


<div id="iclleadListTable">
	<#if result.data?size == 0 >
	  	<script>
		   document.getElementById('buttionsRow').style.display='none';
	  	</script>
 	<#else>
 		 <script>
		   document.getElementById('buttionsRow').style.display='';
		 </script>
	</#if>
<table border="2" cellspacing="0" cellpadding="0" style="border-collapse: collapse;" class="list crmWidth">
	<tr>
		<th>S.No</th>
		<th>Street Address</th>
		<th>Apt#</th>
		<th>City</th>
		<th>Zip</th>
		<th>CRR</th>
		<th>Addr Id</th>
		<th>Customer Name</th>
		<th>DI</th>
		<th>Notes</th>
		<th>Disposition Date</th>
	</tr>
		<#if result.data?exists>
			<#list result.data as row>
			<tr>
				<td width='30px'>${row_index+1}</td>
				<#list row as column>
					<#if column_index==5>
						<span id="oldDI_${row_index}" name="oldDI_${row_index}" style="display:none">${row[10].value!''}</span>	
						<span id="oldNotes_${row_index}" name="oldNotes_${row_index}" style="display:none">${row[8].value!''}</span>	
						<span id="leadId_${row_index}" name="leadId_${row_index}" style="display:none">${column.value!''}</span>	</#if>
					<#if column_index==9>
					<span id="rowId_${row_index}" name="rowId_${row_index}" style="display:none">${column.value!''}</span>		</#if>

					<#if column_index==0>
						<td width="150px">
						<#assign s = column.value?split("-")>
							${s[0]}
					</td> <#else>
					<#if column_index==7>
							<td width='180px'>
							<#if ((!row[12].value?exists ) || (!row[10].value?has_content || (row[10].value?exists && row[10].value == 'R')) ) && row[13].value != 'N'   >
								<select NAME="DI_${row_index}" id="DI_${row_index}"  class="inputControl" style="width:180px;" >
									<option value="-1" selected> --Select-- </option>
									<#list dispositionMap as dispRow>
		                                <#if dispRow.key = row[10].value!''>
											<option value="${dispRow.key}" selected>${dispRow.value!''}</option>
										<#else>
											<option value="${dispRow.key}">${dispRow.value!''}</option>
										</#if>
									</#list>
								</select>
							<#else>	
									${row[10].value} <#if row[10].value != ''> - </#if> ${row[7].value!''}
							</#if>
							</td>
						<#else>
					<#if column_index==8>
							<#if ((!row[12].value?exists ) || (!row[10].value?has_content || (row[10].value?exists && row[10].value == 'R')) ) && row[13].value != 'N'   >
								<td width="200px"><INPUT TYPE="text" NAME="notes_${row_index}" size="35"  maxlength="225"  class="inputControl" id="notes_${row_index}" value="${column.value!''}"/></td>
							<#else>
							<td title="${column.value!''}">	 
							<#if (row[13].value == 'N') >
								Disabled OR Closed
							<#else>
							 	<#if column.value?exists && column.value?length &gt; 35 >${column.value?substring(0,30)}...<#else>${column.value!''}</#if>
							</#if>
							</td>

						</#if>
						<#else>
					<#if column_index==9 || column_index==10 || column_index==11 || column_index==13 || column_index==14|| column_index==15>
					<#else>
						<td>${column.value!''}</td>
					</#if>
					</#if>
					</#if>
					</#if>
				</#list>
			</tr>
			</#list>
		<#else>
			<tr><td colspan="6">No Records to Display</td></tr>
		</#if>
</table>
</div>
</#if>