<#if iclRepSelector?exists>
<table border="1" cellpadding="0" cellspacing="0" class="crmWidth">
  <thead>
	  <th align="left" style="padding-bottom:5px"><input name="colorCodes" value="leadSheetDispositionalColorCodes" onclick="javascript:leadSheetToggleColorCode(this.value);" type="radio"/><b>Disposition Color Codes</b></th>
  	  <th align="left" style="padding-bottom:5px"> <input name="colorCodes" value="leadSheetDefaultColorCodes" onclick="javascript:leadSheetToggleColorCode(this.value);" type="radio" checked="true"/><b>Available Lead Color Codes</b></th>
	  <th align="left" style="padding-left:20px;padding-bottom:5px"><b>Rep Info</b></th>
  </thead>
  <tbody>
    <tr>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" width="60%">
			<table border="0" width="100%">
				<tbody>
				<#if dispositionResult?size!=0>
					<#list dispositionResult as row>
					<tr>
						<#list row as column>
						<td align="center">
							<img height="20px" src="${column[2].value!''}" />
						</td>
						<td>
						<#if column[0].value?exists && column[0].value = "Default"> 
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	${column[0].value!''} - ${column[1].value!''}
						<#else>
						<input type="checkbox" id="dispositionCode_${column_index}" disabled="disabled"
							name='leadSheetDispositionalImages' value="${column[2].value!''}"
							onClick="javascript:showLeadSheetDispositionalImages();" />
							${column[0].value!''} - ${column[1].value!''}
						</#if>
						</td>
						</#list>
					</tr>
					</#list>
				</#if>
				</tbody>
			</table>
		</td>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" width="20%" align="center">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<#if sessionCampaignSeq = '67976206'>
						<tr>
							<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/red-dot.png"/></td>
							<td style="vertical-align:middle">Not a customer</td>
						</tr>
					<#elseif sessionCampaignSeq = '91039497'>
						<tr>
							<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/red-dot.png"/></td>
							<td style="vertical-align:middle">Lead</td>
						</tr>
					<#else>
						<tr>
							<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/green.png"/></td>
							<td style="vertical-align:middle">Customer</td>
						</tr>
						<tr>
							<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/purple.png"/></td>
							<td style="vertical-align:middle">Not a customer</td>
						</tr>
						<tr>
							<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/yellow.png"/></td>
							<td style="vertical-align:middle">Unknown</td>
						</tr>
					</#if>
<!-- 					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/yellow.png"/></td>
						<td style="vertical-align:middle">Wireless</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/blue.png"/></td>
						<td style="vertical-align:middle">Digital Voice</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/green.png"/></td>
						<td style="vertical-align:middle">DSL Current Customer</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/black.png"/></td>
						<td style="vertical-align:middle">Open MDU</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/red-dot.png"/></td>
						<td style="vertical-align:middle">No Product</td>
					</tr>
-->				</tbody>
			</table>
		</td>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" align="center" width="20%">
			<table border="0">
				<tbody>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Name&nbsp;&nbsp;</td>
						<td align="left">
							<select style="border: 1px solid; width: 120px;"
								name="repID" id="repID" onchange="javascript:loadICLRepInfo();">
								<#list reps.data as row>
								<option value="${row[0].value}">${row[1].value}</option>
								</#list>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div id="iclRepInfo" name="iclRepInfo"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	  </tr>
	</tbody>
</table>
</#if>

<#if iclRepInfo?exists>
<table border="0">
	<tr>
		<td>
			<table width="100%" align="left" valign="top" cellspacing="5" cellpadding="5" border="0">
				<#if repDetails.data?exists>
					<#list repDetails.data as row>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Code</td>
						<td><INPUT TYPE="text" NAME="" value='${row[0].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Last Worked</td>
						<td><INPUT TYPE="text" NAME="" value='${row[1].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Distributed</td>
						<td><INPUT TYPE="text" NAME="" value='${row[2].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Returned </td>
						<td><INPUT TYPE="text" NAME="" value='${row[3].value!""}' size="14" class="inputControl"></td>
					</tr>
					</#list>
				<#else>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Code</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Last Worked</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Distributed</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Returned </td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
				</#if>
			</table>
		</td>
	</tr>
</table>
</#if>




 <#if leadListTable?exists>
 <!--
<table align='center'>
<tr>	<td >&nbsp;</td></tr>
	<tr>
		<td>In columns: V, TV, Data ; N=Do not sell & Y=Sell</td>
		<td>ONT dsc : In M=Move, C=Customer Expectation, L=Loss To Competitor, Q=Service Quality, P=Product, U=Unknown</td>
		<td>Res sta: Blank (no data available), D=Different Occupant, S=Same Occupant, V=Vacant/Unknown Occupant</td>
		<td>C# = iONT Cluster- Each # is a unique set of leads within that state</td>	
	</tr>
<tr>	<td >&nbsp;</td></tr>	
</table>
-->

<table border="2" cellspacing="0" cellpadding="0" style='border-collapse: collapse;' class="list crmWidth">
	<tr>
	<#if type = 'Saved'>
		<th><input id="checkAlltoUnAssign" type="checkbox" onclick="javascript:checkAll();"></th>
	</#if><!-- //atiwari : Modified for Vegas campaign -->
		<#if sessionCampaignSeq = '67976206' || sessionCampaignSeq = '91039497'>
			<th>#</th>
<!-- 			<th>ACCT_NBR</th> -->
<!-- 			<th>Name</th> -->
<!-- 			<th>STREET_NUMBER</th> -->
<!-- 			<th>STREET_NAME</th> -->
<!-- 			<th>CITY</th> -->
<!-- 			<th>Zip_9</th> -->
<!-- 			<th>STATE</th> -->
<!-- 			<th>PRIORITY</th> 2013141 ashish : Added PRIORITY column after STATE for Vegas campaign -->
<!-- 			<th>CREDIT_CLASS</th> -->
<!-- 			<th>ACCESS_LINE</th> -->
<!-- 			<th>LD_SUB</th> -->
<!-- 			<th>DSL_SUB -->
<!-- 			<th>IPTV_SUB</th> -->
<!-- 			<th>DSL_SPEED_AVAIL</th> -->
<!-- 			<th>IPTV_AVAIL</th> -->
<!-- 			<th>NODE</th> -->
<!-- 			<th>CPNI_APPROVAL</th> -->
<!-- 			<th>DM</th> -->
<!-- 			<th>BP</th> -->
<!-- 			<th>1</th> -->
<!-- 			<th>2</th> -->
<!-- 			<th>3</th> -->
<!-- 			<th>4</th> -->
<!-- 			<th>Notes</th> -->
				<th>NAME</th>
				<th>NUM</th>
				<th>STREET_NAME</th>
				<th>APT</th>
				<th>CITY</th>
				<th>ZIP_5</th>
				<th>PRSPCT_TYPE</th>
				<th>MDU</th>
				<th>CRRNT_HSI</th>
				<th>PRSM_SUB</th>
				<th>BNDL_DTV</th>
				<th>LINE_SUB</th>
				<th>PKG</th>
				<th>LD</th>
				<th>HSI_AVAIL</th>
				<th>HSI_AVAIL_wPB</th>
				<th>PRSM_AVAIL</th>
				<th>PRSM_NEW_DATE</th>
				<th>HSI_wPRSM</th>
				<th>HSI_SPD_NEW_DATE</th>
				<th>DNK</th>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>DM</th>
				<th>Pres</th>
				<th>Sale</th>
				<th>Notes</th>
		<#elseif sessionCampaignSeq = '78802850'>
			<th>#</th>
<!-- 			<th>Address</th> -->
<!-- 			<th>City</th> -->
<!-- 			<th>Zip</th> -->
<!-- 			<th>Customer Name</th> -->
<!-- 			<th>HSI Avail</th> -->
<!-- 			<th>HSI</th> -->
<!-- 			<th>Cur HSI</th> -->
<!-- 			<th>PC</th> -->
<!-- 			<th>DTV</th> -->
<!-- 			<th>Has Line</th> -->
<!-- 			<th>Pkg</th> -->
<!-- 			<th>LD</th> -->
<!-- 			<th>PRISM Profile</th> -->
<!-- 			<th>HSI wPRISM Avail</th> -->
<!-- 			<th>Avg Bill</th> -->
<!-- 			<th>1</th> -->
<!-- 			<th>2</th> -->
<!-- 			<th>3</th> -->
<!-- 			<th>4</th> -->
<!-- 			<th>DM</th> -->
<!-- 			<th>Pres</th> -->
<!-- 			<th>Sale</th> -->
<!-- 			<th>Notes</th> -->
<!-- 			<th>CLLI</th> -->
				<th>NAME</th>
				<th>NUM</th>
				<th>STREET_NAME</th>
				<th>APT</th>
				<th>CITY</th>
				<th>ZIP_5</th>
				<th>NODE</th>
				<th>PRSPCT_TYPE</th>
				<th>MDU</th>
				<th>CRRNT_HSI</th>
				<th>PRSM_SUB</th>
				<th>BNDL_DTV</th>
				<th>LINE_SUB</th>
				<th>PKG</th>
				<th>LD</th>
				<th>HSI_AVAIL</th>
				<th>HSI_AVAIL_wPB</th>
				<th>PRSM_AVAIL</th>
				<th>PRSM_NEW_DATE</th>
				<th>HSI_wPRSM</th>
				<th>HSI_SPD_NEW_DATE</th>
				<th>DNK</th>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>DM</th>
				<th>Pres</th>
				<th>Sale</th>
				<th>Notes</th>
		<#else>
			<th>#</th>
<!-- 			<th>Address</th> -->
<!-- 			<th>City</th> -->
<!-- 			<th>Zip</th> -->
<!-- 			<th>Customer Name</th> -->
<!-- 			<th>HSI Avail</th> -->
<!-- 			<th>HSI</th> -->
<!-- 			<th>Cur HSI</th> -->
<!-- 			<th>PC</th> -->
<!-- 			<th>DTV</th> -->
<!-- 			<th>Pkg</th> -->
<!-- 			<th>LD</th> -->
<!-- 			<th>Avg Bill</th> -->
<!-- 			<th>1</th> -->
<!-- 			<th>2</th> -->
<!-- 			<th>3</th> -->
<!-- 			<th>4</th> -->
<!-- 			<th>DM</th> -->
<!-- 			<th>Pres</th> -->
<!-- 			<th>Sale</th> -->
<!-- 			<th>Notes</th> -->
<!-- 			<th>CLLI</th> -->
				<th>NAME</th>
				<th>NUM</th>
				<th>STREET_NAME</th>
				<th>APT</th>
				<th>CITY</th>
				<th>ZIP_5</th>
				<th>NODE</th>
				<th>PRSPCT_TYPE</th>
				<th>MDU</th>
				<th>CRRNT_HSI</th>
				<th>PRSM_SUB</th>
				<th>BNDL_DTV</th>
				<th>LINE_SUB</th>
				<th>PKG</th>
				<th>LD</th>
				<th>HSI_AVAIL</th>
				<th>HSI_AVAIL_wPB</th>
				<th>PRSM_AVAIL</th>
				<th>PRSM_NEW_DATE</th>
				<th>HSI_wPRSM</th>
				<th>HSI_SPD_NEW_DATE</th>
				<th>DNK</th>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>DM</th>
				<th>Pres</th>
				<th>Sale</th>
				<th>Notes</th>
		</#if>		
	</tr>
		<#if result.data?exists>
			<#if sessionCampaignSeq = '67976206' || sessionCampaignSeq = '91039497'> <!-- 2013141 ashish : incremented column index values used below by 1 for adding PRORITY column after STATE for Vegas campaign -->
				<#list result.data as row>
					<#if row_index ==0 >
						<script type="text/javascript">
					 		firstLeadRowId = "${row[29].value!''}"; 
					 		totalRecords = ${result.data?size};
						</script>
					</#if>
					<tr>
						<#if type = 'Saved'><!-- Commented as disposition is not required in this phase. -->
							<td><input value="${row[29].value!''}-${row[30].value!''}" name="unDispositionedLeads"  type="checkbox"  /></td>
						</#if>
					
						<td>${row_index+1}</td>
						<#list row as column>
							<#if column_index==1>
								<td>
									<#assign s = column.value>
										${s}
								</td>
							<#elseif column_index == 29 || column_index == 30 || column_index == 31 || column_index == 32 || column_index == 33 || column_index == 34 >
							<#else>
								<td>${column.value!''}</td>
							</#if>
						</#list>
					</tr>
				</#list>
			<#elseif sessionCampaignSeq = '78802850'>
				<#list result.data as row>
					<#if row_index ==0 >
						<script type="text/javascript">
						firstLeadRowId = "${row[30].value!''}";
					 		totalRecords = ${result.data?size};
						</script>
					</#if>
					<tr>
						<#if type = 'Saved'>
							<#if row[24].value?exists && row[24].value != "">
								<td><input value="${row[30].value!''}-${row[31].value!''}" name="unDispositionedLeads"  type="checkbox"  disabled="disabled" /></td>
							<#else>
								<td><input value="${row[30].value!''}-${row[31].value!''}" name="unDispositionedLeads"  type="checkbox"  /></td>
							</#if>
						</#if>
					
						<td>${row_index+1}</td>
						<#list row as column>
							<#if column_index==1>
								<td>
									<#assign s = column.value>
										${s}
								</td>
							<#elseif column_index == 30 || column_index == 31 || column_index == 32 || column_index == 33 || column_index == 34 || column_index == 35 >
							<#else>
								<td>${column.value!''}</td>
							</#if>
						</#list>
					</tr>
				</#list>
			<#else>
				<#list result.data as row>
					<#if row_index ==0 >
						<script type="text/javascript">
						firstLeadRowId = "${row[30].value!''}";
					 		totalRecords = ${result.data?size};
						</script>
					</#if>
					<tr>
						<#if type = 'Saved'>
							<#if row[21].value?exists && row[21].value != "">
								<td><input value="${row[30].value!''}-${row[31].value!''}" name="unDispositionedLeads"  type="checkbox"  disabled="disabled" /></td>
							<#else>
								<td><input value="${row[30].value!''}-${row[31].value!''}" name="unDispositionedLeads"  type="checkbox"  /></td>
							</#if>
						</#if>
					
						<td>${row_index+1}</td>
						<#list row as column>
							<#if column_index==1>
								<td>
									<#assign s = column.value>
										${s}
								</td>
							<#elseif column_index == 30 || column_index == 31 || column_index == 32 || column_index == 33 || column_index == 34 || column_index == 35 >
							<#else>
								<td>${column.value!''}</td>
							</#if>
						</#list>
					</tr>
				</#list>
			</#if>
			<!-- //atiwari : ends -->
			<TR><TD  colspan="31">&nbsp;</TD></TR>
			<#if type == "Saved">
			<tr><td align='center' colspan="31">Total Leads Available for Leadsheet : ${availLeads!'0'}</td></tr>
			<tr><td align='center' colspan="31">Total Leads Disabled : ${disabledLeads!'0'}</td> </tr>
			<tr><td align='center' colspan="31">Total Leads Dispositioned : ${dispLeads!'0'}</td></tr>
			</#if>
			<TR><TD  colspan="31">&nbsp;</TD></TR>
		<#else>
			<tr><td colspan="9">No Records to Display</td></tr>
		</#if>
		
</table>
</#if>