	<table cellspacing="0" cellpadding="0" border="0" align="center">
		<tr>

		<#if campaignSelector?exists>
			<td class="fl">Select Campaign: </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" name="campaignID" id="campaignID"  class="inputControl" onchange="javascript:changeCamp();">
				    <option value="-1">-Select-</option>
				    <#if result?exists>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
					</#if>
				</SELECT>
			</td>
		</#if>
		<#if iclSelector?exists>
			<td class="fl">Select ICL Name:&nbsp; </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" id="iclID"  name="iclID" onchange="javascript:handleICLChange();sortedColumns = new Array();">
					<option value="-1">-Select-</option>
					<#if result?exists>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
					</#if>
				</SELECT>
			</td>
		</#if>
		<#if templateSelector?exists>
			<td class="fl">Select Template:&nbsp; </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:150px;" id="templateID" name="templateID" onchange="javascript:onTemplateChange();">
					<#if result?exists>
					<#list  result.data as row>
						<#if row[1].value?exists && row[1].value = "DEFAULT">
						<option value="${row[0].value}" selected="selected">${row[0].value!''}</option>
						<#else>
						<option value="${row[0].value}">${row[0].value!''}</option>
						</#if>
					</#list>
					</#if>
				</SELECT>
			</td>
		</#if>
		</tr>
	</table>

<#if colorCodes?exists>
<table border="0" cellpadding="0" cellspacing="0" class="crmWidth">
  <tbody>
    <tr>
		<td valign="top" width="70%">
			<table border="0" width="100%">
				<thead>
					<th style="padding-left:20px;padding-bottom:10px;padding-top:10px" colspan="2" align="left"><input name="colorCodes" id="dispositionalColorCodes" value="dispositionalColorCodes"  onclick="javascript:toggleColorCode(this.value,'true');" type="radio"/><b>Disposition Color Codes</b></th>
				</thead>
				<tbody>
				<#if dispositionResult?size!=0>
					<#list dispositionResult as row>
					<tr>
						<#list row as column>
						<td style="padding-left:40px;" align="center">
							<img height="20px" src="${column[2].value!''}" />
						</td>
						<td>
						<#if column[0].value?exists && column[0].value = "Default">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	${column[0].value!''} - ${column[1].value!''}
						<#else>
						<input type="checkbox" disabled="true"
								id="dispositionCode_${column_index}" name='dispositionalImages'
								value="${column[2].value!''}" />
							${column[0].value!''} - ${column[1].value!''}
						</#if>
						</td>
						</#list>
					</tr>
					</#list>
				</#if>
				</tbody>
			</table>
		</td>
		<td valign="top" width="30%" align="center">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<thead>
					<th align="left" style="padding-left:20px;;padding-bottom:10px;padding-top:10px" colspan="2"> <input name="colorCodes" id="defaultColorCodes" value="defaultColorCodes"  onclick="javascript:toggleColorCode(this.value,'true');" type="radio" checked="true"/><b>Available Lead Color Codes</b></th>
				</thead>
				<tbody>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/red-dot.png"/></td>
						<td style="vertical-align:middle">Default - Previously Assigned</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/green.png"/></td>
						<td style="vertical-align:middle">New Lead</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/yellow.png"/></td>
						<td style="vertical-align:middle">Potential New Lead</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/blue.png"/></td>
						<td style="vertical-align:middle">MDU / Gated No Access</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/purple.png"/></td>
						<td style="vertical-align:middle">Dispositioned 1-5 times</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/orange.png"/></td>
						<td style="vertical-align:middle">Dispositioned more than 5 times</td>
					</tr>
				</tbody>
			</table>
		</td>
		</tr>
		<tr><td colspan="2">&nbsp;<td></tr>
		<tr><td colspan="2" align="center">
		<INPUT TYPE="submit" style="width:150px" value="Refresh Color Codes" class="buttonTD" onclick="javascript:toggleDispositionalImages('true');" id='refreshColorCodesBtn'><td></tr>
	</tbody>
</table>
</#if>

<#if defaultViewDetails?exists>
<table border="0" cellpadding="0" cellspacing="0" class="crmWidth">
  <tbody>
    <tr><td>&nbsp;</td></tr>
    <tr><td style="padding-left:20px;" colspan="3">Selecting a Territory view displays polygons on the map for the selected Territory type</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
	<td style="padding-left:40px;" width="40%">
			<table border="0" width="100%">
				<tbody>
				
				<#if result?exists && result.data?size!=0>
					<#list result.data as row>
						<tr>
						<#if row[2].value?exists && row[2].value == "byZip">
							<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="byZip"  onclick="loadDefaultViewMap();" <#if row[2].value?exists && row[2].value == 'byZip'>checked="checked" <#else> </#if> type="radio"/>&nbsp;&nbsp;By ZIP</td>
						<#else>
							<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="byZip"  onclick="loadDefaultViewMap();"  type="radio"/>&nbsp;&nbsp;By ZIP</td>
						</#if>
						
						<tr>
						<#if row[2].value?exists && row[2].value == "none">
							<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="none"  onclick="loadDefaultViewMap();"  <#if row[2].value?exists && row[2].value == "none"> checked="checked" <#else> </#if> type="radio">&nbsp;&nbsp;None</td>
						<#else>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="none"  onclick="loadDefaultViewMap();"  type="radio">&nbsp;&nbsp;None</td>
						</#if>
						</tr>
					</#list>
				<#else>
				
					<tr>
						<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input  onclick="loadDefaultViewMap();" name="defaultView" value="byZip" id="byZip"  type="radio"/>&nbsp;&nbsp;By ZIP</td>
					</tr>
					
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="none" id="none" type="radio"  checked="checked" onclick="loadDefaultViewMap();" >&nbsp;&nbsp;None</td>
					</tr>
				</#if>
				</tbody>
			</table>
		</div>
		<br/>
	</div>
	</td>
	</tr>
	</tbody>
</table>
</#if>


<#if selectedTemplateDetails?exists>
<table  border="0" class="crmWidth" >
	<tr><td style="padding:8px"><b>Lead Sheet Rules</b>&nbsp;&nbsp;<i>(Generate lead sheets by template selected)</i></td></tr>
	<tr>
		<td style="padding-left:20px">
			<table cellpadding="1" cellspacing="0" border="0" width="100%">
				<tbody>
				<#if NoOfLeads?exists || maxLeadsByDAInSet?exists || maxLeadsByWireCenterInSet?exists || maxLeadsbyZipInSet?exists>
					<#if NoOfLeads?exists>
						<tr>
							<td style="width: 200px;">Number of Leads in a Lead Sheet</td>
							<td colspan="2" ><b>${NoOfLeads!''}</b></td>
						</tr>
					</#if>
					<#if maxLeadsByDAInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by DA</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsByDAInSet?exists>Max Leads:&nbsp;<b>${maxLeadsByDAInSet!''}</b></#if></td>
						</tr>
					</#if>
					<#if maxLeadsByWireCenterInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by WIRECENTER</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsByWireCenterInSet?exists>Max Leads:&nbsp;<b>${maxLeadsByWireCenterInSet!''}</b></#if></td>
						</tr>
					</#if>
					<#if maxLeadsbyZipInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by ZIP</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyZipInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyZipInSet!''}</b></#if></td>
						</tr>
					</#if>
				<#else>
					No Lead Sheet Rules selected in template
				</#if>
				</tbody>
			</table>
		</td>
	</tr>
</table>
<script type="text/javascript">
//Collapse(document.getElementById("selectedTemplateDetailsLink"),document.getElementById('selectedTemplateDetails'));
Collapse(document.getElementById("defaultViewDetailsLink"),document.getElementById('defaultViewDetails'));
Collapse(document.getElementById("colorCodesLink"),document.getElementById('colorCodesDiv'));
Collapse(document.getElementById("tempMapHolderLink"),document.getElementById('tempMapHolder'));
checkCookie();

</script>

</#if>

<#if availableLeadsData?exists>
<table  border="0" class="crmWidth" >
	<tr>
		<td width="50%">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td height="20px" style="width:300px;padding-left:20px;">Number of Mapped Leads available for Lead Sheets:&nbsp;&nbsp;</td>
						<td align="left"><#if NumberOfLeads?exists><b>${NumberOfLeads}</b><#else><b>0</b></#if></td>
					</tr>
					<tr>
						<td height="20px" style="width:300px;padding-left:20px;">Number of Un-Mapped Leads available for Lead Sheets:&nbsp;&nbsp;</td>
						<td align="left"><#if NumberOfUnMappedLeads?exists><b>${NumberOfUnMappedLeads}</b><#else><b>0</b></#if></td>
					</tr>
			  </tbody>
			</table>
		</td>
		<td align="center">
		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'>
			<INPUT TYPE="submit" id="generateleadsheet" style="width:150px" value="Generate Lead Sheets" class="buttonTD" onclick="javascript:generateLeadSheets();">
		</#if>
		</td>
	</tr>
	<!-- <tr>
		<td height="20px" colspan="2" style="padding-left:20px;overflow: auto;" id="selectedWCHeading">Selected <span id="selectedWCsLbl">FILE(s)</span>:&nbsp;&nbsp;<b><span id='selectedWCs'>NONE</span></b></td>
	</tr> -->
</table>
</#if>

<#if availableLeadsDataTable?exists>
<#if result?exists>
<#if GlobalContext.requestContext.requestWrapper.campaignSeq?exists && GlobalContext.requestContext.requestWrapper.campaignSeq!='79750597'>
<div id="FilterTopDiv" class="alpha_filter_top crmWidth">
								<table cellspacing="2" cellpadding="2" border="0" align="center">
									<tbody>
										<tr>
										<td align="center"> View By <select id="availableLeadsViewType" onchange="javascript:changeLeadsViewByType(this.value);"  class="inputControl">
												<option value="byFile">File Name</option> 
												<option value="byWC">Wirecenter</option> 
												<option value="byCity">City</option>
												<option value="byZip">Zip</option>
												<option value="byWC_DA">WC&DA</option>
												</select></td>
										<td class="aflk" id="avilaLeadsLbl">Wire Center Name:</td>
										<td nowrap="true" id="alpha_bar_td_true">
												<a href="javascript:filterWirecenter('');" style="font-weight: bold;" class="aflk">All</a>
												<a href="javascript:filterWirecenter('[0-9]')" class="aflk">0-9</a>
												<a href="javascript:filterWirecenter('A')" class="aflk">A</a>
												<a href="javascript:filterWirecenter('B')" class="aflk">B</a>
												<a href="javascript:filterWirecenter('C')" class="aflk">C</a>
												<a href="javascript:filterWirecenter('D')" class="aflk">D</a>
												<a href="javascript:filterWirecenter('E')" class="aflk">E</a>
												<a href="javascript:filterWirecenter('F')" class="aflk">F</a>
												<a href="javascript:filterWirecenter('G')" class="aflk">G</a>
												<a href="javascript:filterWirecenter('H')" class="aflk">H</a>
												<a href="javascript:filterWirecenter('I')" class="aflk">I</a>
												<a href="javascript:filterWirecenter('J')" class="aflk">J</a>
												<a href="javascript:filterWirecenter('K')" class="aflk">K</a>
												<a href="javascript:filterWirecenter('L')" class="aflk">L</a>
												<a href="javascript:filterWirecenter('M')" class="aflk">M</a>
												<a href="javascript:filterWirecenter('N')" class="aflk">N</a>
												<a href="javascript:filterWirecenter('O')" class="aflk">O</a>
												<a href="javascript:filterWirecenter('P')" class="aflk">P</a>
												<a href="javascript:filterWirecenter('Q')" class="aflk">Q</a>
												<a href="javascript:filterWirecenter('R')" class="aflk">R</a>
												<a href="javascript:filterWirecenter('S')" class="aflk">S</a>
												<a href="javascript:filterWirecenter('T')" class="aflk">T</a>
												<a href="javascript:filterWirecenter('U')" class="aflk">U</a>
												<a href="javascript:filterWirecenter('V')" class="aflk">V</a>
												<a href="javascript:filterWirecenter('W')" class="aflk">W</a>
												<a href="javascript:filterWirecenter('X')" class="aflk">X</a>
												<a href="javascript:filterWirecenter('Y')" class="aflk">Y</a>
												<a href="javascript:filterWirecenter('Z')" class="aflk">Z</a>
											</td>
											<td>
												&nbsp;&nbsp;<input type="text" name="searchBysearchByWirecenter" class="inputControl" id="searchByWirecenter" />
											</td>
											<td>
												&nbsp;&nbsp;<input type="button" name="searchBysearchByWirecenterBtn" class="buttonTD" id="searchBysearchByWirecenterBtn" value="Go" onClick="javascript:filterWirecenter();"/>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							</#if>
	<table  border="0" class="crmWidth">
	<tr>
		<td width="60%">
			<table id="data" cellspacing="0" cellpadding="0" border="0" class="list" width="600px">
				<thead>
				<tr>
					<th style="width=50px"><input type="checkbox" id="selectAllFiles" name="selectAllFiles" value="" onclick="javascript:toggleFiles(this)"/> Select All</th>
					<#if mapLeadsfilterByString?exists && mapLeadsfilterByString == 'FILE'>
					<th><a id="${tableName}_UPLOAD_FILENAME" style="cursor:pointer;" onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Upload File Name<span id='span_${tableName}_UPLOAD_FILENAME'></span></a></th>
                    <th><a id="${tableName}_LEAD_ASSIGNED" style="cursor:pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >Assigned Date<span id='span_${tableName}_LEAD_ASSIGNED'></span></th>
                    <#elseif mapLeadsfilterByString?exists && mapLeadsfilterByString == 'CITY'>
				    <th><a id="${tableName}_CITY" style="cursor:pointer;" onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">City<span id='span_${tableName}_CITY'></span></a></th>
				    <!-- <th><a id="${tableName}_LEAD_ASSIGNED" style="cursor:pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >Assigned Date<span id='span_${tableName}_LEAD_ASSIGNED'></span></th> -->
					<#elseif mapLeadsfilterByString?exists && mapLeadsfilterByString == 'CLLI'>
				    <th><a id="${tableName}_CLLI" style="cursor:pointer;" onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">CLLI<span id='span_${tableName}_CLLI'></span></a></th>
					<#elseif mapLeadsfilterByString?exists && mapLeadsfilterByString == 'ZIP'>
				    <th><a id="${tableName}_ZIP" style="cursor:pointer;" onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ZIP<span id='span_${tableName}_ZIP'></span></a></th>
				    <#elseif mapLeadsfilterByString?exists && mapLeadsfilterByString == 'CLLI|DA'>
				    <th><a id="${tableName}_CLLI_DA" style="cursor:pointer;" onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">WC&DA<span id='span_${tableName}_CLLI_DA'></span></a></th>
				    </#if>
					<th><a id="${tableName}_MAPPED_LEADS" style="cursor:pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >Mapped Leads<span id='span_${tableName}_MAPPED_LEADS'></span></th>
					<th><a id="${tableName}_UNMAPPED_LEADS" style="cursor:pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >Un-Mapped Leads<span id='span_${tableName}_UNMAPPED_LEADS'></span></th>
					<th><a id="${tableName}_TOTAL_LEADS" style="cursor:pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >Total Leads<span id='span_${tableName}_TOTAL_LEADS'></span></th>
				   
				</tr>
				</thead>
				<tbody>
				<#if result?exists>
				<#list result.data as row>
					<tr>
					<#list row as column>
					<#if column_index==0>
						<#if mapLeadsfilterByString == 'CLLI|DA'>
						<td><input type="checkbox"  name="selectedFiles" value="${column.value!''}|${row[1].value!''}" onclick="javascript:addToSelectedFilesList(this);"/></td>
						<td>${column.value!''} & ${row[1].value!''}</td>
						<#else>
						<td><input type="checkbox"  name="selectedFiles" value="${column.value!''}" onclick="javascript:addToSelectedFilesList(this);"/></td>
						<td>${column.value!''}</td>
						</#if>
					<#else>
					    <#if !(column_has_next)>
						<#else>
						<#if mapLeadsfilterByString == 'CLLI|DA' && column_index==1>
						<#else>
						<td>${column.value!''}</td>
						</#if>
						</#if>
					</#if>
					</#list>
					</tr>
				</#list>
				</#if>
			  </tbody>
			</table>
		</td>
	</tr>
</table>
</#if>
</#if>

<#if leadSheetGeneratedtable?exists>
<table id="data" cellspacing="0" cellpadding="0" border="0" class="list" width="600px">
	<thead>
		<tr>
			<th></th>
			<th>Select</th>
			<th><a id="${tableName}_LEADSHEET_NAME" style="cursor:pointer;" onclick="javascript:loadLeadSheetGenerated(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Lead Sheet<span id='span_${tableName}_LEADSHEET_NAME'></span></a></th>
			<th><a id="${tableName}_LEAD_COUNT" style="cursor:pointer;" onclick="javascript:loadLeadSheetGenerated(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));"># of Leads<span id='span_${tableName}_LEAD_COUNT'></span></a></th>
			<th><a id="${tableName}_GENERATED_DATE" style="cursor:pointer;" onclick="javascript:loadLeadSheetGenerated(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Generated Date<span id='span_${tableName}_GENERATED_DATE'></span></a></th> 
			<th>View Lead Sheet</th>
		</tr>
	</thead>
	<tbody>
		<#if result?exists>
		<#list result.data as row>
		<tr>
			<td>		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'><a onclick="javascript:goToSaveTempLeadSheet('${row[0].value}');" style="cursor:pointer;text-decoration:underline">Save</a></#if></td>
			<td><input type="checkbox" name="mergableItems" value="${row[0].value}" onchange="javascript:addToMergeList(this);"/></td>
			<#list row as column>
			<#if column_index==0>
				<script type="text/javascript">
					unSavedLeadSheets = unSavedLeadSheets +'\'' + '${column.value}'+'\',';
				</script>
			</#if>
			<#if column_index==0 || column_index==4> <#else>
			<#if column_index==1>  
			<td width="300px" 		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'> onmouseover="javascript:inlineMouseOver('${row[0].value}');" onmouseout="javascript:inlineMouseOut('${row[0].value}');" </#if> id='td_${row[0].value}' ><a id='a_${row[0].value}' name="a_${row[1].value}"  		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'> href="javascript:zoomToLeadSheet('${row[0].value}');loadMapOnce();" </#if> >${column.value!''}</a>		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img id='img_${row[0].value}' name="img_${row[1].value}" style="display:none" onclick="javascript:changeLSname('${row[0].value}');" src="assets/images/stextIcon.gif"></img></#if></td> 
			<#elseif column_index==3>	<td >${column.value?date("yyyy-MM-dd")?string("MM/dd/yyyy")}</td> <#else> 
			<td>${column.value!''}</td>
			</#if></#if>
			</#list>
			<td><input type="submit" value="View Lead Sheet"
				onclick="javascript:goToLeadSheetAdmin('${row[0].value}','Temp')"
				class="buttonTD"></td>
		</tr>
		</#list>
		</#if>
	</tbody>
</table>
</#if>

<#if leadSheetSavedtable?exists>
<table id="lsSavedData" cellspacing="0" cellpadding="0" border="0" class="list crmWidth">
	<thead>
		<tr>
			<th><input type="checkbox" id="toggleAllSheets" name="toggleAllSheets" onclick="javascript:toggleAllSheets();" /></th>
			<th><a id="${tableName}_LEADSHEET_NAME" style="cursor:pointer;" onclick="javascript:loadLeadSheetSaved(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Lead Sheet<span id='span_${tableName}_LEADSHEET_NAME'></span></a></th>
			<th><a id="${tableName}_NUMBER_OF_LEADS" style="cursor:pointer;" onclick="javascript:loadLeadSheetSaved(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));"># of Leads<span id='span_${tableName}_NUMBER_OF_LEADS'></span></a></th>
			<th><a id="${tableName}_CREATED_DATE" style="cursor:pointer;" onclick="javascript:loadLeadSheetSaved(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Saved Date<span id='span_${tableName}_CREATED_DATE'></span></a></th>
			<th>Rep Assigned</th>
			<th><a id="${tableName}_REP_ASSIGNED_DATE" style="cursor:pointer;" onclick="javascript:loadLeadSheetSaved(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Assigned Date<span id='span_${tableName}_REP_ASSIGNED_DATE'></span></a></th>
			<th>Returned Date</th>
			<th>Sales</th>
			<th>DM</th>
			<th>DK</th>
			<th>Notes</th>
			<th>Was Printed</th>
			<th>View Lead Sheet</th>
		</tr>
	</thead>
	<tbody>
		<#if result?exists>
		<script type="text/javascript">
			savedLeadSheetsCount= ${result.data?size};
		</script>
		<#list  result.data as row>
		<tr id="tr_${row[0].value}">
			<#list row as column>
				<#if column_index==0>
					<td>
						<input type="checkbox" id="cbLeadSheetId_${row_index}" name="cbLeadSheetId" value="${column.value!''}"  />
						<span id="leadSheetId_${row_index}" name="leadSheetId_${row_index}" style="display:none;">${column.value!''}</span>
						<span style="display:none;" id="leadSheetChanged_${row_index}" name="leadSheetChanged_${row_index}"></span>
					</td>
				<#elseif column_index==1 >
				<td>
				<table><tr><td style="border-style: none ">
					<a title="Click to Edit"  id="savedSheetEditBtn_${row_index}"  <#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'> onclick="javascript:goToEditLeadSheet('${row[0].value}',${row_index})" </#if> href="#" >
					<#if row[12].value == 'Y'>
						<B><FONT color="RED">${column.value!''}</FONT></B>
					<#else>
						${column.value!''}
					</#if>
					</a>
					</td>
					<td valign="middle"  style="border-style: none ">
						<button id="savedSheetEditSubmitBtn_${row_index}" style="width: 18px; height: 18px; display: none" onclick='javascript:goToSubmitEditLeadSheet("${row[0].value}",${row_index})'><img src="assets/images/okIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>
						<br>
						<button id="savedSheetEditCancelBtn_${row_index}"style="width: 18px; height: 18px; display: none" onclick='javascript:goToCancelEditLeadSheet("${row[0].value}",${row_index})'><img src="assets/images/cancelIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>			
					</td></tr></table>
				</td>
				<#elseif column_index==3>
					<td width="100px" >${column.value?date("yyyy-MM-dd")?string("MM/dd/yyyy")}</td>	
				<#elseif column_index==4>
					<td width="160px"  id='td_rep_${row[0].value}' name="td_${row[1].value}" ><span id='span_rep_${row[0].value}' name="${row_index}" >${column.value!''}</span></td>	
				<#elseif column_index==5>
					<td width="100px">
						<SPAN id="repAssignedDate_${row_index}">${column.value!' '}</SPAN>
					</td>
				<#elseif column_index==6>
					<td width="100px"  title="${row[4].value!''}" id="td_rd_${row[0].value}"  ><span id='span_rd_${row[0].value}' name="${row[4].value!''}" >${column.value!''}</span></td>
				<#elseif column_index==7>
					<td width="30px"  id="td_s_${row[0].value}" ><span id='span_s_${row[0].value}' name="${row_index}" >${column.value!''}</span></td>	
				<#elseif column_index==8>
					<td width="30px"  id="td_dm_${row[0].value}" ><span id='span_dm_${row[0].value}' name="${row_index}" >${column.value!''}</span></td>	
				<#elseif column_index==9>
					<td width="30px"  id="td_dk_${row[0].value}" ><span id='span_dk_${row[0].value}' name="${row_index}" >${column.value!''}</span></td>				
				<#elseif column_index==10>
					<td width="150px" id='td_nts_${row[0].value}'><span title="${column.value?trim}" id='span_nts_${row[0].value}' name="${row[4].value!''}" ><#if column.value?exists && column.value?length &gt; 50 >${column.value?substring(0,49)}...<#else>${column.value!''}</#if></span></td>				
				<#elseif column_index==12 || column_index==13>
				<#else>
					<td>${column.value!''}</td>
				</#if>
			</#list>
			<td><input type="submit" value="View Lead Sheet"
				onclick="javascript:goToLeadSheetAdmin('${row[0].value}','Saved','<#if GlobalContext.crmContext.accessLinks == 'Dispositions Manager'>true<#else>false</#if>')"
				class="buttonTD"></td>
		</tr>
		</#list>
		<tr id='savedSheetsEditControls' style='display:none'><td colspan="13" align="center">
		<input type="submit" value="Save Changes" onclick="javascript:saveEditLeadSheetSaved();" class="buttonTD">&nbsp;&nbsp;
		<input type="submit" value="Cancel Changes" onclick="javascript:cancelEditLeadSheetSaved();" class="buttonTD">
		</td></tr>		
		</#if>
	</tbody>
</table>
<div id='repslist' name='repslist' style='display:none' >
<table><tr><td>
<SELECT NAME="savedRepName" id="savedRepName"  class="inputControl">  
		<option value="-1">---UNASSIGN---</option>
		<#if repResult?exists >
		<#list  repResult.data as repRow> 
		<option value="${repRow[0].value}">${repRow[1].value!''}</option> 
		</#list>
		</#if> 
</SELECT></td></tr></table>
</div>
</#if>


<#if generatedLeadSheetIds?exists>
	<script type="text/javascript">
	 	unSavedLeadSheets = unSavedLeadSheets +"," +'${leadSheetIds}';
	</script>
</#if>


<#if generatedLeadsCount?exists>
<table  border="0" class="crmWidth" >
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr>
		<td width="50%">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td height="20px" style="width:350px;padding-left:20px;">Number of leads in the Generated Leads section:&nbsp;&nbsp;</td>
						<td align="left"><#if generatedCount?exists><b>${generatedCount!0}</b><#else><b>0</b></#if></td>
					</tr>
			  </tbody>
			</table>
		</td>
	</tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>	
</table>
</#if>

<#if savedLeadsCount?exists>
<table  border="0" class="crmWidth" >
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr>
		<td width="50%">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td height="20px" style="width:350px;padding-left:20px;">Number of leads in the Saved Lead Sheets- In Progress section:&nbsp;&nbsp;</td>
						<td align="left"><#if savedCount?exists><b>${savedCount}</b><#else><b>0</b></#if></td>
					</tr>
			  </tbody>
			</table>
		</td>
	</tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>	
</table>
</#if>
