<#if campaignSelector?exists>
	<table border="0">
		<tr>
			<td>Select Campaign:&nbsp;</td>
			<td>
				<SELECT name="campaignID" id="campaignID"
					style="width: 180px;" class="inputControl"
					onchange="javascript:checkCustomController();">
					<option value="-1">-Select-</option>
					<#list result.data as row>
					<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
				</SELECT>
			</td>
		</tr>
	</table>
</#if>
<#if iclSelector?exists>
	<table border="0">
		<tr>
			<td>Select ICL Name:&nbsp;</td>
			<td><SELECT id="iclID" style="width: 180px;" name="iclID"
				onchange="javascript:territoryType='-1';$('#viewByTerritory').val('-1');loadTerritoryTracker();">
				<option value="-1">-Select-</option>
				<#list result.data as row>
				<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
				</#list>
			</SELECT></td>
		</tr>
	</table>
</#if>
<#if iclTerritoryList?exists>
	<table align='center'>
		<tr>	<td >&nbsp;</td></tr>
	</table>
	<DIV style='width:1255px;max-width:1255px'>
	<table border="2" cellspacing="0" cellpadding="0" style='border-collapse: collapse;' class="reportlist">
		<tr>
			<th style='width:100px;max-width:100px'><a id="SALES_REPS" style="cursor: pointer;" onclick="">Sales Reps</a><span id='span_SALES_REPS'></span></th>
			<th style='width:60px;max-width:60px'><a id="CLOSED_DT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('CLOSED_DT','3');">Closed Date</a><span id='span_CLOSED_DT'></span></th>
			<th style='width:60px;max-width:60px'><a id="DTBW" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('DTBW','3');">Date to be worked</a><span id='span_DTBW'></span></th>
			<#if territoryType?exists && territoryType!='-1'>
				<th style='width:60px;max-width:60px'>
				<a id="TERRITORY" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('TERRITORY','2');">
					${territoryType?replace('CLLI','Wire Center','r')?replace('\\|',' & ','r')}
				</a>
				<span id='span_TERRITORY'></span></th>
			<#else>
				<th style='width:60px;max-width:60px'><a id="ZIP" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('ZIP','2');">Zip</a><span id='span_ZIP'></span></th>
			</#if>
			<th style='width:90px;max-width:90px'><a id="TOWN" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('TOWN','2');">Town</a><span id='span_TOWN'></span></th>
			<th style='width:45px;max-width:45px'><a id="DISTANCE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('DISTANCE','1');">Distance</a><span id='span_DISTANCE'></span></th>
			<th style='width:30px;max-width:30px'><a id="TOTAL" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('TOTAL','1');">Total</a><span id='span_TOTAL'></span></th>
			<th style='width:70px;max-width:70px'><a id="SHARED_BY" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('SHARED_BY','2');">Shared By</a><span id='span_SHARED_BY'></span></th>
			<th style='width:45px;max-width:45px'><a id="NUMBER_OF_SHARED_LEADS" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('NUMBER_OF_SHARED_LEADS','1');">Number of Shared Leads</a><span id='span_NUMBER_OF_SHARED_LEADS'></span></th>
			<th style='width:25px;max-width:25px'><a id="FIOS_DATA" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('FIOS_DATA','1');">FIOS Data</a><span id='span_FIOS_DATA'></span></th>
			<th style='width:50px;max-width:50px'><a id="FIOS_MIGRATION" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('FIOS_MIGRATION','1');">FIOS Migration</a><span id='span_FIOS_MIGRATION'></span></th>
			<th style='width:25px;max-width:25px'><a id="FIOS_TV" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('FIOS_TV','1');">FIOS TV</a><span id='span_FIOS_TV'></span></th>
			<th style='width:45px;max-width:45px'><a id="WINBACK" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('WINBACK','1');">Winback</a><span id='span_WINBACK'></span></th>
		    <th style='width:27px;max-width:27px'><a id="HSI" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('HSI','1');">HSI</a><span id='span_ZIP'></span></th>
			<th style='width:50px;max-width:50px'><a id="TDMSDB3" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('TDMSDB3','1');">Total DSL Max Speed Download Below3</a><span id='span_TDMSDB3'></span></th>
			<th style='width:50px;max-width:50px'><a id="TDMSDA3" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('TDMSDA3','1');">Total DSL Max Speed Download Equal to or Above3</a><span id='span_TDMSDA3'></span></th>
			<th style='width:45px;max-width:45px'><a id="VOICEONLY" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('VOICEONLY','1');">Voice Only</a><span id='span_VOICEONLY'></span></th>
			<th style='width:45px;max-width:45px'><a id="DIFFINCOUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable('DIFFINCOUNT','1');">Diff in count</a><span id='span_DIFFINCOUNT'></span></th>
			<th style='width:80px;max-width:80px'>Notes</th>
			<th style='width:35px;max-width:35px'>History</th>
		</tr>
		</table>
		</DIV>
		<DIV style='height:680px;overflow:auto;overflow-y:scroll;max-height:680px;width:1255px;max-width:1255px'>
		<table border="2" cellspacing="0" cellpadding="0" style='border-collapse: collapse;' class="reportlist" >
		<#if result?exists>
		<#list result as reportData>
			<#if reportData.diffInCount?exists && reportData.diffInCount&gt;200>
			<tr bgcolor="#98FF98">
			<#else>
			<tr>
			</#if>	
				<td style='width:100px;max-width:100px;word-wrap:break-word;'><#if reportData.currentRep?exists>${reportData.currentRep}</#if></td>
				<td style='width:60px;max-width:60px;word-wrap:break-word;'><#if reportData.closedDate?exists>${reportData.closedDate}</#if></td>
				<td style='width:60px;max-width:60px;word-wrap:break-word;'><#if reportData.dateToBeWorked?exists>${reportData.dateToBeWorked}</#if></td>
				<td style='width:60px;max-width:60px;word-wrap:break-word;'><#if reportData.territoryName?exists>${reportData.territoryName}</#if></td>
<!-- 				<td style='width:30px;max-width:30px;word-wrap:break-word;'><#if reportData.zip?exists>${reportData.zip}</#if></td> -->
				<td style='width:90px;max-width:90px;word-wrap:break-word;'><#if reportData.town?exists>${reportData.town}</#if></td>
				<td style='width:45px;max-width:45px;word-wrap:break-word;'><#if reportData.distance?exists>${reportData.distance}</#if></td>
				<td style='width:30px;max-width:30px;word-wrap:break-word;'><#if reportData.total?exists>${reportData.total}</#if></td>
				<td style='width:70px;max-width:70px;word-wrap:break-word;'><#if reportData.sharedBy?exists>${reportData.sharedBy}</#if></td>
				<td style='width:45px;max-width:45px;word-wrap:break-word;'><#if reportData.numOfSharedLeads?exists>${reportData.numOfSharedLeads}</#if></td>
				<td style='width:25px;max-width:25px;word-wrap:break-word;'><#if reportData.fiosData?exists>${reportData.fiosData}</#if></td>
				<td style='width:50px;max-width:50px;word-wrap:break-word;'><#if reportData.fiosMigration?exists>${reportData.fiosMigration}</#if></td>
				<td style='width:25px;max-width:25px;word-wrap:break-word;'><#if reportData.fiosTV?exists>${reportData.fiosTV}</#if></td>
				<td style='width:45px;max-width:45px;word-wrap:break-word;'><#if reportData.winback?exists>${reportData.winback}</#if></td>
			    <td style='width:27px;max-width:27px;word-wrap:break-word;'><#if reportData.hsi?exists>${reportData.hsi}</#if></td>
				<td style='width:50px;max-width:50px;word-wrap:break-word;'><#if reportData.totalMaxSpeedDnLoadBelow3?exists>${reportData.totalMaxSpeedDnLoadBelow3}</#if></td>
				<td style='width:50px;max-width:50px;word-wrap:break-word;'><#if reportData.totalMaxSpeedDnLoadAbove3?exists>${reportData.totalMaxSpeedDnLoadAbove3}</#if></td>
				<td style='width:45px;max-width:45px;word-wrap:break-word;'><#if reportData.voiceOnly?exists>${reportData.voiceOnly}</#if></td>
				<td style='width:45px;max-width:45px;word-wrap:break-word;'>
					<#if reportData.diffInCount?exists><#if reportData.diffInCount&gt;0>+</#if>${reportData.diffInCount}</#if>
				</td>
				<#if reportData.notes?exists>
				<td style='width:80px;max-width:80px;word-wrap:break-word;'>
					<table>
					<tr>
						<td align="left"><#if reportData.notes?length &gt; 10>
							${reportData.notes?substring(0,9)}
							<#else>
							${reportData.notes}
							</#if>
							<input type="image" align="right" src="assets/images/Notes.png" alt="Notes"
							onclick="javascript:displayNotes('${reportData.zip}','${reportData.clli}');">
						</td>
					</tr>
					</table>
				</td>
				<#else>
				<td style='width:80px;max-width:80px;word-wrap:break-word;' align="right">
				<#if reportData.zip?exists && reportData.clli?exists>
					<input type="image" src="assets/images/Notes.png" alt="Notes"
						 onclick="javascript:displayNotes('${reportData.zip}','${reportData.clli}');">	
				<#else>
										<input type="image" src="assets/images/Notes.png" alt="Notes"
						 onclick="javascript:displayNotes('${reportData.zip}','${reportData.clli}');">	
				</#if>		
				</td>
				</#if>
				<td style='width:18px;max-width:18px'><input type="image" src="assets/images/His.png" alt="History"
						onclick="javascript:displayHistory('${reportData.zip}','${reportData.clli}');">
				</td>			
			</tr>
			</#list>
		<#else>
			<tr><td colspan="9">No Records to Display</td></tr>
		</#if>
	</table>
	</DIV>
</#if>

<#if displayICLNotes?exists>
	<table border="0">
		<tr>
			<td align="center">
				<textarea name="notes" rows="10" cols="35" readonly="readonly" style="overflow:scroll;resize:none">
				<#compress>
				<#if result?exists>
					<#list result as notes>
						<#if notes?exists>${notes}</#if>
					</#list>
				</#if>
				</textarea>
				</#compress>
				
			</td>
		</tr>
		<tr>
			<td align="left">
				<textarea name="editNotes" id="editNotes" rows="3" cols="35">Enter Text Here
				</textarea>
			</td>
		</tr>
		<tr>
			<table border="0">
			<tr>
				<td align="left"><input type="submit" name="saveNotes" id="saveNotes" value="Save Notes" onclick="javascript:saveNotes('${zip}','${clli}');" class="buttonTD"></td>
				<td></td>
				<td align="left"><input type="submit" name="cancelNotes" value="Close" onclick="javascript:cancel();" class="buttonTD"></td>
			</tr>
			</table>
		</tr>
	</table>
</#if>

<#if displayICLHistory?exists>
	<table border="0" width="100%">
		<tr>
			<td align="right"><input type="submit" name="cancelNotes" value="X" onclick="javascript:cancel();" class="buttonTD"></td>
		</tr>
		<tr >
			<td align="center">
				<table border="1" width="100%">
				<#compress>
					<#if result?exists>
						<tr border="1">
							<th >REP NAME</th>
							<th >Start Date (YYYY.MM.dd)</th>
							<th >Close Date (YYYY.MM.dd)</th>
						</tr>
						<#list result as history>
							<tr border="1">
								<#list history?split(",") as x>
									<td >${x}</td>
								</#list>
							</tr>
						</#list>
					<#else>
					<tr><td>No records</td></tr>
					</#if>
				</#compress>
				</table>
			</td>
		</tr>
	</table>
</#if>

