<#if showCampaignMap?exists>
<tr><td>
	<div id="tempMapHolder"  name="tempMapHolder"></div>
	<script type="text/javascript">
	try{
		clearPolylines();	
		clearMarkers();
	}catch(e){
	}
	showMap();
	resizeMap(800);
		mapRequired = "true";   
		// Now Load Map
		loadMap();
		createMapControls();
		markerControlEnabled = "true";
		polygonControlEnabled = "true";
		polylineControlEnabled = "true";	
		addControls();
	</script>	
</td></tr>	
</#if>

<#if iclRepDetailsSelector?exists>
<script type="text/javascript">
	
	function iclRepDetailsSelector() {
		var params = {
			pageName :"ICLRepLeadManagement",
			controlName :"iclRepDetailsSelector"
		}
		var url = "uiController";
		loadControl(url, params, iclRepDetailsSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function iclRepDetailsSelectorLoaded(data) {
		$("#iclRepDetailsSelector").children().remove();
		$("#iclRepDetailsSelector").append(data);
		refreshIclRepLeadSheetHistoryTableTable();
	}

	// Call back function when Campaign is loaded
	function iclRepLeadSheetHistoryTableLoaded(data){
		$("#iclRepLeadSheetHistoryTable").children().remove();
		$("#iclRepLeadSheetHistoryTable").append(data);
	} 

	function refreshIclRepLeadSheetHistoryTableTable(){
		var params = {pageName : "ICLRepLeadManagement",controlName :"iclRepLeadSheetHistoryTable"}
		var url = "uiController";
	

		loadControl(url,params,iclRepLeadSheetHistoryTableLoaded);
	}
	</script>	
<tr><td>
<TABLE cellpadding="1" cellspacing="0" style="width: 800px;" class="tb">
	<TBODY>
		<TR valign="center">
			<TD><A onClick="Toggle(this,document.getElementById('def1'))"
				id="GroupTwo" style="CURSOR: hand"> <IMG
				SRC="assets/images/hideshow_infoshown_grayscale.gif"> </A>ICL Rep
			Details</td>
		</tr>
	</TBODY>
</TABLE>

<div id="iclRepDetailsSelector" name="iclRepDetailsSelector"></div>
<script type="text/javascript">
iclRepDetailsSelector();
</script>	
</td></tr>
</#if>

 <#if iclRepLeadSheetHistoryTable?exists>
	<tr><td>
	<TABLE cellpadding="1" cellspacing="0" style="width:800px" class="tb">
	<TBODY>
	<TR valign="center"> 
	<TD>
		<A onClick="Toggle(this,document.getElementById('def2'))" id="GroupTwo" style="CURSOR: hand">
			  <IMG SRC="assets/images/hideshow_infoshown_grayscale.gif">		   
			  </A> ICL Rep Lead Sheet History </TD>
			  </TR>
			  </TBODY>
			  </TABLE> 
		<div id = "iclRepLeadSheetHistoryTable" name="iclRepLeadSheetHistoryTable"></div>
	</td></tr>
	</table>
	</#if> 

