<#if clearPage?exists>
	<script type="text/javascript">
		$('#pageHolder').children().remove();
	</script>
		</table>
</#if>




<#if iclRepInformationSelector?exists>

						  <DIV id="def1">
						  <table  border=0  cellpadding="0" cellspacing="0" style="width:800px;">
								<tr>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
								<TABLE  border=1 style='width:600px;height:130px;' cellpadding="0" cellspacing="0"> 
								  <TR align="center">
									<TD><B>A</B> - Address Validation Issue</TD>
									<TD><B>F</B> - Failed Credit</TD>
									<TD><B>O</B> - Other "non-Workable"</TD>
								 </TR>
								 <TR align="center">
									<TD><B>B</B> - Business/Commercial</TD>
									<TD><B>G</B> - Gated No Access</TD>
									<TD><B>P</B> - Pricing Not Competitive</TD>
								 </TR>
								 <TR align="center">
									<TD><B>C</B> - Competitor Contract</TD>
									<TD><B>H</B> - Not Home</TD>
									<TD><B>S</B> - Sale</TD>
								 </TR>
								 <TR align="center">
									<TD><B>CD</B> - Competing DSL Company</TD>
									<TD><B>L</B> - Language Barrier</TD>
									<TD><B>V</B> - Vacant Lot/ No House</TD>
								 </TR>
								 
								<TR align="center">
									<TD><B>D</B> - Asked to be on 'Do Not Knock' list</TD>
									<TD><B>M</B> - Medium Credit No Credit Card</TD>
									<TD><B>W</B> - Worked Previously</TD>
								</TR>
								<TR align="center">
									<TD><B>E</B> - Existing U-Verse Customer</TD>
									<TD><B>N</B> - Not Interested</TD>
									<TD>&nbsp;</TD>
								</TR>
								</TABLE>
								</td>
								<td>
								<table >
								<tr>
								<td align="right">
								Rep Name:</td><td>
								<SELECT NAME="Campaign" style="width:100px;" class="inputControl">
									<OPTION VALUE="qw" SELECTED>John Smith</OPTION>
									<OPTION VALUE="dfgdg"> </OPTION>
								</SELECT>
								</td>
								</tr>
								<tr>
								<td align="right">
								Rep Code: </td><td><INPUT TYPE="text" NAME="" value="01/10/2009" size=8 class="inputControl">
								</td>
								</tr>
								<tr>
								<td align="right">
								Last Worked:</td><td><INPUT TYPE="text" NAME="" value="02/10/2009" size=8 class="inputControl">
								</td>
								</tr>
								<tr>
								<td align="right">
								Date Distributed:</td><td><INPUT TYPE="text" NAME="" value="03/10/2009" size=8 class="inputControl">
								</td>
								</tr>
								<tr>
								<td align="right">
								Date Turned On:</td><td> <INPUT TYPE="text" NAME="" value="04/10/2009" size=8 class="inputControl">
								</td>
								</tr>
			
								</table>
								</td>
								</tr>
								</table>
						  </DIV>
		 	 </td>
		  </tr>
 </#if>


<#if leadListTable?exists>
 <DIV id="def2">
	<table  border=2 cellspacing=0 cellpadding=0 style='border-collapse:collapse;width:800px;' class="list">
		<thead>
				 <tr> 
				  <th >Customer Name
				  </th>
				  <th >Street Address
				  </th>
				  <th >Apt# 
				  </th>
				  <th >City 
				  </th>
				  <th >Zip
				  </th>
				  <th> DA
				  </th>
				  <th >Lead ID
				  </th>
				  <th >1
				  </th>
				  <th >2
				  </th>
				  <th >3
				  </th>
				  <th >DM
				  </th>
				  <th >Disposition
				  </th>
				  <th >Notes
				  </th>
				 </tr> 
		</thead>
		<tbody>
			<#list result.data as row>
			<tr>
			    <td><input type="checkbox" name="iclCheckbox"  value="${row[0].value}" onclick="javascript:showTerritory();" /></td>
				<td><a onclick="javascript:goToICLAdmin('${row[0].value}');">Edit</a></td>
				<#list row as column> <#if (column_index == 1)> <#else>
				<td>${column.value}</td>
				</#if> </#list>
			</tr>
			</#list>
		</tbody>
	</table>
	</DIV>
				 
	</#if>



				
			 