
<#if iclRepDetailsSelector?exists>
<DIV id="def1"> 

			<table  border=0 cellspacing=0 cellpadding=0 style="width:800px;">
			 <tbody>
			  <tr  height=30>
			   <td ></td>
			  <td align="right"><b>Rep Name: </b>&nbsp;</td> 
			 <td><INPUT TYPE="text" NAME="" size=20 value="input Text" class="inputControl" ></td>
			<td></td> 
			 <td align="right"><b>ICL Name: &nbsp; </b></td>
			 <td><INPUT TYPE="text" NAME="" size=20 value="input Text"  class="inputControl"></td>
			 </tr>

			 <tr  height=30>
			 <td ></td>
			 <td align="right"><b>Hire Date: &nbsp; </b></td>
			 <td> <INPUT TYPE="text" NAME="" size=20  value="input Text" class="inputControl" id="tname">
			 </td>
			<td></td> 
			<td  align="right"><b>Territory Assigned: &nbsp;</b></td> 
			 <td><INPUT TYPE="text" NAME="" size=20 value="input Text" class="inputControl">
			</SELECT></td>
			 </tr>

			<tr  height=30>
			 <td ></td>
			 <td align="right"><b>Hire Status: &nbsp; </b></td>
			 <td> <SELECT NAME="hire" style="width:100px;" class="inputControl">
				<OPTION VALUE="qw" SELECTED>Active</OPTION>
				<OPTION VALUE="dfgdg"> </OPTION>
			</SELECT>
			 </td>
			<td></td> 
			<td  align="right"><b>Territory Assigned Date: &nbsp;</b></td> 
			 <td><INPUT TYPE="text" NAME="" size=20 value="input Text" class="inputControl">
			</SELECT></td>
			 </tr>
			
			
			<tr  height=30>
			 <td ></td>
			 <td align="right"><b>On Road Trip: &nbsp; </b></td>
			 <td> <SELECT NAME="hire" style="width:100px;" class="inputControl">
				<OPTION VALUE="qw" SELECTED>Yes</OPTION>
				<OPTION VALUE="dfgdg"> No</OPTION>
			</SELECT>
			 </td>
			<td></td> 
			<td  align="right"><b>Total Lead Assigned: &nbsp;</b></td> 
			 <td><INPUT TYPE="text" NAME="" size=20 value="input Text" class="inputControl">
			</SELECT></td>
			 </tr>
			 </tbody>	
</table>
		</DIV>
	 </#if>
	 
	 
<#if iclRepLeadSheetHistoryTable?exists>
 <DIV id="def2">
<table id="data" cellspacing="0" cellpadding="0" border="2" class="list" style="border-collapse: collapse;width:800px;">
		<thead>
			<tr>
				  <th> 
				  </th>
				  <th> Lead Sheet ID
				  </th>
				  <th >Assigned Date
				  </th>
				  <th >Returned Date
				  </th>
				  <th ># of Leads
				  </th>
				  <th >Leads Dispositioned
				  </th>
				  <th >View Lead Sheet
				  </th>
				 </tr> 
		</thead>
		<tbody>
			<#list result.data as row>
			<tr>
			    <td><input type="checkbox" name="iclCheckbox"  value="${row[0].value}" onclick="javascript:showTerritory();" /></td>
				<td><a onclick="javascript:goToICLAdmin('${row[0].value}');">Edit</a></td>
				<#list row as column> <#if (column_index == 1)> <#else>
				<td>${column.value}</td>
				</#if> </#list>
			</tr>
			</#list>
		</tbody>
	</table>
	</DIV>
	</#if> 