<#if iclRepInformationSelector?exists>
<script type="text/javascript">

	function iclRepInformationSelector() {
		var params = {
			pageName :"ICLRepInformation",
			controlName :"iclRepInformationSelector"
		}
		var url = "uiController";
		loadControl(url, params, iclRepInformationSelectorLoaded);
	}
	// Call back function when Campaign is loaded
	function iclRepInformationSelectorLoaded(data) {
		$("#iclRepInformationSelector").children().remove();
		$("#iclRepInformationSelector").append(data);
		refreshLeadListTable();
	}

	// Call back function when Campaign is loaded
	function leadListTableLoaded(data){
		$("#leadListTable").children().remove();
		$("#leadListTable").append(data);
	}

	function refreshLeadListTable(){
		var params = {pageName : "ICLRepInformation",controlName :"leadListTable"}
		var url = "uiController";

		loadControl(url,params,leadListTableLoaded);
	}


	</script>
<tr><td>
			<div class="hltb">
			<table cellspacing="0" cellpadding="0" border="0" width="800px;">
			<tbody>
			<tr>
			<td width="2%">
			<ul class="piped-list piped-list-left piped-list-view-left">
			<li class="first">
			<h4 id="ocTitleFieldLabel">
			Lead Sheet 1
			<span id="ocTitleField"/>
			</h4>
			</li>
			</ul>
			</td>
			<td> </td>
			<td width="35%">
			<div align="right">
			</div>
			</td>
			</tr>
			</tbody>
			</table>
			</div>
			</td>
			</tr>
			<tr>
			<td>

				<TABLE cellpadding="1" cellspacing="0" style="width:800px;">
					<TBODY>
					<TR valign="center">
					  <TD>
						<A onClick="Toggle(this,document.getElementById('def1'))" id="GroupTwo" style="CURSOR: hand">
						  <IMG SRC="assets/images/hideshow_infoshown_grayscale.gif">
						  </A>&nbsp;&nbsp; Campaign ICL Territory Management </td>
						  </tr>
						  </tbody>
						  </table>
						  <hr size="1" align="left"  color="black">
						  <div id="iclRepInformationSelector" name="iclRepInformationSelector"></div>
		 	 </td>
		  </tr>
		  <script type="text/javascript">
		  iclRepInformationSelector();
		  </script>
 </#if>


<#if leadListTable?exists>
<tr>
<td>
<TABLE cellpadding="1" cellspacing="0" style="width:800px;" class="tb">
		<TBODY>
		<TR valign="center">
		  <TD>
			<A onClick="Toggle(this,document.getElementById('def2'))" id="GroupTwo" style="CURSOR: hand">
			  <IMG SRC="images/hideshow_infoshown_grayscale.gif">
			  </A>&nbsp;&nbsp; Lead List </td>
			  </tr>
			  </tbody>
			  </table>



		<div id="leadListTable" name="leadListTable"></div>
</td>
</tr>
</#if>

<#if showCampaignMap?exists>
<tr><td colspan=2>
	<div id="tempMapHolder"  name="tempMapHolder"></div>
	<script type="text/javascript">
	try{
		clearPolylines();
		clearMarkers();
	}catch(e){
	}
	showMap();
	resizeMap(800);
		mapRequired = "true";
		// Now Load Map
		loadMap();
		createMapControls();
		markerControlEnabled = "true";
		polygonControlEnabled = "true";
		polylineControlEnabled = "true";
		addControls();
	</script>
	<div align="center" style="width:800px;padding-top:30px;">
				<INPUT TYPE="submit" value="Print Lead Sheet" class="buttonTD">&nbsp;&nbsp;
				<INPUT TYPE="submit" value="Close" class="buttonTD">
				</div>

</td></tr>
</#if>

