<script type="text/javascript"></script> 
<#if campaignSelector?exists> 
				<SELECT name="campaignID" id="campaignID" style="width: 180px;"
				class="inputControl" onchange="javascript:loadTemplateSelector();">
				<option value="-1">-Select-</option>
				<#list result.data as row>
				<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
				</#list>
			</SELECT>  
</#if>		
		<#if templateSelector?exists>  
				<SELECT id="templateID" style="width: 150px;" name="templateID" class="inputControl"
				onchange="javascript:loadTemplateDetails();">
				<#list result.data as row>
				<option value="${row[0].value}">${row[0].value!''}</option>
				</#list>
			</SELECT> 
		</#if>
<#if selectedTemplateDetails?exists>

<table cellpadding="0" cellspacing="0"  class="crmWidth">
  <tbody>
    <tr><td>&nbsp;</td></tr>
    <tr>
	<td style="padding-left:20px;">
			<table border="0" width="100%">
				<tbody>
					<tr>
						<td colspan="4" style="padding-left:30px;">
							<table border="0">
								<tr>
									<td class="fl" style="vertical-align:middle">Template Name:&nbsp;&nbsp;</td>
									<td class="fv" style="vertical-align:middle"><input type="text" <#if templateName?exists>  value="${templateName!''}" </#if> id="templateName" name="templateName" class="inputControl" size="30"></input></td>
								</tr>
								<tr><td colspan="2">&nbsp;</td></tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="width: 250px;" colspan="6">&nbsp;&nbsp;&nbsp;&nbsp;<input name="AssignLeadsByInICL" id="AssignLeadsByInICL" <#if AssignLeadsByInICL?exists>  checked="checked" </#if> type="checkbox"/>&nbsp;&nbsp;Assign Leads by ICL Territory Boundary</td>
					</tr>
					<tr>
						<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input name="checkMaxDistanceOfficeInICL" id="checkMaxDistanceOfficeInICL" <#if MaxDistanceOfficeInICL?exists>  checked="checked" </#if> type="checkbox"/>&nbsp;&nbsp;Max Distance from Office(in miles):</td>
						<td colspan="2"><input name="MaxDistanceOfficeInICL"  id="MaxDistanceOfficeInICL" size="14"  class="inputControl" type="text" <#if MaxDistanceOfficeInICL?exists>  value="${MaxDistanceOfficeInICL!''}"</#if> /></td>

					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="checkNoOfLeadsInICL" id="checkNoOfLeadsInICL" <#if minNoOfLeadsInICL?exists || maxNoOfLeadsInICL?exists> checked="checked" </#if> type="checkbox">&nbsp;&nbsp;Number of Leads in an ICL</td>
						<td width="10px">Minimum<br><input name="minNoOfLeadsInICL" id="minNoOfLeadsInICL" size="5" <#if minNoOfLeadsInICL?exists>  value="${minNoOfLeadsInICL!''}" </#if> class="inputControl" type="text"/></td>
						<td align="left">Maximum<br><input name="maxNoOfLeadsInICL" id="maxNoOfLeadsInICL" size="5" <#if maxNoOfLeadsInICL?exists>  value="${maxNoOfLeadsInICL!''}" </#if> class="inputControl" type="text"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
	</div>
	</td>
	</tr>
	</tbody>
</table>
</#if>