<#if leadUploadHistoryTable?exists>
<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px;" class="crmWidth">
	<tr>
		<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tbody>
				<tr>
					<td >
					<ul class="piped-list piped-list-left piped-list-view-left">
						<li class="first">
						<h4 style="font-size: 20pt;font-family:Times New Roman;font-weight: bold;color: maroon">LION - Dashboard</h4>
						</li>
					</ul>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
		</td>
	</tr>
<script type="text/javascript">
	var sortedColumns= new Array();
	//clientKey = "${clientKey!''}";
	function campaignSelectorLoaded(data) {
		$("#campaignSelector").children().remove();
		$("#campaignSelector").append(data);
	}

	function loadCampaignSelector() {
		var params = {
			pageName :"IMSDashboard",
			controlName :"campaignSelector"
		}
		var url = "uiController";
		loadControl(url, params, campaignSelectorLoaded);
	}
	// Call back function when Campaign is loaded
	function leadUploadHistoryTableLoaded(data){
		$("#leadUploadHistoryTable").children().remove();
		$("#leadUploadHistoryTable").append(data);
		setSortOrderImage('leadUploadHistoryTable',sortedColumns);
	}

	function refreshleadUploadHistoryTable(pageNumber,columnName){
		var campainId ='';
		if(document.getElementById("campaignID")){
			campainId = document.getElementById("campaignID").value;
		}
		var ownerName = '';
		if(document.getElementById("ownerName")){
			ownerName = document.getElementById("ownerName").value;
		}
		var uploadedStartDate = '';
		if(document.getElementById("uploadStartDate")){
			uploadedStartDate = document.getElementById("uploadStartDate").value
		}
		var uploadedEndDate = '';
		if(document.getElementById("uploadEndDate")){
			uploadedEndDate = document.getElementById("uploadEndDate").value;
		}
		if(uploadedEndDate != '')
			uploadedEndDate = uploadedEndDate + ' 11:59:59 PM';

		/*if(document.getElementById('appProfiles')){
			clientKey = document.getElementById('appProfiles').value;
		}*/
		
		if(pageNumber != undefined){
		var params = {
				pageName : "IMSDashboard",
				controlName :"leadUploadHistoryTable",
				pageNumber : pageNumber,
				sortingColumn : columnName,
				campainId : campainId,
				ownerName : ownerName ,
				uploadedStartDate : uploadedStartDate,
				uploadedEndDate :uploadedEndDate
		}
		}else{
			var params = {
					pageName : "IMSDashboard",
					controlName :"leadUploadHistoryTable",
					campainId : campainId,
					ownerName : ownerName ,
					uploadedStartDate : uploadedStartDate,
					uploadedEndDate :uploadedEndDate
			}
		}
		var url = "uiController";
		loadPaginatedTable(url,params,leadUploadHistoryTableLoaded,pageNumber);
	}

	function exportReport(reportType,runId) {

		var clientkey_fromurl=getClientKeyFromUrl();
		//alert("clientKey:"+clientkey_fromurl);
		
		var url = "reportServlet?queryString=SELECT_IMS_DASHBOARD_BY_RUNID&reportName=IMS_Dashboard&reportType="+reportType+"&runId="+runId+"&clientKey="+clientkey_fromurl;


		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

		var mywindow = window.open (url,
				  "Report","location=1,status=1,scrollbars=1, width=800,height=800");
				  mywindow.moveTo(0,0);
	}


	</script>
<tr>
	<td align="left">
		<table cellpadding="1" cellspacing="0" class="tb" style="width: 100%">
			<tbody>
				<tr valign="center">
					<td>&nbsp;Leads Status - In-Progress Leads by Campaign</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>

<tr>
	<td>
<table border="0" cellpadding="1" cellspacing="0" class="crmWidth">
	<tr>
		<td align="center" width="30%"><table><tr><td>Select Campaign:&nbsp;</td><td> <div id="campaignSelector" name="campaignSelector"></div></td></tr></table>		</td>
		<td align="center" width="15%">Owner:&nbsp;
		   <input type="text" id="ownerName" 
		       class="inputControl" ></input>
		</td>
		<td  align="center" width="20%">Upload Start Date:&nbsp;<INPUT TYPE="text" NAME="" size="12"  readonly="true" class="inputControl" id="uploadStartDate">
			<script language="javaScript">
				$("#uploadStartDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
			</script>
		</td>
		<td align="center"  width="20%">Upload End Date:&nbsp;
		<INPUT TYPE="text" NAME="" size="12"  readonly="true" class="inputControl" id="uploadEndDate">
			<script language="javaScript">
				$("#uploadEndDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
			</script>
		</td>
		<td  align="center" width="10%"><INPUT TYPE="submit" style="width:50px" value="Go" class="buttonTD" onclick="javascript:sortedColumns= new Array();refreshleadUploadHistoryTable();">	</td>
	</tr>

</table>

	</td>
</tr>
<tr>
	<td>
		<div id="leadUploadHistoryTable" name="leadUploadHistoryTable" class="crmWidth">
	<#if GlobalContext.crmContext.accessLinks == 'Application Administrator'>
		<table cellspacing=0 cellpadding=0 class="list" width="100%">
			<thead>
				<tr>
					<th><a id="UPLOAD_FILENAME" style="text-decoration:underline;cursor: pointer;" >Upload File Name<span id='span_UPLOAD_FILENAME'></span></th>
					<th><a id="CAMPAIGN_NAME" style="text-decoration:underline;cursor: pointer;" >Campaign<span id='span_CAMPAIGN_NAME'></span></th>
					<th><a id="LEAD_OWNER" style="text-decoration:underline;cursor: pointer;" >Owner<span id='span_LEAD_OWNER'></span></th>
					<th><a id="RELEASE_DATE" style="text-decoration:underline;cursor: pointer;" >Release Date<span id='span_RELEASE_DATE'></span></th>
					<th><a id="ERROR_COUNT" style="text-decoration:underline;cursor: pointer;" >E<span id='span_ERROR_COUNT'></span></th>
					<th><a id="INACTIVE_COUNT" style="text-decoration:underline;cursor: pointer;" >I<span id='span_INACTIVE_COUNT'></span></th>
					<th><a id="DISABLED_COUNT" style="text-decoration:underline;cursor: pointer;" >D<span id='span_DISABLED_COUNT'></span></th>
					<th><a id="SAVED_COUNT" style="text-decoration:underline;cursor: pointer;" >S<span id='span_SAVED_COUNT'></span></th>
					<th><a id="AVAILABLE_COUNT" style="text-decoration:underline;cursor: pointer;" >A<span id='span_AVAILABLE_COUNT'></span></th>
					<th><a id="TOTAT_COUNT" style="text-decoration:underline;cursor: pointer;" >Total<span id='span_TOTAT_COUNT'></span></th>
					<th><a id="UPLOAD_DATE" style="text-decoration:underline;cursor: pointer;" >Upload Date<span id='span_UPLOAD_DATE'></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
					<tr><td colspan="12">&nbsp;</td></tr>
					<tr>
						<td colspan="12" align="center">
							<ul class="piped-list piped-list-left piped-list-view-left">
								<li class="first">
									<b>E</b>=Errored Leads
								</li>
								<li>
									<b>I</b>=Inactive Leads
								</li>
								<li>
									<b>D</b>=Disabled Leads
								</li>
								<li>
									<b>S</b>=Leads Saved in Lead Sheets
								</li>
								<li>
									<b>A</b>=Leads Available for Lead Sheets
								</li>
							</ul>
						</td>
					</tr>
			</tbody>
		</table>
	<#else>
		<table cellspacing=0 cellpadding=0 class="list" width="100%">
			<thead>
				<tr>
					<th><a id="${tableName}_CAMPAIGN_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Campaign Name</a><span id='span_${tableName}_CAMPAIGN_NAME'></span></th>
					<th><a id="${tableName}_ICL_CODE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Code</a><span id='span_${tableName}_ICL_CODE'></span></th>
					<th><a id="${tableName}_OFFICE_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Name</a><span id='span_${tableName}_OFFICE_NAME'></span></th>
					<th><a id="${tableName}_LEAD_SHEET_ID" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Lead Sheet ID</a><span id='span_${tableName}_LEAD_SHEET_ID'></span></th>
					<th><a id="${tableName}_AGENT_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Rep Name</a><span id='span_${tableName}_AGENT_NAME'></span></th>
					
					<th><a id="ERROR_COUNT" style="text-decoration:underline;cursor: pointer;" >E<span id='span_ERROR_COUNT'></span></th>
					<th><a id="INACTIVE_COUNT" style="text-decoration:underline;cursor: pointer;" >I<span id='span_INACTIVE_COUNT'></span></th>
					<th><a id="DISABLED_COUNT" style="text-decoration:underline;cursor: pointer;" >D<span id='span_DISABLED_COUNT'></span></th>
					<th><a id="SAVED_COUNT" style="text-decoration:underline;cursor: pointer;" >S<span id='span_SAVED_COUNT'></span></th>
					<th><a id="AVAILABLE_COUNT" style="text-decoration:underline;cursor: pointer;" >A<span id='span_AVAILABLE_COUNT'></span></th>
					
					<th><a id="${tableName}_LEAD_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Leads Count</a><span id='span_${tableName}_LEAD_COUNT'></span></th>
					<th><a id="${tableName}_MODIFIED_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Leads Upload Date</a><span id='span_${tableName}_MODIFIED_DATE'></span></th>
				</tr>
			</thead>
			<tbody>
					<tr><td colspan="12">&nbsp;</td></tr>
					<tr>
						<td colspan="12" align="center">
							<ul class="piped-list piped-list-left piped-list-view-left">
								<li class="first">
									<b>E</b>=Errored Leads
								</li>
								<li>
									<b>I</b>=Inactive Leads
								</li>
								<li>
									<b>D</b>=Disabled Leads
								</li>
								<li>
									<b>S</b>=Leads Saved in Lead Sheets
								</li>
								<li>
									<b>A</b>=Leads Available for Lead Sheets
								</li>
							</ul>
						</td>
					</tr>
			</tbody>
			
		</table>
	</#if>
		</div>
	</td>
</tr>
</table>
	 <script type="text/javascript">
		loadCampaignSelector();
		var today = new Date();
		var endDate = new Date()
		endDate.setDate(endDate.getDate()-14);

		var sDate = today.getDate()+'';
		var sMonth = (today.getMonth()+1)+'';
		var sYear = today.getFullYear();

		var eDate = endDate.getDate()+'';
		var eMonth = (endDate.getMonth()+1)+'';
		var eYear = endDate.getFullYear();

		if(sDate.length < 2){
			sDate = '0'+sDate;
		}
		if(sMonth.length < 2){
			sMonth = '0'+sMonth;
		}

		if(eDate.length < 2){
			eDate = '0'+eDate;
		}
		if(eMonth.length < 2){
			eMonth = '0'+eMonth;
		}

		$('#uploadEndDate').val(sMonth+'/'+sDate+'/'+sYear);
		$('#uploadStartDate').val(eMonth+'/'+eDate+'/'+eYear);
		  </script>

</#if>



