	<table cellspacing="0" cellpadding="0" border="0" align="center">
		<tr>

		<#if campaignSelector?exists>
			<td class="fl">Select Campaign: </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" name="campaignID" id="campaignID"  class="inputControl" onchange="javascript:checkCustomController();">
				    <option value="-1">-Select-</option>
				    <#if result?exists>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
					</#if>
				</SELECT>
			</td>
		</#if>
		<#if iclSelector?exists>
			<td class="fl">Select ICL Name:&nbsp; </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" id="iclID"  name="iclID" onchange="javascript:handleICLChange();">
					<option value="-1">-Select-</option>
					<#if result?exists>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
					</#if>
				</SELECT>
			</td>
		</#if>
		<#if templateSelector?exists>
			<td class="fl">Select Template:&nbsp; </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:150px;" id="templateID" name="templateID" onchange="javascript:onTemplateChange();">
					<#if result?exists>
					<#list  result.data as row>
						<#if row[1].value?exists && row[1].value = "DEFAULT">
						<option value="${row[0].value}" selected="selected">${row[0].value!''}</option>
						<#else>
						<option value="${row[0].value}">${row[0].value!''}</option>
						</#if>
					</#list>
					</#if>
				</SELECT>
			</td>
		</#if>
		</tr>
	</table>

<#if colorCodes?exists>
<table border="0" cellpadding="0" cellspacing="0" class="crmWidth">
  <tbody>
    <tr>
		<td valign="top" width="30%" align="center">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/yellow.png"/></td>
						<td style="vertical-align:middle">Wireless</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/blue.png"/></td>
						<td style="vertical-align:middle">Digital Voice</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/green.png"/></td>
						<td style="vertical-align:middle">DSL Current Customer</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/black.png"/></td>
						<td style="vertical-align:middle">Open MDU</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/red-dot.png"/></td>
						<td style="vertical-align:middle">No Product</td>
					</tr>
				</tbody>
			</table>
		</td>
		</tr>
	</tbody>
</table>
</#if>

<#if defaultViewDetails?exists>
<table border="0" cellpadding="0" cellspacing="0" class="crmWidth">
  <tbody>
    <tr><td>&nbsp;</td></tr>
    <tr><td style="padding-left:20px;" colspan="3">Selecting a Territory view displays polygons on the map for the selected Territory type</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
	<td style="padding-left:40px;" width="40%">
			<table border="0" width="100%">
				<tbody>
				<#if result?exists && result.data?size!=0>
					<#list result.data as row>
						
						<tr>
						<#if row[2].value?exists && row[2].value == "byZip">
							<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="byZip"  onclick="loadDefaultViewMap();" <#if row[2].value?exists && row[2].value == 'byZip'>checked="checked" <#else> </#if> type="radio"/>&nbsp;&nbsp;By ZIP</td>
						<#else>
							<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="byZip"  onclick="loadDefaultViewMap();"  type="radio"/>&nbsp;&nbsp;By ZIP</td>
						</#if>
						
						<tr>
						<#if row[2].value?exists && row[2].value == "none">
							<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="none"  onclick="loadDefaultViewMap();"  <#if row[2].value?exists && row[2].value == "none"> checked="checked" <#else> </#if> type="radio">&nbsp;&nbsp;None</td>
						<#else>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="none"  onclick="loadDefaultViewMap();"  type="radio">&nbsp;&nbsp;None</td>
						</#if>
						</tr>
					</#list>
				<#else>
				
					<tr>
						<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input  onclick="loadDefaultViewMap();" name="defaultView" value="byZip" id="byZip"  type="radio"/>&nbsp;&nbsp;By ZIP</td>
					</tr>
					
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="defaultView" value="none" id="none" type="radio" checked="checked" onclick="loadDefaultViewMap();" >&nbsp;&nbsp;None</td>
					</tr>
				</#if>
				</tbody>
			</table>
		</div>
		<br/>
	</div>
	</td>
	</tr>
	</tbody>
</table>
</#if>


<#if selectedTemplateDetails?exists>
<table  border="0" class="crmWidth" >
	<tr><td style="padding:8px"><b>Lead Sheet Rules</b>&nbsp;&nbsp;<i>(Generate lead sheets by template selected)</i></td></tr>
	<tr>
		<td style="padding-left:20px">
			<table cellpadding="1" cellspacing="0" border="0" width="100%">
				<tbody>
				<#if NoOfLeads?exists || maxLeadsByDAInSet?exists || maxLeadsByWireCenterInSet?exists || maxLeadsbyZipInSet?exists || maxLeadsByProducts?exists || maxLeadsbyNewLeadInSet?exists || maxLeadsbyLFAInSet?exists || maxLeadsbyIontInSet?exists || maxLeadsbyPropIDInSet?exists || maxLeadsbyPromoInSet?exists || maxLeadsbyCityInSet?exists  || maxLeadsbyMDUInSet?exists || maxLeadsbyiONTSSInSet?exists  || maxLeadsbyLeadProximityInSet?exists || maxLeadsbyClusterInSet?exists || maxLeadsbyClusterYNInSet?exists || maxLeadsbyBlockMduInSet?exists>
					<#if NoOfLeads?exists>
						<tr>
							<td style="width: 200px;">Number of Leads in a Lead Sheet</td>
							<td colspan="2" ><b>${NoOfLeads!''}</b></td>
						</tr>
					</#if>
					<#if maxLeadsByDAInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by CRR</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsByDAInSet?exists>Max Leads:&nbsp;<b>${maxLeadsByDAInSet!''}</b></#if></td>
						</tr>
					</#if>
					
				
					
					<#if maxLeadsByWireCenterInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by WIRECENTER</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsByWireCenterInSet?exists>Max Leads:&nbsp;<b>${maxLeadsByWireCenterInSet!''}</b></#if></td>
						</tr>
					</#if>
					<#if maxLeadsbyZipInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by ZIP</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyZipInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyZipInSet!''}</b></#if></td>
						</tr>
					</#if>
					<#if maxLeadsbyNewLeadInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by TV New </td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyNewLeadInSet?exists>Max Leads:&nbsp;<#list maxLeadsbyNewLeadInSet?split(":") as x><#if x_index == 0>${x}</#if></#list></b></#if></td>
						</tr>
						<tr>
						<td colspan="3" >
						<#list selectedTVNewsNames?split("~~") as x>
								- by ${x}<br>
						</#list>
						</td>
						</tr>
					</#if>

					<#if maxLeadsbyLFAInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by LFA</td>
							<td colspan="2" style="width: 60px;">&nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyLFAInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyLFAInSet!''}</b></#if>, Value :<b> ${LFAValue!''}</b></td>
						</tr>
					</#if>
					<#if maxLeadsbyIontInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by iONT</td>
							<td colspan="2" style="width: 60px;">&nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyIontInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyIontInSet!''}</b></#if>, Value : <b>${IontValue!''}</b></td>
						</tr>
					</#if>
					<#if maxLeadsbyPropIDInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by Property ID</td>
							<td colspan="2" style="width: 60px;">&nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyPropIDInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyPropIDInSet!''}</b></#if>, Value : <b>${PropIDValue!''}</b></td>
						</tr>
					</#if>
					<#if maxLeadsbyPromoInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by Promo</td>
							<td colspan="2" style="width: 60px;">&nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyPromoInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyPromoInSet!''}</b></#if>, Value : <b>${PromoValueText!''}</b></td>
						</tr>
					</#if>

					<#if maxLeadsbyiONTSSInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by iONT Service State</td>
							<td colspan="2" style="width: 60px;">&nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyiONTSSInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyiONTSSInSet!''}</b></#if>, Value : <b>${iONTSSValueText!''}</b></td>
						</tr>
					</#if>

					<#if maxLeadsbyLeadProximityInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by Lead Proximity</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyLeadProximityInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyLeadProximityInSet!''}</b></#if></td>
						</tr>
					</#if>

					<#if maxLeadsByProducts?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by Products</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsByProducts?exists>Max Leads:&nbsp;<b><#list maxLeadsByProducts?split(":") as x><#if x_index == 0>${x}</#if></#list></b></#if></td>
						</tr>
						<tr>
						<td colspan="3" >
						<#list selectedProductsNames?split("~~") as x>
								- by ${x}<br>
						</#list>
						</td>
						</tr>
					</#if>
					<#if maxLeadsbyCityInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by City</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyCityInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyCityInSet!''}</b></#if></td>
						</tr>
					</#if>
					<#if maxLeadsbyMDUInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by MDU</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyMDUInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyMDUInSet!''}</b></#if></td>
						</tr>
					</#if>
					<#if maxLeadsbyClusterInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by Cluster</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyClusterInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyClusterInSet!''}</b></#if>, Value : <b>${ClusterValue!''}</b></td>
						</tr>
					</#if>
					<#if maxLeadsbyClusterYNInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by Cluster Y/N</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyClusterYNInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyClusterYNInSet!''}</b></#if>, Value : <b>${ClusterYNValue!''}</b></td>
						</tr>
					</#if>
					<#if maxLeadsbyBlockMduInSet?exists>
						<tr>
							<td style="width: 200px;">Lead sheets by Block MDU</td>
							<td colspan="2" style="width: 60px;"> &nbsp;&nbsp;&nbsp;&nbsp;<#if maxLeadsbyBlockMduInSet?exists>Max Leads:&nbsp;<b>${maxLeadsbyBlockMduInSet!''}</b></#if></td>
						</tr>
					</#if>


				<#else>
					No Lead Sheet Rules selected in template
				</#if>
				</tbody>
			</table>
		</td>
	</tr>
</table>
<script type="text/javascript">
//Collapse(document.getElementById("selectedTemplateDetailsLink"),document.getElementById('selectedTemplateDetails'));
Collapse(document.getElementById("defaultViewDetailsLink"),document.getElementById('defaultViewDetails'));
Collapse(document.getElementById("colorCodesLink"),document.getElementById('colorCodesDiv'));
Collapse(document.getElementById("tempMapHolderLink"),document.getElementById('tempMapHolder'));
checkCookie();

</script>

</#if>

<#if availableLeadsData?exists>
<table  border="0" class="crmWidth" >
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr>
		<td width="50%">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td height="20px" style="width:300px;padding-left:20px;">Number of Mapped Leads available for Lead Sheets:&nbsp;&nbsp;</td>
						<td align="left"><#if NumberOfLeads?exists><b>${NumberOfLeads}</b><#else><b>0</b></#if></td>
					</tr>
					<tr>
						<td height="20px" style="width:300px;padding-left:20px;">Number of Un-Mapped Leads available for Lead Sheets:&nbsp;&nbsp;</td>
						<td align="left"><#if NumberOfUnMappedLeads?exists><b>${NumberOfUnMappedLeads}</b><#else><b>0</b></#if></td>
					</tr>
			  </tbody>
			</table>
		</td>
		<td align="center">
		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'>
			<!-- <INPUT TYPE="submit" style="width:150px" value="Generate Lead Sheets" class="buttonTD" onclick="javascript:generateLeadSheets();"> -->
			<INPUT TYPE="submit" style="width:150px" value="Generate Lead Sheets" class="buttonTD" onclick="javascript:generatepropertyId();">
		</#if>
		</td>
	</tr>
	<tr>
		<td height="20px" colspan="2" style="padding-left:20px;overflow: auto;" id="selectedWCHeading">Selected <span id="selectedWCsLbl">CLLI(s)</span>:&nbsp;&nbsp;<b><span id='selectedWCs'>NONE</span></b></td>
	</tr>

<tr><td>&nbsp;</td><td>&nbsp;</td></tr>	
</table>
</#if>

<#if availableLeadsDataTable?exists>
<#if result?exists>
<table  border="0" class="crmWidth">
	<tr>
		<td width="60%">
			<table id="data" cellspacing="0" cellpadding="0" border="0" class="list" width="600px">
				<thead>
				<tr>
					<th style="width=50px"><input type="checkbox" id="selectAllFiles" name="selectAllFiles" value="" onclick="javascript:toggleFiles(this)"/> Select All</th>
					<#if mapLeadsfilterByString?exists && mapLeadsfilterByString == 'CLLI'>
					<th><a id="${tableName}_CLLI_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Wire Center</a><span id='span_${tableName}_CLLI_NAME'></span></th>
					<th><a id="${tableName}_CLLI" style="text-decoration:underline;cursor: pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >CLLI</a><span id='span_${tableName}_CLLI'></span></th>
					<#elseif mapLeadsfilterByString?exists && mapLeadsfilterByString == 'CITY'>
					<th><a id="${tableName}_CITY" style="text-decoration:underline;cursor: pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >CITY</a><span id='span_${tableName}_CITY'></span></th>					
					<#else>
					<th><a id="${tableName}_LFA_CODE" style="text-decoration:underline;cursor: pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >LFA CODE</a><span id='span_${tableName}_LFA_CODE'></span></th>
					</#if>
<!-- 					 <th title="Last Leadsheet Saved Date"><a id="${tableName}_LCD" style="text-decoration:underline;cursor: pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >Last Saved Date</a><span id='span_${tableName}_LCD'></span></th>  --> 
					<th><a id="${tableName}_MAPPED_LEADS" style="text-decoration:underline;cursor: pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >Mapped Leads</a><span id='span_${tableName}_MAPPED_LEADS'></span></th>
					<th><a id="${tableName}_UNMAPPED_LEADS" style="text-decoration:underline;cursor: pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >Un-Mapped Leads</a><span id='span_${tableName}_UNMAPPED_LEADS'></span></th>					
					<th><a id="${tableName}_MDU_LEADS" style="text-decoration:underline;cursor: pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >Disabled MDUs</a><span id='span_${tableName}_MDU_LEADS'></span></th>
					<th><a id="${tableName}_NEW_LEADS" style="text-decoration:underline;cursor: pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >TV New 0 -3 months</a><span id='span_${tableName}_NEW_LEADS'></span></th>
					<th><a id="${tableName}_TOTAL_LEADS" style="text-decoration:underline;cursor: pointer;"  onclick="javascript:showLeadsByUploadFile(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));" >Total Leads</a><span id='span_${tableName}_TOTAL_LEADS'></span></th>
				</tr>
				</thead>
				<tbody>
				<#if result?exists>
				<#list result.data as row>
					<tr>
					<#list row as column>
					<#if column_index==0>
					<td>
					<#if mapLeadsfilterByString?exists && mapLeadsfilterByString == 'CLLI'>
					<input type="checkbox"  name="selectedFiles" value="${row[1].value!''}" onclick="javascript:addToSelectedFilesList(this);"/>
					<#else>
					<input type="checkbox"  name="selectedFiles" value="${row[0].value!''}" onclick="javascript:addToSelectedFilesList(this);"/>
					</#if>
					</td>
					<td>${column.value!''}</td>
					<#else>
<#-- 					<#if column_index==1 && column.value?exists && column.value != '' && mapLeadsfilterByString?exists && mapLeadsfilterByString != 'CLLI'>
					<td>${column.value?date("yyyy-MM-dd")?string("MM/dd/yyyy")}</td>
					<#elseif column_index==2  && column.value?exists && column.value != '' && mapLeadsfilterByString?exists && mapLeadsfilterByString == 'CLLI'>
					<td>${column.value?date("yyyy-MM-dd")?string("MM/dd/yyyy")}</td> 
					<#elseif column_index==6 && mapLeadsfilterByString?exists && mapLeadsfilterByString != 'CLLI'>
					<#elseif column_index==7>
-->
					<#if column_index==6 && mapLeadsfilterByString?exists && mapLeadsfilterByString != 'CLLI'>
					<#elseif column_index==7>					
					<#else>
					<td>${column.value!''}</td>
					 </#if> 
					</#if>
					</#list>
					</tr>
				</#list>
				</#if>
			  </tbody>
			</table>
		</td>
	</tr>
</table>
</#if>
</#if>

<#if leadSheetGeneratedtable?exists>
<table id="data" cellspacing="0" cellpadding="0" border="0" class="list" width="600px">
	<thead>
		<tr>
			<th></th>
			<th>Select</th>
			<th><a id="${tableName}_LEADSHEET_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:loadLeadSheetGenerated(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Lead Sheet</a><span id='span_${tableName}_LEADSHEET_NAME'></span></th>
			<th><a id="${tableName}_LEAD_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:loadLeadSheetGenerated(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));"># of Leads</a><span id='span_${tableName}_LEAD_COUNT'></span></th>
			<th><a id="${tableName}_GENERATED_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:loadLeadSheetGenerated(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Generated Date</a><span id='span_${tableName}_GENERATED_DATE'></span></th>
			<th>View Lead Sheet</th>
		</tr>
	</thead>
	<tbody>
		<#if result?exists>
		<#list result.data as row>
		<tr>
			<td>		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'><a onclick="javascript:goToSaveTempLeadSheet('${row[0].value}');" style="text-decoration:underline;cursor: pointer;text-decoration:underline;cursor: pointer">Save</a></#if></td>
			<td><input type="checkbox" name="mergableItems" value="${row[0].value}" onchange="javascript:addToMergeList(this);"/></td>
			<#list row as column>
			<#if column_index==0>
				<script type="text/javascript">
					unSavedLeadSheets = unSavedLeadSheets +'\'' + '${column.value}'+'\':';
				</script>
			</#if>
			<#if column_index==0 || column_index==4> <#else>
			<#if column_index==1>  
			<td width="300px" 		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'> onmouseover="javascript:inlineMouseOver('${row[0].value}');" onmouseout="javascript:inlineMouseOut('${row[0].value}');" </#if> id='td_${row[0].value?replace(",", "_")}' ><a id='a_${row[0].value?replace(",", "_")}' name="a_${row[1].value}"  		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'> href="javascript:zoomToLeadSheet('${row[0].value}')" </#if> >${column.value!''}</a>		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img id='img_${row[0].value?replace(",", "_")}' name="img_${row[1].value}" style="display:none" onclick="javascript:changeLSname('${row[0].value}');" src="assets/images/stextIcon.gif"></img></#if></td> 
			<#elseif column_index==3>	<td >${column.value?date("yyyy-MM-dd")?string("MM/dd/yyyy")}</td> <#else> 
			<td>${column.value!''}</td>
			</#if></#if>
			</#list>
			<td><input type="submit" value="View Lead Sheet"
				onclick="javascript:goToLeadSheetAdmin('${row[0].value}','Temp')"
				class="buttonTD"></td>
		</tr>
		</#list>
		</#if>
	</tbody>
</table>
</#if>

<#if leadSheetSavedtable?exists>
<table id="lsSavedData" cellspacing="0" cellpadding="0" border="0" class="list crmWidth">
	<thead>
		<tr>
			<th><input type="checkbox" id="toggleAllSheets" name="toggleAllSheets" onclick="javascript:toggleAllSheets();" /></th>
			<th><a id="${tableName}_LEADSHEET_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:loadLeadSheetSaved(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Lead Sheet</a><span id='span_${tableName}_LEADSHEET_NAME'></span></th>
			<th><a id="${tableName}_NUMBER_OF_LEADS" style="text-decoration:underline;cursor: pointer;" onclick="javascript:loadLeadSheetSaved(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));"># of Leads</a><span id='span_${tableName}_NUMBER_OF_LEADS'></span></th>
			<th><a id="${tableName}_CREATED_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:loadLeadSheetSaved(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Saved Date</a><span id='span_${tableName}_CREATED_DATE'></span></th>
			<th><a id="${tableName}_AGENT_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:loadLeadSheetSaved(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Rep Assigned</a><span id='span_${tableName}_AGENT_NAME'></span></th>
			<th><a id="${tableName}_REP_ASSIGNED_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:loadLeadSheetSaved(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Assigned Date</a><span id='span_${tableName}_REP_ASSIGNED_DATE'></span></th>
			<th>Returned Date</th>
			<th>Sales</th>
			<th>DM</th>
			<th>DK</th>
			<th>Notes</th>
			<th>Was Printed</th>
			<th>View Lead Sheet</th>
		</tr>
	</thead>
	<tbody>
		<#if result?exists>
		<script type="text/javascript">
			savedLeadSheetsCount= ${result.data?size};
		</script>
		<#list  result.data as row>
		
		<tr id="tr_${row[0].value?replace(',','_')}">
		<#list row as column>
				<#if column_index==0>
					<td>
						<input type="checkbox" id="cbLeadSheetId_${row_index}" name="cbLeadSheetId" value="${column.value!''}"  />
						<span id="leadSheetId_${row_index}" name="leadSheetId_${row_index}" style="display:none;">${column.value!''}</span>
						<span style="display:none;" id="leadSheetChanged_${row_index}" name="leadSheetChanged_${row_index}"></span>
					</td>
				<#elseif column_index==1 >
				<td>
				<table><tr><td style="border-style: none ">
					<a title="Click to Edit" id="savedSheetEditBtn_${row_index}"  <#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'> onclick="javascript:goToEditLeadSheet('${row[0].value?replace(',','_')}',${row_index})" </#if> href="#" >
					<#if row[12].value == 'Y'>
						<B><FONT color="RED">${column.value!''}</FONT></B>
					<#else>
						${column.value!''}
					</#if>
					</a>
					</td>
					<td valign="middle"  style="border-style: none ">
						<button id="savedSheetEditSubmitBtn_${row_index}" style="width: 18px; height: 18px; display: none" onclick='javascript:goToSubmitEditLeadSheet("${row[0].value?replace(',','_')}",${row_index})'><img src="assets/images/okIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>
						<br>
						<button id="savedSheetEditCancelBtn_${row_index}"style="width: 18px; height: 18px; display: none" onclick='javascript:goToCancelEditLeadSheet("${row[0].value?replace(',','_')}",${row_index})'><img src="assets/images/cancelIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>			
					</td></tr></table>
				</td>
				<#elseif column_index==3>
					<td width="100px" >${column.value?date("yyyy-MM-dd")?string("MM/dd/yyyy")}</td>	
				<#elseif column_index==4>
					<td width="160px"  id='td_rep_${row[0].value?replace(",","_")}' name="td_${row[1].value}" ><span id='span_rep_${row[0].value?replace(",","_")}' name="${row_index}" >${column.value!''}</span></td>	
				<#elseif column_index==5>
					<td width="100px">
						<SPAN id="repAssignedDate_${row_index}">${column.value!' '}</SPAN>
					</td>
				<#elseif column_index==6>
					<td width="100px"  title="${row[4].value!''}" id="td_rd_${row[0].value?replace(",","_")}"  ><span id='span_rd_${row[0].value?replace(",","_")}' name="${row[4].value!''}" >${column.value!''}</span></td>
				<#elseif column_index==7>
					<td width="30px"  id="td_s_${row[0].value?replace(",","_")}" ><span id='span_s_${row[0].value?replace(",","_")}' name="${row_index}" >${column.value!''}</span></td>	
				<#elseif column_index==8>
					<td width="30px"  id="td_dm_${row[0].value?replace(",","_")}" ><span id='span_dm_${row[0].value?replace(",","_")}' name="${row_index}" >${column.value!''}</span></td>	
				<#elseif column_index==9>
					<td width="30px"  id="td_dk_${row[0].value?replace(",","_")}" ><span id='span_dk_${row[0].value?replace(",","_")}' name="${row_index}" >${column.value!''}</span></td>				
				<#elseif column_index==10>
					<td width="150px" id='td_nts_${row[0].value?replace(",","_")}'><span title="${column.value?trim}" id='span_nts_${row[0].value?replace(",","_")}' name="${row[4].value!''}" ><#if column.value?exists && column.value?length &gt; 50 >${column.value?substring(0,49)}...<#else>${column.value!''}</#if></span></td>				
				<#elseif column_index==11>
					<td>${column.value!'N'}</td>
				<#elseif column_index==12 || column_index==13>
				<#else>
					<td>${column.value!''}</td>
				</#if>
			</#list>
			<td><input type="submit" value="View Lead Sheet"
				onclick="javascript:goToLeadSheetAdmin('${row[0].value}','Saved','<#if GlobalContext.crmContext.accessLinks == 'Dispositions Manager'>true<#else>false</#if>')"
				class="buttonTD"></td>
		</tr>
		</#list>
		<tr id='savedSheetsEditControls' style='display:none'><td colspan="13" align="center">
		<input type="submit" value="Save Changes" onclick="javascript:saveEditLeadSheetSaved();" class="buttonTD">&nbsp;&nbsp;
		<input type="submit" value="Cancel Changes" onclick="javascript:cancelEditLeadSheetSaved();" class="buttonTD">
		</td></tr>
		</#if>
		
	</tbody>
</table>
<div id='repslist' name='repslist' style='display:none' >
<table><tr><td>
<SELECT NAME="savedRepName" id="savedRepName"  class="inputControl">  
		<option value="-1">---UNASSIGN---</option>
		<#if repResult?exists >
		<#list  repResult.data as repRow> 
		<option value="${repRow[0].value}">${repRow[1].value!''}</option> 
		</#list>
		</#if> 
</SELECT></td></tr></table>
</div>
</#if>


<#if generatedLeadSheetIds?exists>
	<script type="text/javascript">
	 	unSavedLeadSheets = unSavedLeadSheets +"," +'${leadSheetIds}';
	</script>
</#if>



<#if generatedLeadsCount?exists>
<table  border="0" class="crmWidth" >
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr>
		<td width="50%">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td height="20px" style="width:350px;padding-left:20px;">Number of leads in the Generated Leads section:&nbsp;&nbsp;</td>
						<td align="left"><#if generatedCount?exists><b>${generatedCount}</b><#else><b>0</b></#if></td>
					</tr>
			  </tbody>
			</table>
		</td>
	</tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>	
</table>
</#if>

<#if savedLeadsCount?exists>
<table  border="0" class="crmWidth" >
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr>
		<td width="50%">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td height="20px" style="width:350px;padding-left:20px;">Number of leads in the Saved Lead Sheets- In Progress section:&nbsp;&nbsp;</td>
						<td align="left"><#if savedCount?exists><b>${savedCount}</b><#else><b>0</b></#if></td>
					</tr>
			  </tbody>
			</table>
		</td>
	</tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>	
</table>
</#if>
