<#if iclRepSelector?exists>
<table border="1" cellpadding="0" cellspacing="0" class="crmWidth">
  <thead>
	  <th align="left" style="padding-bottom:5px"><input name="colorCodes" value="leadSheetDispositionalColorCodes" onclick="javascript:leadSheetToggleColorCode(this.value);" type="radio"/><b>Disposition Color Codes</b></th>
  	  <th align="left" style="padding-bottom:5px"> <input name="colorCodes" value="leadSheetDefaultColorCodes" onclick="javascript:leadSheetToggleColorCode(this.value);" type="radio" checked="true"/><b>Available Lead Color Codes</b></th>
	  <th align="left" style="padding-left:20px;padding-bottom:5px"><b>Rep Info</b></th>
  </thead>
  <tbody>
    <tr>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" width="60%">
			<table border="0" width="100%">
				<tbody>
				<#if dispositionResult?size!=0>
					<#list dispositionResult as row>
					<tr>
						<#list row as column>
						<td align="center">
							<img height="20px" src="${column[2].value!''}" />
						</td>
						<td>
						<#if column[0].value?exists && column[0].value = "Default"> 
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	${column[0].value!''} - ${column[1].value!''}
						<#else>
						<input type="checkbox" id="dispositionCode_${column_index}" disabled="disabled"
							name='leadSheetDispositionalImages' value="${column[2].value!''}"
							onClick="javascript:showLeadSheetDispositionalImages();" />
							${column[0].value!''} - ${column[1].value!''}
						</#if>
						</td>
						</#list>
					</tr>
					</#list>
				</#if>
				</tbody>
			</table>
		</td>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" width="20%" align="center">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/yellow.png"/></td>
						<td style="vertical-align:middle">Wireless</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/blue.png"/></td>
						<td style="vertical-align:middle">Digital Voice</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/green.png"/></td>
						<td style="vertical-align:middle">DSL Current Customer</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/black.png"/></td>
						<td style="vertical-align:middle">Open MDU</td>
					</tr>
					<tr>
						<td style="padding-left:40px;width:50px" align="center"><img height="20px" src="assets/images/mapicons/red-dot.png"/></td>
						<td style="vertical-align:middle">No Product</td>
					</tr>
				</tbody>
			</table>
		</td>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" align="center" width="20%">
			<table border="0">
				<tbody>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Name&nbsp;&nbsp;</td>
						<td align="left">
							<select style="border: 1px solid; width: 120px;"
								name="repID" id="repID" onchange="javascript:loadICLRepInfo();">
								<#list reps.data as row>
								<option value="${row[0].value}">${row[1].value}</option>
								</#list>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div id="iclRepInfo" name="iclRepInfo"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	  </tr>
	</tbody>
</table>
</#if>

<#if iclRepInfo?exists>
<table border="0">
	<tr>
		<td>
			<table width="100%" align="left" valign="top" cellspacing="5" cellpadding="5" border="0">
				<#if repDetails.data?exists>
					<#list repDetails.data as row>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Code</td>
						<td><INPUT TYPE="text" NAME="" value='${row[0].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Last Worked</td>
						<td><INPUT TYPE="text" NAME="" value='${row[1].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Distributed</td>
						<td><INPUT TYPE="text" NAME="" value='${row[2].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Returned </td>
						<td><INPUT TYPE="text" NAME="" value='${row[3].value!""}' size="14" class="inputControl"></td>
					</tr>
					</#list>
				<#else>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Code</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Last Worked</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Distributed</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Returned </td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
				</#if>
			</table>
		</td>
	</tr>
</table>
</#if>




 <#if leadListTable?exists>
<table align='center'>
<tr>	<td >&nbsp;</td></tr>
	<tr>
		<td>In columns: V, TV, Data ; N=Do not sell & Y=Sell</td>
		<td>ONT dsc : In M=Move, C=Customer Expectation, L=Loss To Competitor, Q=Service Quality, P=Product, U=Unknown</td>
		<td>Res sta: Blank (no data available), D=Different Occupant, S=Same Occupant, V=Vacant/Unknown Occupant</td>
		<td>C# = iONT Cluster- Each # is a unique set of leads within that state</td>	
	</tr>
<tr>	<td >&nbsp;</td></tr>	
</table>

<table border="2" cellspacing="0" cellpadding="0" style='border-collapse: collapse;' class="list crmWidth">
	<tr>
	<#if type = 'Saved'>
		<th><input id="checkAlltoUnAssign" type="checkbox" onclick="javascript:checkAll();"></th>
	</#if>
		<th>#</th>
		<th>Addr ID</th>
		<th>Street Address</th>
		<th>Apt#</th>
		<th>City</th>
		<th>Zip</th>
		<th>CRR</th>
		<th>MDU</th>
		<th>Customer Name</th>
		<th>TV New</th>
		<th>ONT dsc</th>
	    <th>ONT date</th>
		<th>EXPIR date</th>
		<th>Res sta</th>
		<th>V</th>
		<th>TV</th>
		<th>Data</th>
		<th>ONT</th>
		<th>DSL</th> 
		<th>VZW</th> <!-- anaravanekar 03-10-2014 - Fios lead sheet changes. Added new column VZW  -->
		<th>Promo</th>
		<th>ONT Life</th>
		<th>Lead Type</th>
		<th>LFA</th>
		<th>Quant Upgrd</th>
		<th>Cap Speed</th>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		<th>DM</th>
		<th>Notes</th>
		<th>Prs</th>
		<th>DI</th>		
	</tr>
		<#if result.data?exists>
			<#list result.data as row>
				<#if row_index ==0 >
				<script type="text/javascript">
				 firstLeadRowId = "${row[32].value!''}";
				 totalRecords = ${result.data?size};
				</script>
				</#if>
				<tr>
					<!-- <#if row[39].value?exists && (row[39].value == "FD21" || row[39].value == "FD22"|| row[39].value == "FD23")>
						<#assign bTagOpen = "<b>">
						<#assign bTagClose = "</b>">
					<#else>
						<#assign bTagOpen = "">
						<#assign bTagClose = "">
					</#if> -->
				<#if type = 'Saved'>
					<#if row[28].value?exists && row[28].value != "">
						<td><input value="${row[32].value!''}-${row[36].value!''}" name="unDispositionedLeads"  type="checkbox"  disabled="disabled" /></td>
					<#else>
						<td><input value="${row[32].value!''}-${row[36].value!''}" name="unDispositionedLeads"  type="checkbox"  /></td>
					</#if>
				</#if>
				<td>${bTagOpen}${row_index+1}${bTagClose}</td>
				<#list row as column>
					<#if column_index==1>
						<td>
							<#assign s = column.value>
								${bTagOpen}${s}${bTagClose}
						</td>
					<#elseif column_index == 32  || column_index == 33 || column_index == 34 || column_index == 35 || column_index == 36 || column_index == 37  || column_index == 38 || column_index == 39 || column_index == 40 >
					<#else>
							<#if column_index == 24 && row[40].value != '' && (row[40].value =='VDSL1'|| row[40].value =='VDSL2') >
					        <td>${bTagOpen}${column.value!''}*${bTagClose}</td>
					        <#else>					        
							<td>${bTagOpen}${column.value!''}${bTagClose}</td>
							</#if>
					</#if>
				</#list>
			</tr>
			</#list>
			<TR><TD  colspan="33">&nbsp;</TD></TR>
			<#if type == "Saved">
			<tr><td align='center' colspan="33">Total Leads Available for Leadsheet : ${availLeads!'0'}</td></tr>
			<tr><td align='center' colspan="33">Total Leads Disabled : ${disabledLeads!'0'}</td> </tr>
			<tr><td align='center' colspan="33">Total Leads Dispositioned : ${dispLeads!'0'}</td></tr>
			</#if>
			<TR><TD  colspan="33">&nbsp;</TD></TR>
		<#else>
			<tr><td colspan="9">No Records to Display</td></tr>
		</#if>
		
</table>
</#if>