<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px" class="crmWidth">
	<tr>
		<td>
		<div class="hltb">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tbody>
				<tr>
					<td><h4 style="font-size: 20pt;font-family:Times New Roman;font-weight: bold;color: maroon">IMS 1.0 - ERROR PAGE</h4></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
		</div>
		<hr/>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tbody>
					<tr>
						<td>
							<font style="font-size: 10pt;font-family:Tahoma;font-weight: bold;color: red">${message!''}</font>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>