 <script type="text/javascript">
 var ${tableName}PageNumber = "${pageNumber}";
 var ${tableName}sortingColumn = "${sortingColumn}";
 </script>
 
 <#if customTable?exists>
 	<#include "${customTable}">
 </#if>
<div class="hltb crmWidth" style="padding:0px;padding-top:5px; margin:0px">
	<table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
		<tbody>
			<tr>
				<td align="center">
				<ul class="piped-list piped-list-left piped-list-view-left">
					<li class="first">
						<#if startIndex &gt; 1 && firstPageNumber?exists>
							<a class="vlk" href="#" onclick="javascript:${tableName}PageNumber='${firstPageNumber}';${javaScriptMethodName}(${firstPageNumber},'${sortingColumn}:false')" onmouseover="window.status='javscript:void(0)'">First</a>
						<#else>
							First
						</#if>
					</li>
					<li>
						<#if startIndex &gt; 1>
							<a class="vlk" href="#" onclick="javascript:${tableName}PageNumber='${prevPageNumber}';${javaScriptMethodName}(${prevPageNumber},'${sortingColumn}:false')" onmouseover="window.status='javscript:void(0)'">Previous</a>
						<#else>
							Previous
						</#if>
					</li>
					<li>
						<#if enableNext==true>
							<a class="vlk" href="#" onclick="javascript:${tableName}PageNumber='${nextPageNumber}';${javaScriptMethodName}(${nextPageNumber},'${sortingColumn}:false')" onmouseover="window.status='javscript:void(0)'">Next</a>
						<#else>
							Next
						</#if>
					</li>
					<li>
						<#if enableNext==true && lastPageNumber?exists>
							<a class="vlk" href="#" onclick="javascript:${tableName}PageNumber='${lastPageNumber}';${javaScriptMethodName}(${lastPageNumber},'${sortingColumn}:false')" onmouseover="window.status='javscript:void(0)'">Last</a>
						<#else>
							Last
						</#if>
						&nbsp;&nbsp;&nbsp;&nbsp;(Showing ${startIndex} - ${lastIndex} of ${totalRecords} Record(s))
					</li>
					<li>
						Page <input type="text" size="2" pattern="[0-999]" id='${tableName}pageNumber' class="inputControl" value="${pageNumber}" />&nbsp;<input type="button" class="buttonTD" value="Go" onclick="javascript: if(isNaN(document.getElementById('${tableName}pageNumber').value)){alert('Invalid page number');document.getElementById('${tableName}pageNumber').focus();}else{${javaScriptMethodName}(document.getElementById('${tableName}pageNumber').value,'${sortingColumn}:false')}">
					</li> 
				</ul>
				</td>
			</tr>

		</tbody>
	</table>
</div>