<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px" class="crmWidth">
	<tbody>
		<tr>
			<td><h4 style="font-size: 20pt;font-family:Times New Roman;font-weight: bold;color: maroon">IMS 1.0 - Main Page</h4></td>
			<td align="right" valign="bottom">User: <#if userName?exists>${userName}</#if>, User Role: <#if userRole?exists>${userRole}</#if></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">
			
						<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align: middle;"><A
							onClick="Toggle(this,document.getElementById('alertsPlaceHolder'));refreshAlerts(this,document.getElementById('alertsPlaceHolder'));"
							id="colorCodesLink" style="CURSOR: hand"> <IMG
							style="vertical-align: middle"
							src="assets/images/hideshow_infohidden_grayscale.gif"></a></td>
						<td>Alerts and Notifications</td>
						<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div id="alertsPlaceHolder" name="alertsPlaceHolder">
			</div>
			</td>
		</tr>
		<tr><td colspan="2">&nbsp;&nbsp; </td></tr>
		<tr>
			<td colspan="2">
				<table cellpadding="0" cellspacing="0" class="crmWidth">
					<thead>
						<td>
							<table cellpadding="1" cellspacing="0" class="tb crmWidth">
								<tbody>
									<tr><td>&nbsp;&nbsp; Management</td></tr>
								</tbody>
							</table>
						</td>
					<thead>
					<tbody>
						<tr>
							<td style="padding-left:50px">
								<div>
									<ul class="slb">
									<#if GlobalContext.crmContext.accessLinks == 'Application Administrator'>
										<li><b>Campaign Lead Management</b>
											<ul class="slb">
											<#if ProcessCampaignLeads?exists><li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToCampaignLeadAssignment();" style="text-decoration:underline" id="ProcessCampaignLeads" name="ProcessCampaignLeads">Leads Assignment to ICLs</a></li></#if>
												<#if LeadAssignmentRules?exists><li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToLeadAssignment();"  style="text-decoration:underline" id="LeadAssignmentRules" name="LeadAssignmentRules">Leads Assignment Template Setup</a></li></#if>
											</ul>
										</li>
										<#if CampaignTerritoryManagement?exists><li style="padding-bottom:5px;"><a href="javascript:void(0)" class="nclk" onclick="javascript:goToCampaignAdmin();" style="text-decoration:underline" id="CampaignTerritoryManagement" name="CampaignTerritoryManagement"><b>Campaign Territory Management</b></a></li></#if>
										</#if>
										<li><b>ICL Lead Management</b>
											<ul class="slb">
												<#if GenerateLeadSheets?exists><li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToLeadSheetGeneration();" style="text-decoration:underline" id="GenerateLeadSheets" name="GenerateLeadSheets">Lead Sheet Generation</a></li></#if>
												<#if LeadSheetGenerationRules?exists><li><a href="javascript:void(0)" class="nclk" onclick="goToGenericRuleTemplate();"  style="text-decoration:underline" id="LeadSheetGenerationRules" name="LeadSheetGenerationRules">Lead Sheet Template Setup</a></li></#if>
												<#if DefaultTerritoryView?exists><li><a href="javascript:void(0)" class="nclk" onclick="goToDefaultTerritoryViewSetUp();"  style="text-decoration:underline" id="DefaultTerritoryView" name="DefaultTerritoryView">Default Territory View Setup</a></li></#if>
												<#if ICLLeadSheetHistory?exists><li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToICLLeadSheetHistory();" style="text-decoration:underline" id="ICLLeadSheetHistory" name="ICLLeadSheetHistory">View Lead Sheet History</a></li></#if>
											</ul>
										</li>
										<#if ICLTerritoryManagement?exists><li style="padding-bottom:5px;"><a href="javascript:void(0)" class="nclk" onclick="javascript:goToICLManagement();" style="text-decoration:underline" id="ICLTerritoryManagement" name="ICLTerritoryManagement"><b>ICL Territory Management</b></a></li></#if>

										<#if DispositionManagement?exists>
										<li><b>Disposition Management</b>
											<ul class="slb">
											<li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToDispositionManagement();" style="text-decoration:underline" id="DispositionManagement" name="DispositionManagement">Enter Dispositions for Lead Sheets</a></li>
											<li><a href="javascript:void(0)" class="nclk" onclick="javascript:goToExportDispositions();" style="text-decoration:underline" id="ExportDispositions" name="ExportDispositions">Export Disposition Leads</a></li>
											</ul>
										</li>
										</#if>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td colspan="2">&nbsp;&nbsp; </td></tr>
		<tr>
			<td colspan="2">
				<table cellpadding="0" cellspacing="0" class="crmWidth">
					<thead>
						<td>
						<#if GlobalContext.crmContext.accessLinks == 'Application Administrator'>
							<table cellpadding="1" cellspacing="0" class="tb crmWidth">
								<tbody>
								
									<tr><td>&nbsp;&nbsp; Territory Analysis</td></tr>
								</tbody>
							</table>	
						</td>
					<thead>
					<tbody>
						<tr>
							<td style="padding-left:50px">
								<div>
									<ul class="slb">
										<li><a href="javascript:void(0)" class="nclk"  style="text-decoration:underline" id="CampaignTerritoryAnalysis" name="CampaignTerritoryAnalysis">Campaign Territory Analysis</a></li>
										<li><a href="javascript:void(0)" class="nclk"  style="text-decoration:underline" id="ICLTerritoryAnalysis" name="ICLTerritoryAnalysis" >Territory Tracker</a></li>
										<li><a href="javascript:void(0)" class="nclk"  style="text-decoration:underline" id="LeadsAnalysis" name="LeadsAnalysis" >Leads Analysis</a></li>
										<li><a href="javascript:void(0)" class="nclk"  style="text-decoration:underline" id="LeadSheetsAnalysis" name="LeadSheetsAnalysis" >Lead Sheets Analysis</a></li>
									</ul>
								</div>
							</td>
							</#if>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td colspan="2">&nbsp;&nbsp; </td></tr>
		<#if GlobalContext.crmContext.accessLinks == 'Application Administrator'>
		<tr>
			<td colspan="2">
				<table cellpadding="0" cellspacing="0" class="crmWidth">
					<thead>
						<td>
							<table cellpadding="1" cellspacing="0" class="tb crmWidth">
								<tbody>
									<tr><td>&nbsp;&nbsp; System Administration</td></tr>
								</tbody>
							</table>
						</td>
					<thead>
					<tbody>
						<tr>
							<td style="padding-left:50px">
								<div>
									<ul class="slb">
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline" id="RolesAdministration" name="RolesAdministration">User Roles Administration</a></li>
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline" id="SystemManagement" name="SystemManagement">System Management</a></li>
										<li><a href="javascript:void(0)" class="nclk" onclick="" style="text-decoration:underline" id="Alerts" name="Alerts">Alerts and Notifications</a></li>
										<li><a href="javascript:void(0)" class="nclk" onclick="javasript:goToLeadManagement();" style="text-decoration:underline" id="LeadManagement" name="LeadManagement">Lead Management</a></li>
										<li><a href="iclLoaderServlet" target="_blank" class="nclk" style="text-decoration:underline" id="ICLLoader" name="ICLLoader">ICL Loader</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</#if>
		<tr><td colspan="2">&nbsp;&nbsp; </td></tr>
	</tbody>
</table>


<script type="text/javascript">
var shown = false;
var node;
var content;
	// Call back function when Campaign is loaded
	function onAlertsLoaded(data){
		$("#alertsPlaceHolder").children().remove();
		$("#alertsPlaceHolder").append(data);
		shown = true;
		Toggle(node,content);
	}

	function refreshAlerts(n,c){
		var params = {
				pageName : "IMSDashboard",
				controlName :"showAlerts"
		}
		var url = "uiController";
		if(!shown){
			node = n;
			content = c;
			loadControl(url, params, onAlertsLoaded);
		}
		}

	
	</script>