<#if statesSelector?exists>
	<div id = "statesSelector_holder" name="statesSelector_holder"></div>
	
	<script type="text/javascript">
		var stateName ="";
		var territory="";	
		
		<#if territorySeq?exists>			
			territory='${territorySeq}';
		</#if>
			
		<#if usState?exists>
			stateName='${usState}';
			 
		</#if>
		<#if officeSeq?exists>
			officeSeq='${officeSeq}'; 
		</#if>
		var params = {pageName : "PopupWindow",controlName :"statesSelector",usState:stateName,territorySeq:territory};
		var url = "uiController";
	
		function statesSelectorLoaded(data){
			$("#statesSelector_holder").children().remove();
			$("#statesSelector_holder").append(data);
		} 
		loadControl(url,params,statesSelectorLoaded);
	</script>
	<br/>
</#if>  
 

<#if countiesSelector?exists>

	<div id = "countiesSelector_holder" name="countiesSelector_holder"></div>
	
	<script type="text/javascript">
		var url = "uiController";
		var params = {pageName : "PopupWindow",controlName :"countiesSelector",territorySeq:territory};
		 
		function countiesSelectorLoaded(data){
			$("#countiesSelector_holder").children().remove();
			$("#countiesSelector_holder").append(data);
		}
	
		loadControl(url,params,countiesSelectorLoaded);
	</script>
</#if>

<#if iclSubmitActions?exists>
	<div id = "buttons_holder" name="buttons_holder"></div>
	
	<script type="text/javascript">
		var params = {pageName : "PopupWindow",controlName :"iclSubmitActions"};
		var url = "uiController";
	
		function submitActonsLoaded(data){
			$("#buttons_holder").children().remove();
			$("#buttons_holder").append(data);
		}
	
		loadControl(url,params,submitActonsLoaded);
	</script>
</#if>

<#if wireCenterStatesSelector?exists>
<div id = "wireCenterStates_holder" name="wireCenterStates_holder"></div>
	<script type="text/javascript">
	var repId ='${repId}';
	var campaignSeq = ${campaignSeq};
	var officeSeq = ${officeSeq}; 
		var params = {pageName : "PopupWindow",controlName :"wireCenterStatesSelector"};
		var url = "uiController";
	
		function wireCenterStatesSelectorLoaded(data){
			$("#wireCenterStates_holder").children().remove();
			$("#wireCenterStates_holder").append(data);
			loadWireCenter();
		} 
		loadControl(url,params,wireCenterStatesSelectorLoaded);
	</script>
</#if>

<#if wireCenterSelector?exists>

<div id = "wireCenters_holder" name="wireCenters_holder"></div>
<script type="text/javascript">
function loadWireCenter(){
		var params = {pageName : "PopupWindow",controlName :"wireCenterSelector",stateId:document.getElementById('wireCenterState').value};
		var url = "uiController";
		loadControl(url,params,wireCenterSelectorLoaded);
}
		function wireCenterSelectorLoaded(data){
			$("#wireCenters_holder").children().remove();
			$("#wireCenters_holder").append(data);
			loadDA();
		} 
		</script>		
</#if>

<#if daSelector?exists>

<div id = "das_holder" name="das_holder"></div>
<script type="text/javascript">
function loadDA(){
		var params = {pageName : "PopupWindow",controlName :"daSelector",wcId:document.getElementById('wireCenter').value};
		var url = "uiController";
		loadControl(url,params,daSelectorLoaded);
}
		function daSelectorLoaded(data){
			$("#das_holder").children().remove();
			$("#das_holder").append(data);
		} 

</script>		
</#if>

