<#if campaignSelector?exists>
<table border="0">
	<tr>
		<td>Select Campaign:&nbsp;</td>
		<td>
			<SELECT name="campaignID" id="campaignID"
				style="width: 180px;" class="inputControl"
				onchange="javascript:checkCustomController();">
				<option value="-1">-Select-</option>
				<#list result.data as row>
				<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
				</#list>
			</SELECT>
		</td>
	</tr>
</table>
</#if>
<#if iclSelector?exists>
<table border="0">
	<tr>
		<td>Select ICL Name:&nbsp;</td>
		<td><SELECT id="iclID" style="width: 180px;" name="iclID"
			onchange="javascript:loadCriteriaComponents();">
			<option value="-1">-Select-</option>
			<#list result.data as row>
			<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
			</#list>
		</SELECT></td>
	</tr>
</table>
</#if>


<#if leadSheetCriteriaComponents?exists>
<table border="0" cellpadding="1" cellspacing="0" class="crmWidth">
	<tr>
		<td width="40%" align="right">
			Start Date:&nbsp;
			<INPUT TYPE="text" NAME="" size="12" value="${startDate!''}" readonly="true" class="inputControl" id="startDate">
			<script language="javaScript">
				$("#startDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
			</script>
		</td>
		<td align="right">ICL Rep Assigned:&nbsp;</td>
		<td>&nbsp;</td>
		<td width="42%">
			<SELECT id="assgnedRep" style="width: 180px;" name="assgnedRep">
					<option value="">--Select--</option>
					<option value="UA">--NONE--</option>
					<#list result.data as row>
					<option value="${row[0].value}">${row[1].value!''}</option>
					</#list>
			</SELECT>
		</td>
	</tr>
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr>
		<td align="right">
			End Date:&nbsp;
			<INPUT TYPE="text" NAME="" size="12" value="${endDate!''}" readonly="true" class="inputControl" id="endDate">
			<script language="javaScript">
				$("#endDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
			</script>
		</td>
		<td align="right">Lead Sheet Status:&nbsp;</td>
		<td>&nbsp;</td>
		<td>
			<SELECT id="sheetStatus" style="width: 180px;" name="sheetStatus">
				<option  selected="selected" value="">--Select--</option>
				<option value="INP">In Progress</option>
				<option value="C">Dispositioned</option>
				<option value="X">Closed</option>
			</SELECT>
		</td>
	</tr>
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr>
		<td  colspan="4" align="center"><INPUT TYPE="submit" style="width:150px" value="Search" class="buttonTD" onclick="javascript:showLeadSheets();"></td>
	</tr>
</table>
</#if>


<#if leadSheetAssignmentHistoryTable?exists>
<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
	<tbody>
		<tr>
			<td style="vertical-align: middle;"><A
				onClick="Toggle(this,document.getElementById('def2'))" id="GroupOne"
				style="CURSOR: hand"> <IMG style="vertical-align: middle"
				src="assets/images/hideshow_infoshown_grayscale.gif"></a></td>
			<td>Lead Sheet Assignment History</td>
			<td width="100%" align="left">&nbsp;</td>
		</tr>
	</tbody>
</table>

<table cellspacing="2" cellpadding="2" border="0" align="center">
			<tbody>
				<tr>
					<td class="aflk">Lead Sheet:</td>
					<td nowrap="true" id="alpha_bar_td_true"><a
						href="javascript:filterLeadSheetHistory('');"
						style="font-weight: bold;" class="aflk">All</a> <a
						href="javascript:filterLeadSheetHistory('[0-9]')" class="aflk">0-9</a>
					<a href="javascript:filterLeadSheetHistory('A')" class="aflk">A</a>
					<a href="javascript:filterLeadSheetHistory('B')" class="aflk">B</a>
					<a href="javascript:filterLeadSheetHistory('C')" class="aflk">C</a>
					<a href="javascript:filterLeadSheetHistory('D')" class="aflk">D</a>
					<a href="javascript:filterLeadSheetHistory('E')" class="aflk">E</a>
					<a href="javascript:filterLeadSheetHistory('F')" class="aflk">F</a>
					<a href="javascript:filterLeadSheetHistory('G')" class="aflk">G</a>
					<a href="javascript:filterLeadSheetHistory('H')" class="aflk">H</a>
					<a href="javascript:filterLeadSheetHistory('I')" class="aflk">I</a>
					<a href="javascript:filterLeadSheetHistory('J')" class="aflk">J</a>
					<a href="javascript:filterLeadSheetHistory('K')" class="aflk">K</a>
					<a href="javascript:filterLeadSheetHistory('L')" class="aflk">L</a>
					<a href="javascript:filterLeadSheetHistory('M')" class="aflk">M</a>
					<a href="javascript:filterLeadSheetHistory('N')" class="aflk">N</a>
					<a href="javascript:filterLeadSheetHistory('O')" class="aflk">O</a>
					<a href="javascript:filterLeadSheetHistory('P')" class="aflk">P</a>
					<a href="javascript:filterLeadSheetHistory('Q')" class="aflk">Q</a>
					<a href="javascript:filterLeadSheetHistory('R')" class="aflk">R</a>
					<a href="javascript:filterLeadSheetHistory('S')" class="aflk">S</a>
					<a href="javascript:filterLeadSheetHistory('T')" class="aflk">T</a>
					<a href="javascript:filterLeadSheetHistory('U')" class="aflk">U</a>
					<a href="javascript:filterLeadSheetHistory('V')" class="aflk">V</a>
					<a href="javascript:filterLeadSheetHistory('W')" class="aflk">W</a>
					<a href="javascript:filterLeadSheetHistory('X')" class="aflk">X</a>
					<a href="javascript:filterLeadSheetHistory('Y')" class="aflk">Y</a>
					<a href="javascript:filterLeadSheetHistory('Z')" class="aflk">Z</a>
					</td>
					<td>&nbsp;&nbsp;<input type="text"
						name="searchByGenLeadSheetID" class="inputControl"
						id="searchByGenLeadSheetID" /></td>
					<td>&nbsp;&nbsp;<input type="button"
						name="searchByGenLeadSheetIDBtn" class="buttonTD"
						id="searchByGenLeadSheetIDBtn" value="Go"
						onClick="javascript:filterLeadSheetHistory();" /></td>
				</tr>
			</tbody>
		</table>

<DIV id="def2">
<table id="lsSavedData" cellspacing="0" cellpadding="0" class="list crmWidth">
	<thead>
		<tr>
			<th></th>
			<th><a id="${tableName}_LEADSHEET_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:showLeadSheets(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Lead Sheet</a><span id='span_${tableName}_LEADSHEET_NAME'></span></th>
			<th><a id="${tableName}_CREATED_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:showLeadSheets(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Created Date</a><span id='span_${tableName}_CREATED_DATE'></span></th>
			<th><a id="${tableName}_NUMBER_OF_LEADS" style="text-decoration:underline;cursor: pointer;" onclick="javascript:showLeadSheets(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));"># of Leads</a><span id='span_${tableName}_NUMBER_OF_LEADS'></span></th>
			<th><a id="${tableName}_REP_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:showLeadSheets(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Rep Assigned</a><span id='span_${tableName}_REP_NAME'></span></th>
			<th><a id="${tableName}_REP_ASSIGNED_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:showLeadSheets(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Assigned Date</a><span id='span_${tableName}_REP_ASSIGNED_DATE'></span></th>
			<th>Returned Date</th>
			<th><a id="${tableName}_STATUS" style="text-decoration:underline;cursor: pointer;" onclick="javascript:showLeadSheets(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Status</a><span id='span_${tableName}_STATUS'></span></th>
			<th>Sales</th>
			<th>DM</th>
			<th>DK</th>
			<th><a id="${tableName}_NOTES" style="text-decoration:underline;cursor: pointer;" onclick="javascript:showLeadSheets(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Notes</a><span id='span_${tableName}_NOTES'></span></th>
			<th>View Lead Sheet</th>
		</tr>
	</thead>
	<tbody>
		<#if result.data?exists && result.data?size !=0> <#list result.data as row>
		<tr id='tr_${row[0].value?replace(',','_')}'>
		
			<#list row as column>
			<#if column_index == 0>
			<td>	<input type="checkbox" id="cbLeadSheetId_${row_index}" name="cbLeadSheetId" <#if row[13].value?exists && row[13].value == "Y"> disabled="disabled" title="Archived" </#if> value="${column.value!''}"  /> </td>
			<#elseif column_index == 1>
			
				<td >
					<table><tr><td  style="border-style: none ">
					<span id='leadSheetId_${row_index}' style="display:none">${row[0].value!''}</span>
					<a title="Click to Edit" id="leadSheetEditBtn_${row_index}" <#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'>onclick="javascript:goToEditLeadSheet('${row[0].value?replace(',','_')}',${row_index})" </#if> href="#" >
					<#if  row[12].value == 'Y'>
						<B><FONT color="RED">${column.value!''}</FONT></B>
					<#else>
						${column.value!''}
					</#if> 
					</a>
					</td>
					<td  style="border-style: none " valign="middle">
					<button id="leadSheetEditSubmitBtn_${row_index}" style="width: 18px; height: 18px; display: none" onclick='javascript:goToSubmitEditLeadSheet("${row[0].value?replace(',','_')}",${row_index})'><img src="assets/images/okIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>
					<br>
					<button id="leadSheetEditCancelBtn_${row_index}"style="width: 18px; height: 18px; display: none" onclick='javascript:goToCancelEditLeadSheet("${row[0].value?replace(',','_')}",${row_index})'><img src="assets/images/cancelIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>
					</td></tr></table>
				</td>
			<#elseif column_index==2>
				<td width="100px" >${column.value?date("yyyy-MM-dd")?string("MM/dd/yyyy")}</td>	
			<#elseif column_index==4>
				<td width="160px"  id='td_rep_${row[0].value?replace(',','_')}' name="td_${row[1].value}" ><span id='span_rep_${row[0].value?replace(',','_')}' name="${row_index}" >${column.value!''}</span></td>	
			<#elseif column_index==5>
				<td width="100px"><SPAN id="repAssignedDate_${row_index}">${column.value!' '}</SPAN></td>				
			<#elseif column_index == 6>
			<td width="100px"  title="${row[4].value!''}" id="td_rd_${row[0].value?replace(',','_')}"  ><span id='span_rd_${row[0].value?replace(',','_')}' name="${row[4].value!''}" >${column.value!''}</span></td>
			<#elseif column_index == 7>
			<td title="${column.value!''}" id="td_st_${row[0].value?replace(',','_')}"  ><span id='span_st_${row[0].value?replace(',','_')}' name="${row[4].value!''}" >${column.value!''}</span></td>
			<#elseif column_index == 8>
				<td width="30px" id='td_s_${row[0].value?replace(',','_')}' name="td_${row[1].value}" ><span id='span_s_${row[0].value?replace(',','_')}' name="${row_index}" >${column.value!''}</span></td>	
			<#elseif column_index == 9>
				<td width="30px"  id='td_dm_${row[0].value?replace(',','_')}' name="td_${row[1].value}" ><span id='span_dm_${row[0].value?replace(',','_')}' name="${row_index}" >${column.value!''}</span></td>	
			<#elseif column_index == 10>
				<td width="30px"  id='td_dk_${row[0].value?replace(',','_')}' name="td_${row[1].value}" ><span id='span_dk_${row[0].value?replace(',','_')}' name="${row_index}" >${column.value!''}</span></td>	
			<#elseif column_index == 11>
					<td width="150px" id='td_nts_${row[0].value?replace(',','_')}' ><span id='span_nts_${row[0].value?replace(',','_')}'  title="${column.value?trim}"><#if column.value?exists && column.value?length &gt; 50 >${column.value?substring(0,49)}...<#else>${column.value!''}</#if></span></td>				
			<#elseif column_index == 12 || column_index == 13 || column_index == 14>
			<#else>
			<td>${column.value!''}</td>
			</#if>
			</#list>
			<td><input type="submit" value="View Lead Sheet"
				onclick="javascript:goToLeadSheetAdmin('${row[0].value}','Saved','<#if GlobalContext.crmContext.accessLinks == 'Dispositions Manager'>true<#else>false</#if>')"
				class="buttonTD"></td>

		</tr>
		</#list>
		<tr id='savedSheetsEditControls' style='display:none'>
			<td colspan="13" align="center">
				<input type="submit" value="Save Changes" onclick="javascript:saveEditLeadSheetSaved();" class="buttonTD">&nbsp;&nbsp;
				<input type="submit" value="Cancel Changes" onclick="javascript:cancelEditLeadSheetSaved();" class="buttonTD">
			</td>
		</tr>
		 
		<tr>
			<td align="center" colspan="13" >
				<input type="submit" style="width:190px"  name="editSavedSheets" class="buttonTD" id="editSavedSheets" value="Edit Selected Leadsheets" onClick="javascript:editLeadSheetSaved();"/>&nbsp;&nbsp;&nbsp;
				<input type="submit" style="width:150px" class="buttonTD" value="Export" onclick="javascript:exportReport('XLS');"/>&nbsp;&nbsp;
				<input type="submit" style="width:150px" class="buttonTD" value="Print Leadsheets" onclick="javascript:exportSheets(true);"/>&nbsp;&nbsp;
				<input type="submit" style="width:200px" class="buttonTD" value="Print Leadsheets (No Map)" onclick="javascript:exportSheets(false);"/>&nbsp;&nbsp;
			</td>
		</tr>
		
		<#else>
		<tr>
			<td colspan="8">No Records to Display</td>
		</tr>
		</#if>
	</tbody>
</table>
</div>
<div id='repslist' name='repslist' style='display:none' >
<table><tr><td>
<SELECT NAME="savedRepName" id="savedRepName"  class="inputControl">  
		<option value="-1">---UNASSIGN---</option>
		<#list repResult.data as repRow> 
		<option value="${repRow[0].value}">${repRow[1].value!''}</option> 
		</#list> 
</SELECT></td></tr></table>
</div>

</#if>
