<table cellspacing="0" cellpadding="0">
			<#if campaignSelector?exists>
				<tr>
					<td class="fl" align="right">
						Select Campaign:&nbsp;&nbsp;
					</td>
					<td class="fv">
						<select class="inputControl" name="campaignID" style="width: 180px;"id="campaignID"  onchange="javascript:checkCustomController();">
							<option value="-1">-Select-</option>
							<#list result.data as row>
								<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value}</option>
							</#list>
						</select>

				  	</td>
				</tr>
			</#if>
			<#if templateSelector?exists>
				<tr>
					<td class="fl" align="right">
						Select Template:&nbsp;&nbsp;
					</td>
					<td class="fv">
						<select id="templateID" class="inputControl" name="templateID" style="width: 180px;"onchange="javascript:loadTemplates(this);" >
							<#list result.data as row>
								<option value="${row[0].value}">${row[0].value}</option>
							</#list>
						</select> 
					</td>
				</tr>
			</#if>
		</table>
	</td>
</tr>


<#if selectedTemplateDetails?exists>
<tr><td>
<DIV id="def1">
<table cellpadding="0" cellspacing="0" class="crmWidth">
  <tbody>
    <tr><td>&nbsp;</td></tr>
    <tr>
		<td style="padding-left:20px;padding-right:20px;">
			<table border="0" width="100%">
				<tbody>
					<tr>
					<#if AssignLeadsByInICL?exists> 
						<td style="width: 250px;" colspan="6">&nbsp;&nbsp;&nbsp;&nbsp;<input name="AssignLeadsByInICL" id="AssignLeadsByInICL" <#if AssignLeadsByInICL?exists>  checked="checked" </#if> type="checkbox"/>&nbsp;&nbsp;Assign Leads by ICL Territory Boundary</td>
					</#if>
					</tr>
					<tr>
					<#if MaxDistanceOfficeInICL?exists>
						<td style="width: 250px;">&nbsp;&nbsp;&nbsp;&nbsp;<input name="checkMaxDistanceOfficeInICL" id="checkMaxDistanceOfficeInICL" <#if MaxDistanceOfficeInICL?exists>  checked="checked" </#if> type="checkbox"/>&nbsp;&nbsp;Max Distance from Office(in miles):</td>
						<td colspan="2"><input name="MaxDistanceOfficeInICL"  id="MaxDistanceOfficeInICL" size="14"  class="inputControl" type="text" <#if MaxDistanceOfficeInICL?exists>  value="${MaxDistanceOfficeInICL!''}"</#if> /></td>
					</#if>

					</tr>
					<tr>
					<#if minNoOfLeadsInICL?exists || maxNoOfLeadsInICL?exists>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<input name="checkNoOfLeadsInICL" id="checkNoOfLeadsInICL" <#if minNoOfLeadsInICL?exists || maxNoOfLeadsInICL?exists> checked="checked" </#if> type="checkbox">&nbsp;&nbsp;Number of Leads in an ICL</td>
						<td width="10px">Minimum<br><input name="minNoOfLeadsInICL" id="minNoOfLeadsInICL" size="5" <#if minNoOfLeadsInICL?exists>  value="${minNoOfLeadsInICL!''}" </#if> class="inputControl" type="text"/></td>
						<td align="left">Maximum<br><input name="maxNoOfLeadsInICL" id="maxNoOfLeadsInICL" size="5" <#if maxNoOfLeadsInICL?exists>  value="${maxNoOfLeadsInICL!''}" </#if> class="inputControl" type="text"/></td>
					</#if>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td align="center">
			<INPUT TYPE="submit" style="width:150px" value="Apply Template" onclick="javascript:processLeadsAssgn();" class="buttonTD">
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	</tbody>
</table>

</DIV>
</#if>


<#if unAssignLeadsTable?exists>
<script type="text/javascript">
		 uarSize = ${result.data?size};
</script>
<table cellspacing="0" cellpadding="0" class="list crmWidth">
	<thead>
		<tr>
			<th></th>
			<th>CRR</th>
			<th>Wire Center</th>
			<th>Lead ID</th>
			<th>Customer Name</th>
			<th>Street Address</th>
			<th>Apt#</th>
			<th>City</th>
			<th>Zip</th>
			<th>Assign ICL</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<#list result.data as row>
		<tr>
			<td><input type="checkbox" name="unAssgnLeadCheckbox"   id="unAssgnLeadCheckbox"  value="${row[8].value!""}"  /></td>
			<#list row as column>
				<td><#if column_index==9>
				<#else>
				<#if column_index==8>
				<#else>
					<#if column_index==2>
						<span id='lead_${row_index}' name='lead_${row_index}'>${column.value!""}</span>
						 <#else>${column.value!""}
					 </#if>
				 </#if>
				  </#if>
				 </td>
			</#list>
		</tr>
		</#list>
	</tbody>
</table>
<br />
<#if result.data?size != 0 >
<div>
		Select ICL&nbsp;&nbsp;
		<select style="width: 180px;" name='iclToAssgn' id='iclToAssgn' >
			<#list icls.data as icl>
				<option value="${icl[0].value}">${icl[1].value}</option>
			</#list>
		</select>
</div>
</#if>

</#if>

<#if assignLeadsTable?exists>
<script type="text/javascript">
		var params = {pageName : "ICLTerritoryManagement",controlName:"assignLeadsTable",campaignSeq:campaignSeq}
		var url = "uiController";

		function unAssignLeads(data){
			$("#AssignLeadsTable").children().remove();
			$("#AssignLeadsTable").append(data);
		}

	</script>
 
<table  cellspacing="0" cellpadding="0" class="list crmWidth">
<thead>
	<tr>
		<th></th>
		<th>CRR</th>
		<th>Wire Center</th>
		<th>Lead ID</th>
		<th>Customer Name</th>
		<th>Street Address</th>
		<th>Apt#</th>
		<th>City</th>
		<th>Zip</th>
		<th>ICL Assigned</th>
	</tr>
</thead>
	<tbody>
		<#list result.data as row>
		<tr>
			<td><input type="checkbox" name="assgnLeadCheckbox" id="assgnLeadCheckbox" value="${row[9].value!""}"  /></td>
			<#list row as column>
				<#if column_index==9> <#else> <#if column_index==10> <#else>
					<td>${column.value!""}</td>
				</#if></#if>
			</#list>
		</tr>
		</#list>

	</tbody>
</table>

<#if result.data?size != 0 >
<div>
		Select ICL&nbsp;&nbsp;
		<select style="width: 180px;" name='iclToUpdate' id='iclToUpdate' >
			<#list icls.data as icl>
				<option value="${icl[0].value}">${icl[1].value}</option>
			</#list>
		</select>
</div>
</#if> 
</#if>