<#if territoryDefSelector?exists>
<DIV id="def1">
		<Br/>
			<table  border="0" cellspacing=0 cellpadding=0 class="crmWidth">

			  <tr  height=30>
			  <td width="25px">&nbsp;</td>

			<td class="fl" style="vertical-align:middle">Campaign Name &nbsp;</td>
			  <td class="fv" style="vertical-align:middle"><INPUT TYPE="text" NAME="" size=30 value="${campaignName!''}" readonly="readonly" class="inputControl"></td>
				<td></td>
			 <td class="fl" style="vertical-align:middle">ICL Name&nbsp; &nbsp;</td>
			 <td class="fv" style="vertical-align:middle"><INPUT TYPE="text" NAME="" size=30 value="${officeName!''}" readonly="readonly" class="inputControl"></td>
			 </tr>

			 <tr  height=30>
			 <td>&nbsp;</td>
			 <td class="fl" style="vertical-align:middle">Territory Name&nbsp; &nbsp;</td>
			 <td class="fv" style="vertical-align:middle"><INPUT TYPE="text" NAME="territoryName" id="territoryName" size="30" value="${territoryName!''}" class="inputControl">
			 </td>
			<td></td>
			<td class="fl" style="vertical-align:middle">ICL Rep Assigned Name &nbsp;</td>
			 <td class="fv" style="vertical-align:middle">
				 <SELECT id="personID"  name="personID" style="width: 180px;" name="repId"	class="inputControl" onchange="javascript:isPersonChanged('${agentName!''}',this.value)">
				 	<option value="-1">---Select---</option>
					<#list repList.data as row>
						<#if row[1].value = agentName!''>
							<option value="${row[0].value}" selected>${row[1].value!''}</option>
						<#else>
							<option value="${row[0].value}">${row[1].value!''}</option>
						</#if>
					</#list>
				</SELECT>
			</td>
			 </tr>

			 <tr  height=30>
			 <td>&nbsp;</td>
				<td class="fl" style="vertical-align:middle">ICL Rep Assigned Date &nbsp;</td>
			 <td class="fv" style="vertical-align:middle" ><INPUT TYPE="text" NAME="repAssignedDate" id="repAssignedDate" size="30" value="${repAssignedDate!''}" readonly="true" class="inputControl"></td>

			 <td>&nbsp;</td>
			 <td class="fl" style="vertical-align:middle">Returned Date&nbsp;</td>
			<td class="fv"style="vertical-align:middle"><INPUT TYPE="text" NAME="iclReturnedDate"  size="30" value="${repReturnedDate!''}" readonly="true" class="inputControl" id="iclReturnedDate">
				<script language="javaScript">
				$("#iclReturnedDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
				</script>
			</tr>

			 <tr  height=30>
			 <td>&nbsp;</td>
			 <td class="fl" style="vertical-align:middle">Territory Status&nbsp; &nbsp;</td>
			 <td class="fv" style="vertical-align:middle">
			 <SELECT NAME="status" id="status" class="inputControl">
			  <#if activeFlag?exists >
			 <#if activeFlag = 'Y'> 
				<OPTION value="Y" SELECTED>Active</OPTION>
				<OPTION VALUE="N">InActive</OPTION>
			<#else>
				<#if activeFlag = 'N'> 
					<OPTION value="Y">Active</OPTION>
					<OPTION VALUE="N" SELECTED>InActive</OPTION>		
				<#else><OPTION value="Y" SELECTED>Active</OPTION>
				<OPTION VALUE="N">InActive</OPTION></#if>
			</#if></#if>
			</SELECT></td>
			<td></td>
			<td class="fl" style="vertical-align:middle">Number of Businesses &nbsp;</td>
			 <td class="fv" style="vertical-align:middle"><INPUT TYPE="text" NAME="noOfBusines" id="noOfBusines" size="30" value="${numberOfBusiness!''}" class="inputControl">
			</td>
			 </tr>

			<tr  height=30>
			 <td>&nbsp;</td>
			 <td class="fl" style="vertical-align:middle">Territory Created Date &nbsp;</td>
			 <td class="fv" style="vertical-align:middle"><INPUT TYPE="text" NAME="createdDate"  id="createdDate" size="30" value="${createdDate!''}" readonly="true" class="inputControl">
			</td>
			<td></td>
			<td class="fl" style="vertical-align:middle">Number of Orders &nbsp;</td>
			 <td class="fv" style="vertical-align:middle"><INPUT TYPE="text" NAME="noOfOrders" id="noOfOrders" size="30" value="${numberOfOrders!''}" class="inputControl">
			</td>
			 </tr>
			 <tr  height=30>
				 <td>&nbsp;</td>
				 <td class="fl" valign="middle" style="vertical-align:middle">Territory Description&nbsp;&nbsp; </td>
				 <td colspan="4" class="fv">
					<TEXTAREA NAME="description" ROWS="3" COLS="114" class="inputControl"  id="description">${territoryDescription!''}</TEXTAREA>

				 </td>
				 </tr>

			</table>

		</DIV>
			<Br/>
	 </#if>


<#if territoryListTable?exists>
<DIV id="def2">

<table id="data" cellspacing="0" cellpadding="0" class="list crmWidth">
	<thead>
		<tr>
			<th></th>
			<th>Territory Type</th>
			<th>US State</th>
			<th>County</th>
			<th>WireCenter</th>
			<th>CRR</th>
		</tr>
	</thead>
	<tbody>
		<#if result.data?exists>
		<#list result.data as row>
		<tr>
		<td><a onclick="territoryFor='ICLLEAD';javascript:deleteConfirmation('','deleteICLLEADTerritory(${row[5].value},\'${row[6].value}\')');" style="text-decoration:underline;cursor: pointer">Delete</a></td>
			<#list row as column>
			<#if column_index==5 || column_index==7> <#else><#if column_index==6> <#else><td>${column.value!''}</td></#if></#if>
			</#list>
		</tr>
		</#list>
		<#else>
			<tr><td colspan="6">No records to display</td></tr>
		</#if>
	</tbody>
</table>

</div>
</#if>