<#if campaignSelector?exists>
<table class="crmWidth">
<tr>
 <td>
 <div class="hltb">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tbody>
		<tr>
			<td width="2%">
			<ul class="piped-list piped-list-left piped-list-view-left">
				<li class="first">
				<h4 id="ocTitleFieldLabel">Campaign Territory Management<span id="ocTitleField" /></h4>
				</li>
				<li><a class="vlk" onclick="javascript:gotoHomePage();" style="cursor:pointer">Back to Main Page</a></li>
			</ul>
			</td>
		</tr>

	</tbody>
</table>
</div>
 </td>
 </tr>
 <tr>
 		<td align="left">
 			<table cellpadding="1" cellspacing="0" class="tb crmWidth">
 				<tbody>
 					<tr valign="center">
 						<td>Map View</td>
 					</tr>
 				</tbody>
 			</table>
 		</td>
	</tr>
 <tr>
 <tr><td>&nbsp;</td></tr>
<td>
	<div id = "campaignSelector_holder" name="campaignSelector_holder"></div>

	<script type="text/javascript">
		var params = {pageName : "CampaignAdmin",controlName :"campaignSelector"}
		var url = "uiController";
		territoryFor = "ICL";
		// Call back function when Campaign is loaded
		function campaignSelectorLoaded(data){
			$("#campaignSelector_holder").children().remove();
			$("#campaignSelector_holder").append(data);
			loadCampiagnICLS();
		}

		loadControl(url,params,campaignSelectorLoaded);

		var campaignSeq = -1;
		// Call back function when ICL is loaded
		function onICLTableLoaded(data){
			$("#iclTable_holder").children().remove();
			$("#iclTable_holder").append(data);
			showTerritory();
		}

		function loadCampiagnICLS(pageNumber) {

			campaignSeq = document.getElementById("CampaignSelector").value;
			sessionCampaignSeq = document.getElementById("CampaignSelector").value;

			var params = {
					pageName : "CampaignAdmin",
					controlName:"iclTable",
					campaignSeq:campaignSeq,
					pageNumber:pageNumber
					};
			var url = "uiController";

			loadPaginatedTable(url,params,onICLTableLoaded,pageNumber);
		}

		function showTerritory(){
			var selectedICLlist = "";
			for (var i = 0; i < document.getElementsByName('iclCheckbox').length; i++){
				if(document.getElementsByName('iclCheckbox')[i].checked == true ){
					selectedICLlist = selectedICLlist +',\'' +document.getElementsByName('iclCheckbox')[i].value +'\'';
				}
			}
			try{
				clearMarkers();
				clearPolylines();
			}catch(e){
			}
			loadKML("mapServlet?action=loadPolylines&territoryFor="+territoryFor+"&campaignSeq="+campaignSeq+"&officeSeq=" + selectedICLlist.substring(1, selectedICLlist.length));
			loadKML("mapServlet?action=loadPoints&cSeq="+campaignSeq);

		}


		function ICLAdminLoaded(data){
			$("#pageHolder").children().remove();
			$("#pageHolder").append(data);
		}

		// Call back function when Campaign is loaded
		function goToICLAdmin(officeSeq){
			campaignSeq = document.getElementById("CampaignSelector").value;
			var params = {pageName : "ICLAdmin",loadTemplate:"false"}
			var url = "uiController";

			hideMap();
			params = {pageName : "ICLAdmin",loadTemplate:"false",officeSeq:officeSeq,campaignSeq:campaignSeq}
			loadControl(url,params,ICLAdminLoaded);
		}



	</script>
</td></tr>
</#if>



<#if showCampaignMap?exists>
<tr><td>
	<div id="tempMapHolder"  name="tempMapHolder"></div>
	<script type="text/javascript">
		try{
			clearPolylines();
			clearPolygons();
			clearMarkers();
		}catch(e){
		}
		showMap();
		resizeMap(820);
		mapRequired = "true";
		// Now Load Map
		loadMap();
		createMapControls();
		markerControlEnabled = "true";
		polygonControlEnabled = "true";
		polylineControlEnabled = "true";
		addControls();
	</script>
</td></tr>
</#if>


<#if iclTable?exists>
<tr><td>
	<div id = "iclTable_holder" name="iclTable_holder"></div>
</td></tr>
</table>
</#if>



