<script type="text/javascript">
	var campaignSeq = "${campaignSeq}";
	var officeSeq = "${officeSeq}";

	territoryFor = "ICL";
	// Call back function when Campaign is loaded
	function campaignIclDefLoaded(data) {
		$("#campaignIclDef_holder").children().remove();
		$("#campaignIclDef_holder").append(data);
	}

	/**To refresh map and tables
	 */
	function refreshMapAndCampaign() {
		refreshCampaign();
		refreshMap();
	}

	function refreshMap() {
		clearPolygons();
		loadKML("mapServlet?action=loadPolygons&territoryFor="+territoryFor+"&campaignSeq="+campaignSeq+"&officeSeq=" + officeSeq + "");
	}

	function refreshCampaign() {
		var params = {
			pageName :"ICLAdmin",
			controlName :"campaignIclDef",
			officeSeq :officeSeq,
			campaignSeq : campaignSeq
		}
		var url = "uiController";
		loadControl(url, params, campaignIclDefLoaded);
	}

	function refreshTerritory(pageNumber) {
		if(pageNumber != undefined){
			var params = {
				pageName :"TerritoryManagement",
				controlName :"loadTerritoryDetails",
				officeSeq :officeSeq,
				campaignSeq:campaignSeq,
				territoryFor:territoryFor,
				pageNumber:pageNumber
			};
		}else{
			var params = {
					pageName :"TerritoryManagement",
					controlName :"loadTerritoryDetails",
					officeSeq :officeSeq,
					territoryFor:territoryFor,
					campaignSeq:campaignSeq
			};
		}
		var url = "uiController";
		loadPaginatedTable(url, params, onTerritoryListTableloaded,pageNumber);
	}
	// Call back function when Campaign is loaded
	function territoryTableLoaded(data) {
		$("#territoryTable_holder").children().remove();
		$("#territoryTable_holder").append(data);
	}

	function onTerritoryListTableloaded(data) {
		$("#territoryTable_holder").children().remove();
		$("#territoryTable_holder").append(data);
	}
	function refreshMapAndTerritory() {
		refreshMap();
		refreshTerritory();
	}

	function deleteICLTerritory(territoryMapSeq){
		var url = "uiController";
		var params = {
				pageName :"TerritoryManagement",
				controlName :"deleteTerritory",
				territoryFor:territoryFor,
				territoryMapSeq:territoryMapSeq
		}
	   loadControl(url, params, refreshTerritory);

}
	function saveICLTerritory(){
		var defaultleads = document.getElementById('defaultleads').value;
		var maxleads = document.getElementById('Maxleads').value;
		var params = {
				pageName :"TerritoryManagement",
				controlName :"saveICLTerritory",
				campaignSeq : campaignSeq,
				officeSeq :officeSeq,
				defaultleads :defaultleads,
				maxleads : maxleads
		}
		if(defaultleads==""){
				alert("Please Enter Value for Default Leads in Lead Sheet");
				document.getElementById("defaultleads").focus();
				return;
		}
		if(maxleads==""){
				alert("Please Enter Value for Max Leads in Lead sheet");
				document.getElementById("Maxleads").focus();
				return;
		}

		if(isNaN(defaultleads)){
				alert("Enter Valid Number for Default Leads in Lead Sheet");
				document.getElementById("defaultleads").focus();
				return;
		}
		if(isNaN(maxleads)){
				alert("Enter Valid Number for Max Leads in Lead sheet");
				document.getElementById("Maxleads").focus();
				return;
		}
		if(defaultleads<1){
				alert("Default Leads in Lead Sheet value should be Greater than Or equals to 1");
				document.getElementById("defaultleads").focus();
				return;
		}

		if(maxleads<1){
				alert("Max Leads in Lead Sheet value should be Greater than Or equals to 1");
				document.getElementById("Maxleads").focus();
				return;
		}

		if(defaultleads>maxleads){
				alert("Default Leads in Lead Sheet value should be Less than Max Leads in Lead Sheet");
				document.getElementById("defaultleads").focus();
				return;
		}

	   loadControl(url, params);
		}
</script>


<table class="crmWidth">
	<#if showTerritoryMap?exists>
	<table class="crmWidth">
		<tr>
			 <td>
				 <div class="hltb">
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tbody>
							<tr>
								<td width="2%">
									<ul class="piped-list piped-list-left piped-list-view-left">
										<li class="first">
										<h4 id="ocTitleFieldLabel">Campaign Territory Management - Setup ICL Territories<span id="ocTitleField" /></h4>
										</li>
										<li>
											<a href="#" onclick="javascript:gotoHomePage();">Main Page</a>
										</li>
										<li>
											<a href="#" onclick="javascript:goToCampaignAdmin();">Campaign Territory Management</a>
										</li>
										<li>
											ICL Territory Detail
										</li>
									</ul>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			 </td>
	   </tr>
	   <tr>
	    		<td align="left">
	    			<table cellpadding="1" cellspacing="0" class="tb crmWidth">
	    				<tbody>
	    					<tr valign="center">
	    						<td>Campaign Territory Management - Setup ICL Territories</td>
	    					</tr>
	    				</tbody>
	    			</table>
	    		</td>
	   	</tr>
	    <tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
				<td>
					<div id="tempMapHolder" name="tempMapHolder"></div>
					<script type="text/javascript">
					try{
						clearPolylines();
						clearMarkers();
						clearPolygons();
					}catch(e){
					}
					showMap();
					resizeMap(820);
					mapRequired = "true";
					// Now Load Map
					loadMap();
					resizeMap(820);
					createMapControls();
					markerControlEnabled = "true";
					polygonControlEnabled = "true";
					polylineControlEnabled = "true";
					addControls();
				</script>
			</td>
	</tr>
	</#if>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
		<TABLE cellpadding="1" cellspacing="0" class="ctb crmWidth">
			<tbody>
				<TR>
					<TD><A
						onClick="Toggle(this,document.getElementById('campaignIclDef'))"
						id="GroupOne" style="CURSOR: hand"> <IMG
						SRC="assets/images/hideshow_infoshown_grayscale.gif"> </A></TD>
					<td nowrap="nowrap">Campaign ICL Definition</td>
					<td width="100%"></td>
				</TR>
			</tbody>
		</TABLE>
		<br />
		<div id="campaignIclDef_holder" name="campaignIclDef_holder"></div>

		<script type="text/javascript">
			refreshMapAndCampaign();
		</script>
</td>
	</tr>

	<tr>
		<td>
		<table cellpadding="1" cellspacing="0" class="tb crmWidth>
			<tbody>
				<tr valign="center">

					<TD style="width: 200px"><A
						onClick="Toggle(this,document.getElementById('territoryTableData'))"
						id="GroupTwo" style="CURSOR: hand"> <IMG
						SRC="assets/images/hideshow_infoshown_grayscale.gif"> </a></td>
					<td>Campaign Territory Definition</td>
					<td>&nbsp;&nbsp;&nbsp;<input type="button" value="New" class="buttonTD"
						align="left" onclick="territoryFor='ICL';javascript:openModal(campaignSeq,officeSeq);" /></td>
					<td width="100%"></td>
				</tr>
			</tbody>
		</table>

		<div id="territoryTable_holder" name="territoryTable_holder"></div>

		<script type="text/javascript">
			refreshTerritory();
		</script>
		</td>
	</tr>

</table>
