 <#if campaignIclDef?exists>
<DIV id="campaignIclDef">
<table border="0" cellspacing="0" cellpadding="0" class="crmWidth">
	<#list result.data as row>

	<tr>
		<td class="fl">ICL Code &nbsp;</td>
		<td><INPUT TYPE="text" id="iclname" size="30" readonly="true" value="${row[6].value!''}" class="inputReadOnly" /></td>
		<td>&nbsp;</td>
		<td class="fl">ICL Owner &nbsp;</td>
		<td><INPUT TYPE="text" id="iclowner" value="${row[2].value!''}" size="30" readonly="true" class="inputReadOnly"></input></td>
	</tr>
	<tr style="height:2px"><td colspan="5">&nbsp;</td></tr>
	<tr>
		<td class="fl">ICL Name &nbsp;</td>
		<td><INPUT TYPE="text" id="iclname" size="30" readonly="true" value="${row[0].value!''}" class="inputReadOnly" /></td>
		<td>&nbsp;</td>
		<td class="fl">ICL Status &nbsp;</b></td>
		<td><INPUT TYPE="text" id="status" name="status" <#if row[4].value?exists> <#if row[4].value =='Y'>value='Active'<#else>value='InActive'</#if>  </#if>  size="30" readonly="true" class="inputReadOnly"></input></td>
	</tr>
	<tr style="height:2px"><td colspan="5">&nbsp;</td></tr>
	<tr>
		<td class="fl">Start Date &nbsp;</td>
		<td><input type="text" value="${row[3].value!''}" id="iclStartDate" size="30" readonly="true" class="inputReadOnly" /></td>
		<td>&nbsp;</td>
		<td class="fl">End Date &nbsp; </b></td>
		<td><input type="text" value="${row[5].value!'NA'}" id="iclEndDate" size="30" readonly="true" class="inputReadOnly" /></td></td>
	</tr>
	<tr style="height:2px"><td colspan="5">&nbsp;</td></tr>
	<tr>
		<td class="fl">ICL Address &nbsp;</td>
		<td colspan="4">
			<input type="text" value="${row[1].value!''}" id="icladdress" size="114" readonly="true" class="inputReadOnly" />
		</td>
	</tr>
	<tr style="height:2px"><td colspan="5">&nbsp;</td></tr>
	<tr >
		<td class="fl">ICL Description &nbsp;</td>
		<td colspan="4">
			<textarea class="inputReadOnly" id="icldesc" name="icldesc" rows="5" cols="110" >${row[7].value!''}</textarea>
		</td>
	</tr>
	<tr style="height:2px"><td colspan="5">&nbsp;</td></tr>
	<tr>
		<td class="fl"><b>Default Leads in Lead Sheet&nbsp;&nbsp;</b></td>
		<td><input type="text" name="defaultleads" class="inputControl" id="defaultleads" <#if defleads?exists>  value="${defleads!''}" </#if> ></input></td>
		<td>&nbsp;</td>
		<td class="fl"><b>Max Leads in Lead sheet&nbsp;&nbsp;</b></td>
		<td><input type="text" name="Maxleads" class="inputControl" id="Maxleads"  <#if maxleads?exists>  value="${maxleads!''}" </#if> ></input></td>
	</tr>
	<tr><td colspan="5">&nbsp;</td></tr>
	<tr>
		<td align="center" colspan="5">
			<INPUT TYPE="button" value="Save" class="buttonTD" style="width:75px" onclick="javascript:saveICLTerritory();">
			&nbsp;&nbsp;&nbsp;
			<INPUT TYPE="button" value="Cancel" class="buttonTD" style="width:75px" onclick="javascript:goToCampaignAdmin();">
		</td>
	</tr>

	</#list>
</table>
</DIV>
<br />
<br />
</#if>

 <#if territoryListTable?exists>

<script type="text/javascript">
		// Call back function when Territory is edited
		function loadPopup(territorySeq){
		  window.open("uiController?pageName=PopupWindow&displayStates=true&displayCounties=true&iclSubmitActions=true&territorySeq="+territorySeq,"Homepage","resizable=no,status=yes,scrollbars=yes,width=220,height=200");
		}

		function onTerritoryDeleted(data){
			refreshMapAndTerritory();
		}

		function deleteTerritory(territorySeq){
			var params = {pageName : "ICLAdmin",controlName :"deleteTerritory",officeSeq :officeSeq,territorySeq:territorySeq}
			var url = "uiController";
			loadControl(url,params,onTerritoryDeleted);
		}
</script>
<DIV id="territoryTableData">
<table id="data" cellspacing="0" cellpadding="0" class="list crmWidth">
	<thead>
		<th></th>
		<th>Territory Name</th>
		<th>Territory Type</th>
		<th>US State</th>
		<th>County</th>
		<th>Territory Status</th>
	</thead>
	<tbody>
		<#if result.data?exists>
		<#list result.data as row>
		<tr>
			<td><a
				onclick="territoryFor='ICL';javascript:deleteConfirmation('','deleteICLTerritory(\'${row[5].value}\')')" style="cursor:pointer;text-decoration:underline">Delete</a>
			</td>
			<td>${row[0].value!""}</td>
			<td>${row[1].value!""}</td>
			<td>${row[2].value!""}</td>
			<td>${row[3].value!""}</td>
			<td><#if row[4].value == "1">Active <#else>InActive</#if></td>
		</tr>
		</#list>
		</#if>
	</tbody>
</table>
</DIV>
</#if>
