/* new styles in development for RTO7 - gtang

actiontitlebar			atb
adminlink				alk
alphafilterbar			ab
childtitlebar			ctb
childtitlebarlink		ctblk
columnheader			ch
columnheaderLink		chlk
commandbutton			cbtn
commandlink				clk
description				desc
errormessage			emsg
expandlink				elk
widgetlink           wlk
fieldlabel				fl
fieldvalue				fv
list					list
message					msg
navagationlink			nlk
navagationcontrollink	nclk
negative				neg	
outputlink				olk
panelgrid				pg
requiredtext			rt
screentab				stb
screentitle				st
titlebarlink			tblk
titlebar				tb

bold					b
alphafilterlink			aflk
screenlink				slk
viewlink				vlk
quicklink				qlk
formfieldlink			fflk
listfieldlink			lflk
highpriority			hp
simplelistbulleted		slb
simplelistnotbulleted	slnb


reference 1: fixes double margin bug in IE on side of float closest to container edge
	i.e. adding display: inline to a style rule with float defined

reference 2: prevents float drop bug in IE
	i.e. adding properties:	position: relative;
							margin-left: -200px;
							left: 200px
						
		 plus isolating a floating element with a surrounding static div
							
reference 3: parsing error in IE makes it apply to IE only
	i.e. prepending "* html" to a selector

reference 4: parsing error prevents IE5.x from interpreting the rest of the style rule
	i.e. adding	the following signals end of rule
			voice-family:"\"}\"",inherit;
	
*/


/****************** base **********************/

#sidebar, #view {
	background-color: #fff
}
#tabs {
	background: #2165ad url(../images/tab-bg.jpg) top right no-repeat;
	border-bottom: 5px solid #BDCFE7;
	width: 836px;
  
}
* html #tabs {
	width: 834px;
}

#header {
	background: #2165ad url(../images/header-bg.jpg) no-repeat;
	height: 45px;
	width: 991px
}
* html #header {
	width: 988px
}
#footer {
	background-color: rgb(0, 98, 189);
	margin-top: 5px;
	padding-top: 20px;
	text-align: center;
	width: 991px
}
#footerLegal {
	background-color: rgb(0, 98, 189);	
	text-align: center;
   width: 991px;
}
#footerLegalOnly {	
   background-color: rgb(0, 98, 189);	
	text-align: center;
}
* html #footer {
	width: 988px
}
#sidebar {
	background-color: #f2f2f5;
	margin-right: 5px;
	min-height: 483px;
	min-width: 150px;
   max-width: 420px
}
* html #sidebar {
	height: 483px;
	width: 150px
}

* html .ganttappt {
  margin-top: 13px;
}

.ganttapptgreen {
  margin-left: 2px;
}

* html .ganttapptgreen {
  margin-left: 0px;
}

.ganttapptleft {
  margin-left: 1px;
}

* html .ganttapptleft {
  margin-left: 0px;
}

#view {
  min-height: 460px;
	min-width: 836px;
  max-width: 836px;
}
#viewWizard {
	background-color: #fff; 
	min-height: 460px;
}
* html #view {
	height: 460px;
	width: 834px
}
.popupBody #view {
	min-height: 0px;
	min-width: 0px;
	height: inherit;
	width: 100%;
	background-color: rgb(0, 98, 189);
}

.popupBody .footer
{
  color: white;
}

#screen {

}
#errorview {
	background-color: #fff;
	margin-left: 5px;
	padding: 5px;
	width: 991px
}

.hll1 {
	clear: left;
	float: left;
	margin-bottom: 5px;
	margin-left: 5px;
	min-height: 75px;
	max-width: 412px;
	min-width: 412px
}
* html .hll1 {
	display: inline;
	height: 75px;
	width: 407px
}
.hlr1 {
	clear: right;
	float: right;
	margin-bottom: 5px;
	margin-right: 5px;
	min-height: 75px;
	max-width: 411px;
	min-width: 411px
}
* html .hlr1 {
	display: inline;
	height: 75px;
	width: 406px
}
.hll2 {
	clear: left;
	float: left;
	margin-bottom: 5px;
	margin-left: 5px;
	max-width: 412px;
	min-width: 412px
}
* html .hll2 {
	display: inline;
	width: 407px
}
.hlr2 {
	clear: right;
	float: right;
	margin-bottom: 5px;
	margin-right: 5px;
	max-width: 411px;
	min-width: 411px
}
* html .hlr2 {
	display: inline;
	width: 406px
}
.hlh1 {
	float: left;
	margin: 0 5px 5px 5px;
	min-height: 100px;
	min-width: 828px
}
* html .hlh1 {
	display: inline;
	width: 818px;
	height: 100px
}
.hlh2 {
	float: left;
	margin: 0 5px 5px 5px;
	min-width: 828px
}
* html .hlh2 {
	display: inline;
	width: 818px;
}
.hprcs1{
	margin: 0 0 0 5px;
	min-height: 75px;
	min-width: 411px
}
 .hpinner {
	height: 100px
}
.hplcs1{
	min-height: 75px;
	min-width: 411px
}
.hprcs2 {
	margin: 5px 0 5px 0;
	min-height: 100px;
	min-width: 828px
}
.hplcs2{
	margin: 5px 5px 5px 5px;
	min-height: 100px;
	min-width: 828px
}
.hltb {
	float: left;
	margin: 3px;
	min-width: 828px
}
* html .hltb {
	display: inline;
	width: 818px;
}
.hltb td {
	white-space: nowrap
}

.hlbr {
	clear: both;
	float: left
}

.dvcl {
	float: left;
	margin: 0 15px 5px 25px;
	max-width: 784px;
	min-width: 784px;
}
* html .dvcl {
	display: inline;
	width: 788px;
}
/* Used to clear floating elements in Firefox */
.clear {
	font-size: 0;
	line-height: 0;
	height: 0;
	padding: 0;
	margin: 0;
	clear: both;
}
.slb {
 	list-style: url(../images/img_simple_list_bullet.gif) outside;
   	margin-bottom: 6px;
	margin-left: 23px;
	margin-top: 0;
   	padding: 0;								/* removes indent in mozilla */
}

* html .slb li {
   padding-left: 5px;
}

.slb-more {
   margin-left: 5px;
}

.history, .quickcreate, .slnb, .widget {
	list-style: none;
}

.text-base {
   font: 8pt tahoma;
}
.text-bold {
   font-weight: bold;
}

.listContainer {
	overflow: auto    
}
* html .listContainer {
	clear: both;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: visible;
	padding-bottom: 22px
	/* to make space for scrollbar, or else content gets covered by scrollbar in IE */        
}
.list {
	width: 100%;
}
.list td {
   	border-bottom: 1px solid #c9cbd3;
   	color: #3c3c3c;
	/* comment padding: 1px 5px 1px 5px;*/
	padding: 1px;
	white-space: normal;
}
.list td a:link,
.list td a:visited {
	color: #2b7c92;
	text-decoration: none;
}
.list td a:hover {
	color: rgb(32,118,203);
	text-decoration: underline;
}
.list th {
	background-color: #cfe0f1;
   	font: bold 8pt tahoma;
	color: #2e558c;
	line-height: 12pt;
	padding: 1px 5px 1px 5px;
	text-align: left;
	white-space: normal;
}
.list th a:link,
.list th a:visited {
	color: #2e558c;
	text-decoration: none;
}
.list th a:hover {
	text-decoration: underline;
}
.list .m1 {
	padding: 1px 3px 1px 5px;
	white-space: nowrap
}
.list .m {
	padding: 1px 3px 1px 0;
	white-space: nowrap
}
.lsc {
	padding: 1px 5px 2px 5px;
	text-align: center
}
.afb {
	background-color: #edf6ff;
}
.af {
	background-color: #edf6ff;
	padding: 1px 5px 1px 5px; 
}
.af span {
	color: #3a5a87;
	font: 8pt tahoma;
	margin: 0 9px 0 0
}


label, td {
	font-family: tahoma, sans-serif;
	font-size: 8pt
}

.slk:link,
.slk:visited
{
	color: white;
	font: 8pt tahoma;
	text-decoration: none;
   white-space: nowrap;
}
.slk:hover {
	color: white;
	text-decoration: underline;
}

.nclk:link,
.nclk:visited
{
	color: #2e558c;
	font: 8pt tahoma;
	text-decoration: none;
   margin-left:1px;
}
.nclk:hover {
	color: #3c3c3c;
	text-decoration: underline;
}

.navControlLink:link,
.navControlLink:visited
{
	color: #2e558c;
	font: 8pt tahoma;
	text-decoration: none;
}
.navControlLink:hover {
	color: #3c3c3c;
	text-decoration: underline;
}

.nlk:link,
.nlk:visited
{
	color: #2e558c;
	font: 8pt tahoma;
	text-decoration: none;
}
.nlk:hover {
	color: #3c3c3c;
	text-decoration: underline;
}

.qlk:link,
.qlk:visited
{
	color: #2e558c;
	font: 8pt tahoma;
	text-decoration: none;
}
.qlk:hover {
	color: #3c3c3c;
	text-decoration: underline;
}

.tblk:link,
.tblk:visited
{
	color: #2e558c;
	font: normal 8pt tahoma;
	text-decoration: none;
}
.tblk:hover {
	color: #3c3c3c;
	text-decoration: underline;
}

.vlk:link,
.vlk:visited
{
	color: #2e558c;
	font: 8pt tahoma;
	text-decoration: none;
}
.vlk:hover {
	color: #3c3c3c;
	text-decoration: underline;
}

.flk:link,
.flk:visited
{
	color: #2e558c;
	font: 8pt tahoma;
	text-decoration: none;
}
.flk:hover{
	color: #3c3c3c;
	text-decoration: underline;
}

.fv a:link,
.fv a:visited
{
	color: #2e558c;
	font: 8pt tahoma;
	text-decoration: none;
}
.fv a:hover {
	color: #3c3c3c;
	text-decoration: underline;
}
.aflk {
	color: #000;
	margin: 0 5px 0 5px
}
.aflk:link,
.aflk:visited
{
	color: #2e558c;
	font: 8pt tahoma;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
}
.aflk:hover {
	color: #3c3c3c;
	text-decoration: underline;
}

.alk:link,
.alk:visited
{
	color: #2e558c;
	font: 8pt tahoma;
	text-decoration: none;
}
.alk:hover {
	color: #3c3c3c;
	text-decoration: underline;
}

.pplk:link,
.pplk:visited
{
	color: #2e558c;
	font: 8pt tahoma;
	margin-right: 2px;
	text-decoration: none;
}
.pplk:hover {
	color: #3c3c3c;
	text-decoration: underline;
}
.elk:link,
.elk:visited
{
	color: #7e7f7f;
   font: 8pt tahoma;
	text-decoration: none;
}
.elk:hover {
	color: #7e7f7f;
   text-decoration: underline;
}
.wlk:link,
.wlk:visited
{
	color: #7e7f7f;
   font: 8pt tahoma;
	text-decoration: none;
   white-space: nowrap;
}
.wlk:hover {
	color: #7e7f7f;
   text-decoration: underline;
}
.fflk {
	color: #000
}
.lflk {
	color: #000
}

.b {
	font-weight: bold
}
.stb {
	background-color: #dee2e8;
	border-right: 1px solid #939fc2;
	color: #858585;
	cursor: pointer;
	font-weight: bold; 
	padding: 10px 5px 2px 2px;
	display : inline;
	margin-right: 3px;
}
.desc {
	color: #666;
	font-family: tahoma, sans-serif;
	font-size: 8pt
}
.neg, .hp {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	color: #f00
}
.clk {
	color: #000
	
}
.olk {
	color: green
}
.ctblk {
	
}
.msg {
}
.emsg {
	padding: 0px 0px 1px 0px;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt; 
	line-height: 11pt;
	color: #7e7f7f; 
	text-decoration: none;  
}
.ch {
}
.chlk {
}
.pg {
}
.fl {
	font: 8pt tahoma;
	color: #000;
	line-height: 10pt;
	padding-top: 4px;
	text-align: right;
	vertical-align: text-top;
	white-space: normal;
}
.fv {
	color: #3c3c3c;
	font: bold 8pt tahoma;
	line-height: 10pt;
	padding-top: 4px;
	vertical-align: text-top;
	white-space: normal;
}

.rt {
	font-weight: bold;
	color: red;
}
.cbtn {
	background-color: #94acd4;
	border: 2px groove;
	border-color: #a8b5d8 #fff #fff #a8b5d8;
	color: #fff;
	cursor: pointer;
	font-weight: normal;
	padding: 0 2px 1px 0;
	white-space: nowrap
}

.titleBarHeader,
.tb {
	background: white url(../images/hBar-Bg.gif) repeat-x;
	color: #343434;
}
.pvtb {
	background: white url(../images/hBar-Bg_pvtb.gif) repeat-x;
	color: #343434;
}
.ctb {
	background: white url(../images/hBar-Bg.gif) repeat-x;
	color: #000;
	width: 100%
}
.tb td, .ctb td, .footbar td, .titleBarHeader,.pvtb td{
	font: bold 8pt tahoma;
	height: 21px;
	padding: 0 2px 0 3px;
	white-space: nowrap
}
.titleBarHeaderCell
{
   background: white url(../images/hBar-Bg.gif) repeat-x;
	color: #343434;
}
.atb {
   background: #CCD7E0 url(../images/hBar-Bg.gif) repeat-x;
   padding: 1px 2px 1px 2px;
   overflow:hidden;
}
* html .atb {
   padding: 3px 0 3px 2px;
}
.atb table td
{
   font: bold 8pt tahoma;
   color: #343434;
}
.st {
	font-size: 12pt;
	font-weight: bold
}

#footer hr {
	background-color: #999;
	border: 0;
	color: #999;
	height: 1px;
	width: 400px
}
#footer, #footerLegal, #footerLegalOnly p {
	color: white
}

p.desc {
	margin: 10px 8px 10px 8px
}
p {
	margin: 10px 0 10px 0
}
* html p {
	margin: 7px 0 7px 0
}
select {
	font-family: arial, sans-serif;
	font-size: 8pt;
	font-weight: normal
}



.alha {
	margin-left: 11px
}
* html .alha {
	margin-left: 5px
}
.alda {
	color: #006000;
	font-weight: bold;
	position: relative;
	top: -1px
}
.alua {
	color: #f00;
	font-weight: bold;
	position: relative;
	top: -1px
} 
* html .alda {
	top: 1px
}
* html .alua {
	top: 1px
} 
.atbl {
	margin: 5px;
	table-layout: fixed
}
.prth {
	background-color: #fff;
	border: 2px solid #6689c2;
	margin-bottom: 5px;
	padding: 3px;
	text-align: center
}
.tbbtn {
	background-color: #94acd4;
	border: 2px groove; 
	border-top-color: #a8b5d8;
	border-left-color: #a8b5d8;
	border-bottom-color: #fff;
	border-right-color: #fff;
	color: #fff;
	cursor: pointer;
	font-family: arial,  sans-serif;
	font-size: 8pt;
	font-weight: normal;
	line-height: 1.1em;
	padding: 0 2px 1px 0;
	vertical-align: center;
	white-space: nowrap
}













/*
 * Siebel CRM OnDemand Base Style Sheet
 * Optimized for 1024 x 768
 * IE clientWidth 1003
 */

/*
a:link
a:visited 
a:hover
a:active

small - phase out
expand
navigation
drilldown
action - simple
operation - complex
*/


A.navControlCLVLink
{
	font-size: 8pt;
	line-height: 10pt;
	font-family: Tahoma, sans-serif;
	color: blue;
	text-decoration: underline;
	cursor: pointer
}

a img
{
	border: none;
}


a.treeview
{
	color:black;
	font-family:verdana;
	font-size:8pt;
}


a.treeview:link 
{
	text-decoration:none;
}


a.treeview:visited
{
	text-decoration:none;
}


a.treeview:hover 
{
	text-decoration:underline;
}


ul.history
{
	margin: 3px 2px 3px 5px;
	padding: 0;								/* removes indent in mozilla */
	line-height: 18px;
  text-overflow:ellipsis; 
  overflow:hidden;
  width:143px;
}

ul.widget
{
	margin: 3px 0 3px 5px;
	padding: 0;								/* removes indent in mozilla */
	line-height: 18px;
}

ul.quickcreate {
	margin: 3px 0 3px 5px;
	line-height: 18px;
	padding: 0;								/* removes indent in mozilla */
}

.action-pane-list-item {
	padding-left: 22px;
}
.icon-16 {
   position: relative;
   height: 16px;
   left: 0;
   top: 0;
   width: 16px;
}
.icon-accounts-16 {
	background: url(../images/si_account16.gif) no-repeat; }

.icon-appointments-16 {
	background: url(../images/si_appointments16.gif) no-repeat; }

.icon-contacts-16 {
	background: url(../images/si_contacts16.gif) no-repeat; }

.icon-custobj-16 {
	background: url(../images/si_custobj16.gif) no-repeat; }

.icon-leads-16 {
	background: url(../images/si_leads16.gif) no-repeat; }

.icon-opportunities-16 {
	background: url(../images/si_opportunities16.gif) no-repeat; }

.icon-portfolio-16 {
	background: url(../images/si_portfolio16.gif) no-repeat; }

.icon-service-16 {
	background: url(../images/si_service16.gif) no-repeat; }

.icon-solutions-16 {
	background: url(../images/si_solutions16.gif) no-repeat; }

.icon-task-16 {
	background: url(../images/si_task16.gif) no-repeat; }

.icon-users-16 {
	background: url(../images/si_users16.gif) no-repeat; }

.icon-product-16 {
	background: url(../images/si_product16.gif) no-repeat; }

.icon-funds-16 {
	background: url(../images/icon_marketingfunds.gif) no-repeat; }

.icon-patients-16 {
	background: url(../images/si_patients16.gif) no-repeat; }

.icon-campaigns-16 {
	background: url(../images/si_campaigns16.gif) no-repeat; }

.icon-vehicles-16 {
	background: url(../images/si_vehicles16.gif) no-repeat; }

.icon-dealers-16 {
	background: url(../images/si_dealers16.gif) no-repeat; }

.icon-meded-16 {
	background: url(../images/si_meded16.gif) no-repeat; }

.icon-households-16 {
	background: url(../images/si_households16.gif) no-repeat; }

.icon-communications-16 {
	background: url(../images/si_comm16.gif) no-repeat; }

.icon-link {
   text-decoration: none
}
.icon-next {
  text-decoration: none;
  width: 16px;
  height: 16px;
  background: url(../images/next_n.gif) no-repeat;
  position:relative;
  cursor: pointer;
}
.icon-previous {
  text-decoration: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url(../images/previous_n.gif) no-repeat;
}

.icon-next-daily-calendar {
	background: url(../images/next_n.gif) no-repeat;
  height:16px;
  width:16px;
  position:relative;
  left:10px;
  cursor: pointer;
}
.icon-previous-daily-calendar {
 background: url(../images/previous_n.gif) no-repeat;
  height:16px;
  width:16px;
  position:relative;
  right:16px;
  cursor: pointer;
}

.icon-next-monthly-calendar {
   background: url(../images/next_n.gif) no-repeat;
  height:16px;
  width:16px;
  position:relative;
  left:4px;
}
.icon-previous-monthly-calendar {
	background: url(../images/previous_n.gif) no-repeat;
  height:16px;
  width:16px;
  position:relative;
  right:10px;
}



.img-add-calendar {
   background: url(../images/img_add_new.gif) no-repeat;
   position: relative;
   height: 16px;
   left: 0;
   top: 0;
   width: 16px;
}
.img-edit-calendar {
   background: url(../images/img_edit_calendar.png) no-repeat;
   position: relative;
   height: 16px;
   left: 0;
   top: 0;
   width: 16px;
}


.hand {
   cursor: pointer;
}


ul.treecontrol
{
	list-style: none;
	margin: 2px; 
	padding: 0px;
	margin-left: 14px;
}
 

.mainviewlayout
{
	margin: 0 auto 0 auto;
	width: 98%
}
* html .mainviewlayout {
	margin: 0 8px 0 8px;
	width: 818px;
}
.childviewlayout
{
	margin: 0 auto 0 auto;
	width: 95%
}


div.spacer5w
{
	width: 5px;
}

br.spacer
{
	line-height: 5px;
}

/* Main screen layout */


td.banner
{
	width: 100%;
	text-align: right
}
.buyNowText
{
	font-family: Arial,  sans-serif;
	font-size: 9pt; 
	color:#000000;
}
.buyNowBoldedText
{
	font-family: Arial,  sans-serif;
	font-weight: bold; 
	font-size: 9pt
}
/*fix for FR: 12-1IL3726*/
.buyNowTrialText
{
	font-family: tahoma,  sans-serif;
	font-size: 8pt;
	color: white;
}
body, .maintext
{
	margin: 0;
	font-size: 8pt;
	font-family: tahoma, sans-serif;
	color: black;

}
/* Used to format the textArea on the terms and conditions page correctly */
.termsarea
{
	margin: 0;
	font-size: 8pt;
	font-family: tahoma, sans-serif;
	color: black;
  padding-left:1px;
  border-style:solid;
  border-color:#7F9DB9;
  border-width:1px;
  background-color:#FCFCFC
}
.pwh {
	background-color: rgb(0, 98, 189);
	height: 21px;
	padding: 5px

}
.pwh h4 {
    color: white;
}
.pwb {
	background-color: #fff;
	/*height: 100%;*/
	padding: 5px;
	width: 97%;
}
.pwbtn {
	display: inline;
	float: right;
	margin: 2px
}

.blue
{
  background-color: rgb(0, 98, 189);
}

.popupBody
{
	background-color: rgb(0, 98, 189);
}
form
{
	margin: 0px;
}

input.EMPTYINPUT
{
	border:0px;
}


.tabActive,
.tabInActive,
.tabInActive-inv,
.viewtabext,
.viewtabext-inv
{
	padding: 3px 5px 2px 2px;
	font: bold 8pt tahoma;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
  white-space:nowrap;
}
.tabInActive
{
	background: white url(../images/topDimTabBg.gif) repeat-x;
	color: #4a6173;
	
}
.tabActive
{
	background: white url(../images/topTabBg.gif) repeat-x;
	color: #214984
}
.tabInActive-inv
{
  background-color: #B8CFE6;
}
.viewtabext
{
  background: white url(../images/topDimTabBg.gif) repeat-x;
  text-align: left;
}

#tabext .viewtabext
{
  background: #f2f2f5;
}
.viewtabext-inv
{
  background-color: #B8CFE6;
  text-align: left;
}
.tabInActive a,
.tabInActive-inv a
{
	color: rgb(0,71,132);
	text-decoration: none
}
.stsp {
	background-color: #2165AD;
	width: 3px
}

.tab2ndLvlActive,
.tab2ndLvlInActive {
	padding: 2px 5px;
	font: bold 8pt tahoma;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
}
.tab2ndLvlActive {
	background-color: rgb(230,240,250);
   border-right:1px solid #939FC2;
	color: rgb(0,51,153);
}
.tab2ndLvlInActive {
	background-color: rgb(224,223,242);
	border-right:1px solid #939FC2;
	color: rgb(78,78,78);
}

img.viewtab
{
	height: 16px;
	margin: 0 4px 0 4px;
	vertical-align:middle;
	width: 16px;
}
img.history
{
	height: 16px;
	margin-right: 4px;
	position: relative;
	top: 2px;
	width: 16px
}
img.popup
{
	cursor: pointer;
	margin-left: 2px;
  margin-top: 3px;
	top: 3px;
   vertical-align: top
}

img.popup_bs
{
	cursor: pointer;
	margin-left: 2px;
   margin-top: 5px;
   vertical-align: top
}

.rowformFieldTD
{
	padding: 1px 5px 1px 5px;
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	line-height: 11pt;
	border-bottom: 1px solid #B2C2DF;
	white-space: nowrap;
}

.listFieldTotalTD
{
	padding: 1px 5px 1px 5px;
	line-height: 11pt;
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
}


img.listheader
{
	position: relative;
	top: 2px
}
img.menuArrowIcon
{
	position: relative;
	top: 0px
}
.checkbox
{
	height: 10px;
	margin-top: 3px;
	margin-left: 1px;
	width: 10px
}

.listColumnHeaderTD
{
	padding: 1px 5px 1px 5px; 
	background-color: #CED4DD;
}
.listCaptionText
{
	font-weight: bold;
	font-size: 8pt;
	color: #000000;
	line-height: 11pt;
	font-family: arial,  sans-serif;
	text-decoration: none;
}
.listFieldText
{
	padding: 0px 0px 1px 0px;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt; 
	line-height: 11pt;
	color: #000000; 
	text-decoration: none;  
}
.listFieldGreyText
{
	padding: 0px 0px 1px 0px;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt; 
	line-height: 11pt;
	color: #7E7F7F; 
	text-decoration: none;  
}
.formFieldText 
{
	font-size: 8pt;
	color: #666666;
	line-height: 11pt;
	font-family: arial,  sans-serif;
	text-decoration: none;
	padding-left: 10px;
	display: block;
	vertical-align: top;
}
.requiredText
{
	padding: 1px 0px 1px 5px;
	font: 8pt tahoma;
	line-height: 11pt;
	color: red;
	text-align: left;
	text-decoration: none
}
.globalSearchErrorText
{
	padding: 1px 0px 1px 0px;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt;
	font-weight: bold;
	line-height: 11pt;
	color: #FF0000;
	text-align: right;
	text-decoration: none		
}
.inputControl
{
/* change for FR#: 12-1ID6X1U */
	color: black;
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt;	
	font-weight: normal;	
}
.sidebarInputControl,
.sidebarInputSelect,
.inputCtrlIndexed,
.inputCtrlCaseInsensitive
{
	color: black;
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt;
}

.inputCtrlIndexed
{
	color: #008000;
}

.inputCtrlCaseInsensitive
{
	color: #0000CC;
}

.inputControlHintText,
.sidebarInputControlHintText
{
	color: #B2B2B2;
	background-color: #FFFFFF;
	border: 1px solid #A5ACB2;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt;
}
.inputReadOnly
{
/* change for FR#: 12-1ID6X1U */
	color: #555555;
	border: 1px solid #A5ACB2;
	background-color:#EDEDE6;
	font-family: Tahoma,  sans-serif;
	font-size:8pt;
	font-weight: normal;
}
.inputReadOnlySmall,
.sidebarInputReadOnly,
.sidebarInputReadOnlySmall
{
	color: #555555;
	border: 1px solid #A5ACB2;
	background-color:#EDEDE6;
	font-family: Tahoma,  sans-serif;
	font-size:8pt;
}
.inputReadOnlySmall,
.sidebarInputReadOnlySmall
{
	padding-top:0px;
	height: 15px;
}
.assocField,
.sidebarAssocField
{
	color: #555555;
	border: 1px solid #A5ACB2;
	background-color:#EDEDE6;
	font-family: Tahoma,  sans-serif;
	font-size:8pt;
}
.sidebarInputControl,
.sidebarInputControlHintText,
.sidebarInputReadOnly,
.sidebarInputReadOnlySmall,
.sidebarAssocField,
INPUT.sidebarBook_field
{
	width: 115px;
}
.sidebarInputSelect
{
	width: 115px;
}
* html .sidebarInputSelect
{
	width: 115px;
}
.readOnlyField
{
	color: #333333;
	background-color: #FFFFFF;
	border: 0px solid #A5ACB2;
	font-family: Tahoma,  sans-serif;
	font-size:8pt;
}

.readOnlyCustomField
{
	color: #333333;
	background-color: #FFFFFF;
	border: 0px solid #A5ACB2;
	font-family: Tahoma,  sans-serif;
	font-size:8pt;
	padding-top:3px;
}

.formCaptionText {
	font: bold 8pt tahoma;
	color: #4a6d9c;
	padding-top: 4px;
	display: inline;
}

/* Label for Inline Popups */
.inlinelbl, .inlinelblr{
	font: bold 8pt tahoma;
	color: rgb(131,88,9);
	padding-top: 4px;	
}

.inlinelblr{
	text-align: right;
}

.buttonTD,
.disableButtonTD,
.buttonChildTitleBarTD,
.buttonTD-inv,
.buttonChildTitleBarTD-inv
{
	border: 1px solid;
  	cursor: pointer;
	font: bold 8pt tahoma;
	padding: 1px 2px 1px 2px;
   text-align: center;
	vertical-align: middle;
	white-space: nowrap
}
.buttonTD,
.buttonChildTitleBarTD
{
	background-color: #c9e5ec;
	background-image: url(../images/oval-blue-right.gif);
	border-color: #a5a9b6;
	color: #586073
}
.buttonTD-inv,
.buttonChildTitleBarTD-inv
{
	background-color: #c9e5ec;
	background-image: url(../images/btn-bg-inv.gif);
	border-top-color: #fff;
	border-left-color: #fff;
	border-bottom-color: #7b8194;
	border-right-color: #7b8194;
	color: #586073
}

.miniNoteBtnLnk{
   color: #586073;
   text-decoration:none;
   margin:0px 2px;
}

.disableButtonTD .miniNoteBtnLnk{
   color: #cbcad3;cursor: default;
}

.button {
	background: url(../images/img_gradient_btn.gif) repeat-x;
	border-color: red;
	color: #fff;
	text-align: center;		
	cursor: pointer
}
.menuBorder {
	border-color: black;
        border: 1px solid;
        position:absolute;
        visibility: hidden;
        background-color: white;
        z-index: 2
}
.menuTD {
	font-family: arial,  sans-serif;
	font-size: 8pt;
	width:100%;	
	font-weight: normal;
	line-height: 1.8em;
	padding: 0 5px 1px 3px;
	vertical-align: center;
	white-space: nowrap;
	background-color: #94acd4;
	color: #fff;
	text-align: left;		
	cursor: pointer;
	z-index: 3
}
.menuLineBreakTD {
	border-top: 1px solid;
	width:100%;  
	font-family: arial,  sans-serif;
	font-size: 8pt;	
	font-weight: normal;
	line-height: 1.8em;
	padding: 0 5px 1px 3px;
	vertical-align: center;
	white-space: nowrap;
	background-color: #94acd4;
	border-top-color : #808080;
	color: #fff;
	text-align: left;		
	cursor: pointer;
	z-index: 3
}
.disableButtonTD {
	background-color: #efefef;
	background-image: url(../images/dis-btn-bg.gif);
	border-color: #cbcad3;	
	color: #cbcad3;
	cursor: default
}
.buttonXTD
{ 
	border-right: #ffffff 2px groove;
	border-top: #cad6ec 2px groove;
	border-left: #cad6ec 2px groove;
	border-bottom: #ffffff 2px groove;
	padding: 1px 2px 1px 2px; 
	font-family: tahoma,  sans-serif;
	font-size: 8pt;
	font-weight: bold;
	cursor: pointer;
	color: #ffffff;
	line-height: 8pt;
	background-color: #93a5d5;
	text-decoration: none;
	align: center;
}
.buttonDIV
{
	CURSOR: pointer;
}

.buttonShuttle {
   vertical-align: middle;
	text-align: center;		
	cursor: pointer
}
.buttonShuttleGreen {
   vertical-align: middle;
	text-align: center;		
	cursor: pointer
}
.titleBarTableStyle
{
	background-color: #6689c2;
	font-family: tahoma,  sans-serif;
	font-size: 8pt;
	line-height: 10pt;
	text-align: center;
}
.titleBarLevel2TableStyle
{
	background-color: rgb(230,240,250);
	font-family: tahoma,  sans-serif;
	font-size: 8pt;
	line-height: 10pt;
	text-align: center;
}
.titleBarNavFolderTD
{
	border: 1px 1px 1px 1px;
	padding: 1px 2px 1px 2px;
}
.titleBarSeparatorTD
{
	color: #ffffff;
}
.titleBarSeparatorLevel2TD
{
	color: #000000;
}
.titleExpandCollapseTD
{
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}
.greetingText
{
	padding: 5px 10px 5px 10px;
	font-family: Tahoma,  sans-serif;
	font-size: 11pt; color:#000000;
	font-weight: bold; 
}

.calendar-widget {
   background-color: white;
   border: 1px solid rgb(200,221,242);
   height: 128px;
   width: 165px;
}
.calendar-widget-caption {
	background-color: rgb(200,221,242);
   padding: 2px;
   text-align: center;
}
.calendar-widget-nav {
	width: 15px;
}
.calendar-widget-title {
	color: rgb(21,82,139);;
}
.calendar-widget-caption a {
   text-decoration: none;
}
.calendar-widget th {
   padding: 1px;
   text-align: center;
   width: 28px;
}

.cal-day {
   border: 1px solid white;
   color: rgb(0, 51, 153);
   padding: 1px;
   text-align: center;
   width: 28px;
}
.cal-today {
   background-color: rgb(254,252,204);
   color: black;
}
.cal-selected {
   background-color: rgb(230,240,250);
   border: 1px solid rgb(0, 51, 153);
   color: rgb(0, 51, 153);
}
.cal-day a:link,
.cal-day a:visited {
   color: inherit;
   text-decoration: none;
}
* html .cal-day a:link,
* html .cal-day a:visited {
   color: rgb(0, 51, 153);
   text-decoration: none;
}

.cal-header {
   background-color: rgb(248,235,215);
   color: rgb(131,88,9);
   font: 8pt tahoma; 
   font-weight : bold;
}
.cal-header a:link,
.cal-header a:visited {
	color: rgb(131,88,9);
	font: 8pt tahoma;   
	text-decoration: none;
}
.cal-header a:hover {
	text-decoration: underline;
}

.cal-grid {
   background-color: rgb(189,214,247);
}



.month-header {
   background-color: rgb(231,247,255);
}
.month-day {
   background-color: white;
}
.month-selected {
   background-color: rgb(255,255,204);
}
.month-empty {
   background-color: rgb(238,238,238);
}
.month-filter-selected {
   background-color: white;
   border: 1px solid rgb(131,88,9);
   padding: 2px;
}

div.grpCalWeek
{
	float : left;
	width : 100%;
}

table.grpCalWeekMonthDay
{
	float : left;
	border : 1px solid #a8bff5;
	border-collapse: collapse;
	/*table-layout:fixed;*/
}

table.grpCalWeekMonthDay
{
	/*width:104px;*/
	width:103px;
}

table.grpCalDay
{
	width:695px;
	float : left;
	border : 1px solid #a8bff5;
	border-collapse: collapse;
  height:100%;
  table-layout: fixed;
  margin-bottom:0;
}

.grpCalDayHeader,
.grpCalDayHeaderSelected,
.grpCalTimeIndicator
{
	font-size : 8pt;
}

.grpCalTimeIndicator
{
	text-align : center;
	background-color: white;
	height: 17px;
	width: 55px;
	border-top: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
  padding-top:1px;
  padding-bottom:1px;
}

.grpCalDayHeaderSelected
{
	height: 17px;
	padding-left:3px;
  background-color : rgb(255,255,204);
}
.grpCalDayHeader
{
	height: 17px;
	padding-left:3px;
	background-color : white;
}

.grpCalDayFooterSelected,
.grpCalParticipantSpacer,
.grpCalDayParticipantSpacer
{
	padding-left:5px;
	font-size : 8pt;
	padding-bottom:1px;
}

.grpCalParticipantSpacer,
.grpCalDayParticipantSpacer
{
	background-color: white;
	height: 17px;
}

.grpCalDayFooter
{
	background-color: rgb(0, 98, 189);
}

.grpCalDayFooterSelected
{
	background-color: rgb(255,255,204);
	height: 17px;
}

.grpCalDatePicker
{
	display:none;
	padding-left:5px;
	font-size : 8pt;
	border-top: 1px solid #dddddd;
	background-color: #dddddd;
}

* html table.grpCalDayParticipantTbl
{
  width: 123px;
}

* html table.grpCalWkMthParticpantTbl
{
  width: 97px;
}

* html table.grpCalWeekMonthDay
{
  width: 103px;
}

* html table.grpCalDayParticipantTblUser
{
	width : 116px;
}

table.grpCalDayOfWeekTbl
{
	width:100%;
	background-color: rgb(231,247,255);
	font-weight:bold;
	font-size:8pt;
	text-align: center;
	table-layout:fixed;
  border-top:1px solid #a8bff5;
  border-left:1px solid #a8bff5;
  border-right:1px solid #a8bff5;
}

table.grpCalDayParticipantTblUser,
table.grpCalDayParticipantTbl,
table.grpCalWkMthParticpantTbl
{
	float : left;
	height : 100%;
	table-layout:fixed;
	border:1px solid #a8bff5;
	background-color: white;
	font-size:8pt;
	border-collapse:collapse;
}

table.grpCalDayParticipantTbl
{
	width : 126px;
}

table.grpCalDayParticipantTblUser
{
	width : 118px;
}

.grpCalWkMthParticpantTbl
{
	width : 99px;
}	

td.grpCalParticipant
{
	border: 1px solid #a8bff5;
	padding: 2px;
	height: 23px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

td.grpCalDataCell,
td.grpCalDeniedCell
{
	border:1px solid #a8bff5;
	height:23px;
}

td.grpCalDeniedCell
{
   background-color: rgb(238,238,238);
}

.grpCalBusyDataCell,
.grpCalLeftBusyDataCell,
.grpCalRightBusyDataCell,
{
	height:23px;
	border-bottom: 1px solid #a8bff5;
	border-top: 1px solid #a8bff5;
}

.grpCalBusyDataCell
{
	height:22px;
	background-color:#6689C2;
	border-top: 1px solid #a8bff5;
	border-bottom: 1px solid #a8bff5;
}

* html .grpCalBusyDataCell
{
	height:23px;
}

.grpCalLeftBusyDataCell
{
	border-right: 1px solid #a8bff5;
	border-top: 1px solid #a8bff5;
	border-bottom: 1px solid #a8bff5;
}

.grpCalRightBusyDataCell
{
	border-left:1px solid #a8bff5;
	border-top: 1px solid #a8bff5;
	border-bottom: 1px solid #a8bff5;
}

td.usrCalDayHeader,
td.usrCalDayHeaderSelected
{
   font-size : 8pt;
	font-weight : bold;
	width : 100%;
}

td.usrCalDayHeaderSelected
{
	background-color: #FEFCCC;
}

div.grpCalBusyHover,
div.grpCalBusyRightHover,
div.grpCalBusyData,
div.grpCalBusyRightData
{
	cursor:default;
	width:49%;
	height:100%;
}

div.grpCalBusyHover
{
	float:left;
	background-color:#4267A6;
}

div.grpCalBusyRightHover
{
	float:right;
	background-color:#4267A6;
}

div.grpCalBusyRightData
{
	float:right;
	background-color:#6689C2;
}

div.grpCalBusyData
{
	float:left;
	background-color:#6689C2;
	height: 22px;
}

* html div.grpCalBusyData
{
	/*height: 23px;*/
	height: 22px;
}

div.dayOfWeek
{
   width:811px;
   background-color: rgb(231,247,255);
   border-top:1px solid #a8bff5;
   border-left:1px solid #a8bff5;
   border-right:1px solid #a8bff5
}
div#calendarTooltip
{
	left : 0;
	top : 0;
	text-align:left;
	font-size:8pt;
	position:absolute;
	display:none;
	background-color:beige;
	border:2px solid #DEE2E8;
	border-right:2px solid gray;
	border-bottom:2px solid gray;
	width:240px;
	z-index:100;
	padding-left: 4px;
	padding-right: 4px;
	padding-top:2px;
	padding-bottom:2px;
}
div.ganttMain
{
	position:relative;
	width:811px;
	background-color:white;
}
div.ganttSpacer
{
   background-color: white;
   height: 0px;
   border:0px;
}
table.calLegendTbl
{
	cell-padding:3px;
	cell-spacing:0px;
	font-size:8pt;
}
td.calLegendTxt
{
	width:18px;
	text-align:right;
}
td.calLegendSpacer
{
	width:1px;
	font-size:0pt;
}

div.calLegendInd,
div.calLegendFree,
div.calLegendBusy,
div.calLegendMeeting,
div.calLegendNoInfo
{
	border:1px solid black;
	height:10px;
	width:10px;
	font-size:0pt
}
div.calLegendFree
{
	background-color:white;
}
div.calLegendBusy
{
	background-color:#6689C2;
}
div.calLegendMeeting
{
	background-color:#EEE9BF; //#FEFCCC;
}
div.calLegendNoInfo
{
	background-color: rgb(238,238,238);
}
h1, h2, h3, h4, h5, h6
{
	color: #4a6d9c;
	font-family: arial, sans-serif;
	display: inline;
}
h4											/* screen title */
{
	font-size: 11pt;
	margin: 0 10px 0 2px
}
h5
{
	font-size: 10pt;
}
h6
{
	font-size: 8pt;
	font-weight: bold;
	line-height: 11pt;
	background-color: #e2e5ee;
	margin: 12px 0 2px 0
	
}

.titleText
{
	border-right: medium none;
	padding-right: 5px;
	border-top: medium none;
	padding-left: 5px;
	font-weight: bold;
	font-size: 11pt;
	padding-bottom: 2px;
	border-left: medium none;
	color: #000000;
	line-height: 17pt;
	padding-top: 2px;
	border-bottom: medium none;
	font-family: arial, sans-serif

}

p.admin
{
	margin: 5px 8px 5px 8px;
	line-height: 12pt
}

.admin span {
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	color: rgb(42,42,42);
}

.titleInstruction
{
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	color: rgb(42,42,42);
}
.instructionTextHeader
{
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	color: black;
	text-align: left;
	font-weight: bold;
}

.instructionTextHeaderLarge
{
	font-family: Tahoma, sans-serif;
	font-size: 10pt;
	color: rgb(42,42,42);
	text-align: left;
	font-weight: bold;
}

.timedata {
	font-size: 8pt;
	line-height: 10pt;
	font-family: tahoma, sans-serif;
	color: #7e7f7f;
}
.dailyCalendarTimeCell {
	background-color: rgb(230,240,250);
	vertical-align: top;
}
.dailyCalendarTimeCell a:link,
.dailyCalendarTimeCell a:visited {
	color: rgb(0,52,154);
	font: 8pt tahoma;
   text-decoration: none;
}
.dailyCalendarTimeCell a:hover {
	color: rgb(0,51,153);
   text-decoration: underline;
}

.footbar
{
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	color: #ffffff;
	width: 100%;
	border: 1px solid white;
	background-color:#ffffff;	
}

.formSectionSeparator {
	border-bottom: 1px solid #99bedc;
	padding-left: 8px;
   padding-top: 1px;
}
.formSectionSeparatorText
{
	font: bold 8pt tahoma;
	color: #3c3c3c;
}

.groupBoxRow
{
	padding: 1px 5px 1px 5px;
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	line-height: 11pt;
	border-top-color:none;
	border-right:none; 
	border-bottom-color:#FFFFFF;
	border-left:none;    
}
.popupTitle
{
	border-right: medium none;
	padding-right: 5px;
	border-top: medium none;
	padding-left: 5px;
	font-weight: bold;
	font-size: 11pt;
	padding-bottom: 2px;
	border-left: medium none;
	color: #4d4d4d;
	line-height: 17pt;
	padding-top: 2px;
	border-bottom: medium none;
	font-family: arial, sans-serif

}
.smallText
{
	font-size: 8pt;
	line-height: 10pt;
	font-family: tahoma,  sans-serif;
	color: black;
	background-color: #ffffff;
}
.wizardActiveCell
{
	font: 9pt tahoma;
	border: 1px solid rgb(248,235,215);
	background-color: rgb(230,240,250);
	padding: 4px;
}
.wizardInactiveCell
{
	font: 9pt tahoma;
	border: 1px solid rgb(248,235,215);
	background-color: white;
	padding: 4px;
}
.wizardStepAnchor
{
	font-weight: bold;
	color: rgb(0,51,153);
	cursor: pointer;
}
.wizardStepName
{
	font-weight: normal;
	color: rgb(0,51,153);
	cursor: pointer;
}

.vRBSelTableStyle
{
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
}

.CLVText
{
	padding: 0px 0px 1px 0px;
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	line-height: 11pt;
	color: blue;
	text-decoration: none
}

.ATTLTD, .ATTRTD, .ATOLTD, .ATORTD, .ATCLTD, .ATCRTD, .ATLCLTD, .ATLCRTD {
	
        font-family: arial, sans-serif;
	font-size: 8pt;
	line-height: 11pt;
	vertical-align: middle
}
.ATTLTD, .ATOLTD, .ATCLTD, .ATLCLTD {
	font-weight: normal
}
.ATTLTD {
	border-left: 1px solid #e2e5ee;
	border-top: 1px solid #e2e5ee;
	padding-left: 10px;
	text-align: left
}
.ATTRTD {
	border-right: 1px solid #e2e5ee;
	border-top: 1px solid #e2e5ee;
}
.ATOLTD {
	border-bottom: 1px solid #e2e5ee;
	border-left: 1px solid #e2e5ee;	
        text-align: right
}
.ATORTD {
	border-bottom: 1px solid #e2e5ee;
	border-right: 1px solid #e2e5ee;
        font-weight: bold;       
	color: #3c3c3c
}
.ATCLTD {
	border-left: 1px solid #e2e5ee;
	text-align: right
}
.ATCRTD {
	border-right: 1px solid #e2e5ee;
        font-weight: bold;
	color: #3c3c3c
}
.ATLCLTD {
	border-bottom: 1px solid #e2e5ee;
	border-left: 1px solid #e2e5ee;
        
	text-align: right
}
.ATLCRTD {
	border-bottom: 1px solid #e2e5ee;
	border-right: 1px solid #e2e5ee;
        font-weight: bold;
	color: #3c3c3c
}
.ft {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: text-top; COLOR: #000; LINE-HEIGHT: 9pt; PADDING-TOP: 4px; FONT-FAMILY: arial, sans-serif;
}

.iled
{
   FONT-SIZE: 8pt;
   FONT-FAMILY: arial, sans-serif
}
.ajax {
  background-color: #26B669;
  color: white;
  font-family: verdana;
  font-size: 8pt;
  font-weight: bold;
  padding: 2px 5px 2px 5px;
  float: left;
  filter: alpha(opacity=80);
  opacity: 0.8  
}
.ical {
   background-color: white;
   border: 1px solid black
}

.dataQuality {
	background-color: #DEE2E8;
	border: 1px solid;
	color: #000;
	height: 50px;
	padding: 0 2px 0 5px;
}

option{
   color: black;
}

.indexopt{
   color: #008000;
}

.caseInsensitiveField{
   color: #0000CC;
}

.tree
{
    FONT: 11px tahoma,verdana,sans-serif;
    PADDING-LEFT: 20px
}

.tree-item TABLE.tree-table
{
    FONT: 11px tahoma,verdana,sans-serif
}

.tree-top
{
    PADDING-LEFT: 0px;
}

.tree-item
{
    PADDING-LEFT: 17px;
}

.tree-item-more
{
    PADDING-LEFT: 1px
}

.tree-item TD.label_selectable
{
    CURSOR: pointer;
    white-space: nowrap
}

.tree-item TD.label
{
    CURSOR: default;
    white-space: nowrap   
}

.tree-item TABLE.tree-table
{
}

.tree-item TABLE.tree-table TD.label SPAN.label
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}

.tree-item .tgb
{
    VERTICAL-ALIGN: middle;
    WIDTH: 9px;
    CURSOR: default;
    HEIGHT: 9px
}

.tree-item .plus
{
    width: 13px;
    cursor: pointer;
    background: url(../images/pl.gif) no-repeat 50% 50%;
}

.tree-item .minus
{
    width: 13px;
    cursor: pointer;
    background: url(../images/mi.gif) no-repeat 50% 50%;
}

.tree-item .icon
{
    vertical-align: middle;
    min-width: 13px;
    cursor: pointer;
    height: 18px;
}

.tree-item-selected TABLE.tree-table TD.label_selectable
{
   background-color: #D3D3D3;
}

TD.label_selectable div.menutitle_selected
{
   background-color: #D3D3D3;
}

TD.label div.menutitle
{
   

}

.tree-lines-c
{
    
}

.tree-lines-b
{
    
}

.tree-lines-t
{
    
}

.tree-lines-s
{
    
}

.tree-lined
{
    BACKGROUND: url(../images/lines-v.gif) repeat-y 1px 0px
}

DIV.tree-item TD.user-icon
{
   background: url(../images/users_12.gif) no-repeat 0px 50%;
   cursor: default;  
}

DIV.tree-item TD.custom-icon
{
   background: url(../images/icon_book_selector.gif) no-repeat 0px 50%;
   cursor: default;  
}

DIV.tree-item TD.folder-open
{
   background: url(../images/folderopen_12.gif) no-repeat 0px 50%;
   cursor: default;  
}

DIV.tree-item TD.folder-closed
{
   background: url(../images/folderclosed_12.gif) no-repeat 0px 50%;
   cursor: default;  
}

DIV.tree_icon_min_width
{
   width: 15px;
   cursor: default;  
}

body.bookselector_dialog
{
   overflow-x: hidden;
   overflow-y: hidden;
}


.piped-list {
	margin: 0;
	padding: 0;
}
.piped-list li {
	display: inline;
   line-height: 20px;
	padding-left: 7px;
	padding-right: 5px;
}
.piped-list-left li{
   border-left: 1px solid white;
}
.piped-list-right li{
   border-right: 1px solid white;
}
.piped-list-view-left li{
   border-left: 1px solid #2e558c;
}
.piped-list-view-right li{
   border-right: 1px solid #2e558c;
}
.piped-list li.last {
	border-right: none;
}
.piped-list li.first {
	border-left: none;
        padding-left: 0px;
}



DIV.book_selector
{
   background-color: #FFFFFF;
   width: 296px;
   height: 390px;
   overflow: auto;
}

INPUT.book_field, INPUT.sidebarBook_field
{
   position: relative;
   color: #555555;
	border: 1px solid #A5ACB2;
	background-color:#EDEDE6;
	font-family: Tahoma,  sans-serif;
	font-size:8pt;
}

INPUT.sidebarBook_field
{
   top: 1px;
}

* html INPUT.book_field
{
   top:2px;
}

DIV.alpha_filter_top
{
   position: relative;
   left: -3px;
}
DIV.alpha_filter_bottom
{
   position: relative;
   left: -18px;
}
* html DIV.alpha_filter_top
{
   position: relative;
   left: -13px;
}
* html DIV.alpha_filter_bottom
{
   position: relative;
   left: -20px;
}

.buynow_button
{
   border:solid 1px #FF0000;
   background-color: white;
   position:relative;
   right:4px;
   width:100%;
   padding: 1px 1px 1px 1px;
}

.buynow_button_label
{
   display:inline;
   font-family:arial;
   font-size:15px;
   font-weight:900;
   color: #FF0000;
   padding: 3px 3px 3px 3px;
}

.dailyAppointmentHighlight
{
    BACKGROUND-COLOR: #FFFFCC
}

.roleMgmtTabAccessShuttle
{
	width: 220px;
	max-width: 220px;
}

.plWizFieldLayoutShuttleFields
{
	width: 200px;
	max-width: 200px;
}

.plWizFieldLayoutShuttleLayout
{
	width: 250px;
	max-width: 250px;
}

.plWizRelInfoShuttle
{
	width: 220px;
	max-width: 220px;
}

.shuttleDisableOption
{
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	color: #B2B2B2;
}

.list td a.red:link, 
.list td a.red:visited
{
  color: #FF0000;
}

.list td a.red:hover
{
  color: #EE5311;
}
div.mode
{
	cursor: pointer;
	position: absolute;
	border: black;
	border-width: 2px;
	background: red;
	color: yellow;
	font-size: medium;
	font-weight: bold;
	z-index: 1;
}
div.modetransparent
{
	cursor: pointer;
	position: absolute;
	border: black;
	border-width: 2px;
	background: red;
	color: yellow;
	font-size: medium;
	font-weight: bold;
	z-index: 1;
	opacity:.20;
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
}
body.popupBody div.mode
{
	font-size: small;
}
body.popupBody div.modetransparent
{
	font-size: small;
}
/* Logon page styles */
.logonHeaderFont
{
	font-family: Tahoma, sans-serif;
	font-size: 16pt;
	color: #4D4D4D;
}
.logonFont
{
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	color: #4D4D4D;
	font-weight: bold;
}
.logonFontNormal
{
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	color: #4D4D4D;
}
.ODIFont
{
	font-family: Tahoma, sans-serif;
	font-size: 7pt;
	color: #4D4D4D;
}
.logonCell
{
	padding: 2px 4px 1px 4px;
	background-color: #BECBED;
	border-right:none;
	border-top:1px solid #E0FAFA;
	border-left:1px solid #E0E6F6;
	border-bottom:1px solid #A1B7E9;
}
.loginLink,.loginLink A, .loginLink A:link, .loginLink A:visited
{
	color:#ffffff;
	text-decoration:none;
	padding:2px 4px;
}
.logonErr
{
	font-family: Tahoma, sans-serif;
	font-size: 8pt;
	color: #FF0000;
	font-weight: bold;
}
.ddProxy
{
	background-color: #26B669;
	color: white;
	font-family: verdana;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	float: left;
	filter: alpha(opacity=80);
	opacity: 0.8;
        /*cursor: move;*/
}
.ddAppletSpacer,.ddAppletSpacerHighlight
{
	font-size: 0em;
	height: 1px;
	line-height: 0pt;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	background-color: #f2f2f5;
}
.ddAppletSpacerHighlight
{
	background-color:#FBB917;
	/*background-color:red;*/
}
.ddActiveObj
{
/*
	filter:alpha(opacity=40);
	opacity:.40;
	-moz-opacity: 0.4;
	zoom: 1; /* for IE */
        
	background-color: #000000;
	opacity: 0.3;
	filter: alpha(opacity=30);
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	position: absolute;
	z-index: 3;        
}  
INPUT.feedNameCtrlSingle
{
	color: black;
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt;
   width: 285px;
}
* html INPUT.feedNameCtrlSingle
{
	color: black;
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt;
   width: 270px;
}
INPUT.feedNameCtrlDouble
{
	color: black;
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt;
   width: 535px;
}
* html INPUT.feedNameCtrlDouble
{
	color: black;
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	font-family: Tahoma,  sans-serif;
	font-size: 8pt;
   width: 521px;
}
#printFooterLegal {
   text-align: center;
   display: none;
}

.htmlDSFld{
   position:absolute;
   display:none;
}
.crmWidth {
	width: 100%;
}
.adp-directions{
	width: 100%
}