/* Overlay */
#territory-overlay {background-color:#000; cursor:wait;}

/* Container */
#territory-container {width:450px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left;}
#territory-container .territory-content {background-color:#333; color:#ddd; height:40px;}
#territory-container h1 {color:#d76300; margin:0; padding:0 0 6px 12px; font-size:1.2em; text-align:left;}
#territory-container .territory-loading {position:absolute; background:url(../images/loading.gif) no-repeat; z-index:8000; height:55px; width:54px; margin:-14px 0 0 170px; padding:0;}
#territory-container .territory-message {text-align:center;}
#territory-container .territory-error {width:92%; font-size:.8em; background:#000; border:2px solid #ccc; font-size:0.8em; font-weight:bold; margin:0 auto; padding:2px;}
#territory-container br {clear:both;}
#territory-container form {padding:0; margin:0;}
#territory-container label {clear:left; display:block; width:100px; float:left; text-align:right; padding-right:4px; font-weight:bold;}
#territory-container .territory-input {font-family:'Trebuchet MS', Verdana, Arial; float:left; padding:2px; margin:2px; background:#eee; border:1px solid #fff; width:300px;}
#territory-container textarea {height:114px; font-size:.9em;}
#territory-container .territory-cc {font-size:.9em; cursor:default;}
#territory-container .territory-top {height:13px; background:url(../images/form_top.gif) no-repeat; padding:0; margin:0;}
#territory-container .territory-bottom {height:13px; background:url(../images/form_bottom.gif) no-repeat; font-size:.7em; text-align:center;}
#territory-container .territory-bottom a,
#territory-container .territory-bottom a:link,
#territory-container .territory-bottom a:active,
#territory-container .territory-bottom a:visited {position:relative; top:-4px; text-decoration:none; color:#666;}
#territory-container .territory-bottom a:hover {color:#888;}
#territory-container .territory-button {margin:4px 0 0 4px; cursor:pointer; height:24px; border:0; font-size:1em; font-weight:bold; color:#fff; text-align:center; vertical-align:middle;}
#territory-container .territory-send {width:50px; background:url(../images/send.png) no-repeat;}
#territory-container .territory-cancel {width:65px; background:url(../images/cancel.png) no-repeat;}
#territory-container a.modal-close,
#territory-container a.modal-close:link,
#territory-container a.modal-close:active,
#territory-container a.modal-close:visited {text-decoration:none; font-weight:bold; font-size:1.2em; position:absolute; top:-4px; right:6px; color:#999;}
#territory-container a.modal-close:hover {color:#9bb3b3;}