	<#if campaignSelector?exists>
<table border="0" cellspacing="0" cellpadding="0"
	style="margin: 0px; padding: 0px" width="100%">
	<script type="text/javascript">
	var campaignSeq = "";
	var officeSeq = "";

	function loadCampaignSelector() {
		var params = {
			pageName :"DefaultTerritoryViewSetup",
			controlName :"campaignSelector"
		}
		var url = "uiController";
		loadControl(url, params, onCampaignSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function onCampaignSelectorLoaded(data) {
		$("#campaignSelector").children().remove();
		$("#campaignSelector").append(data);
		loadICLSelector();
	}

	var customController = 'false';
	var campaignChanged = 'false';
	function checkCustomController(){
		if(document.getElementById("campaignID").value == sessionCampaignSeq ){
			customController = 'false';
		} else
			{
			var params = {
					controlName :"checkCustomController",
					campaignSeq :document.getElementById("campaignID").value,
					pageName :"DefaultTerritoryViewSetup",
					useCustomController : 'true'
				};
				var url = "uiController";
				loadControl(url, params, function(data) {
					customController = data.split(':')[0];
					campaignChanged = 'true';
					clientKey = data.split(':')[1];
					loadICLSelector() ;
				});
		}
	}

	
	function loadICLSelector() {
		campaignSeq = document.getElementById("campaignID").value;
		sessionCampaignSeq = document.getElementById("campaignID").value;
		var params = {};
		if(customController == 'true' || campaignChanged == 'true'){
			params = {
					pageName :"DefaultTerritoryViewSetup",
					controlName :"iclSelector",
					campaignSeq :campaignSeq,
					useCustomController : 'true',
					loadPage : 'true'
				};
		}else{
			params = {
					pageName :"DefaultTerritoryViewSetup",
					controlName :"iclSelector",
					campaignSeq :campaignSeq
					};
		}
		var url = "uiController";
		loadControl(url, params, iclSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function iclSelectorLoaded(data) {
		if(campaignChanged == 'true'){
			var cssLink = $('#customCss').attr('href');
			var lastPos = cssLink.lastIndexOf('/');
			cssLink = cssLink.substring(0,lastPos+1) + clientKey +'common' + cssLink.substring(cssLink.lastIndexOf('.'));
			$('#customCss').attr('href',cssLink);
		}
		if(customController == 'true'  || campaignChanged == 'true'){
			$("#pageHolder").children().remove();
			$("#pageHolder").append(data);
		}else {
			$("#iclSelector").children().remove();
			$("#iclSelector").append(data);
			campaignSeq = document.getElementById("campaignID").value;
			officeSeq  = document.getElementById("iclID").value;
			sessionOfficeSeq = document.getElementById("iclID").value;
			loadDefaultTerritoryViewDetails();
		}
		
	}

	function loadDefaultTerritoryViewDetails() {
		campaignSeq = document.getElementById("campaignID").value;
		officeSeq  = document.getElementById("iclID").value;
		sessionOfficeSeq = document.getElementById("iclID").value;
		params = {
			pageName :"DefaultTerritoryViewSetup",
			controlName :"defaultViewDetails",
			campaignSeq:campaignSeq,
			officeSeq:officeSeq
		};
		var url = "uiController";
		loadControl(url, params, onDefaultTerritoryViewDetailsLoaded);
	}

	function onDefaultTerritoryViewDetailsLoaded(data) {
		$("#defaultViewDetails").children().remove();
		$("#defaultViewDetails").append(data);
	}

	function saveDefaultTerritoryViewDetails() {

		campaignSeq = document.getElementById("campaignID").value;
		officeSeq  = document.getElementById("iclID").value;
		var paramString = "";
		var defaultValue="";
		var radioObj=document.getElementsByName('defaultView');
		if(!radioObj)
		return "";
		var radioLength = radioObj.length;
		if(radioLength == undefined)
		if(radioObj.checked)
		defaultValue= radioObj.value;
		else
		defaultValue="";

		for(var i = 0; i < radioLength; i++) {
			if(radioObj[i].checked) {
				defaultValue=radioObj[i].value;
			}
		}
		if(defaultValue==''){
		defaultValue='none';
		}
		var params = {
				pageName :"DefaultTerritoryViewSetup",
				controlName :"saveDefaultViewDetails",
				campaignSeq:campaignSeq,
				officeSeq:officeSeq,
				defaultValue:defaultValue
			};
		var url = "uiController";
		loadControl(url, params, loadCampaignSelector);
	}

	function clearValues(){
		$('input').each(function() {
			var type = this.type;
			var tag = this.tagName.toLowerCase(); // normalize case
			if(this.name != null && this.name != ''){
				if(this.readOnly == false) {
					if ( type == 'text' ){
						document.getElementById(this.name).value='';
					}else if (type == 'checkbox' ){
						document.getElementById(this.name).checked=false;
					}
				}
			}
		});
	}
</script>
	<tr>
		<td valign="top">
			<div class="hltb">
				<table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
					<tbody>
						<tr>
							<td width="2%">
								<ul class="piped-list piped-list-left piped-list-view-left">
									<li class="first"><h4 id="ocTitleFieldLabel">Default Territory View Setup<span id="ocTitleField" /></h4></li>
									<li><a href="#" onclick="javascript:gotoHomePage();">Back to Main Page</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</td>
	</tr>
	<tr>
		<td align="left">
			<table cellpadding="1" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr valign="center">
						<td>Select Campaign and ICL Name</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td>
		<table class="crmWidth" border="0">
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td class="fl">Select Campaign:</td>
				<td>
				<div id="campaignSelector" name="campaignSelector"></div>
				<script type="text/javascript">
						loadCampaignSelector();
					</script></td>
				</#if> <#if iclSelector?exists>
				<td class="fl">Select ICL Name:&nbsp;</td>
				<td><script type="text/javascript"></script>
				<div id="iclSelector" name="iclSelector"></div>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	</#if> <#if defaultViewDetails?exists>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
		<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
			<tbody>
				<tr>
					<td style="vertical-align: middle;"><A
						onClick="Toggle(this,document.getElementById('defaultViewDetails'))"
						id="selectedTemplateDetailsLink" style="CURSOR: hand"> <IMG
						style="vertical-align: middle"
						src="assets/images/hideshow_infoshown_grayscale.gif"></a></td>
					<td>Default View Selection Options</td>
					<td width="100%">&nbsp;</td>
				</tr>
			</tbody>
		</table>
		<div id="defaultViewDetails" name="defaultViewDetails"></div>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td align="center"><INPUT class="buttonTD" style="width:75px" TYPE="submit" value="Save" onclick="javascript:saveDefaultTerritoryViewDetails();">&nbsp;&nbsp;&nbsp;&nbsp;
		<INPUT class="buttonTD" style="width:75px" TYPE="button" value="Cancel" onclick="javascript:clearValues();javascript:gotoHomePage();"></td>
	</tr>
</table>
</#if>
