<#if iclRepSelector?exists>
<table border="1" cellpadding="0" cellspacing="0" class="crmWidth">
  <thead>
	  <th align="left" style="padding-bottom:5px"><input name="colorCodes" value="leadSheetDispositionalColorCodes" onclick="javascript:leadSheetToggleColorCode(this.value);" type="radio"/><b>Disposition Color Codes</b></th>
  	  <th align="left" style="padding-bottom:5px"> <input name="colorCodes" value="leadSheetDefaultColorCodes" onclick="javascript:leadSheetToggleColorCode(this.value);" type="radio" checked="true"/><b>Available Lead Color Codes</b></th>
	  <th align="left" style="padding-left:20px;padding-bottom:5px"><b>Rep Info</b></th>
  </thead>
  <tbody>
    <tr>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" width="60%">
			<table border="0" width="100%">
				<tbody>
				<#if dispositionResult?size!=0>
					<#list dispositionResult as row>
					<tr>
						<#list row as column>
						<td align="center">
							<img height="20px" src="${column[2].value!''}" />
						</td>
						<td>
						<#if column[0].value?exists && column[0].value = "Default"> 
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	${column[0].value!''} - ${column[1].value!''}
						<#else>
						<input type="checkbox" id="dispositionCode_${column_index}" disabled="disabled"
							name='leadSheetDispositionalImages' value="${column[2].value!''}"
							onClick="javascript:showLeadSheetDispositionalImages();" />
							${column[0].value!''} - ${column[1].value!''}
						</#if>
						</td>
						</#list>
					</tr>
					</#list>
				</#if>
				</tbody>
			</table>
		</td>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" width="20%" align="center">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td style="width:50px" align="center"><img height="20px" src="assets/images/mapicons/red-dot.png"/></td>
						<td style="vertical-align:middle">Default - Previously Assigned</td>
					</tr>
					<tr>
						<td style="width:50px" align="center"><img height="20px" src="assets/images/mapicons/green.png"/></td>
						<td style="vertical-align:middle">New Lead</td>
					</tr>
					<tr>
						<td style="width:50px" align="center"><img height="20px" src="assets/images/mapicons/yellow.png"/></td>
						<td style="vertical-align:middle">Potential New Lead</td>
					</tr>
					<tr>
						<td style="width:50px" align="center"><img height="20px" src="assets/images/mapicons/blue.png"/></td>
						<td style="vertical-align:middle">MDU / Gated No Access</td>
					</tr>
					<tr>
						<td style="width:50px" align="center"><img height="20px" src="assets/images/mapicons/purple.png"/></td>
						<td style="vertical-align:middle">Dispositioned 1-5 times</td>
					</tr>
					<tr>
						<td style="width:50px" align="center"><img height="20px" src="assets/images/mapicons/orange.png"/></td>
						<td style="vertical-align:middle">Dispositioned more than 5 times</td>
					</tr>
				</tbody>
			</table>
		</td>
		<td style="padding-bottom:5px;padding-top:5px" valign="top" align="center" width="20%">
			<table border="0">
				<tbody>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Name&nbsp;&nbsp;</td>
						<td align="left">
							<select style="border: 1px solid; width: 120px;"
								name="repID" id="repID" onchange="javascript:loadICLRepInfo();">
								<#list reps.data as row>
								<option value="${row[0].value}">${row[1].value}</option>
								</#list>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div id="iclRepInfo" name="iclRepInfo"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	  </tr>
	</tbody>
</table>
</#if>

<#if iclRepInfo?exists>
<table border="0">
	<tr>
		<td>
			<table width="100%" align="left" valign="top" cellspacing="5" cellpadding="5" border="0">
				<#if repDetails.data?exists>
					<#list repDetails.data as row>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Code</td>
						<td><INPUT TYPE="text" NAME="" value='${row[0].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Last Worked</td>
						<td><INPUT TYPE="text" NAME="" value='${row[1].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Distributed</td>
						<td><INPUT TYPE="text" NAME="" value='${row[2].value!""}' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Returned </td>
						<td><INPUT TYPE="text" NAME="" value='${row[3].value!""}' size="14" class="inputControl"></td>
					</tr>
					</#list>
				<#else>
					<tr>
						<td style="padding:3px;width:85px" align="left">Rep Code</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Last Worked</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Distributed</td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
					<tr>
						<td style="padding:3px;width:85px" align="left">Date Returned </td>
						<td><INPUT TYPE="text" NAME="" value='' size="14" class="inputControl"></td>
					</tr>
				</#if>
			</table>
		</td>
	</tr>
</table>
</#if>




 <#if leadListTable?exists>
<table border="2" cellspacing="0" cellpadding="0" style='border-collapse: collapse;' class="list crmWidth">
	<tr>
	<#if type = 'Saved'>
		<th><input id="checkAlltoUnAssign" type="checkbox" onclick="javascript:checkAll();"></th>
	</#if>
		<th>S.No</th>
		<th>Street Address</th>
		<th>Apt#</th>
		<th>City</th>
		<th>Zip</th>
		<th>DA</th>
		<th>Lead ID</th>
		<th>Customer Name</th>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		<th>DM</th>
		<th>DI</th>
		<th>Notes</th>
		<th>Status</th>
	</tr>
		<#if result.data?exists>
			<#list result.data as row>
				<#if row_index ==0 >
				<script type="text/javascript">
				 firstLeadRowId = "${row[14].value!''}";
				 totalRecords = ${result.data?size};
				</script>
				</#if>
				<tr>
				<#if row[19].value?exists && row[19].value == "BP">
					<#assign bTagOpen = "<b>">
					<#assign bTagClose = "</b>">
				<#else>
					<#assign bTagOpen = "">
					<#assign bTagClose = "">
				</#if>
				<#if row[20].value?exists && row[20].value == "Y">
					<#assign iTagOpen = "<i>">
					<#assign iTagClose = "</i>">
				<#else>
					<#assign iTagOpen = "">
					<#assign iTagClose = "">
				</#if>

				<#if type = 'Saved'>
					<#if row[11].value?exists && row[11].value != "">
						<td><input value="${row[14].value!''}-${row[5].value!''}" name="unDispositionedLeads"  type="checkbox"  disabled="disabled" /></td>
					<#else>
						<td><input value="${row[14].value!''}-${row[5].value!''}" name="unDispositionedLeads"  type="checkbox"  /></td>
					</#if>
				</#if>
				<td>${bTagOpen}${iTagOpen}${row_index+1}${iTagClose}${bTagClose}</td>
				<#list row as column>
					<#if column_index==0>
						<td>
							<#assign s = column.value?split("-")>
								${bTagOpen}${iTagOpen}${s[0]}${iTagClose}${bTagClose}
						</td>
					<#elseif column_index == 6> 
						<#if row[18].value?exists && row[18].value != "Y">
							<td>${bTagOpen}${iTagOpen}**${column.value!''}${iTagClose}${bTagClose}</td>
						<#else>
							<td>${bTagOpen}${iTagOpen}${column.value!''}${iTagClose}${bTagClose}</td>
						</#if>
					<#elseif column_index == 14 || column_index == 15  || column_index == 16 || column_index == 17 || column_index == 18 || column_index == 19 || column_index == 20>
					<#else>
							<td>${bTagOpen}${iTagOpen}${column.value!''}${iTagClose}${bTagClose}</td>
					</#if>
				</#list>
			</tr>
			</#list>
			<TR><TD  colspan="16">&nbsp;</TD></TR>
			<tr><td align='center' colspan="16">Total Leads Available for Leadsheet : ${availLeads!'0'}</td></tr>
			<tr><td align='center' colspan="16">Total Leads Disabled : ${disabledLeads!'0'}</td> </tr>
			<tr><td align='center' colspan="16">Total Leads Dispositioned : ${dispLeads!'0'}</td></tr>
			<TR><TD  colspan="16">&nbsp;</TD></TR>
		<#else>
			<tr><td colspan="6">No Records to Display</td></tr>
		</#if>
		
</table>
</#if>