<#if campaignSelector?exists>
<div id="boxes">
<!-- #customize your modal window here -->
<div style="border: 3px coral solid; vertical-align:middle; " id="modalWindow" class="window" align="center">
</div>
<!-- Do not remove div#mask, because you'll need it to fill the whole screen -->	
<div id="mask"></div>
</div>

<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px" width="100%">
	<script type="text/javascript">
	territoryFor = "ICLLEAD";
	var mergeLeadList = "";
	var filterSavedList = "%";
	var filterGenList	= "%";
	//Map cENTER
	var mapCenter = null;
	// Map Zoom Level
	var mapZoom = null;
	//Current Map type
	var mapType = null;
	useMarkerCluster = true;
	var selectedColorCodeType ="";
	var selectedFiles = "";
	var isCheckAllFiles = true;
	var loadAvailableLeadsDataTable = false;
	//var sortedColumns = new Array();  
	onMarkersLoadedAndParsed = function onLeadMarkersLoaded(){
		loadDefaultViewMap();
	};

	onCustomZoomFunction  = function seZoomLevels() {
		enableCustomZoom = "false";
		try{
			if(mapCenter && mapCenter!=null){
				map.setCenter(mapCenter,mapZoom,mapType);
				mapCenter = null;
				mapZoom = null;
				mapType = null;
			}
		}catch(e){
		}
	};

	var campaignSeq = "";
	var templateName = "";
	var officeSeq = "";
	var iclid = "";
	var paginationVar=1;
	var unSavedLeadSheets="";
	var savedLeadSheetsCount = 0;
	var repReturnedDate="";
	var canReloadMap = true;


	function onTemplateChange(){
		loadTemplateDetails();
	}

	$("#editReturnedDate").datepicker({ altField: "input#date", altFormat: "yy-mm-dd" });
	
	/*
	 * This funciton handles all requirements when checkbox is checked or unchecked
	 */
	function setLeadSheetGenerationRules(){
	}

	function zoomToLeadSheet(leadSheetId){
		try{
			var leadSheetLoaded = false;

			for ( var i = 0; i < polygonControl.storage.length; i++) {
				if (polygonControl.storage[i] != null && polygonControl.storage[i] != undefined) {
					if(polygonControl.storage[i].title[0].indexOf(leadSheetId)!=-1){
						var geometry = polygonControl.storage[i].geometry;
						var newzoomLvel = map.getBoundsZoomLevel(geometry.getBounds());
						var newcenter = geometry.getBounds().getCenter();
						var newType = map.getMapTypeId();
						map.setCenter(newcenter,newzoomLvel,newType);
						leadSheetLoaded=true;

						break;
					}
				}
			}

			if(!leadSheetLoaded){
				
				loadKML("mapServlet?action=loadPolygons&loadByLeadSheets=true&campaignSeq=" + campaignSeq+"&officeSeq="+officeSeq+"&templateName="+templateName+"&leadSheetId="+leadSheetId+"&clientKey="+clientKey);
			}

		}catch(e){
		}
		
	}

	function reloadMap(){
		if(canReloadMap){
			clearMap();
			loadKML("mapServlet?action=loadPoints&pageName=leadSheetGeneration&disableAssignedLeads=true&campaignSeq=" + campaignSeq+"&officeSeq="+officeSeq+"&templateName="+templateName+'&selectedFiles='+getSelectedFiles()+"&clientKey="+clientKey);
		}else{
			canReloadMap = true;
			clearPolygons();
			loadDefaultViewMap();
		}
	}

	function loadDefaultViewMap(){
		clearPolygons();

		var defaultView = '';
		try {
			for (var i=0; i < document.getElementsByName('defaultView').length; i++)
		   {
			   if (document.getElementsByName('defaultView')[i].checked)
		       {
      			defaultView = document.getElementsByName('defaultView')[i].value  ;
				break;
		       }
		   }
		}catch(e){
			defaultView  = 'none';
		}
		if(defaultView  != 'none'){
			loadKML("mapServlet?action=loadPolygons&defaultView="+defaultView+"&campaignSeq=" + campaignSeq+"&officeSeq="+officeSeq+"&templateName="+templateName,"&wcDaZipString="+wcDaZipString+"&clientKey="+clientKey);
		}else{
			try{
				enableZoomToBounds = "false";
				if (enableCustomZoom == "true" && onCustomZoomFunction) {
					onCustomZoomFunction();
				}
			}catch(e){
			}
		}

		try{
			var showLeadSheetPolygons = document.getElementById('viewLeadSheetPolygons');
			if(showLeadSheetPolygons.checked){
				loadKML("mapServlet?action=loadPolygons&loadByLeadSheets=true&campaignSeq=" + campaignSeq+"&officeSeq="+officeSeq+"&templateName="+templateName+"&clientKey="+clientKey);
			}
		}catch(e){
		}
	}

	function loadCampaignSelector() {
		var params = {
			pageName :"LeadSheetGeneration",
			controlName :"campaignSelector"
		}
		var url = "uiController";
		loadControl(url, params, onCampaignSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function onCampaignSelectorLoaded(data) {
		$("#campaignSelector").children().remove();
		$("#campaignSelector").append(data);
		loadICLSelector();
	}

	var customController = 'false';
	var campaignChanged = 'false';
	function checkCustomController(){
		if(document.getElementById("campaignID").value == sessionCampaignSeq ){
			customController = 'false';
		} else
			{
			var params = {
					controlName :"checkCustomController",
					campaignSeq :document.getElementById("campaignID").value,
					pageName :"LeadSheetGeneration",
					useCustomController : 'true'
				}
				var url = "uiController";
				loadControl(url, params, function(data) {
					customController = data.split(':')[0];
					campaignChanged = 'true';
					clientKey = data.split(':')[1];
					loadICLSelector() ;
				});
		}
	}
	

	function loadICLSelector() {
				
	if(!enableGlsMapZoom){
		resetGLSVariables();
		isCheckAllFiles = true;
	}
		campaignSeq = document.getElementById("campaignID").value;
		sessionCampaignSeq = document.getElementById("campaignID").value;
		var params = {};
		if(customController == 'true' || campaignChanged == 'true'){
			hideMap();
			params = {
					pageName :"LeadSheetGeneration",
					controlName :"iclSelector",
					campaignSeq :campaignSeq,
					useCustomController : 'true',
					loadPage : 'true'
				}
		}else{
			params = {
					pageName :"LeadSheetGeneration",
					controlName :"iclSelector",
					campaignSeq :campaignSeq
					}
		}
		var url = "uiController";
		loadControl(url, params, iclSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function iclSelectorLoaded(data) {
		if(campaignChanged == 'true'){
			var cssLink = $('#customCss').attr('href');
			var lastPos = cssLink.lastIndexOf('/');
			cssLink = cssLink.substring(0,lastPos+1) + clientKey +'common' + cssLink.substring(cssLink.lastIndexOf('.'));
			$('#customCss').attr('href',cssLink);
		}
		if(customController == 'true'  || campaignChanged == 'true'){
			$("#pageHolder").children().remove();
			$("#pageHolder").append(data);
		}else {
			$("#iclSelector").children().remove();
			$("#iclSelector").append(data);
			campaignSeq = document.getElementById("campaignID").value;
			officeSeq  = document.getElementById("iclID").value;
			sessionOfficeSeq = document.getElementById("iclID").value;
			handleICLChange();
		}

	}

	function handleICLChange(){

		isCheckAllFiles = true;
		if(enableGlsMapZoom){
			if(selectedUploadFiles.length>0){
			isCheckAllFiles = false;
				for (i = 0; i < selectedUploadFiles.length; i++){
					selectedFiles = selectedFiles + ",'"+selectedUploadFiles[i]+ "'";     
				}
			}
		}else{
			resetGLSVariables();
			isCheckAllFiles = true;
			selectedFiles = '';
		}
		//sortedColumns = new Array(); 
		campaignSeq = document.getElementById("campaignID").value;
		officeSeq  = document.getElementById("iclID").value;

		var tempUniqueMarkerClusterIdentifier = campaignSeq +"-"+officeSeq;
		if(tempUniqueMarkerClusterIdentifier != uniqueMarkerClusterIdentifier){
			uniqueMarkerClusterIdentifierChanged = true;
			uniqueMarkerClusterIdentifier = tempUniqueMarkerClusterIdentifier;
		}else{
			uniqueMarkerClusterIdentifierChanged = false;
		}

		loadTemplateSelector();
		loadColorCodeDetails();
		loadDefaultTerritoryViewDetails();
		loadAvailableLeadsData();
		showLeadsByUploadFile();
		loadLeadSheetGenerated(generatedPageNumber,'');
		loadLeadSheetSaved(savedPageNumber,generatedSortColumn);
	}

	function checkAllFiles(){
		if(isCheckAllFiles){
			for (i = 0; i < document.getElementsByName('selectedFiles').length; i++){
				document.getElementsByName('selectedFiles')[i].checked=true;
			}
			$('#selectAllFiles').attr('checked',true);
		} else {
			for (i = 0; i < document.getElementsByName('selectedFiles').length; i++){
				if(selectedFiles.indexOf(document.getElementsByName('selectedFiles')[i].value) != -1) {
					document.getElementsByName('selectedFiles')[i].checked=true;
				}
			}
		}
		try{
	  if(selectedUploadFiles.length > 0){
		for(var j=0;document.getElementsByName('selectedFiles').length;j++){
		document.getElementsByName('selectedFiles')[j].checked= false;
			for(var i=0;i<selectedUploadFiles.length;i++){
				if(document.getElementsByName('selectedFiles')[j].value == selectedUploadFiles[i]){
					document.getElementsByName('selectedFiles')[j].checked= true;
				}else{
					$('#selectAllFiles').attr('checked',false);
				}
			}
		}

	  }
		} catch(e){
		
		}
	}


	function loadTemplateSelector() {
		campaignSeq = document.getElementById("campaignID").value;
		officeSeq  = document.getElementById("iclID").value;
		sessionOfficeSeq = document.getElementById("iclID").value;

		//alert("campaignID "+campaignSeq);
		var params = {
			pageName :"LeadSheetGeneration",
			controlName :"templateSelector",
			campaignSeq:campaignSeq,
			officeSeq:officeSeq
		}

		var url = "uiController";
		loadControl(url, params, onTemplateSelectorLoaded);
	}


	function onTemplateSelectorLoaded(data) {
		$("#templateSelector").children().remove();
		$("#templateSelector").append(data);
		templateName = document.getElementById("templateID").value;
		loadTemplateDetails();
	}

	function loadColorCodeDetails(){
		var params;
		params = {
			pageName :"LeadSheetGeneration",
			controlName :"colorCodes"
		};
		var url = "uiController";
		loadControl(url, params, onColorCodeDetailsLoaded);
	}

	function onColorCodeDetailsLoaded(data){
		$("#colorCodesDiv").children().remove();
		$("#colorCodesDiv").append(data);
	}

	function loadDefaultTerritoryViewDetails() {
		campaignSeq = document.getElementById("campaignID").value;
		officeSeq  = document.getElementById("iclID").value;
		var params;
		params = {
			pageName :"LeadSheetGeneration",
			controlName :"defaultViewDetails",
			campaignSeq:campaignSeq,
			officeSeq:officeSeq
		};
		var url = "uiController";
		loadControl(url, params, onDefaultTerritoryViewDetailsLoaded);
	}

	function onDefaultTerritoryViewDetailsLoaded(data) {
		$("#defaultViewDetails").children().remove();
		$("#defaultViewDetails").append(data);
		//reloadMap();
	}


	function loadTemplateDetails() {
		campaignSeq = document.getElementById("campaignID").value;
		officeSeq  = document.getElementById("iclID").value;
		templateName = document.getElementById("templateID").value;
		var params = {
			pageName :"LeadSheetGeneration",
			controlName :"selectedTemplateDetails",
			templateName :templateName,
			campaignSeq:campaignSeq,
			officeSeq:officeSeq
		};
		var url = "uiController";
		loadControl(url, params, onTemplateDetailsLoaded);
	}

	function onTemplateDetailsLoaded(data) {
		$("#selectedTemplateDetails").children().remove();
		$("#selectedTemplateDetails").append(data);
	}

	function loadAvailableLeadsData() {
	  	
		campaignSeq = document.getElementById("campaignID").value;
		officeSeq  = document.getElementById("iclID").value;
		var params = {
			pageName :"LeadSheetGeneration",
			controlName :"availableLeadsData",
			campaignSeq:campaignSeq,
			selectedFiles :getSelectedFiles(),
			loadAvailableLeadsDataTable :loadAvailableLeadsDataTable,
			officeSeq:officeSeq
		};

		var url = "uiController";
		loadControl(url, params, onAvailableLeadsDataLoaded);
	}

	function getSelectedFiles(){
		var filesSelected="";
		if(enableGlsMapZoom){
			isCheckAllFiles = false;
		}
		if(isCheckAllFiles==false) {
			if(selectedFiles.length > 1 && selectedFiles.substring(0,1) ==','){
				filesSelected = selectedFiles.substring(1);
			}else{
				filesSelected = selectedFiles;
			}

		}
		return filesSelected;
	}

    function onAvailableLeadsDataLoaded(data){
		$("#availableLeadsData").children().remove();
		$("#availableLeadsData").append(data);
		
	}

	function filterLeadSheetGenerated(filter) {
		var params;
		var pageNumber;

		if(filter != undefined){
			filterGenList=filter+"%";
		} else {
			filterGenList="%"+document.getElementById("searchByGenLeadSheetID").value+"%";
		}

		loadLeadSheetGenerated(1,'');
	}

	function loadLeadSheetGenerated(pageNumber, sortingColumn){
		var params;

		if(pageNumber != undefined){
		params = {
				pageName :"LeadSheetGeneration",
				controlName :"leadSheetGeneratedtable",
				officeSeq :officeSeq,
				campaignSeq:campaignSeq,
				pageNumber:pageNumber,
				sortingColumn:sortingColumn,
				leadSheetID:filterGenList
			};
		}else{
			params = {
					pageName :"LeadSheetGeneration",
					controlName :"leadSheetGeneratedtable",
					campaignSeq:campaignSeq,
					officeSeq :officeSeq,
					leadSheetID:filterGenList
				};
		}
		var url = "uiController";
		loadPaginatedTable(url, params, onloadLeadSheetGeneratedLoaded,pageNumber);
	}

	function onloadLeadSheetGeneratedLoaded(data){
		$("#leadSheetGeneratedtable").children().remove();
		$("#leadSheetGeneratedtable").append(data);
		setSortOrderImage('leadSheetGeneratedtable',sortedColumns);

	}

	function filterLeadSheetSaved(filter) {
		var params;
		var pageNumber;

		if(filter != undefined){
			filterSavedList=filter+"%";
		} else {
			filterSavedList="%"+document.getElementById("searchByLeadSheetID").value+"%";
		}
		loadLeadSheetSaved(1,'');
	}

	function loadLeadSheetSaved(pageNumber, sortingColumn){
		var params;
		if(sortingColumn == undefined || sortingColumn==''){
		sortingColumn = "RED_LEAD_FLAG DESC, CREATED_DATE DESC:false";
		}
		generatedSortColumn = sortingColumn;
		if(pageNumber != undefined){
		params = {
				pageName :"LeadSheetGeneration",
				controlName :"leadSheetSavedtable",
				officeSeq :officeSeq,
				campaignSeq:campaignSeq,
				pageNumber:pageNumber,
				leadSheetID:filterSavedList,
				sortingColumn:sortingColumn
			};
		}else{
			params = {
					pageName :"LeadSheetGeneration",
					controlName :"leadSheetSavedtable",
					campaignSeq:campaignSeq,
					officeSeq :officeSeq,
					leadSheetID:filterSavedList,
					pageNumber:pageNumber,
					sortingColumn:sortingColumn
				};
		}
		var url = "uiController";
		loadPaginatedTable(url, params, onloadLeadSheetSavedLoaded,pageNumber);
	}

	function onloadLeadSheetSavedLoaded(data){
		$("#leadSheetSavedtable").children().remove();
		$("#leadSheetSavedtable").append(data);
		setLastView();
		setSortOrderImage('leadSheetSavedtable',sortedColumns);
	}

	function setLastView(){
		if(isDispositionSelected){
			$('#dispositionalColorCodes').attr('checked',true);
			$('#defaultColorCodes').attr('checked',false);
			toggleColorCode('dispositionalColorCodes','false');
		}else{
			$('#defaultColorCodes').attr('checked',true);
			$('#dispositionalColorCodes').attr('checked',false);
			toggleColorCode('defaultColorCodes','false');
		}
	}

	function deleteMarkersFromMap(data){
		// Helper functions
		var EGeoXml = {
			value : function(e) {
				a = GXml.value(e);
				a = a.replace(/^\s*/, "");
				a = a.replace(/\s*$/, "");
				return a;
			},
			styles : {}
		}

		// Parse the response and remove those specific markers
		var xmlDoc = GXml.parse(data);
	//	alert("parsing XML Reppjnse");
		var placemarks = xmlDoc.documentElement
		.getElementsByTagName("Placemark");
		var clusterIdArr = new Array();
		for ( var i = 0; i < placemarks.length; i++) {
		  try{
				var name = EGeoXml.value(placemarks[i]
						.getElementsByTagName("name")[0]);
				//alert("For marker with Name "+name);
				var desc = EGeoXml.value(placemarks[i]
						.getElementsByTagName("description")[0]);
				if (desc.match(/^http:\/\//i))
				{
					desc = '<a href="' + desc + '">' + desc + '</a>';
				}
				if (desc.match(/^https:\/\//i))
				{
					desc = '<a href="' + desc + '">' + desc + '</a>';
				}
				var style = EGeoXml.styles[EGeoXml.value(placemarks[i]
						.getElementsByTagName("styleUrl")[0])]
						|| {};
				var coords = GXml.value(placemarks[i]
						.getElementsByTagName("coordinates")[0]); // TODO what
				// about
				// inner
				// boundaries?
				coords = coords.replace(/\s+/g, " "); // tidy the whitespace
				coords = coords.replace(/^ /, ""); // remove possible leading
				// whitespace
				coords = coords.replace(/ $/, ""); // remove possible trailing
				// whitespace
				coords = coords.replace(/, /, ","); // tidy the commas
				var path = coords.split(" ");

				// Is this a polyline/polygon?
				// It's not a poly, so I guess it must be a marker
				var bits = path[0].split(",");
				// Does the user have their own createmarker function?
				/*
				 * if (!!me.opts.createmarker) { me.opts.createmarker(point,
				 * name, desc, style); } else {
				 */
				 clusterIdArr.push(markerCluster.removeMarkerByID(name));

			}catch(e){
				alert("Exception while Reading Placemark"+e);
			}
		}

		for(var i=0;i<clusterIdArr.length;i++){
			markerCluster.redrawCluster(clusterIdArr[i]);
		}
		//markerCluster.redraw_();
	}

	/*
	 * This is called when leadsheet is generated
	 */
	function onLeadSheetGenerated(data){
		if(data == 'ALL-GENERATED'){
			// Remove all Markers from marker Clusterer
			clearMarkers();
			try{
				markersForCluster = new Array();
				markerCluster.clearMarkers()
			}catch(e){
				alert("Exception in reinitializing ",e);
			}
		}

		loadLeadSheetGenerated(generatedPageNumber,'');
		selectedFiles="";
		isCheckAllFiles = true;
		loadAvailableLeadsData();
		showLeadsByUploadFile();
		setLastView();
		uniqueMarkerClusterIdentifierChanged = true;
		//canReloadMap = true;
		 reloadMap();
		//loadDefaultTerritoryViewDetails();
	}

	/*
	 * This is called when temp lead sheet is saved
	 */
	function onLeadSheetTempLoaded(data){
		refreshPageData();
	}

	/*
	 * This is called when temp lead sheet is saved
	 */
	function onLeadSheetGeneratedLoaded(data){
		unSavedLeadSheets = "";
		loadLeadSheetGenerated(generatedPageNumber,'');
		selectedFiles="";
		isCheckAllFiles = true;
		loadAvailableLeadsData();
		showLeadsByUploadFile();
		reloadMap();
		//loadDefaultTerritoryViewDetails();
	}

	/*
	 * This is called when temp lead sheet is saved
	 */
	function onLeadSheetSavedLoaded(data){
		if(data){
			if(data=='ERROR'){
				alert('Error!!! Please try again later.');
				return;
			}else{
				mergeLeadList ="";
			}
		}
		unSavedLeadSheets = "";
		loadLeadSheetGenerated(generatedPageNumber,'');
		loadLeadSheetSaved(savedPageNumber,generatedSortColumn);

		selectedFiles="";
		isCheckAllFiles = true;
		loadAvailableLeadsData();
		showLeadsByUploadFile();
		//reloadMap();
		//loadDefaultTerritoryViewDetails();
	}

	function refreshPageData(){
		loadLeadSheetGenerated(generatedPageNumber,'');
		loadLeadSheetSaved(savedPageNumber,generatedSortColumn);
		//loadAvailableLeadsData();
		//showLeadsByUploadFile();
		//loadDefaultTerritoryViewDetails();
	}

	function generateLeadSheets(){
		campaignSeq = document.getElementById("campaignID").value;
		templateName = document.getElementById("templateID").value;
		iclid=document.getElementById("iclID").value;
		officeSeq = document.getElementById("iclID").value;
		uniqueMarkerClusterIdentifierChanged = true;
		var selectionStatus = false;
		selectionStatus = confirm("Do you wish to Generate Lead Sheets using '"+ templateName +"' template. \n\nClick OK to continue.");
		if(selectionStatus){
			mapCenter = map.getCenter();
			// Map Zoom Level
			mapZoom = map.getZoom();
			// Map Type
			mapType = map.getMapTypeId();
			var params;
			params = {
					pageName :"LeadSheetGeneration",
					controlName :"generateLeadSheet",
					campaignSeq :campaignSeq,
					templateName:templateName,
					officeSeq : officeSeq,
					iclID : iclid,
					selectedUploadedFiles : getSelectedFiles(),
					leads : JSON.stringify(PolygonLeadsArray)
				};
			PolygonLeadsArray = new Array();
				var url = "uiController?1=1"+getInputTagValuesAsParams();
				loadControl(url, params,onLeadSheetGenerated);
		}
	}

	// To delete all temp leadsheets
	function deleteAllLeadSheets() {
		uniqueMarkerClusterIdentifierChanged = true;
		var params;
		params = {
				pageName :"LeadSheetGeneration",
				controlName :"deleteAllLeadSheets",
				campaignSeq :campaignSeq,
				officeSeq :officeSeq,
				templateName:templateName,
				unSavedLeadSheets : unSavedLeadSheets
			};
		var url = "uiController";
		loadControl(url, params,onLeadSheetGeneratedLoaded);
	}

	// To save all temp leadsheets
	function saveLeadSheets() {
		var params;
		params = {
				pageName :"LeadSheetGeneration",
				controlName :"saveLeadSheets",
				campaignSeq :campaignSeq,
				officeSeq :officeSeq,
				templateName:templateName,
				unSavedLeadSheets : unSavedLeadSheets
			};
		var url = "uiController";
		loadControl(url, params,onLeadSheetSavedLoaded);


	}

	// Used to mark if Date is changed
	function onLeadReturnedDateChanged(row_index){
		try{
			var hasChanged = document.getElementById('leadSheetChanged_'+row_index).innerHTML;
			if(hasChanged != '1'){
				document.getElementById('leadSheetChanged_'+row_index).innerHTML = '2';
			}
		}catch(e){
		}
	}

	function assignRepsToLeadSheets(){
		var leadSheetReps	="";
		var params;
		if(savedLeadSheetsCount!= 0){
			for (var i=0;i<savedLeadSheetsCount;i++){
				var addIfOne = document.getElementById('leadSheetChanged_'+i).innerHTML;
				if(addIfOne=="1"){
					leadSheetReps = leadSheetReps+','+document.getElementById('leadSheetId_'+i).innerHTML +'::'+ document.getElementById('savedRepName_'+i).value+'::'+document.getElementById('repReturnedDate_'+i).value+'::'+document.getElementById('repAssignedDate_'+i).innerHTML+'::1';
				}else if(addIfOne=="2"){
					leadSheetReps = leadSheetReps+','+document.getElementById('leadSheetId_'+i).innerHTML +'::'+ document.getElementById('savedRepName_'+i).value+'::'+document.getElementById('repReturnedDate_'+i).value+'::'+document.getElementById('repAssignedDate_'+i).innerHTML+'::2';
				}
			}
		params = {
				pageName :"LeadSheetGeneration",
				controlName :"AssignReps",
				campaignSeq :campaignSeq,
				officeSeq :officeSeq,
				templateName:templateName,
				leadSheetReps : leadSheetReps.substring(1, leadSheetReps.length)
			};
		var url = "uiController";
		loadControl(url, params,loadLeadSheetSaved);
		}
	}

	function goToDeleteTempLeadSheet(leadSheetId){
		uniqueMarkerClusterIdentifierChanged = true;
		var params = {
			pageName : "LeadSheetGeneration",
			controlName :"deleteTempLeadSheet",
			campaignSeq: campaignSeq,
			officeSeq : officeSeq,
			leadSheetId : leadSheetId
		}
		var url = "uiController";
		loadControl(url,params,onLeadSheetTempLoaded);
	}

	// To save the selected Temp Leadsheet
	function goToSaveTempLeadSheet(leadSheetId){
		var params = {
			pageName : "LeadSheetGeneration",
			controlName :"saveTempLeadSheet",
			campaignSeq: campaignSeq,
			officeSeq : officeSeq,
			leadSheetIds : "'"+leadSheetId+"'"
		}
		var url = "uiController";
		loadControl(url,params,refreshPageData);
	}

	
	function goToDeleteSavedLeadSheet(leadSheetId){
		uniqueMarkerClusterIdentifierChanged = true;
		var params = {
			pageName : "LeadSheetGeneration",
			controlName :"deleteSavedLeadSheet",
			campaignSeq: campaignSeq,
			officeSeq : officeSeq,
			leadSheetId : "'"+leadSheetId+"'"
		}
		var url = "uiController";
		loadControl(url,params,onLeadSheetSavedLoaded);
	}

	/**
	*This deletes group of selected leadsheets
	*/
	function deleteSelectedLeadSheets() {
		var leadSheets = '';
		  for (i = 0; i < document.getElementsByName('cbLeadSheetId').length; i++){
			  if(document.getElementsByName('cbLeadSheetId')[i].checked){
				  leadSheets = leadSheets + ",'" +  document.getElementsByName('cbLeadSheetId')[i].value + "'" ;
			  }
		}

		if(leadSheets != ''){
			uniqueMarkerClusterIdentifierChanged = true;
			canReloadMap = true;
			leadSheets  = leadSheets.substring(1);
			var params = {
					pageName : "LeadSheetGeneration",
					controlName :"deleteSavedLeadSheet",
					campaignSeq: campaignSeq,
					officeSeq : officeSeq,
					leadSheetId : leadSheets
				}
				var url = "uiController";
				loadControl(url,params,onLeadSheetSavedLoaded);

		}else {
			alert("One or more lead sheet(s) should be selected");
		}
	}

	/**
	 * Function to add Leadsheets that cAn be merged
	 */
	function addToMergeList(leadSheetCheckBox){
		var stringToBeReplaced = ",'"+leadSheetCheckBox.value + "'";
		if(leadSheetCheckBox.checked){
			mergeLeadList = mergeLeadList.replaceAll(stringToBeReplaced,"");
			mergeLeadList = mergeLeadList + stringToBeReplaced;
		}else{
			mergeLeadList = mergeLeadList.replaceAll(stringToBeReplaced,"");
		}
	}
			
	function addToSelectedFilesList(selectedFilesCheckBox){
		if(selectedFilesCheckBox.checked){
			if(selectedFiles == "'-1'")
				selectedFiles = ",'" + selectedFilesCheckBox.value + "'";
			else
				selectedFiles = selectedFiles + ",'"+selectedFilesCheckBox.value + "'";
		}else{
			if(document.getElementById("selectAllFiles").checked == true) {
				$('#selectAllFiles').attr('checked',false);
				isCheckAllFiles = false;
				for (i = 0; i < document.getElementsByName('selectedFiles').length; i++){
					if(document.getElementsByName('selectedFiles')[i].checked) {
			     		selectedFiles = selectedFiles + ",'"+document.getElementsByName('selectedFiles')[i].value + "'";     
			    	}
			   	}
			}
			var stringToBeReplaced = ",'" + selectedFilesCheckBox.value + "'";
			selectedFiles = selectedFiles.replaceAll(stringToBeReplaced,"");
		}
	}

	function toggleFiles(selectAll) {
		for (i = 0; i < document.getElementsByName('selectedFiles').length; i++){
			document.getElementsByName('selectedFiles')[i].checked=selectAll.checked;
			if(selectAll.checked){
				selectedFiles = "";
				isCheckAllFiles = true;
			}else{
				selectedFiles = "'-1'";
				isCheckAllFiles = false;
			}
		}
	}
	/**
	*To Merge Leadsheets
	*/
	function mergeSelectedLeadSheets(){
		var params;

		if(mergeLeadList.split(",").length<3){
			alert("To merge lead sheets, at least 2 lead sheets have to selected.");
			return;
		}

		var selectedLeadSheets = mergeLeadList.substring(1,mergeLeadList.length);
		params = {
				pageName :"LeadSheetGeneration",
				controlName :"mergeLeadSheets",
				selectedLeadSheets : selectedLeadSheets
			};
		var url = "uiController";
		loadControl(url, params,onLeadSheetGenerated);
		mergeLeadList = "";
	}
// to save generated lead sheets
	function saveSelectedGeneratedLeadSheets(){
		var params;

		if(mergeLeadList.split(",").length<2){
			alert("To save lead sheets, at least 1 lead sheet have to selected.");
			return;
		}

		var selectedLeadSheets = mergeLeadList.substring(1,mergeLeadList.length);
		params = {
				pageName :"LeadSheetGeneration",
				controlName :"saveTempLeadSheet",
				officeSeq :officeSeq,
				campaignSeq:campaignSeq,
				leadSheetIds : selectedLeadSheets
			};
		var url = "uiController";
		loadControl(url, params,onLeadSheetTempLoaded);
		mergeLeadList = "";
	}

	
	// To delte selected temp leadsheets
	function deleteSelectedTempLeadSheets(){
		var params;
		uniqueMarkerClusterIdentifierChanged = true;
		var selectedLeadSheets = mergeLeadList.substring(1,mergeLeadList.length);
		params = {
				pageName :"LeadSheetGeneration",
				controlName :"deleteSelectedTempLeadSheets",
				selectedLeadSheets : selectedLeadSheets
			};
		var url = "uiController";
		loadControl(url, params,onLeadSheetGenerated);
		mergeLeadList = "";
	}

	function toggleAllSheets() {
		  for (i = 0; i < document.getElementsByName('cbLeadSheetId').length; i++)
			  document.getElementsByName('cbLeadSheetId')[i].checked = document.getElementById('toggleAllSheets').checked? true:false
	}

	function exportSheets() {
		var leadSheets = '';
		  for (i = 0; i < document.getElementsByName('cbLeadSheetId').length; i++){
			  if(document.getElementsByName('cbLeadSheetId')[i].checked){
				  leadSheets = leadSheets + ",'" +  document.getElementsByName('cbLeadSheetId')[i].value +"'" ;
			  }
		}

		if(leadSheets != ''){
			leadSheets  = leadSheets.substring(1);
		}else {
			alert("One or more lead sheet(s) should be selected");
			return;
		}

		var params = {
				pageName :"LeadSheetGeneration",
				controlName :"checkExpiredLeadSheets",
				selectedLeadSheets : leadSheets
			};
		var url = "uiController";
		loadControl(url, params,onExpiryCheck);
		
		
	}

	function onExpiryCheck(data) {
		var leadsheets ='';
		var values = data.split(':');
		if(values[0] == 'ERROR'){
			if(values[1] == 0){
				alert("Selected lead sheets are all expired and cannot continue printing.");
				return;
			}else{
				var selectionStatus = false;
				selectionStatus = confirm("Some of selected lead sheets are expired and cannot be printed.\n\nDo you want to continue printing the active ones?");
				if(selectionStatus){
					leadsheets = values[2];
				}else{
					return;
				}
			}				
		}else{
			leadsheets = values[1];
		}

		var params = {
				pageName :"LeadSheetGeneration",
				controlName :"updateRedLeadFlag",
				leadSheets : leadsheets
		}
					
		var url = "uiController";
		
		var mywindow = window.open ("reportServlet?leadSheets="+leadsheets+"&queryString=ICL_REP_LEAD_SHEET_PRINT&reportName=MultipleSheets&reportType=PDF&clientKey="+clientKey,
				  "MultipleSheets","location=1,status=1,scrollbars=1, width=800,height=800");
	  mywindow.moveTo(0,0);
		var printParams = {
				pageName :"LeadSheetGeneration",
				controlName :"updatePrinted",
				leadSheets : leadsheets
		}
		loadControl(url, printParams, function(data){});
		loadControl(url, params,function(data){loadLeadSheetSaved(savedPageNumber,generatedSortColumn);});

	}
	function toggleDispositionalImages(storeMap){
		var dispositionImages = 'Default';
		  for (i = 0; i < document.getElementsByName('dispositionalImages').length; i++){
			  if(document.getElementsByName('dispositionalImages')[i].checked){
				  dispositionImages = dispositionImages + "~" +  document.getElementsByName('dispositionalImages')[i].value  ;
			  }
		}
			try{
				if(storeMap && storeMap == "true"){
					mapCenter = map.getCenter();
					// Map Zoom Level
					mapZoom = map.getZoom();
					// Map Type
					mapType = map.getMapTypeId();
					enableCustomZoom = "true";
				}
			}catch(e){
			}
	  uniqueMarkerClusterIdentifierChanged = true;
	  loadKML("mapServlet?action=loadPoints&pageName=leadSheetGeneration&disableAssignedLeads=true&campaignSeq=" + campaignSeq+"&officeSeq="+officeSeq+"&templateName="+templateName+"&dispositionalImages="+dispositionImages+'&selectedFiles='+getSelectedFiles()+"&clientKey="+clientKey);
	}

	function toggleColorCode(type,storeMap) {

		if(type==null || type ==''){
			type = selectedColorCodeType ;
		}else{
	    	selectedColorCodeType= type ;
		}

		var disabled = true;
		var disp ='';
		isDispositionSelected = false;

		if(type && type == 'dispositionalColorCodes'){
			isDispositionSelected = true;
			disabled = false;
			disp = "&dispositionalImages=NONE"
		}
		for (i = 0; i < document.getElementsByName('dispositionalImages').length; i++){
			document.getElementsByName('dispositionalImages')[i].disabled= disabled;
		}
		
		if(document.getElementById('refreshColorCodesBtn')){
			document.getElementById('refreshColorCodesBtn').disabled= disabled;
		}
		
		try{
			if(storeMap && storeMap == "true"){
				mapCenter = map.getCenter();
				// Map Zoom Level
				mapZoom = map.getZoom();
				// Map Type
				mapType = map.getMapTypeId();
				enableCustomZoom = "true";
			}
		}catch(e){
		}

		uniqueMarkerClusterIdentifierChanged = true;
		clearMap();
		
		loadKML("mapServlet?action=loadPoints&pageName=leadSheetGeneration&disableAssignedLeads=true&campaignSeq=" + campaignSeq+"&officeSeq="+officeSeq+"&templateName="+templateName+disp+'&selectedFiles='+getSelectedFiles()+"&clientKey="+clientKey);

		loadAvailableLeadsDataTable = false;
		loadAvailableLeadsData();
	}

	function showLeadsByUploadFile(pageNumber, sortingColumn){
		var params;
		loadAvailableLeadsDataTable = true;

		if(pageNumber != undefined){
		params = {
				pageName :"LeadSheetGeneration",
				controlName :"availableLeadsData",
				officeSeq :officeSeq,
				campaignSeq:campaignSeq,
				selectedFiles:getSelectedFiles(),
				loadAvailableLeadsDataTable:loadAvailableLeadsDataTable,
				pageNumber:pageNumber,
				sortingColumn:sortingColumn
			};
		}else{
			params = {
					pageName :"LeadSheetGeneration",
					controlName :"availableLeadsData",
					campaignSeq:campaignSeq,
					selectedFiles:getSelectedFiles(),
					loadAvailableLeadsDataTable:loadAvailableLeadsDataTable,
					officeSeq :officeSeq
				};
		}
		var url = "uiController";
		loadPaginatedTable(url, params, onAvailableLeadsDataTableLoaded,pageNumber);
		loadAvailableLeadsDataTable = false;
	}

	function onAvailableLeadsDataTableLoaded(data){
		$("#availableLeadsDataTable").children().remove();
		$("#availableLeadsDataTable").append(data);
		checkAllFiles();
		setSortOrderImage('availableLeadsData',sortedColumns);

	}
	
	var inlineOpened = false;
	var inlineOldTD = '';
	var oldValue ='';

	var rdInlineOldTD = '';
	var rdOldValue ='';
	var notesIlineOldTD = '';
	var notesOldValue ='';
	var repInlineOldTD = '';
	var repOldValue ='';
	var salesInlineOldTD = '';
	var salesOldValue ='';
	var dmInlineOldTD = '';
	var dmOldValue ='';
	var dkInlineOldTD = '';
	var dkOldValue ='';




	var newValue = '';
	var inlineId ='';
	var assignedDate='';
	function changeLSname(id){
		if(inlineOpened == true){
			return ;
		}
		inlineId = id;
		oldValue = $('#a_'+id).html();
		inlineOldTD = $('#td_'+id).html();
		var inlineLSNComponent = '<table><tr><td><input class="inputControl" id="inlineChangedValue" type="text" size="35" maxLength="40"></input></td><td><button style="width: 18px; height: 18px;" onclick=\'javascript:inlineSubmitted("'+id+'");\'><img src="assets/images/okIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button><br><button style="width: 18px; height: 18px;" onclick=\'javascript:inlineCancelled("'+id+'");\'><img src="assets/images/cancelIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button> </td></tr></table>'; 
		$('#td_'+id).html(inlineLSNComponent);
		inlineOpened = true;
		$('#inlineChangedValue').val(oldValue);	
	}


	
	function changeLSReturnDate(id){
		if(inlineOpened == true){
			return ;
		}
		inlineId = id;
		rdOldValue = $('#span_rd_'+id).html().replaceAll('&nbsp;','');
		rdInlineOldTD = $('#td_rd_'+id).html();
		var inlineLSNComponent = '<table><tr><td><input class="inputControl" id="repReturnedDate" type="text" size="8" ></input> 	&lt;script language="javaScript"&gt; 	$("#repReturnedDate").datepicker({ altField: "input#date", altFormat: "yy-mm-dd" });&lt;/script&gt;</tr></table>';
		inlineLSNComponent = inlineLSNComponent.replaceAll('&gt;','>');
		inlineLSNComponent = inlineLSNComponent.replaceAll('&lt;','<');
		$('#td_rd_'+id).html(inlineLSNComponent);
		inlineOpened = false;
		$('#repReturnedDate').val(rdOldValue);	
	}


	function changeLSNotes(id){
		if(inlineOpened == true){
			return ;
		}
		inlineId = id;
		notesOldValue = $('#span_nts_'+id).attr('title');
		notesInlineOldTD = $('#td_nts_'+id).html();
		var inlineLSNComponent = '<table><tr><td><textarea rows="3" id="notesChangedValue" cols="20" class="inputControl" style="overflow:auto" maxLength="4000">######</textarea></td></tr></table>';
		inlineLSNComponent = inlineLSNComponent.replace('######',$.trim($('#span_'+id).attr('title')));		
		$('#span_'+id).attr('title','');
		$('#td_nts_'+id).html(inlineLSNComponent);
		$('#notesChangedValue').val(notesOldValue);
		inlineOpened = false;
	}

	function updateReturnDate(){
		newValue = document.getElementById('repReturnedDate').value ;
		if(newValue == ''){
			 alert('Please select a valid date to update.');
			 return;
		}
		   if($('#td_'+inlineId).attr('title') == '' ){
			   alert('Lead sheet has to be assigned to a Rep. to enter Returned date.');
			   $('#td_'+inlineId).html(inlineOldTD);
			   inlineOpened = false;
			   return;
		   }

		var url = "uiController";
		 
		var params = {
				pageName :"LeadSheetGeneration",
				controlName :"updateReturnDate",
				returnDate : newValue,
				leadSheetId : inlineId.substring(3)
			};
		if(oldValue != newValue){
			loadControl(url, params, rdInlineSubmittedLoaded);
		}else{
			repInlineCancelled(id);
		}


	}
	
	function openRepList(id){
		if(inlineOpened == true){
			return ;
		}
		inlineId = id;
		repOldValue = $('#span_rep_'+id).html();
		repInlineOldTD = $('#td_rep_'+id).html();
		var inlineRepComponent = document.getElementById('repslist').innerHTML;
		$('#td_rep_'+id).html(inlineRepComponent);
		inlineOpened = false;
		//$("select[name=savedRepName] option[text="+repOldValue+"]").attr("selected", true);
		setSelectTagOptionByText("savedRepName", repOldValue);
	}

	function changeRep(){
		var value = document.getElementById('savedRepName').value;
		if(value == ''){
		alert('Please select a valid Rep Name.');
		return;
		}
		newValue = document.getElementById('savedRepName').options[document.getElementById('savedRepName').selectedIndex].text;
		var url = "uiController";
		 
	    var today = new Date();

		var sDate = today.getDate()+'';
		var sMonth = (today.getMonth()+1)+'';
		var sYear = today.getFullYear();

   		if(sDate.length < 2){
			sDate = '0'+sDate;
		}
		if(sMonth.length < 2){
			sMonth = '0'+sMonth;
		}

		assignedDate = sMonth+'/'+sDate+'/'+sYear;
		var params = {
				pageName :"LeadSheetGeneration",
				controlName :"changeRep",
				repId : value,
				assignedDate : sMonth+'/'+sDate+'/'+sYear,
				leadSheetId : inlineId
			};
		if(oldValue != newValue){
			loadControl(url, params,repInlineSubmittedLoaded );
		}else{
			repInlineCancelled(id);
		}
	}

	function repInlineSubmittedLoaded(data){
		$('#td_'+inlineId).html(inlineOldTD);
		if(data.split(':')[0] == "SUCCESS"){
			if(newValue == '---UNASSIGN---'){
				 newValue = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
	 			$('#td_rd_'+inlineId).attr('title','');
			} else {
			$('#td_rd_'+inlineId).attr('title',newValue);
			}
			$('#span_'+inlineId).html(newValue);
			if(data.split(':')[1]=='false'){
			  assignedDate='';
			}
			$('#repAssignedDate_'+$('#span_'+inlineId).attr('name')+'').html(assignedDate);
		}else{
			$('#span_'+inlineId).html(oldValue);
		}
		inlineOpened = false;
	}

	function rdInlineSubmittedLoaded(data){
		$('#td_'+inlineId).html(inlineOldTD);
		inlineOpened = false;
		if(data.split(':')[0] == "SUCCESS"){
			$('#span_'+inlineId).html(newValue);
			loadLeadSheetSaved(savedPageNumber,generatedSortColumn);
		}else{
			$('#span_'+inlineId).html(oldValue);
		}


	}


	function repInlineCancelled(id){
		$('#td_'+id).html(inlineOldTD);
		inlineMouseOut(inlineId);
		inlineOpened = false;
	}

	function inlineSubmitted(id){
		newValue= $('#inlineChangedValue').val();
		if(newValue.search('[!@#$%&="\'^:;><?]') != -1){
			alert('Invalid Lead Sheet Name. Please enter a valid name with no special characters to continue.');
			return;
		}
		var url = "uiController";

		var params = {
				pageName :"LeadSheetGeneration",
				controlName :"renameLeadSheet",
				leadSheetName : newValue,
				leadSheetId : id
			};
		if(oldValue != newValue){
			loadControl(url, params,inlineSubmittedLoaded );
		}else{
		inlineCancelled(id);
		}
	}

	function inlineSubmittedLoaded(data){
		$('#td_'+inlineId).html(inlineOldTD);
		if(data== "SUCCESS"){
			$('#a_'+inlineId).html(newValue);
		}else{
			$('#a_'+inlineId).html(oldValue);
		}
		inlineOpened = false;
	}
	
	function notesInlineSubmitted(id){
		newValue= $('#inlineChangedValue').val();
		if(newValue.search('[!@#$%&="\'^:;><?]') != -1){
			alert('Invalid Notes. Please enter notes with no special characters to continue.');
			return;
		}
		var url = "uiController";

		var params = {
				pageName :"LeadSheetGeneration",
				controlName :"changeNotes",
				notes : newValue,
				leadSheetId : id.substring(4)
			};
		if(oldValue != newValue){
			loadControl(url, params,notesInlineSubmittedLoaded );
		}else{
		inlineCancelled(id);
		}
	}

	function notesInlineSubmittedLoaded(data){
		$('#td_'+inlineId).html(inlineOldTD);
		if(data== "SUCCESS"){
		$('#span_'+inlineId).attr('title',newValue);
			if(newValue.length > 50){
				newValue = 	newValue.substring(0,49)+ '...';
			}
			$('#span_'+inlineId).html(newValue);
		}else{
			$('#span_'+inlineId).html(oldValue);
		}
		inlineOpened = false;
	}

	
	function inlineCancelled(id){
		var newValue= $('#inlineChangedValue').val();
		// ajaxcall goes here
		$('#td_'+inlineId).html(inlineOldTD);
		inlineMouseOut(inlineId);
		inlineOpened = false;
	}
	
	function inlineMouseOver(id){
		if(!inlineOpened){
			document.getElementById('img_'+id).style.display=''; 
			document.getElementById('td_'+id).style.background='#FFFFCC';
		}
	}

	function inlineMouseOut(id){
	if(!inlineOpened){
		document.getElementById('img_'+id).style.display='none'; 
		document.getElementById('td_'+id).style.background='';
		}
	}

	function mergeSavedAndGeneratedSheets(){
		var isSavedSelectedCount = 0;
		var selectedSavedSheet = '';
		var isRepAssigned = false;
		for(var i=0;i<document.getElementsByName('cbLeadSheetId').length;i++){
			if(document.getElementsByName('cbLeadSheetId')[i].checked){
				isSavedSelectedCount++;
				selectedSavedSheet = document.getElementsByName('cbLeadSheetId')[i].value;
				if(document.getElementById('repAssignedDate_'+i).value  != ''){
					isRepAssigned = true;
				}
			}
		}

		if(selectedSavedSheet==''){
			alert('One saved lead sheet has to be selected for merging with generated lead sheets.')
			return;
		}			

		if(isSavedSelectedCount > 1){
			alert('At most one saved lead sheet can be selected for merging with generated lead sheets.')
			return;
		}

		if(mergeLeadList.split(",").length<2){
			alert("At least one generated lead sheet has to be selected for merging with saved lead sheet.");
			return;
		}

		if(isRepAssigned){
			if(!confirm("On merge, this selected saved leadsheet will need to be reprinted and distributed.\n\nClick OK to continue.")){
				return;
			}
		}

		var params;
		params = {
				pageName :"LeadSheetGeneration",
				controlName :"mergeGeneratedAndSavedLeadSheets",
				campaignSeq :campaignSeq,
				officeSeq :officeSeq,
				templateName:templateName,
				leadSheetIds : mergeLeadList.substring(1,mergeLeadList.length),
				savedLeadSheet : selectedSavedSheet
			};
		var url = "uiController";
		loadControl(url, params,onLeadSheetSavedLoaded);

	}

	function changeSales(id){
		if(inlineOpened == true){
			return ;
		}
		inlineId = id;
		salesOldValue = $('#span_s_'+id).html();
		salesInlineOldTD = $('#td_s_'+id).html();
		var inlineSalesComponent = '<table><tr><td><input class="inputControl" id="sChangedValue" type="text" size="1" maxLength="4"></input></td></tr></table>'; 
		$('#td_s_'+id).html(inlineSalesComponent);
		inlineOpened = false;
		$('#sChangedValue').val(salesOldValue);	
	}

	function salesInlineSubmitted(id){
		newValue= $('#inlineChangedValue').val();
		if(newValue.search(/(^-?\d\d*$)/) == -1){
			alert('Please enter value characters to continue.');
			return;
		}
		var url = "uiController";

		var params = {
				pageName :"LeadSheetGeneration",
				controlName :"changeSales",
				sales : newValue,
				leadSheetId : id.substring(2)
			};
		if(oldValue != newValue){
			loadControl(url, params,salesInlineSubmittedLoaded );
		}else{
		inlineCancelled(id);
		}
	}

	function salesInlineSubmittedLoaded(data){
		$('#td_'+inlineId).html(salesInlineOldTD);
		if(data== "SUCCESS"){
			$('#span_'+inlineId).attr('title',newValue);
			$('#span_'+inlineId).html(newValue);
		}else{
			$('#span_'+inlineId).html(salesOldValue);
		}
		inlineOpened = false;
	}
	
	function changeDM(id){
		if(inlineOpened == true){
			return ;
		}
		inlineId = id;
		dmOldValue = $('#span_dm_'+id).html();
		dmInlineOldTD = $('#td_dm_'+id).html();
		var inlineSalesComponent = '<table><tr><td><input class="inputControl" id="dmChangedValue" type="text" size="1" maxLength="4"></input></td></tr></table>'; 
		$('#td_dm_'+id).html(inlineSalesComponent);
		inlineOpened = false;
		$('#dmChangedValue').val(dmOldValue);	
	}

	function dmInlineSubmitted(id){
		dmNewValue= $('#inlineChangedValue').val();
		if(newValue.search(/(^-?\d\d*$)/) == -1){
			alert('Please enter numeric value to continue.');
			return;
		}
		var url = "uiController";

		var params = {
				pageName :"LeadSheetGeneration",
				controlName :"changeDecisionMaker",
				decisionMaker : dmNewValue,
				leadSheetId : id.substring(3)
			};
		if(oldValue != newValue){
			loadControl(url, params,dmInlineSubmittedLoaded );
		}else{
		inlineCancelled(id);
		}
	}

	function dmInlineSubmittedLoaded(data){
		$('#td_'+inlineId).html(dmInlineOldTD);
		if(data== "SUCCESS"){
			$('#span_'+inlineId).attr('title',dmNewValue);
			$('#span_'+inlineId).html(dmNewValue);
		}else{
			$('#span_'+inlineId).html(dmOldValue);
		}
		inlineOpened = false;
	}
	
	function changeDK(id){
		if(inlineOpened == true){
			return ;
		}
		inlineId = id;
		dkOldValue = $('#span_dk_'+id).html();
		dkInlineOldTD = $('#td_dk_'+id).html();
		var inlineDKComponent = '<table><tr><td><input class="inputControl" id="dkChangedValue" type="text" size="1" maxLength="4"></input></td></tr></table>'; 
		$('#td_dk_'+id).html(inlineDKComponent);
		inlineOpened = false;
		$('#dkChangedValue').val(dkOldValue);	
	}

	function dkInlineSubmitted(id){
		dkNewValue= $('#inlineChangedValue').val();
		if(newValue.search(/(^-?\d\d*$)/) == -1){
			alert('Please enter numeric value to continue.');
			return;
		}
		var url = "uiController";

		var params = {
				pageName :"LeadSheetGeneration",
				controlName :"changeDoorsKnocked",
				doorsKnocked : newValue,
				leadSheetId : id.substring(3)
			};
		if(oldValue != newValue){
			loadControl(url, params,dkInlineSubmittedLoaded );
		}else{
		inlineCancelled(id);
		}
	}

	function dkInlineSubmittedLoaded(data){
		$('#td_'+inlineId).html(dkInlineOldTD);
		if(data== "SUCCESS"){
			$('#span_'+inlineId).attr('title',dkNewValue);
			$('#span_'+inlineId).html(dkNewValue);
		}else{
			$('#span_'+inlineId).html(dkOldValue);
		}
		inlineOpened = false;
	}


	function goToCancelEditLeadSheet(rowId,index){
		$('#tr_'+rowId).html(oldSavedSheetTR);
		//$('#savedSheetEditBtn_'+index).show();
		$('#savedSheetEditSubmitBtn_'+index).hide();
		$('#savedSheetEditCancelBtn_'+index).hide();
		inlineOpened = false;
		
	}

	var oldSavedSheetTR = '';

	function goToSubmitEditLeadSheet(rowId,index){

		var sales =  $("#sChangedValue").val();
		var dm =  $("#dmChangedValue").val();
		var dk =  $("#dkChangedValue").val();
		var returnedDate =  $("#repReturnedDate").val() ;
		var notes = $("#notesChangedValue").val();
		var selRep = $("#savedRepName").val();
		
        if(selRep == '' && returnedDate != '' ){
		   alert('Lead sheet has to be assigned to a Rep. to enter Returned date.');
		   return;
	    }

		if(sales != '' && sales.search(/(^-?\d\d*$)/) == -1){
			alert('Please enter numeric value in Slaes to continue.');
			return;
		}
		
		if(dm != '' && dm.search(/(^-?\d\d*$)/) == -1){
			alert('Please enter numeric value in DM to continue.');
			return;
		}
		if(dk != '' && dk.search(/(^-?\d\d*$)/) == -1){
			alert('Please enter numeric value in DK to continue.');
			return;
		}
		var url = "uiController";
		var repChanged = true;
		var repAssignedDate = $('#repAssignedDate_'+index).html(); 
		var repName = document.getElementById('savedRepName').options[document.getElementById('savedRepName').selectedIndex].text;
		if(repName == '---UNASSIGN---'){
			repName  = '';
		}

		if(repOldValue == repName && sales == salesOldValue && dm == dmOldValue && dk == dkOldValue && notes == notesOldValue && returnedDate == rdOldValue){
			alert('No Changes made');
			$("#savedRepName").focus();
			return;
		}
		if(repOldValue == repName)
			repChanged = false;
		if(repChanged)
			repAssignedDate = '';
		var params = {
				pageName :"LeadSheetGeneration",
				controlName :"editSavedLeadSheet",
				repAssigned : selRep,
				repAssignedDate : repAssignedDate,
				returnedDate : returnedDate,
				sales : sales,
				decisionMaker : dm,
				doorsKnocked : dk,
				notes : notes,
				leadSheetId : rowId
			};
		
		
		loadControl(url, params, function(data) {
			if(data == 'SUCCESS' ){
				if(returnedDate != ''){
					inlineOpened = false;
					loadLeadSheetSaved(savedPageNumber,generatedSortColumn);
					return;
				}
					
				var assignedDate= '';
				if(repName != '' && repChanged){
					
				    var today = new Date();
		
					var sDate = today.getDate()+'';
					var sMonth = (today.getMonth()+1)+'';
					var sYear = today.getFullYear();
		
			   		if(sDate.length < 2){
						sDate = '0'+sDate;
					}
					if(sMonth.length < 2){
						sMonth = '0'+sMonth;
					}
		
					assignedDate = sMonth+'/'+sDate+'/'+sYear;
					
				}
				$('#tr_'+rowId).html(oldSavedSheetTR);					
				$('#span_rep_'+rowId).html(repName);
				$('#repAssignedDate_'+index).html(assignedDate);
				$('#span_rd_'+rowId).html(returnedDate);
				$('#span_s_'+rowId).html(sales);
				$('#span_dm_'+rowId).html(dm);
				$('#span_dk_'+rowId).html(dk);
				$('#span_nts_'+rowId).attr('title',notes);
				if(notes.length > 50){
					notes = 	notes.substring(0,49)+ '...';
				}
					
				$('#span_nts_'+rowId).html(notes);
				inlineOpened = false;
			} else {
				alert('System Error!!! Please try again later');
				$('#tr_'+rowId).html(oldSavedSheetTR);
				inlineOpened = false;					
			}
			
		});
		// $('#savedSheetEditBtn_'+index).show();
		$('#savedSheetEditSubmitBtn_'+index).hide();
		$('#savedSheetEditCancelBtn_'+index).hide();
		
	}
	
		
	
	function goToEditLeadSheet(rowId,index){
		if(inlineOpened)
			return;
		oldSavedSheetTR = $('#tr_'+rowId).html();
		changeLSReturnDate(rowId);
		changeLSNotes(rowId);
		changeSales(rowId);
		changeDM(rowId);
		changeDK(rowId);
		openRepList(rowId);
		// $('#savedSheetEditBtn_'+index).hide();
		$('#savedSheetEditSubmitBtn_'+index).show();
		$('#savedSheetEditCancelBtn_'+index).show();
		$('#savedRepName').focus();
		inlineOpened = true;
		$('html, body').animate({
		    scrollTop: $("#leadSheetSavedtable").offset().top
		}, 1000);
		
	}



function getModalWindow() {
	var url = "uiController";

	var params = {
			pageName :"LeadSheetGeneration",
			controlName :"getModalWindow",
			officeSeq : document.getElementById("iclID").value
		};

	$.post(url, params, function(data) {
		$("#leadsheetEditForm").html(data);
	});
	
}

</script>

	<tr>
		<td valign="top">
		<div class="hltb" style="padding:0px;padding-bottom:5px; margin:0px">
		<table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
			<tbody>
				<tr>
					<td width="2%">
					<ul class="piped-list piped-list-left piped-list-view-left">
						<li class="first">
						<h4 id="ocTitleFieldLabel">Lead Sheet Generation
						<span id="ocTitleField" /></h4>
						</li>
						<li><a class="vlk" onclick="javascript:gotoHomePage();" style="text-decoration:underline;cursor: pointer">Back to Main Page</a></li>
					</ul>
					</td>
					<td></td>
					<td width="35%">
					<div align="right"></div>
					</td>
				</tr>

			</tbody>
		</table>
		</div>
		</td>
	</tr>
	<tr>
			<td align="left">
				<table cellpadding="1" cellspacing="0" class="tb crmWidth">
					<tbody>
						<tr valign="center">
							<td>Map View</td>
						</tr>
					</tbody>
				</table>
			</td>
	</tr>
	<tr>
		<td>
		<table class="crmWidth" border="0">
			<tr><td colspan="3">&nbsp;</td></tr>
			<tr>
				<td>
					<div id="campaignSelector" name="campaignSelector"></div>
					<script type="text/javascript">
						loadCampaignSelector();
					</script>
				</td>
				</#if>
				<#if iclSelector?exists>
				<td><script type="text/javascript"></script>
				<div id="iclSelector" name="iclSelector"></div>
				</td>
				</#if>
				<#if templateSelector?exists>
				<td>
					<script type="text/javascript"></script>
					<div id="templateSelector" name="templateSelector"></div>
				</td>
			</tr>
			<tr><td colspan="3">&nbsp;</td></tr>
		</table>
		</td>
	</tr>
	</#if>
	<#if showCampaignMap?exists>
	<tr>
		<td>
		<div id="tempMapHolder" name="tempMapHolder"></div>
		<script type="text/javascript">
		showMap();
		resizeMap(820);
			mapRequired = "true";
			// Now Load Map
			loadMap();
			createMapControls();
			markerControlEnabled = "true";
			polygonControlEnabled = "true";
			polylineControlEnabled = "true";
			addControls();
			disablePolygonMessage = "Please select NONE template to enable POlygon Drawing";
			startPolygonDrawing();
		</script></td>
	</tr>
	</#if>
	<#if colorCodes?exists>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align: middle;"><A
							onClick="Toggle(this,document.getElementById('colorCodesDiv'))"
							id="colorCodesLink" style="CURSOR: hand"> <IMG
							style="vertical-align: middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a></td>
						<td>Lead Status Color Codes</td>
						<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div id="colorCodesDiv" name="colorCodesDiv"></div>
			</td>
		</tr>
	</#if>

	<#if defaultViewDetails?exists>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align: middle;"><A
							onClick="Toggle(this,document.getElementById('defaultViewDetails'))"
							id="defaultViewDetailsLink" style="CURSOR: hand"> <IMG
							style="vertical-align: middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a></td>
						<td>Default Territory Views</td>
						<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div id="defaultViewDetails" name="defaultViewDetails"></div>
			</td>
		</tr>
	</#if>

	<#if selectedTemplateDetails?exists>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('selectedTemplateDetails'))" id="selectedTemplateDetailsLink" style="CURSOR: hand"> <IMG style="vertical-align:middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a>
						</td>
						<td>Template Details</td>
						<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div id="selectedTemplateDetails" name="selectedTemplateDetails"></div>
		</td>
	</tr>
	<tr>
		<td align="center">&nbsp;</td>
	</tr>
	</#if>

	<#if availableLeadsData?exists>
	<tr>
		<td>
			 <table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('availableLeads'))" id="GroupOne" style="CURSOR: hand"> <IMG style="vertical-align:middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a>
						</td>
					<td>Available Leads Data for Lead Sheet</td>
					<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div id="availableLeads">
				<div id="availableLeadsData" name="availableLeadsData"></div>
				<div id="availableLeadsDataTable" name="availableLeadsDataTable"></div>
			</div>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td align="center">
			<INPUT TYPE="submit" style="width:150px" value="Refresh Leads" class="buttonTD" onclick="javascript:toggleColorCode('','false');">
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
</#if>

<#if leadSheetGeneratedtable?exists>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" class="crmWidth">
				<tbody>
					<tr>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
								<tbody>
									<tr>
										<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('leadSheetGeneratedtable'))" id="GroupOne" style="CURSOR: hand"> <IMG style="vertical-align:middle"
											src="assets/images/hideshow_infoshown_grayscale.gif"></a>
										</td>
									<td width="50%">Generated Lead Sheets</td>
									<td  width="100%" align="center">
										<input type="checkbox" id="viewLeadSheetPolygons" name="viewLeadSheetPolygons" onclick="javascript:loadDefaultViewMap();"/>&nbsp;&nbsp;View All Generated Lead Sheet Polygons
									</td>
									</tr>
								</tbody>
							</table>
							<div id="FilterTopDiv" class="alpha_filter_top crmWidth">
								<table cellspacing="2" cellpadding="2" border="0" align="center">
									<tbody>
										<tr>
											<td class="aflk">Lead Sheet:</td>
											<td nowrap="true" id="alpha_bar_td_true">
												<a href="javascript:filterLeadSheetGenerated('');" style="font-weight: bold;" class="aflk">All</a>
												<a href="javascript:filterLeadSheetGenerated('[0-9]')" class="aflk">0-9</a>
												<a href="javascript:filterLeadSheetGenerated('A')" class="aflk">A</a>
												<a href="javascript:filterLeadSheetGenerated('B')" class="aflk">B</a>
												<a href="javascript:filterLeadSheetGenerated('C')" class="aflk">C</a>
												<a href="javascript:filterLeadSheetGenerated('D')" class="aflk">D</a>
												<a href="javascript:filterLeadSheetGenerated('E')" class="aflk">E</a>
												<a href="javascript:filterLeadSheetGenerated('F')" class="aflk">F</a>
												<a href="javascript:filterLeadSheetGenerated('G')" class="aflk">G</a>
												<a href="javascript:filterLeadSheetGenerated('H')" class="aflk">H</a>
												<a href="javascript:filterLeadSheetGenerated('I')" class="aflk">I</a>
												<a href="javascript:filterLeadSheetGenerated('J')" class="aflk">J</a>
												<a href="javascript:filterLeadSheetGenerated('K')" class="aflk">K</a>
												<a href="javascript:filterLeadSheetGenerated('L')" class="aflk">L</a>
												<a href="javascript:filterLeadSheetGenerated('M')" class="aflk">M</a>
												<a href="javascript:filterLeadSheetGenerated('N')" class="aflk">N</a>
												<a href="javascript:filterLeadSheetGenerated('O')" class="aflk">O</a>
												<a href="javascript:filterLeadSheetGenerated('P')" class="aflk">P</a>
												<a href="javascript:filterLeadSheetGenerated('Q')" class="aflk">Q</a>
												<a href="javascript:filterLeadSheetGenerated('R')" class="aflk">R</a>
												<a href="javascript:filterLeadSheetGenerated('S')" class="aflk">S</a>
												<a href="javascript:filterLeadSheetGenerated('T')" class="aflk">T</a>
												<a href="javascript:filterLeadSheetGenerated('U')" class="aflk">U</a>
												<a href="javascript:filterLeadSheetGenerated('V')" class="aflk">V</a>
												<a href="javascript:filterLeadSheetGenerated('W')" class="aflk">W</a>
												<a href="javascript:filterLeadSheetGenerated('X')" class="aflk">X</a>
												<a href="javascript:filterLeadSheetGenerated('Y')" class="aflk">Y</a>
												<a href="javascript:filterLeadSheetGenerated('Z')" class="aflk">Z</a>
											</td>
											<td>
												&nbsp;&nbsp;<input type="text" name="searchByGenLeadSheetID" class="inputControl" id="searchByGenLeadSheetID" />
											</td>
											<td>
												&nbsp;&nbsp;<input type="button" name="searchByGenLeadSheetIDBtn" class="buttonTD" id="searchByGenLeadSheetIDBtn" value="Go" onClick="javascript:filterLeadSheetGenerated();"/>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="leadSheetGeneratedtable" name="leadSheetGeneratedtable" class="crmWidth"></div>
						</td>
					</tr>
					<tr><td>&nbsp;</td></tr>
				</tbody>
			</table>
		</td>
	</tr>
	<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'>
	<tr>
		<td align="center">
			<INPUT TYPE="submit" style="width:170px" value="Save Selected Lead Sheets" class="buttonTD" onclick="javascript:deleteConfirmation('Are you sure you want to save selected lead sheets?','saveSelectedGeneratedLeadSheets()');">&nbsp;&nbsp;		
			<INPUT TYPE="submit" style="width:150px" value="Delete Selected Sheets" class="buttonTD" onclick="javascript:deleteConfirmation('Are you sure you want to delete selected lead sheets?','deleteSelectedTempLeadSheets()');">&nbsp;&nbsp;
			<INPUT TYPE="submit" style="width:150px" value="Merge Selected Sheets" class="buttonTD" onclick="javascript:deleteConfirmation('Are you sure you want to merge selected lead sheets?','mergeSelectedLeadSheets()');">&nbsp;&nbsp;
			<INPUT TYPE="submit" style="width:150px" value="Delete All Lead Sheets" class="buttonTD" onclick="javascript:deleteConfirmation('Are you sure you want to delete all lead sheets?','deleteAllLeadSheets()');">&nbsp;&nbsp;
			<INPUT TYPE="submit" style="width:150px" value="Save All Lead Sheets" class="buttonTD" onclick="javascript:saveLeadSheets();">&nbsp;&nbsp;
		</td>
	</tr>
	</#if>
	<tr><td>&nbsp;</td></tr>
	</#if>
	<#if leadSheetSavedtable?exists>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" class="crmWidth">
				<tbody>
					<tr>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
								<tbody>
									<tr>
										<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('leadSheetSavedtable'))" id="GroupOne" style="CURSOR: hand"> <IMG style="vertical-align:middle"
											src="assets/images/hideshow_infoshown_grayscale.gif"></a>
										</td>
									<td>Saved Lead Sheets - In Progress</td>
									<td width="100%">&nbsp;</td>
									</tr>
								</tbody>
							</table>
							<div id="FilterTopDiv" class="alpha_filter_top crmWidth">
								<table cellspacing="2" cellpadding="2" border="0" align="center">
									<tbody>
										<tr>
											<td class="aflk">Lead Sheet:</td>
											<td nowrap="true" id="alpha_bar_td_true">
												<a href="javascript:filterLeadSheetSaved('');" style="font-weight: bold;" class="aflk">All</a>
												<a href="javascript:filterLeadSheetSaved('[0-9]')" class="aflk">0-9</a>
												<a href="javascript:filterLeadSheetSaved('A')" class="aflk">A</a>
												<a href="javascript:filterLeadSheetSaved('B')" class="aflk">B</a>
												<a href="javascript:filterLeadSheetSaved('C')" class="aflk">C</a>
												<a href="javascript:filterLeadSheetSaved('D')" class="aflk">D</a>
												<a href="javascript:filterLeadSheetSaved('E')" class="aflk">E</a>
												<a href="javascript:filterLeadSheetSaved('F')" class="aflk">F</a>
												<a href="javascript:filterLeadSheetSaved('G')" class="aflk">G</a>
												<a href="javascript:filterLeadSheetSaved('H')" class="aflk">H</a>
												<a href="javascript:filterLeadSheetSaved('I')" class="aflk">I</a>
												<a href="javascript:filterLeadSheetSaved('J')" class="aflk">J</a>
												<a href="javascript:filterLeadSheetSaved('K')" class="aflk">K</a>
												<a href="javascript:filterLeadSheetSaved('L')" class="aflk">L</a>
												<a href="javascript:filterLeadSheetSaved('M')" class="aflk">M</a>
												<a href="javascript:filterLeadSheetSaved('N')" class="aflk">N</a>
												<a href="javascript:filterLeadSheetSaved('O')" class="aflk">O</a>
												<a href="javascript:filterLeadSheetSaved('P')" class="aflk">P</a>
												<a href="javascript:filterLeadSheetSaved('Q')" class="aflk">Q</a>
												<a href="javascript:filterLeadSheetSaved('R')" class="aflk">R</a>
												<a href="javascript:filterLeadSheetSaved('S')" class="aflk">S</a>
												<a href="javascript:filterLeadSheetSaved('T')" class="aflk">T</a>
												<a href="javascript:filterLeadSheetSaved('U')" class="aflk">U</a>
												<a href="javascript:filterLeadSheetSaved('V')" class="aflk">V</a>
												<a href="javascript:filterLeadSheetSaved('W')" class="aflk">W</a>
												<a href="javascript:filterLeadSheetSaved('X')" class="aflk">X</a>
												<a href="javascript:filterLeadSheetSaved('Y')" class="aflk">Y</a>
												<a href="javascript:filterLeadSheetSaved('Z')" class="aflk">Z</a>
											</td>
											<td>
												&nbsp;&nbsp;<input type="text" name="searchByLeadSheetID" class="inputControl" id="searchByLeadSheetID" />
											</td>
											<td>
												&nbsp;&nbsp;<input type="button" name="searchByLeadSheetIDBtn" class="buttonTD" id="searchByLeadSheetIDBtn" value="Go" onClick="javascript:filterLeadSheetSaved();"/>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="leadSheetSavedtable" name="leadSheetSavedtable" class="crmWidth"></div>
						</td>
					</tr>
					<tr><td>&nbsp;</td></tr>
				</tbody>
			</table>
		</td>
	</tr>
		<#if GlobalContext.crmContext.accessLinks != 'Dispositions Manager'>
	<tr>
		<td align="center">
			<input type="submit" style="width:250px" class="buttonTD" value="Merge With Generated Leadsheets" onclick="javascript:mergeSavedAndGeneratedSheets();"/>&nbsp;&nbsp;
			<input type="submit" style="width:150px" class="buttonTD" value="Print Leadsheets" onclick="javascript:exportSheets();"/>&nbsp;&nbsp;
			<input type="submit" style="width:150px" class="buttonTD" value="Delete Leadsheets" onclick="javascript:deleteConfirmation('Are you sure you want to delete selected lead sheet(s)?','deleteSelectedLeadSheets()');"/>&nbsp;&nbsp;
		<!-- 	<INPUT TYPE="submit" style="width:150px" value="Save" class="buttonTD" onclick="javascript:assignRepsToLeadSheets();">  -->
		</td>
	</tr>
		</#if>

	<tr><td>&nbsp;</td></tr>
</table>

</#if>