/* CSS Document */
html, fulltable {height:100%; width:100% }

body{margin:0px;
	padding:0px;
	font-family:"Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size:11px;
	color:#333333;
	height: 100%;
}
td,tr{
	font-family:"Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size:11px;
	color:#333333;    
}

.aHeaderTd{ 
	height:75px; text-align:center;
	-moz-box-shadow:0px 5px 5px #97C200;
	-webkit-box-shadow:0px 5px 5px #97C200; 
	box-shadow:0px 5px 5px #97C200;
}
.header{
	background-color:#FFFFFF;
}
.content{
	background-color:#F0F0F0;
}
.footer{
	background-color:#474948;
}
.disclaimer{
	font-size:11px;
	color:#FBFBF9;
}
.copy {color: #B4B4B4}
.logintab{
	background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
    margin-bottom: 20px;
    padding: 20px;
}
.logintitle {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F0F0F0;
    margin: 0 -20px;
    padding: 0 20px 20px;
}
.logintitle h3{
	color: #474948;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}
.logintitle h5{
	color: #939694;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}
.loginform{
	margin-top:20px;
}
.label {
	font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
	line-height: 20px;
	color:#474948;
}
.txtinput{
	border:1px #CACACA solid; 
	font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #333333;
	height: 20px;
    line-height: 16px;
    vertical-align: middle;
	background-color:#FFFFFF;
}
.grnbutton{
	-moz-box-shadow: 1px 1px 0px 1px #ffffff;
	-webkit-box-shadow: 1px 1px 0px 1px #ffffff;
	box-shadow: 1px 1px 0px 1px #ffffff;
	background-color:#8E981F;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #CDD83C;
	display:inline-block;
	color:#ffffff;
	font-family:"Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
	text-transform:uppercase;
	letter-spacing:0.5px;
	word-spacing:1px;
}
.grybutton{
	-moz-box-shadow: 1px 1px 0px 1px #ffffff;
	-webkit-box-shadow: 1px 1px 0px 1px #ffffff;
	box-shadow: 1px 1px 0px 1px #ffffff;
	background-color:#BDBDBD;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #BDBDBD;
	display:inline-block;
	color:#ffffff;
	font-family:"Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
	text-transform:uppercase;
	letter-spacing:0.5px;
	word-spacing:1px;
}
.buttons {
    background-color: #F9F9F9;
    border-top: 1px solid #F0F0F0;
    margin: 20px -20px -20px;
    padding: 20px;
}



