<#if campaignSelector?exists>
<script type="text/javascript">
	var campaignSeq = "";
	var  uarSize ="";
	var templateName = "";
	var minNoOfLeadsInICL="";
	var	maxNoOfLeadsInICL="";


	// Call back function when Campaign is loaded
	function campaignSelectorLoaded(data) {
		$("#campaignSelector").children().remove();
		$("#campaignSelector").append(data);
		loadTemplatesAndLeads();
	}

	function loadCampaignSelector() {
		var params = {
			pageName :"ICLTerritoryManagement",
			controlName :"campaignSelector"
		}
		var url = "uiController";
		loadControl(url, params, campaignSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function templateSelectorLoaded(data) {
		$("#templateSelector").children().remove();
		$("#templateSelector").append(data);
		loadTemplateDetails();
	}

	function loadTemplateSelector() {
		campaignSeq = document.getElementById("campaignID").value;
		var params = {
			pageName :"ICLTerritoryManagement",
			controlName :"templateSelector",
			campaignSeq:campaignSeq
		}
		var url = "uiController";
		loadControl(url, params, templateSelectorLoaded);
	}


	// Call back function when Campaign is loaded
	function selectedTemplateLoaded(data) {
		$("#selectedTemplateDetails").children().remove();
		$("#selectedTemplateDetails").append(data);
	}


	function loadTemplateDetails() {
		templateName = document.getElementById("templateID").value;
		campaignSeq = document.getElementById("campaignID").value;

		var params = {
			pageName :"ICLTerritoryManagement",
			controlName :"selectedTemplateDetails",
			templateName :templateName,
			campaignSeq:campaignSeq
		}
		var url = "uiController";
		loadControl(url, params, selectedTemplateLoaded);
	}


	function loadTemplatesonCampaignLoaded(data){
		$("#templateSelector").children().remove();
		$("#templateSelector").append(data);
	}
	function loadUnAssgnLeadsonCampaignLoaded(data){
		$("#unAssignLeadsTable").children().remove();
		$("#unAssignLeadsTable").append(data);
	}
	function loadAssgnLeadsonCampaignLoaded(data){
		$("#assignLeadsTable").children().remove();
		$("#assignLeadsTable").append(data);
	}

	function  loadUnAssgnLeads(pageNumber) {

	    var url = "uiController";
		 if(pageNumber != undefined){
			params = {pageName : "ICLTerritoryManagement",
					controlName:"unAssignLeadsTable",
					campaignSeq:campaignSeq,
					pageNumber:pageNumber
			};
		}else{
			params = {pageName : "ICLTerritoryManagement",
					controlName:"unAssignLeadsTable",
					campaignSeq:campaignSeq
			};
		 }
		 loadPaginatedTable(url,params,loadUnAssgnLeadsonCampaignLoaded,pageNumber);
	 }

	 function  loadAssgnLeads(pageNumber) {

		 var url = "uiController";
		 if(pageNumber != undefined){
			params = {
					pageName : "ICLTerritoryManagement",
					controlName:"assignLeadsTable",
					campaignSeq:campaignSeq,
					pageNumber:pageNumber
			};
		 }else{
			 params = {
						pageName : "ICLTerritoryManagement",
						controlName:"assignLeadsTable",
						campaignSeq:campaignSeq
			 };
		 }
		 loadPaginatedTable(url,params,loadAssgnLeadsonCampaignLoaded,pageNumber);
	 }


	function loadTemplatesAndLeads() {

		campaignSeq = document.getElementById("campaignID").value;
		sessionCampaignSeq = document.getElementById("campaignID").value;

		loadTemplateSelector();

		loadUnAssgnLeads();

		loadAssgnLeads();
	}

	function loadTemplates(selectBox) {
			templateName = selectBox.value;
			campaignSeq = document.getElementById("campaignID").value;
			var templateParams = {
			pageName : "ICLTerritoryManagement",controlName:"selectedTemplateDetails",templateName:templateName,campaignSeq:campaignSeq};
			var templateUrl = "uiController";
			loadControl(templateUrl,templateParams,selectedTemplateLoaded);
		}
</script>

<table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
	<tr>
		<td>
		<div class="hltb">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tbody>
				<tr>
					<td width="2%">
					<ul class="piped-list piped-list-left piped-list-view-left">
						<li class="first">
						<h4 id="ocTitleFieldLabel">Campaign Leads Assignment to ICLs<span
							id="ocTitleField" /></h4>
						</li>
						<li><a class="vlk" onclick="javascript:gotoHomePage();" style="cursor:pointer">Back to Main Page</a></li>
					</ul>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</td>
	</tr>
	<tr>
		<td align="left">
			<table cellpadding="1" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr valign="center">
						<td>Campaign - ICL Lead Assignment</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td>
		<table border="0" cellpadding="1" cellspacing="0" class="crmWidth">
			<tr>
			<td align="center">
				<div id="campaignSelector" name="campaignSelector"></div>
				<script type="text/javascript"> loadCampaignSelector();</script>
			</td>
			</#if> <#if templateSelector?exists>
			<td align="center">
				<div id="templateSelector" name="templateSelector"></div>
				<script type="text/javascript"></script>
			</td>
		</tr>
	  </table>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	</#if><#if selectedTemplateDetails?exists>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('def1'))" id="GroupOne" style="CURSOR: hand"> <IMG style="vertical-align:middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a>
						</td>
					<td>Selected Template Details</td>
					<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div id="selectedTemplateDetails" name="selectedTemplateDetails"></div>
			<script type="text/javascript">
				function processLeadsAssgn() {
					campaignSeq = document.getElementById("campaignID").value;
					templateName = document.getElementById("templateID").value;
					try{
					minNoOfLeadsInICL = document.getElementById("minNoOfLeadsInICL").value;
					maxNoOfLeadsInICL = document.getElementById("maxNoOfLeadsInICL").value;
					}catch(e){
					minNoOfLeadsInICL=0;
					maxNoOfLeadsInICL=0;
					}
					var plParams = {
						pageName :"ICLTerritoryManagement",
						action :"processLeads",
						campaignSeq :campaignSeq,
						templateName:templateName,
						minNoOfLeadsInICL:minNoOfLeadsInICL,
						maxNoOfLeadsInICL:maxNoOfLeadsInICL
					}
					var plUrl = "uiController";
					loadControl(plUrl, plParams, loadTemplatesAndLeads);
				}
			</script>
		</td>
	</tr>
	</#if>
	<#if unAssignLeadsTable?exists>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('unAssignLeadsTable'))" id="GroupOne" style="CURSOR: hand"> <IMG style="vertical-align:middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a>
						</td>
					<td>UnAssigned Leads</td>
					<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="crmWidth" id="unAssignLeadsTable" name="unAssignLeadsTable"></div>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td align="center">
			<script type="text/javascript">
			 function applyIclSelection() {
				 var url ="uiController";
					for (i = 0; i < document.getElementsByName('unAssgnLeadCheckbox').length; i++){
						if(document.getElementsByName('unAssgnLeadCheckbox')[i].checked == true ){
							var params = {pageName : "ICLTerritoryManagement", action: "assignLead" , rowId : document.getElementsByName('unAssgnLeadCheckbox')[i].value, officeSeq : document.getElementById('iclToAssgn').value, campaignSeq : campaignSeq};
							 loadControl(url,params,loadTemplatesAndLeads);
						}
					}
				 }
			 </script>
			<INPUT TYPE="submit" style="width:150px" value="Apply ICL Selection" class="buttonTD" onclick="javascript:applyIclSelection();">
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	</#if>
	<#if assignLeadsTable?exists>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr>
						<td style="vertical-align:middle;"><A onClick="Toggle(this,document.getElementById('assignLeadsTable'))" id="GroupOne" style="CURSOR: hand"> <IMG style="vertical-align:middle"
							src="assets/images/hideshow_infoshown_grayscale.gif"></a>
						</td>
					<td>Assigned Leads</td>
					<td width="100%">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<div class="crmWidth" id="assignLeadsTable" name="assignLeadsTable"></div>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td align="center">
			<script type="text/javascript">
			function updateIclSelection() {
			 	var url ="uiController";
				for (i = 0; i < document.getElementsByName('assgnLeadCheckbox').length; i++){
					if(document.getElementsByName('assgnLeadCheckbox')[i].checked == true ){
						var params = {pageName : "ICLTerritoryManagement", action: "assignLead" , rowId : document.getElementsByName('assgnLeadCheckbox')[i].value, officeSeq : document.getElementById('iclToUpdate').value, campaignSeq : campaignSeq};
						 loadControl(url,params,loadTemplatesAndLeads);
					}
				}
			 }
			</script>
			<INPUT TYPE="submit" style="width:150px" value="Change Assignment" class="buttonTD" onclick="updateIclSelection();">
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
</table>
</#if>