<#if clearPage?exists>
	<script type="text/javascript">
		$('#pageHolder').children().remove();
	</script>
		</table>
</#if>

<#if campaignSelector?exists>
			<SELECT name="campaignID" id="campaignID"
				style="width: 180px;" class="inputControl">
				<option value="">-Select-</option>
				<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
				</#list>
			</SELECT>
</#if>

<#if iclCampaignSelector?exists>
			<SELECT name="campaignID" id="campaignID"
				style="width: 180px;" class="inputControl">
				<option value="">-Select-</option>
				<#list result.data as row>
						<option value="${row[1].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
				</#list>
			</SELECT>
</#if>


<#if leadUploadHistoryTable?exists>
	<#if GlobalContext.crmContext.accessLinks == 'Application Administrator' || GlobalContext.crmContext.roleNames=='Cydcor Executive'>
	 <DIV id="def2">
		<table cellspacing=0 cellpadding=0 class="list" width="100%">
			<thead>
				<tr>
					<th><a id="${tableName}_UPLOAD_FILENAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Upload File Name</a><span id='span_${tableName}_UPLOAD_FILENAME'></span></th>
					<th><a id="${tableName}_CAMPAIGN_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Campaign</a><span id='span_${tableName}_CAMPAIGN_NAME'></span></th>
					<th><a id="${tableName}_LEAD_OWNER" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Owner</a><span id='span_${tableName}_LEAD_OWNER'></span></th>
					<th><a id="${tableName}_RELEASE_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Release Date</a><span id='span_${tableName}_RELEASE_DATE'></span></th>
					<th><a id="${tableName}_ERROR_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">E</a><span id='span_${tableName}_ERROR_COUNT'></span></th>
					<th><a id="${tableName}_INACTIVE_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">I</a><span id='span_${tableName}_INACTIVE_COUNT'></span></th>
					<th><a id="${tableName}_DISABLED_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">D</a><span id='span_${tableName}_DISABLED_COUNT'></span></th>
					<th><a id="${tableName}_SAVED_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">S</a><span id='span_${tableName}_SAVED_COUNT'></span></th>
					<th><a id="${tableName}_AVAILABLE_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">A</a><span id='span_${tableName}_AVAILABLE_COUNT'></span></th>
					<th><a id="${tableName}_TOTAT_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Total &nbsp;<font color="red"><b>(S+A)</b></font></a><span id='span_${tableName}_TOTAT_COUNT'></span></th>
					<th><a id="${tableName}_UPLOAD_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Upload Date</a><span id='span_${tableName}_UPLOAD_DATE'></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<#if result.data?exists>
				<#list result.data as row>
					<tr>
						<#list row as column>
							<#if (column_index == 12)>
							<#elseif (column_index == 8)>
								<td><b><font color="red">${column.value!''}</font></b></td>
							<#elseif (column_index == 9)>
								<td><b>${column.value!''}</b></td>
							<#elseif (column_index == 11)>
								<td><a href="javascript:void(0)"  onclick="javascript:exportReport('XLS','${row[0].value}')">Export Leads</a></td>
							<#else>
								<td>${column.value!''}</td>
							</#if>
					  </#list>
					</tr>
				</#list>
					<tr><td colspan="12">&nbsp;</td></tr>
					<tr>
						<td colspan="12" align="center">
							<ul class="piped-list piped-list-left piped-list-view-left">
								<li class="first">
									<b>E</b>=Errored Leads
								</li>
								<li>
									<b>I</b>=Inactive Leads
								</li>
								<li>
									<b>D</b>=Disabled Leads
								</li>
								<li>
									<b>S</b>=Leads Saved in Lead Sheets
								</li>
								<li>
									<b>A</b>=Leads Available for Lead Sheets
								</li>
							</ul>
						</td>
					</tr>
			
				</#if>
			</tbody>
		</table>
		
				<#list result.data as row>
			    	  <#if row_index == 2>
						<td style="display:block">
							<INPUT TYPE="submit" style="width:202px; margin:auto;display:block;margin-top:10px;" value="Download Report to excel" class="buttonTD" onclick="javascript:DownloadleadUploadHistoryTable('XLS')">
						</td>
						</#if>
				</#list>
				
					
		</DIV>

	<#else>
	 <DIV id="def2">
		<table cellspacing=0 cellpadding=0 class="list" width="100%">
			<thead>
				<tr>
					<th><a id="${tableName}_CAMPAIGN_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Campaign Name</a><span id='span_${tableName}_CAMPAIGN_NAME'></span></th>
					<th><a id="${tableName}_ICL_CODE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Code</a><span id='span_${tableName}_ICL_CODE'></span></th>
					<th><a id="${tableName}_OFFICE_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Name</a><span id='span_${tableName}_OFFICE_NAME'></span></th>
					<th><a id="${tableName}_LEAD_SHEET_ID" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Lead Sheet ID</a><span id='span_${tableName}_LEAD_SHEET_ID'></span></th>
					<th><a id="${tableName}_AGENT_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Rep Name</a><span id='span_${tableName}_AGENT_NAME'></span></th>
					
					<th><a id="${tableName}_ERROR_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">E</a><span id='span_${tableName}_ERROR_COUNT'></span></th>
					<th><a id="${tableName}_INACTIVE_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">I</a><span id='span_${tableName}_INACTIVE_COUNT'></span></th>
					<th><a id="${tableName}_DISABLED_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">D</a><span id='span_${tableName}_DISABLED_COUNT'></span></th>
					<th><a id="${tableName}_SAVED_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">S</a><span id='span_${tableName}_SAVED_COUNT'></span></th>
					<th><a id="${tableName}_AVAILABLE_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">A</a><span id='span_${tableName}_AVAILABLE_COUNT'></span></th>
					
					<th><a id="${tableName}_LEAD_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Leads Count</a><span id='span_${tableName}_LEAD_COUNT'></span></th>
					<th><a id="${tableName}_MODIFIED_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Leads Upload Date</a><span id='span_${tableName}_MODIFIED_DATE'></span></th>
				
				</tr>
			</thead>
			<tbody>
				<#if result.data?exists>
				<#list result.data as row>
					<tr>
						<#list row as column>
							<#if (column_index == 7)>
							<#elseif (column_index == 2 && !column.value?exists)>
								<td>--Unassigned--</td>
							<#elseif (column_index == 3 && !column.value?exists)>
								<td><b><font color="red">Not Generated</font></b></td>
							<#elseif (column_index == 4 && !column.value?exists)>
								<td>--Unassigned--</td>
							<#elseif (column_index == 6)>
								<td>${column.actualValue!''?string("yyyy-MM-dd HH:mms zzzz")}</td>
							<#else>
								<td>${column.value!''}</td>
							</#if>
					  </#list>
					</tr>
				</#list>
				</#if>
			</tbody>
		</table>
		</DIV>
	</#if>
<#elseif leadUploadHistory?exists>
	<#if GlobalContext.crmContext.accessLinks == 'Application Administrator' || GlobalContext.crmContext.roleNames=='Cydcor Executive'>
	 <DIV id="def2">
		<table cellspacing=0 cellpadding=0 class="list" width="100%">
			<thead>
				<tr>
					<th><a id="${tableName}_CAMPAIGN_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Campaign</a><span id='span_${tableName}_CAMPAIGN_NAME'></span></th>
					<th><a id="${tableName}_LEAD_OWNER" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Owner</a><span id='span_${tableName}_LEAD_OWNER'></span></th>
					<th><a id="${tableName}_CLLI" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">CLLI</a><span id='span_${tableName}_CLLI'></span></th>
					<th><a id="${tableName}_DA" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">DA</a><span id='span_${tableName}_DA'></span></th>
					<th><a id="${tableName}_CLLI_DA" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">CLLI_DA</a><span id='span_${tableName}_CLLI_DA'></span></th>
					<th><a id="${tableName}_RELEASE_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Release Date</a><span id='span_${tableName}_RELEASE_DATE'></span></th>
					<th><a id="${tableName}_ERROR_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">E</a><span id='span_${tableName}_ERROR_COUNT'></span></th>
					<th><a id="${tableName}_INACTIVE_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">I</a><span id='span_${tableName}_INACTIVE_COUNT'></span></th>
					<th><a id="${tableName}_DISABLED_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">D</a><span id='span_${tableName}_DISABLED_COUNT'></span></th>
					<th><a id="${tableName}_SAVED_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">S</a><span id='span_${tableName}_SAVED_COUNT'></span></th>
					<th><a id="${tableName}_AVAILABLE_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">A</a><span id='span_${tableName}_AVAILABLE_COUNT'></span></th>
					<th><a id="${tableName}_TOTAT_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Total &nbsp;<font color="red"><b>(S+A)</b></font></a><span id='span_${tableName}_TOTAT_COUNT'></span></th>
					<th><a id="${tableName}_UPLOAD_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Upload Date</a><span id='span_${tableName}_UPLOAD_DATE'></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<#if result.data?exists>
				<#list result.data as row>
					<tr>
						<#list row as column>
							<#if (column_index == 14)>
							<#elseif (column_index == 10)>
								<td><b><font color="red">${column.value!''}</font></b></td>
							<#elseif (column_index == 11)>
								<td><b>${column.value!''}</b></td>
							<#elseif (column_index == 13)>
								<td><a href="javascript:void(0)"  onclick="javascript:exportReportcllida('XLS','${row[2].value!''}','${row[3].value!''}','${row[4].value!''}')">Export Leads</a></td>
							<#else>
								<td>${column.value!''}</td>
							</#if>
					  </#list>
					</tr>
				</#list>
					<tr><td colspan="12">&nbsp;</td></tr>
					<tr>
						<td colspan="12" align="center">
							<ul class="piped-list piped-list-left piped-list-view-left">
								<li class="first">
									<b>E</b>=Errored Leads
								</li>
								<li>
									<b>I</b>=Inactive Leads
								</li>
								<li>
									<b>D</b>=Disabled Leads
								</li>
								<li>
									<b>S</b>=Leads Saved in Lead Sheets
								</li>
								<li>
									<b>A</b>=Leads Available for Lead Sheets
								</li>
							</ul>
						</td>
					</tr>
			
				</#if>
			</tbody>
		</table>
		
			<#list result.data as row>
			    	 <#if row_index == 1>
						<td style="display:block">
							<INPUT TYPE="submit" style="width:202px; margin:auto;display:block;margin-top:10px;" value="Download Report to excel" class="buttonTD" onclick="javascript:DownloadleadUploadHistory('XLS')">
						</td>
					</#if>
			</#list>
		
		</DIV>

	<#else>
	 <DIV id="def2">
		<table cellspacing=0 cellpadding=0 class="list" width="100%">
			<thead>
				<tr>
					<th><a id="${tableName}_CAMPAIGN_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Campaign</a><span id='span_${tableName}_CAMPAIGN_NAME'></span></th>
					<th><a id="${tableName}_ICL_CODE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Code</a><span id='span_${tableName}_ICL_CODE'></span></th>
					<th><a id="${tableName}_OFFICE_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Name</a><span id='span_${tableName}_OFFICE_NAME'></span></th>
					<th><a id="${tableName}_LEAD_SHEET_ID" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Lead Sheet ID</a><span id='span_${tableName}_LEAD_SHEET_ID'></span></th>
					<th><a id="${tableName}_AGENT_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Rep Name</a><span id='span_${tableName}_AGENT_NAME'></span></th>
					
					<th><a id="${tableName}_ERROR_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">E</a><span id='span_${tableName}_ERROR_COUNT'></span></th>
					<th><a id="${tableName}_INACTIVE_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">I</a><span id='span_${tableName}_INACTIVE_COUNT'></span></th>
					<th><a id="${tableName}_DISABLED_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">D</a><span id='span_${tableName}_DISABLED_COUNT'></span></th>
					<th><a id="${tableName}_SAVED_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">S</a><span id='span_${tableName}_SAVED_COUNT'></span></th>
					<th><a id="${tableName}_AVAILABLE_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">A</a><span id='span_${tableName}_AVAILABLE_COUNT'></span></th>
					<th><a id="${tableName}_TOTAT_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Total</a><span id='span_${tableName}_TOTAT_COUNT'></span></th>
				
					
					<th><a id="${tableName}_LEAD_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Leads Count</a><span id='span_${tableName}_LEAD_COUNT'></span></th>
					<th><a id="${tableName}_MODIFIED_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Leads Upload Date</a><span id='span_${tableName}_MODIFIED_DATE'></span></th>
				</tr>
			</thead>
			<tbody>
				<#if result.data?exists>
				<#list result.data as row>
					<tr>
						<#list row as column>
							<#if (column_index == 7)>
							<#elseif (column_index == 2 && !column.value?exists)>
								<td>--Unassigned--</td>
							<#elseif (column_index == 3 && !column.value?exists)>
								<td><b><font color="red">Not Generated</font></b></td>
							<#elseif (column_index == 4 && !column.value?exists)>
								<td>--Unassigned--</td>
							<#elseif (column_index == 6)>
								<td>${column.actualValue!''?string("yyyy-MM-dd HH:mms zzzz")}</td>
							<#else>
								<td>${column.value!''}</td>
							</#if>
					  </#list>
					</tr>
				</#list>
				</#if>
			</tbody>
		</table>
		</DIV>
	</#if>
</#if>




<#if showAlerts?exists>

<table cellpadding="0" cellspacing="0" width="100%">
	<!-- <thead>
		<td>
			<table cellpadding="1" cellspacing="0" width="100%" class="tb">
				<tbody>
					<tr><td>&nbsp;&nbsp; Alerts and Notifications</td></tr>
				</tbody>
			</table>
		</td>
	</thead> -->
	<tbody>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td style="padding-left:50px">
				<div>
					<ul class="slb">
						<#if newLeadsResult.data?exists && newLeadsResult.data?has_content>
							Alert - New Leads available for Processing
								<ul class="slb">
									<table>
									<#list newLeadsResult.data as row>
										<#if row_index < 2>
											<tr><td>For ${row[0].value} - ${row[1].value!''} number of new leads available</td></tr>
										<#else>
											<tr><td><i>There are more new ICL leads. Please check the dashboard.</i></td></tr>
											<#break>
										</#if>
									</#list>
									</table>
								</ul>

						</#if>
						<#if expiringLeadsResult.data?exists && expiringLeadsResult.data?has_content>
						<font color="red">Alert - Leads expiration warning</font>
							<ul class="slb">
								<table>
								<#list expiringLeadsResult.data as row>
									<#if row_index < 2>
										<tr><td>For ${row[0].value} - ${row[2].value!''} number of leads will expire in ${row[1].value!''} day(s)</td></tr>
									<#else>
										<tr><td><i>There are more expiring ICL leads.</i><tr><td>
										<#break>
									</#if>
								</#list>
								</table>
							</ul>
						</#if>
						<#if !newLeadsResult.data?has_content && !expiringLeadsResult.data?has_content>
							No New Alerts - None Applicable
						</#if>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</#if>