
<script type="text/javascript">
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            if($(this).attr("value")=="clli"){
                $(".box").not(".clli").hide();
                $(".clli").show();
            }
            else if($(this).attr("value")=="runid"){
                $(".box").not(".runid").hide();
                $(".runid").show();
            }
            
        });
    }).change();
});
</script>

<script type="text/javascript">

$(document).ready(function() {
    $('.box').hide(); //hide
    $('.runid').show(); //set default class to be shown here, or remove to hide all
});
$('select').change(function() { //on change do stuff
    $('.box').hide(); //hide all with .box class
    $('.' + $(this).val()).show(); //show selected option's respective element
});

</script>


<#if leadUploadHistoryTable?exists>
<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px;" class="crmWidth">
	<tr>
		<td>
		<table cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr>
					<td width="2%">
					<ul class="piped-list piped-list-left piped-list-view-left">
						<li class="first">
						<h4 style="font-size: 20pt;font-family:Times New Roman;font-weight: bold;color: maroon">IMS 1.0 - Dashboard</h4>
						</li>
					</ul>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
		</td>
	</tr>
<script type="text/javascript">
	//var sortedColumns= new Array();

	function campaignSelectorLoaded(data) {
		$("#campaignSelector").children().remove();
		$("#campaignSelector").append(data);
	}

	function loadCampaignSelector() {
		var params = {
			pageName :"IMSDashboard",
			controlName :"campaignSelector"
		}
		var url = "uiController";
		loadControl(url, params, campaignSelectorLoaded);
	}
	// Call back function when Campaign is loaded
	function leadUploadHistoryLoaded(data){
		$("#leadUploadHistory").children().remove();
		$("#leadUploadHistory").append(data);
		setSortOrderImage('leadUploadHistory',sortedColumns);
	}
	
	function leadUploadHistoryTableLoaded(data){
		$("#leadUploadHistoryTable").children().remove();
		$("#leadUploadHistoryTable").append(data);
		setSortOrderImage('leadUploadHistoryTable',sortedColumns);
	}

	function Validate() 
	{
        var campaignID = document.getElementById("campaignID");
        var ownerName = document.getElementById("ownerName");
        
        if (campaignID.value == "" && ownerName == null || ownerName == "") 
        {
            //alert("Please select an Campaign option!");
            //alert("ownerName must be filled out");
            return false;
        }
        
       
           
    }
	
	
	function refreshleadUploadHistoryTable(pageNumber,columnName)
	{
		columnName = getSortingColumn('leadUploadHistoryTable');
		var uploadedEndDate = '';
		var campainId =''; 
		if(document.getElementById("campaignID")){
			campainId = document.getElementById("campaignID").value;
		}
		var ownerName = '';
		if(document.getElementById("ownerName")){
			ownerName = document.getElementById("ownerName").value;
		}
		var uploadedStartDate = '';
		if(document.getElementById("uploadStartDate")){
			uploadedStartDate = document.getElementById("uploadStartDate").value
		}
	
		var uploadedEndDates = '';
		if(document.getElementById("uploadEndDate")){
			uploadedEndDates = document.getElementById("uploadEndDate").value;
		}
		if(uploadedEndDates != '')
			uploadedEndDates = uploadedEndDates + ' 11:59:59 PM';
		    uploadedEndDate = uploadedEndDates.substr(0, uploadedEndDates.length-11);	
	    	
	    	
		var runid =''; 
		if(document.getElementById("runid")){
			runid = document.getElementById("runid").value;
		}
		var clli =''; 
		if(document.getElementById("clli")){
			clli = document.getElementById("clli").value;
		}
		
				if(pageNumber != undefined){
					var params = {
							pageName : "IMSDashboard",
							controlName :"leadUploadHistoryTable",
							pageNumber : pageNumber,
							sortingColumn : columnName,
							campainId : campainId,
							ownerName : ownerName ,
							uploadedStartDate : uploadedStartDate,
							uploadedEndDate :uploadedEndDate
					}
					}else{
						var params = {
								pageName : "IMSDashboard",
								controlName :"leadUploadHistoryTable",
								campainId : campainId,
								ownerName : ownerName ,
								uploadedStartDate : uploadedStartDate,
								uploadedEndDate :uploadedEndDate
						}
				}
				
				
				var url = "uiController";
				loadPaginatedTable(url,params,leadUploadHistoryTableLoaded,pageNumber);
			
	}
	
	
	function refreshleadUploadHistoryTableNEW(pageNumber,columnName)
	{
		columnName = getSortingColumn('leadUploadHistory');
		var uploadedEndDate = '';
		var campainId =''; 
		if(document.getElementById("campaignID")){
			campainId = document.getElementById("campaignID").value;
		}
		var ownerName = '';
		if(document.getElementById("ownerName")){
			ownerName = document.getElementById("ownerName").value;
		}
		var uploadedStartDate = '';
		if(document.getElementById("uploadStartDate")){
			uploadedStartDate = document.getElementById("uploadStartDate").value
		}
		var uploadedEndDates = '';
		if(document.getElementById("uploadEndDate")){
			uploadedEndDates = document.getElementById("uploadEndDate").value;
		}
		if(uploadedEndDates != '')
			uploadedEndDates = uploadedEndDates + ' 11:59:59 PM';
		    uploadedEndDate = uploadedEndDates.substr(0, uploadedEndDates.length-11);
			
			
		var runid =''; 
		if(document.getElementById("runid")){
			runid = document.getElementById("runid").value;
		}
		var clli =''; 
		if(document.getElementById("clli")){
			clli = document.getElementById("clli").value;
		}
		
				if(pageNumber != undefined){
				var params = {
							pageName : "IMSDashboard",
							controlName :"leadUploadHistory",
							pageNumber : pageNumber,
							sortingColumn : columnName,
							campainId : campainId,
							ownerName : ownerName ,
							uploadedStartDate : uploadedStartDate,
							uploadedEndDate :uploadedEndDate
					}
				}else{
						var params = {
								pageName : "IMSDashboard",
								controlName :"leadUploadHistory",
								campainId : campainId,
								ownerName : ownerName ,
								uploadedStartDate : uploadedStartDate,
								uploadedEndDate :uploadedEndDate
						}
				}
				var url = "uiController";
				loadPaginatedTable(url,params,leadUploadHistoryLoaded,pageNumber);
		
	}


	function exportReport(reportType,runId) {

		
		var fullDate = new Date()
		console.log(fullDate);
		var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
		var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
		
		var url = "reportServlet?queryString=SELECT_IMS_DASHBOARD_BY_RUNID&reportName=IMS_Dashboard_"+currentDate+"&reportType="+reportType+"&runId="+runId;
																					
		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

		var mywindow = window.open (url,
				  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
				  mywindow.moveTo(0,0);
	}

	function exportReportcllida(reportType,CLLI,DA,CLLI_DA) {

		var fullDate = new Date()
		console.log(fullDate);
		var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
		var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
		
		var url = "reportServlet?queryString=SELECT_IMS_DASHBOARD_BY_CLLIDA&reportName="+CLLI_DA+"_"+currentDate+"&reportType="+reportType+"&DA="+DA+"&CLLI="+CLLI;

		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

		var mywindow = window.open (url,
				  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
				  mywindow.moveTo(0,0);
	}

	
	function DownloadleadUploadHistoryTable(reportType)
	{
		var CAMPAIGN_SEQ;
		var LEAD_OWNER;
		var url;
		var fullDate = new Date()
		console.log(fullDate);
		var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
		var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
		
		var uploadedStartDate = document.getElementById("uploadStartDate").value;
		var uploadedEndDate = document.getElementById("uploadEndDate").value;
		
		var LEAD = document.getElementById("ownerName").value;
		var campaignID = document.getElementById("campaignID").value;
		
		if (campaignID == "" || campaignID.length == 0 || campaignID == null)
		{
			
		}
		else
		{
			CAMPAIGN_SEQ = campaignID;
		}

		if (LEAD == "" || LEAD.length == 0 || LEAD == null)
		{
			
		}
		else
		{
			LEAD_OWNER = LEAD;
			
		}
				
		var x;
		if (confirm("Do you want to Download. \n\nClick OK to continue download.") == true) 
		{
			
			if(LEAD_OWNER != null)
			{
				
				url = "reportServlet?queryString=SELECT_IMS_DASHBOARD_BY_DOWNLOAD_LEAD_OWNER&reportName=ATTDashboard_"+currentDate+"&reportType="+reportType+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate+"&LEAD_OWNER="+LEAD_OWNER;
			}	
			else if(CAMPAIGN_SEQ != null)
			{
				
				url = "reportServlet?queryString=SELECT_IMS_DASHBOARD_BY_DOWNLOAD_CAMPAIGN_SEQ&reportName=ATTDashboard_"+currentDate+"&reportType="+reportType+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate+"&CAMPAIGN_SEQ="+CAMPAIGN_SEQ;
			}
			else if(CAMPAIGN_SEQ != null && LEAD_OWNER != null)
			{
				//alert("LEAD_OWNER and campaign_seq.... " + LEAD_OWNER + CAMPAIGN_SEQ);
				url = "reportServlet?queryString=SELECT_IMS_DASHBOARD_BY_DOWNLOAD_ALL&reportName=ATTDashboard_"+currentDate+"&reportType="+reportType+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate+"&CAMPAIGN_SEQ="+CAMPAIGN_SEQ+"&LEAD_OWNER="+LEAD_OWNER;
			}
			else
			{
				
				url = "reportServlet?queryString=SELECT_IMS_DASHBOARD_BY_DOWNLOAD&reportName=ATTDashboard_"+currentDate+"&reportType="+reportType+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate;
			}
			
			if (url != undefined && url != null) {
				if (url.indexOf("?") == -1) {
					url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
				} else {
					url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
				}
			}
	
			var mywindow = window.open (url,
					  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
					  mywindow.moveTo(0,0);
		}				  
		else
		{
			 x = "You pressed Cancel!";
		}
				  
	}
	
	function DownloadleadUploadHistory(reportType)
	{
	
		var CAMPAIGN_SEQ;
		var LEAD_OWNER;
		var url;
		var fullDate = new Date()
		console.log(fullDate);
		var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
		var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
		
		var uploadedStartDate = document.getElementById("uploadStartDate").value;
		var uploadedEndDate = document.getElementById("uploadEndDate").value;
		
		var LEAD = document.getElementById("ownerName").value;
		//alert("LEAD..... " + LEAD);
		var campaignID = document.getElementById("campaignID").value;
		
		if (campaignID == "" || campaignID.length == 0 || campaignID == null)
		{
			
		}
		else
		{
			CAMPAIGN_SEQ = campaignID;
		}

		if (LEAD == "" || LEAD.length == 0 || LEAD == null)
		{
			
		}
		else
		{
			
			LEAD_OWNER = LEAD;
			//alert("LEAD_OWNER..... " + LEAD_OWNER);
		}
		
		var x;
		if (confirm("Do you want to Download. \n\nClick OK to continue download.") == true) 
		{
			if(LEAD_OWNER != null)
			{
				//alert("LEAD_OWNER.... " + LEAD_OWNER);
				url = "reportServlet?queryString=SELECT_IMS_HISTORY_BY_DOWNLOAD_LEAD_OWNER&reportName=ATTDashboard_"+currentDate+"&reportType="+reportType+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate+"&LEAD_OWNER="+LEAD_OWNER;
			}
			else if(CAMPAIGN_SEQ != null)
			{
				//alert("CAMPAIGN_SEQ.... " + CAMPAIGN_SEQ);
				url = "reportServlet?queryString=SELECT_IMS_HISTORY_BY_DOWNLOAD_CAMPAIGN_SEQ&reportName=ATTDashboard_"+currentDate+"&reportType="+reportType+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate+"&CAMPAIGN_SEQ="+CAMPAIGN_SEQ;
			}
			else if(CAMPAIGN_SEQ != null && LEAD_OWNER != null)
			{
				//alert("LEAD_OWNER and campaign_seq.... " + LEAD_OWNER + CAMPAIGN_SEQ);
				url = "reportServlet?queryString=SELECT_IMS_HISTORY_BY_DOWNLOAD_ALL&reportName=ATTDashboard_"+currentDate+"&reportType="+reportType+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate+"&CAMPAIGN_SEQ="+CAMPAIGN_SEQ+"&LEAD_OWNER="+LEAD_OWNER;
			}
			else
			{
				//alert("NONE...... ");
				url = "reportServlet?queryString=SELECT_IMS_HISTORY_BY_DOWNLOAD&reportName=ATTDashboard_"+currentDate+"&reportType="+reportType+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate;

			}
			
			if (url != undefined && url != null) {
				if (url.indexOf("?") == -1) {
					url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
				} else {
					url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
				}
			}
	
			var mywindow = window.open (url,
					  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
					  mywindow.moveTo(0,0);
		}				  
		else
		{
			 x = "You pressed Cancel!";
		}
				  
	}


	</script>
	
	
<tr>
	<td align="left">
		<table cellpadding="1" cellspacing="0" class="tb" style="width: 100%">
			<tbody>
				<tr valign="center">
					<td>&nbsp;Leads Status - In-Progress Leads by Campaign</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>

<tr>
<td>
<table border="0" cellpadding="1" cellspacing="0" class="crmWidth">
	<tr>
		<td align="center" width="30%"><table><tr><td>Select Campaign:&nbsp;</td><td> <div id="campaignSelector" name="campaignSelector"></div></td></tr></table>		</td>
		<td align="center" width="15%">Owner:&nbsp;<input type="text" id="ownerName" class="inputControl" ></input></td>
		
		<td align="center" width="15%">View By:&nbsp;
		<select>
		    <option value="runid">Upload File Name</option>
            <option value="clli">CLLI and DA</option>
        </select>
		</td>
		
		<td  align="center" width="20%">Upload Start Date:&nbsp;<INPUT TYPE="text" NAME="" size="12"  readonly="true" class="inputControl" id="uploadStartDate">
			<script language="javaScript">
				$("#uploadStartDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
			</script>
		</td>
		<td align="center"  width="20%">Upload End Date:&nbsp; 
		<INPUT TYPE="text" NAME="" size="12"  readonl y="true" class="inputControl" id="uploadEndDate">
			<script language="javaScript">
				$("#uploadEndDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
			</script>
		</td>
		
	
			<td align="center" width="10%" >
				<INPUT TYPE="submit" style="width:50px;background-color:#c9e5ec;border-color:#a5a9b6;color:#2e558c;font-weight: bold;" value="Go"  id="go" class="box runid" onclick="javascript:sortedColumns= new Array();refreshleadUploadHistoryTable();">	
			</td>
		
		
	
			<td align="center" width="10%" >
				<INPUT TYPE="submit" style="width:50px;display:none;background-color:#c9e5ec;color:#2e558c;border-color:#a5a9b6;font-weight: bold;" value="Go"  id="goes" class="box clli" onclick="javascript:sortedColumns= new Array();refreshleadUploadHistoryTableNEW();">	
			</td>
			
	</tr>
	
</table>
		
	</td>
</tr>

<tr>
	<td>
	 <div class="runid box">
		<div id="leadUploadHistoryTable" name="leadUploadHistoryTable" class="crmWidth">
			<#if GlobalContext.crmContext.accessLinks == 'Application Administrator'>
				<table cellspacing=0 cellpadding=0 class="list" width="100%">
					<thead>
						<tr>
							<th><a id="UPLOAD_FILENAME" style="text-decoration:underline;cursor: pointer;" >Upload File Name<span id='span_UPLOAD_FILENAME'></span></th>
							<th><a id="CAMPAIGN_NAME" style="text-decoration:underline;cursor: pointer;" >Campaign<span id='span_CAMPAIGN_NAME'></span></th>
							<th><a id="LEAD_OWNER" style="text-decoration:underline;cursor: pointer;" >Owner<span id='span_LEAD_OWNER'></span></th>
							<th><a id="RELEASE_DATE" style="text-decoration:underline;cursor: pointer;" >Release Date<span id='span_RELEASE_DATE'></span></th>
							<th><a id="ERROR_COUNT" style="text-decoration:underline;cursor: pointer;" >E<span id='span_ERROR_COUNT'></span></th>
							<th><a id="INACTIVE_COUNT" style="text-decoration:underline;cursor: pointer;" >I<span id='span_INACTIVE_COUNT'></span></th>
							<th><a id="DISABLED_COUNT" style="text-decoration:underline;cursor: pointer;" >D<span id='span_DISABLED_COUNT'></span></th>
							<th><a id="SAVED_COUNT" style="text-decoration:underline;cursor: pointer;" >S<span id='span_SAVED_COUNT'></span></th>
							<th><a id="AVAILABLE_COUNT" style="text-decoration:underline;cursor: pointer;" >A<span id='span_AVAILABLE_COUNT'></span></th>
							<th><a id="TOTAT_COUNT" style="text-decoration:underline;cursor: pointer;" >Total<span id='span_TOTAT_COUNT'></span></th>
							<th><a id="UPLOAD_DATE" style="text-decoration:underline;cursor: pointer;" >Upload Date<span id='span_UPLOAD_DATE'></span></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
							<tr><td colspan="12">&nbsp;</td></tr>
							<tr>
								<td colspan="12" align="center">
									<ul class="piped-list piped-list-left piped-list-view-left">
										<li class="first">
											<b>E</b>=Errored Leads
										</li>
										<li>
											<b>I</b>=Inactive Leads
										</li>
										<li>
											<b>D</b>=Disabled Leads
										</li>
										<li>
											<b>S</b>=Leads Saved in Lead Sheets
										</li>
										<li>
											<b>A</b>=Leads Available for Lead Sheets
										</li>
									</ul>
								</td>
							</tr>
					</tbody>
				</table>
			<#else>
				<table cellspacing=0 cellpadding=0 class="list" width="100%">
					<thead>
						<tr>
							<th><a id="${tableName}_CAMPAIGN_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Campaign Name</a><span id='span_${tableName}_CAMPAIGN_NAME'></span></th>
							<th><a id="${tableName}_ICL_CODE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Code</a><span id='span_${tableName}_ICL_CODE'></span></th>
							<th><a id="${tableName}_OFFICE_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Name</a><span id='span_${tableName}_OFFICE_NAME'></span></th>
							<th><a id="${tableName}_LEAD_SHEET_ID" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Lead Sheet ID</a><span id='span_${tableName}_LEAD_SHEET_ID'></span></th>
							<th><a id="${tableName}_AGENT_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Rep Name</a><span id='span_${tableName}_AGENT_NAME'></span></th>
							
							<th><a id="ERROR_COUNT" style="text-decoration:underline;cursor: pointer;" >E<span id='span_ERROR_COUNT'></span></th>
							<th><a id="INACTIVE_COUNT" style="text-decoration:underline;cursor: pointer;" >I<span id='span_INACTIVE_COUNT'></span></th>
							<th><a id="DISABLED_COUNT" style="text-decoration:underline;cursor: pointer;" >D<span id='span_DISABLED_COUNT'></span></th>
							<th><a id="SAVED_COUNT" style="text-decoration:underline;cursor: pointer;" >S<span id='span_SAVED_COUNT'></span></th>
							<th><a id="AVAILABLE_COUNT" style="text-decoration:underline;cursor: pointer;" >A<span id='span_AVAILABLE_COUNT'></span></th>
							
							<th><a id="${tableName}_LEAD_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Leads Count</a><span id='span_${tableName}_LEAD_COUNT'></span></th>
							<th><a id="${tableName}_MODIFIED_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTable(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Leads Upload Date</a><span id='span_${tableName}_MODIFIED_DATE'></span></th>
						</tr>
						
					</thead>
					<tbody>
					<tr><td colspan="12">&nbsp;</td></tr>
					<tr>
						<td colspan="12" align="center">
							<ul class="piped-list piped-list-left piped-list-view-left">
								<li class="first">
									<b>E</b>=Errored Leads
								</li>
								<li>
									<b>I</b>=Inactive Leads
								</li>
								<li>
									<b>D</b>=Disabled Leads
								</li>
								<li>
									<b>S</b>=Leads Saved in Lead Sheets
								</li>
								<li>
									<b>A</b>=Leads Available for Lead Sheets
								</li>
							</ul>
						</td>
					</tr>
			</tbody>
					
				</table>
			</#if>	
		</div>
		</div>
		
		<!-- code added by sanjay -->
		
		<div class="clli box">
		<div id="leadUploadHistory" name="leadUploadHistory" class="crmWidth">
		
			<#if GlobalContext.crmContext.accessLinks == 'Application Administrator'>
				<table cellspacing=0 cellpadding=0 class="list" width="100%">
					<thead>
						<tr>
							<th><a id="CAMPAIGN_NAME" style="text-decoration:underline;cursor: pointer;" >Campaign<span id='span_CAMPAIGN_NAME'></span></th>
							<th><a id="LEAD_OWNER" style="text-decoration:underline;cursor: pointer;" >Owner<span id='span_LEAD_OWNER'></span></th>
							<th><a id="CLLI" style="text-decoration:underline;cursor: pointer;" >CLLI<span id='span_CLLI'></span></th>
							<th><a id="DA" style="text-decoration:underline;cursor: pointer;" >DA<span id='span_DA'></span></th>
							<th><a id="CLLI_DA" style="text-decoration:underline;cursor: pointer;" >CLLI_DA<span id='span_CLLI_DA'></span></th>
							<th><a id="RELEASE_DATE" style="text-decoration:underline;cursor: pointer;;">Release Date<span id='span_RELEASE_DATE'></span></th>
							<th><a id="ERROR_COUNT" style="text-decoration:underline;cursor: pointer;" >E<span id='span_ERROR_COUNT'></span></th>
							<th><a id="INACTIVE_COUNT" style="text-decoration:underline;cursor: pointer;" >I<span id='span_INACTIVE_COUNT'></span></th>
							<th><a id="DISABLED_COUNT" style="text-decoration:underline;cursor: pointer;" >D<span id='span_DISABLED_COUNT'></span></th>
							<th><a id="SAVED_COUNT" style="text-decoration:underline;cursor: pointer;" >S<span id='span_SAVED_COUNT'></span></th>
							<th><a id="AVAILABLE_COUNT" style="text-decoration:underline;cursor: pointer;" >A<span id='span_AVAILABLE_COUNT'></span></th>
							<th><a id="TOTAL_COUNT" style="text-decoration:underline;cursor: pointer;" >Total<span id='span_TOTAL_COUNT'></span></th>
							<th><a id="UPLOAD_DATE" style="text-decoration:underline;cursor: pointer;" >Upload Date<span id='span_UPLOAD_DATE'></span></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
							<tr><td colspan="12">&nbsp;</td></tr>
							<tr>
								<td colspan="12" align="center">
									<ul class="piped-list piped-list-left piped-list-view-left">
										<li class="first">
											<b>E</b>=Errored Leads
										</li>
										<li>
											<b>I</b>=Inactive Leads
										</li>
										<li>
											<b>D</b>=Disabled Leads
										</li>
										<li>
											<b>S</b>=Leads Saved in Lead Sheets
										</li>
										<li>
											<b>A</b>=Leads Available for Lead Sheets
										</li>
									</ul>
								</td>
							</tr>
					</tbody>
				</table>
			<#else>
				<table cellspacing=0 cellpadding=0 class="list" width="100%">
					<thead>
						<tr>
							<th><a id="${tableName}_CAMPAIGN_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Campaign</a><span id='span_${tableName}_CAMPAIGN_NAME'></span></th>
							<th><a id="${tableName}_ICL_CODE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Code</a><span id='span_${tableName}_ICL_CODE'></span></th>
							<th><a id="${tableName}_OFFICE_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Name</a><span id='span_${tableName}_OFFICE_NAME'></span></th>
							<th><a id="${tableName}_LEAD_SHEET_ID" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Lead Sheet ID</a><span id='span_${tableName}_LEAD_SHEET_ID'></span></th>
							<th><a id="${tableName}_AGENT_NAME" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">ICL Rep Name</a><span id='span_${tableName}_AGENT_NAME'></span></th>
							
							<th><a id="ERROR_COUNT" style="text-decoration:underline;cursor: pointer;" >E</a><span id='span_ERROR_COUNT'></span></th>
							<th><a id="INACTIVE_COUNT" style="text-decoration:underline;cursor: pointer;" >I</a><span id='span_INACTIVE_COUNT'></span></th>
							<th><a id="DISABLED_COUNT" style="text-decoration:underline;cursor: pointer;" >D</a><span id='span_DISABLED_COUNT'></span></th>
							<th><a id="SAVED_COUNT" style="text-decoration:underline;cursor: pointer;" >S</a><span id='span_SAVED_COUNT'></span></th>
							<th><a id="AVAILABLE_COUNT" style="text-decoration:underline;cursor: pointer;" >A</a><span id='span_AVAILABLE_COUNT'></span></th>
							<th><a id="${tableName}_TOTAT_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Total</a><span id='span_${tableName}_TOTAT_COUNT'></span></th>
						
							
							<th><a id="${tableName}_LEAD_COUNT" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Leads Count</a><span id='span_${tableName}_LEAD_COUNT'></span></th>
							<th><a id="${tableName}_MODIFIED_DATE" style="text-decoration:underline;cursor: pointer;" onclick="javascript:refreshleadUploadHistoryTableNEW(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Leads Upload Date</a><span id='span_${tableName}_MODIFIED_DATE'></span></th>
						</tr>
					</thead>
					<tbody>
					<tr><td colspan="12">&nbsp;</td></tr>
					<tr>
						<td colspan="12" align="center">
							<ul class="piped-list piped-list-left piped-list-view-left">
								<li class="first">
									<b>E</b>=Errored Leads
								</li>
								<li>
									<b>I</b>=Inactive Leads
								</li>
								<li>
									<b>D</b>=Disabled Leads
								</li>
								<li>
									<b>S</b>=Leads Saved in Lead Sheets
								</li>
								<li>
									<b>A</b>=Leads Available for Lead Sheets
								</li>
							</ul>
						</td>
					</tr>
			</tbody>
				</table>
			</#if>	
		</div>
		</div>	
		<!-- code added by sanjay -->
	</td>
</tr>

</table>
	 <script type="text/javascript">
		loadCampaignSelector();
		var today = new Date();
		var endDate = new Date()
		endDate.setDate(endDate.getDate()-14);

		var sDate = today.getDate()+'';
		var sMonth = (today.getMonth()+1)+'';
		var sYear = today.getFullYear();

		var eDate = endDate.getDate()+'';
		var eMonth = (endDate.getMonth()+1)+'';
		var eYear = endDate.getFullYear();
		
		if(sDate.length < 2){
			sDate = '0'+sDate;
		}
		if(sMonth.length < 2){
			sMonth = '0'+sMonth;
		}

		if(eDate.length < 2){
			eDate = '0'+eDate;
		}
		if(eMonth.length < 2){
			eMonth = '0'+eMonth;
		}

		$('#uploadEndDate').val(sMonth+'/'+sDate+'/'+sYear);
		$('#uploadStartDate').val(eMonth+'/'+eDate+'/'+eYear);
		// refreshleadUploadHistoryTable();
	 </script>

</#if>



