<#if campaignSelector?exists>
<script type="text/javascript">
	var campaignSeq = "";
	var  uarSize ="";
	var templateName = "";
	var officeSeq="";
	var territoryFor='ICLLEAD';
	function loadCampaignSelector() {
		var params = {
			pageName :"RepManagement",
			controlName :"campaignSelector"
		}
		var url = "uiController";
		loadControl(url, params, campaignSelectorLoaded);
	}
	// Call back function when Campaign is loaded
	function campaignSelectorLoaded(data) {
		$("#campaignSelector").children().remove();
		$("#campaignSelector").append(data);
		loadICLSelector();
	}

	function loadICLSelector() {
		campaignSeq = document.getElementById("campaignID").value;
		sessionCampaignSeq = document.getElementById("campaignID").value;
		var params = {
			pageName :"RepManagement",
			controlName :"iclSelector",
			campaignSeq:campaignSeq
		}
		var url = "uiController";
		loadControl(url, params, iclSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function iclSelectorLoaded(data) {
		$("#iclSelector").children().remove();
		$("#iclSelector").append(data);
		sessionOfficeSeq = document.getElementById('iclID').value;
		loadICLTerritaryTable();
	}

	function loadICLTerritaryTable(pageNumber){
		campaignSeq = document.getElementById("campaignID").value;
		sessionOfficeSeq = document.getElementById('iclID').value;
		if(pageNumber != undefined){
			var params =
				{
					pageName : "RepManagement",
					controlName :"iclTerritaryTable",
					officeSeq :document.getElementById('iclID').value,
					pageNumber:pageNumber,
					campaignSeq:campaignSeq
				};
		}else{
			var params =
			{
				pageName : "RepManagement",
				controlName :"iclTerritaryTable",
				officeSeq :document.getElementById('iclID').value,
				campaignSeq:campaignSeq
			};
		}

		var url = "uiController";
		loadPaginatedTable(url,params,iclTerritaryTableLoaded,pageNumber);
	}

		// Call back function when Campaign is loaded
		function iclTerritaryTableLoaded(data){
			$("#iclTerritaryTable").children().remove();
			$("#iclTerritaryTable").append(data);
				refreshIclRepTable();
		}

		function refreshIclRepTable(pageNumber){
			if(pageNumber != undefined){
				var params = {
						pageName : "RepManagement",
						controlName :"iclRepTable",
						campaignSeq:campaignSeq,
						officeSeq :document.getElementById('iclID').value,
						pageNumber:pageNumber
				};
			}
			var params = {
					pageName : "RepManagement",
					controlName :"iclRepTable",
					campaignSeq:campaignSeq,
					officeSeq :document.getElementById('iclID').value
			};

			var url = "uiController";
			loadPaginatedTable(url,params,iclRepTableLoaded,pageNumber);
	}

	// Call back function when Campaign is loaded
		function iclRepTableLoaded(data){
			$("#iclRepTable").children().remove();
			$("#iclRepTable").append(data);
		//	refreshLeadSheetAssignmentHistoryTable();
		}

	function loadLeads(){
		officeSeq = document.getElementById("iclID").value;
		clearMarkers();
		//loadKML("mapServlet?action=loadPoints&officeSeq=" + officeSeq + "&campaignSeq="+campaignSeq);
	}

	function loadTerritoriesInMap(){
		var selectedTerritorylist="";
		for (i = 0; i < document.getElementsByName('iclCheckbox').length; i++){
			if(document.getElementsByName('iclCheckbox')[i].checked == true && document.getElementsByName('iclCheckbox')[i].value != '' ){

				selectedTerritorylist = selectedTerritorylist +', ' +document.getElementsByName('iclCheckbox')[i].value ;
			}
		}
		if(selectedTerritorylist!=""){
			loadLeads();
			clearPolygons();
			loadKML("mapServlet?action=loadPolygons&parentTerritoryIds=" + selectedTerritorylist.substring(1, selectedTerritorylist.length)+"");
		}else {
			clearPolygons();
			clearMarkers();
			}
	}

	function ICLTerritoryMgmtB2BLoaded(data){
		$("#pageHolder").children().remove();
		$("#pageHolder").append(data);
		refreshTerritoryTable();
	}

	function refreshTerritoryTable(){
	}


	function gotoTerritoryMgmtB2B(territoryID){
		hideMap();
		var params =
			 {pageName : "ICLTerritoryManagementB2B",
			  officeSeq :document.getElementById('iclID').value,
			  campaignSeq :document.getElementById('campaignID').value,
			  territoryID:territoryID,
			  loadTemplate:"false"}
		var url = "uiController";
		loadControl(url,params,onPageLoaded);
	}

	function goToDeleteParentTerritory(territoryID){
		var params = {
			pageName : "TerritoryManagement",
			controlName :"deleteParentTerritory",
			campaignSeq: campaignSeq,
			territoryFor : territoryFor,
			officeSeq : document.getElementById('iclID').value,
			territoryID : territoryID
			}
			loadControl(url,params,loadICLTerritaryTable);
	}
	</script>



	<table cellpadding="1" cellspacing="0" border="0" style="padding:0px;margin:0px" class="crmWidth">
	<tr>
		<td>
		<div class="hltb">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tbody>
				<tr>
					<td width="2%">
					<ul class="piped-list piped-list-left piped-list-view-left">
						<li class="first">
						<h4 id="ocTitleFieldLabel">ICL Territory Management<span
							id="ocTitleField" /></h4>
						</li>
						<li><a class="vlk" onclick="javascript:gotoHomePage();" style="cursor:pointer">Back to Main Page</a></li>
					</ul>
					</td>
					<td></td>
					<td width="35%">
					<div align="right"></div>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</td>
	</tr>
	<tr>
				<td align="left">
					<table cellpadding="1" cellspacing="0" class="tb crmWidth">
						<tbody>
							<tr valign="center">
								<td>ICL Territory Management</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
	<td>
	<table border="0" cellpadding="1" cellspacing="0" class="crmWidth">
		<tr>
		<td align="center">
		<div id="campaignSelector" name="campaignSelector"></div>
		<script type="text/javascript">
		loadCampaignSelector();
		</script>
		</td>
		<td>&nbsp;</td><td>&nbsp;</td>

	</#if>

	<#if iclSelector?exists>

		<td align="center">
			<script type="text/javascript">
			</script>
		<div id="iclSelector" name="iclSelector"></div>
		</td>
		</tr>
	  </table>
	  </td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	</#if>
	<#if showCampaignMap?exists>
<tr><td>
	<div id="tempMapHolder"  name="tempMapHolder"></div>
	<script type="text/javascript">
	showMap();
	resizeMap(820);
		mapRequired = "true";
		// Now Load Map
		loadMap();
		createMapControls();
		markerControlEnabled = "true";
		polygonControlEnabled = "true";
		polylineControlEnabled = "true";
		addControls();
	</script>
</td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>
</#if>

	 <#if iclTerritaryTable?exists>
	<tr><td>
		<div id ="iclTerritaryTable" name="iclTerritaryTable" class="crmWidth"></div>
	</td></tr>
	<tr><td>&nbsp;</td></tr>
	</#if>

	<#if iclRepTable?exists>
	<tr>
		<td>
		<div id="iclRepTable" name="iclRepTable" class="crmWidth"></div>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	</#if>
