<table>
	<tr>
		<#if campaignSelector?exists>
		<td>Select Campaign</td>
		<td><SELECT name="campaignID" id="campaignID"
			style="width: 180px;" class="inputControl"
			onchange="javascript:loadICLSelector();">
			<option value="-1">-Select-</option>
			<#list result.data as row>
			<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
			</#list>
		</SELECT></td>
		</#if> <#if iclSelector?exists>
		<td>Select ICL Name&nbsp;</td>
		<td><SELECT id="iclID" style="width: 180px;" name="iclID"
			onchange="javascript:loadICLTerritaryTable();">
			<option value="-1">-Select-</option>
			<#list result.data as row>
			<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
			</#list>
		</SELECT></td>
		</#if>
	<tr>
</table>

<#if iclTerritaryTable?exists>
<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
	<tbody>
		<tr>
			<td style="vertical-align: middle;"><A
				onClick="Toggle(this,document.getElementById('def3'))" id="GroupOne"
				style="CURSOR: hand"> <IMG style="vertical-align: middle"
				src="assets/images/hideshow_infoshown_grayscale.gif"></a></td>
			<td>ICL Territory Definition</td>
			<td width="100%" align="left"><input type="button" value="New"
				class="buttonTD" align="left"
				onclick="territoryFor='ICLLEAD';javascript:gotoTerritoryMgmtB2B('-1');" /></td>
		</tr>
	</tbody>
</table>
<DIV id="def3">
<table id="data" border="0" cellspacing="0" cellpadding="0" class="list crmWidth">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th>Plot</th>
			<th>Territory Name</th>
			<th>Territory Status</th>
			<th>Create Date</th>
			<th>Assigned Rep Name</th>
			<th>Assigned Date</th>
		</tr>
	</thead>
	<tbody>
		<#if result.data?exists> <#list result.data as row>
		<tr>
			<td><a
				onclick="territoryFor='ICLLEAD';javascript:gotoTerritoryMgmtB2B('${row[0].value}');"
				style="cursor: pointer; text-decoration: underline">Edit</a></td>
			<td><a
				onclick="javascript:deleteConfirmation('','goToDeleteParentTerritory(${row[0].value})');"
				style="cursor: pointer; text-decoration: underline">Delete</a></td>
			<td><input type="checkbox" name="iclCheckbox"
				value="${row[0].value!''}"
				onclick="javscript:loadTerritoriesInMap();" /></td>
			<#list row as column>
			<#if column_index ==7 || column_index ==0 ||
			column_index ==6>
			<#else>
				<#if column.value?exists>
				<td>${column.value!''}</td>
				<#else> 
				<td>${column.value!''}</td>
				</#if>
			</#if>
			</#list>
		</tr>
		</#list> <#else>
		<tr>
			<td colspan="8">No Records to Display</td>
		</tr>
		</#if>
	</tbody>
</table>
</DIV>
</#if> <#if iclRepTable?exists>
<table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
	<tbody>
		<tr>
			<td style="vertical-align: middle;"><A
				onClick="Toggle(this,document.getElementById('def1'))" id="GroupOne"
				style="CURSOR: hand"> <IMG style="vertical-align: middle"
				src="assets/images/hideshow_infoshown_grayscale.gif"></a></td>
			<td>ICL Rep Details</td>
			<td width="100%" align="left">&nbsp;</td>
		</tr>
	</tbody>
</table>

<DIV id="def1" width="100%">
<TABLE id="data" cellpadding="0" cellspacing="0" class="list crmWidth">
	<thead>
		<tr>
			<th>ICL Rep Name</th>
			<th>Phone Number</th>
			<th>Home Location</th>
			<th>On Road Trip</th>
			<th>Territory Assigned</th>
	</thead>
	<tbody>
		<#if result.data?exists> <#list result.data as row>
		<tr>
			<#list row as column> <#if column_index==5> <#else>
			<td>${column.value!''}</td>
			</#if> </#list>
		</tr>
		</#list> <#else>
		<tr>
			<td colspan="5">No Records to Display</td>
		</tr>
		</#if>
	</tbody>
</table>
</DIV>
</#if>