<#if campaignSelector?exists>
<table border="0">
	<tr>
		<td>Select Campaign:&nbsp;</td>
		<td>
			<SELECT name="campaignID" id="campaignID"
				style="width: 180px;" class="inputControl"
				onchange="javascript:checkCustomController();">
				<option value="-1">-Select-</option>
				<#list result.data as row>
					<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
				</#list>
			</SELECT>
		</td>
	</tr>
</table>
</#if>

<#if iclSelector?exists>
<table border="0">
	<tr>
		<td>Select ICL Name:&nbsp;</td>
		<td><SELECT id="iclID" style="width: 180px;" name="iclID">
			<option value="-1">-Select-</option>
			<#list result.data as row>
				<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
			</#list>
		</SELECT></td>
	</tr>
</table>
</#if>



<#if leadListTable?exists>

<div id="iclleadListTable">
<table align="center" border="2" cellspacing="0" cellpadding="0" style="border-collapse: collapse;width:60%" class="list">
	<tr>
		<th>S.No</th>
		<th>Lead ID</th>
		<th>Disposition</th>
		<th>Reason for no sale / Unable to knock</th>
	</tr>
		<#if result.data?exists && result.data?size !=0 >
			<#list result.data as row>
			<tr>
				<td width='30px'>${(row_index+startIndex)?string("########")}</td>
				<#list row as column>
				<#if column_index==3 || column_index==4>
				<#else>
					<td>${column.value!''}</td>
				</#if>
				</#list>
			</tr>
			</#list>
			<tr>
				<td align="center" colspan="10" >
					<input type="submit" style="width:150px" class="buttonTD" value="Export" onclick="javascript:exportReport('XLS');"/>
				</td>
			</tr>
		<#else>
			<tr><td colspan="6">No Records to Display</td></tr>
		</#if>
					
</table>
</div>

</#if>