<#if campaignSelector?exists>
<table border="0" cellspacing="0" cellpadding="0"
	style="margin: 0px; padding: 0px" width="100%">
	<script type="text/javascript">
	var campaignSeq = "";
	var officeSeq = "";
	var dispositionStDate = "";
	var dispositionEndDate = "";
	var tableSize=0;
	
	function loadCampaignSelector() {
		var params = {
			pageName : "ExportDispositionLeads",
			controlName : "campaignSelector"
		}
		var url = "uiController";
		loadControl(url, params, onCampaignSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function onCampaignSelectorLoaded(data) {
		$("#campaignSelector").children().remove();
		$("#campaignSelector").append(data);
		loadICLSelector(); 
	}

	var customController = 'false';
	var campaignChanged = 'false';
	function checkCustomController(){
		if(document.getElementById("campaignID").value == sessionCampaignSeq ){
			customController = 'false';
		} else
			{
			var params = {
					controlName :"checkCustomController",
					campaignSeq :document.getElementById("campaignID").value,
					pageName :"ExportDispositionLeads",
					useCustomController : 'true'
				}
				var url = "uiController";
				loadControl(url, params, function(data) {
					customController = data.split(':')[0];
					campaignChanged = 'true';
					clientKey = data.split(':')[1];
					loadICLSelector() ;
				});
		}
	}

	
	function loadICLSelector() {
		campaignSeq = document.getElementById("campaignID").value;
		sessionCampaignSeq = campaignSeq;

		var params = {};
		if(customController == 'true' || campaignChanged == 'true'){
			params = {
					pageName :"ExportDispositionLeads",
					controlName :"iclSelector",
					campaignSeq :campaignSeq,
					useCustomController : 'true',
					loadPage : 'true'
				}
		}else{
			params = {
					pageName :"ExportDispositionLeads",
					controlName :"iclSelector",
					campaignSeq :campaignSeq
					}
		}


		var url = "uiController";
		loadControl(url, params, iclSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function iclSelectorLoaded(data) {
		if(campaignChanged == 'true'){
			var cssLink = $('#customCss').attr('href');
			var lastPos = cssLink.lastIndexOf('/');
			cssLink = cssLink.substring(0,lastPos+1) + clientKey +'common' + cssLink.substring(cssLink.lastIndexOf('.'));
			$('#customCss').attr('href',cssLink);
		}
		if(customController == 'true'  || campaignChanged == 'true'){
			$("#pageHolder").children().remove();
			$("#pageHolder").append(data);
		}else {
			$("#iclSelector").children().remove();
			$("#iclSelector").append(data);
			campaignSeq = document.getElementById("campaignID").value;
			officeSeq  = document.getElementById("iclID").value;
			sessionOfficeSeq = document.getElementById("iclID").value;
		}
	}


	function loadLeadList(pageNumber){ 
		 
		sessionCampaignSeq = document.getElementById("campaignID").value;
		sessionOfficeSeq = document.getElementById("iclID").value;
		dispositionStDate = document.getElementById("dispositionStDate").value;
		dispositionEndDate = document.getElementById("dispositionEndDate").value;
		campaignSeq = document.getElementById("campaignID").value;
		officeSeq = document.getElementById('iclID').value;

		var url = "uiController";
		if(pageNumber != undefined){
			params = {
				pageName : "ExportDispositionLeads",
				controlName : "leadListTable",
				campaignSeq : campaignSeq,
				officeSeq : officeSeq,
				pageNumber:pageNumber,
				dispositionStDate : dispositionStDate+" 12:00:00 AM",
				dispositionEndDate:dispositionEndDate+" 11:59:59 PM"
			}
		}else {
			params = {
					pageName : "ExportDispositionLeads",
					controlName : "leadListTable",
					campaignSeq : campaignSeq,
					officeSeq : officeSeq,
					dispositionStDate : dispositionStDate+" 12:00:00 AM",
					dispositionEndDate:dispositionEndDate+" 11:59:59 PM"
			}
		}
		loadControl(url, params, onloadLeadListLoaded);

	}
	function onloadLeadListLoaded(data){
		$("#iclleadListTable").children().remove();
		$("#iclleadListTable").append(data);
	}



	function exportReport(reportType) {
		var mywindow = window.open ("reportServlet?"+"&queryString=ICL_REP_LEADLIST_FOR_EXPORT_XLS&reportName=ATT_Dispositions"+dispositionStDate.replaceAll('/','_')+"-"+dispositionEndDate.replaceAll('/','_')+"&reportType="+reportType+"&campaignId="+document.getElementById("campaignID").value+"&officeId="+document.getElementById('iclID').value+"&dispositionStDate="+dispositionStDate+"&dispositionEndDate="+dispositionEndDate+"&clientKey="+getClientKeyFromUrl(),
				  "Report","location=1,status=1,scrollbars=1, width=800,height=800");
				  mywindow.moveTo(0,0);
	}
</script>
	<tr>
		<td valign="top">
		<div class="hltb">
		<table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
			<tbody>
				<tr>
					<td width="2%">
					<ul class="piped-list piped-list-left piped-list-view-left">
						<li class="first">
						<h4 id="ocTitleFieldLabel">Export Disposition Leads<span
							id="ocTitleField" /></h4>
						</li>
						<li  ><a href="#" onclick="javascript:gotoHomePage();">Back
						to Main Page</a></li>
					</ul>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</td>
	</tr>
	<tr >
		<td align="left">
			<table cellpadding="1" cellspacing="0" class="tb crmWidth">
				<tbody>
					<tr valign="center">
						<td>Filter Leads</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr >
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
		<table border="0" cellpadding="1" cellspacing="0" class="crmWidth">
			<tr>
				<td align="center">
					<div id="campaignSelector" name="campaignSelector" ></div>
					<script type="text/javascript">
						loadCampaignSelector();
						var today = new Date();
						var endDate = new Date()
						endDate.setDate(endDate.getDate()-30);

						var sDate = today.getDate()+'';
						var sMonth = (today.getMonth()+1)+'';
						var sYear = today.getFullYear();

						var eDate = endDate.getDate()+'';
						var eMonth = (endDate.getMonth()+1)+'';
						var eYear = endDate.getFullYear();
						
						if(sDate.length < 2){
							sDate = '0'+sDate;
						}
						if(sMonth.length < 2){
							sMonth = '0'+sMonth;
						}

						if(eDate.length < 2){
							eDate = '0'+eDate;
						}
						if(eMonth.length < 2){
							eMonth = '0'+eMonth;
						}

						$('#dispositionEndDate').val(sMonth+'/'+sDate+'/'+sYear);
						$('#dispositionStDate').val(eMonth+'/'+eDate+'/'+eYear);
										
					</script>
				</td>
				</#if>
				<#if iclSelector?exists>
				<td align="center">
					<script type="text/javascript">
					</script>
					<div id="iclSelector" name="iclSelector"  ></div>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr >
		<td align="center" width="100%">
			<table border="0">
				<tbody>
					<tr align="center">
					<td width="10%">&nbsp;</td>
						<td width="25%" align="right" >From Dispositioned Date: &nbsp;
							<INPUT TYPE="text" NAME="" size="12" readonly="readonly"  class="inputControl" id="dispositionStDate"/>
							<script language="javaScript">
								$("#dispositionStDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
							</script>
						</td>
						<td width="45%" align="right" >To Dispositioned Date:&nbsp;
							<INPUT TYPE="text" NAME="" size="12" readonly="readonly" class="inputControl" id="dispositionEndDate"/>
							<script language="javaScript">
								$("#dispositionEndDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
							</script>
						</td>
					<td width="35%">&nbsp;</td>
					</tr>
					<tr align="center">
						<td colspan="4" align="center" style="padding:5px">
						<INPUT TYPE="submit" style="width:120px" value="Search" class="buttonTD" onclick="javascript:loadLeadList();">
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</#if>


<#if leadListTable?exists> 

	<tr>
		<td>
			<table cellpadding="1" cellspacing="0" class="ctb crmWidth">
				<tbody>
					<TR>
						<TD><A
							onClick="Toggle(this,document.getElementById('iclleadListTable'))"
							id="GroupOne" style="CURSOR: hand"> <IMG
							SRC="assets/images/hideshow_infoshown_grayscale.gif"> </A></TD>
						<td nowrap="nowrap">Lead List</td>
						<td width="100%"></td>
					</TR>
				</tbody>
			</table>
			
		</td>
	</tr>
<tr><td>&nbsp;</td></tr>
<tr>
	<td>
		<div id="iclleadListTable" name="iclleadListTable">
		<table align="center" border="2" cellspacing="0" cellpadding="0" style="border-collapse: collapse;width:60%" class="list">
			<tr>
				<th>S.No</th>
				<th>Lead ID</th>
				<th>Disposition</th>
				<th>Reason for no sale / Unable to knock</th>
			</tr>
		</table>
		
		</div>
	</td>
</tr>

</table>
</#if>