<#if leadOperations?exists>

<script type="text/javascript">
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            if($(this).attr("value")=="LEADOWNER")
            {
                $(".box").not(".LEADOWNER").hide();
                $(".LEADOWNER").show();
           }
            else if($(this).attr("value")=="CLLI" || $(this).attr("value")=="DA")
            {
                $(".box").not(".CLLI").hide();
                $(".CLLI").show();
            }
            else if($(this).attr("value")=="NEWLEADOWNER")
            {
                $(".box").not(".NEWLEADOWNER").hide();
                $(".NEWLEADOWNER").show();
            }
            
        });
    }).change();
});
</script>

<script type="text/javascript">
		var today = new Date();
		var endDate = new Date()
		endDate.setDate(endDate.getDate()-14);

		var sDate = today.getDate()+'';
		var sMonth = (today.getMonth()+1)+'';
		var sYear = today.getFullYear();

		var eDate = endDate.getDate()+'';
		var eMonth = (endDate.getMonth()+1)+'';
		var eYear = endDate.getFullYear();
		
		if(sDate.length < 2){
			sDate = '0'+sDate;
		}
		if(sMonth.length < 2){
			sMonth = '0'+sMonth;
		}

		if(eDate.length < 2){
			eDate = '0'+eDate;
		}
		if(eMonth.length < 2){
			eMonth = '0'+eMonth;
		}

		$('#uploadEndDate').val(sMonth+'/'+sDate+'/'+sYear);
		$('#uploadStartDate').val(eMonth+'/'+eDate+'/'+eYear);
		
</script>

<script type="text/javascript">
	var sortedColumns= new Array();
	var leadsType = '';
	var fieldsAndValues ='';
	var queryString =''; 
	var isTableLoaded  = false;	
	var campaignSeq = '';
	var officeSeq = '';
	var statusTemplate = " <table> <tr style='display:none'  id='ST1' > 	<td><b>##STATUS##</b> 'On The Map' Leads where ##QUERY##</td> </tr><tr style='display:none'  id='ST2' >	<td><b>##STATUS##</b> 'Generated LeadSheets' Leads where ##QUERY##</td> </tr><tr style='display:none'  id='ST3' >	<td><b>##STATUS##</b> 'Saved LeadSheet's(Not Assigned)' Leads where ##QUERY##</td></tr><tr style='display:none'  id='ST4' ><td><b>##STATUS##</b> 'Saved LeadSheets(Assigned)' Leads where ##QUERY##</td> </tr><tr><td>&nbsp;</td></tr><tr>	<td align='center'><input class='buttonTD' type='submit' id='statusBtn' value='' onclick='javascript:changeLeadsStatus(this.value);'></td></tr></table>";
	var reAssignTemplate = "<table><tr style='display:none'  id='RA1' ><td>Updating 'On The Map' Leads Campaign to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> where ##QUERY##</td></tr><tr  style='display:none'  id='RA2'><td>Updating 'Generated LeadSheets' Leads Campaign to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> where ##QUERY##</td></tr><tr  style='display:none'  id='RA3'><td>Updating 'Saved LeadSheets(Not Assigned)' Leads Campaign to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> where ##QUERY##</td></tr><tr  style='display:none'  id='RA4'><td>Updating 'Saved LeadSheets(Assigned)' Leads Campaign to <b>##CAMPAIGN##</b> and Office to <b>##ICL##</b> where ##QUERY##</td></tr><tr><td>&nbsp;</td></tr><tr><td align='center'><input class='buttonTD' type='submit' value='Re-Assign'	onclick='javascript:reAssignLeads();'></td></tr></table>";
	var operation = '';
	var operationString = '';
	var searchRecordCount = 0;
	var sortColumnOrder = "CLLI:ASC";

	function toggleFilterOptions(elem){//alert("toggleFilterOptions !!!");
		if(elem == 'byCity'){
			$(".field1").hide();
			$(".field2").hide();
			$(".field3").hide();
			$(".operator1").hide();
			$(".operator2").hide();
			$(".operator3").hide();
			$('#SF1').val('CITY');
			$('#SF2').val('STATE');
			$('#SF3').val('CAMPAIGN_SEQ');
			$('#SO1').val('1');
			$('#SO2').val('1');
			$('#SO3').val('1');
			//$('#IT3').val('Verizon B2B');
			if($('#operationsList').val() == '2'){
				$('#filter2 :input').attr('disabled', true);
				$('#filter3 :input').attr('disabled', true);
				$('#IT1').hide();
				$('#disabledCities').show();
			} else {
				$('#filter2 :input').attr('disabled', false);
				$('#filter3 :input').attr('disabled', false);
				$('#IT1').show();
				$('#disabledCities').hide();
			}
			//$('#filter3 :input').attr('disabled', true);
			$('#filter4 :input').attr('disabled', true);
			$('#filter5 :input').attr('disabled', true);
			$('#filter6 :input').attr('disabled', true);
			$('#filter7 :input').attr('disabled', true);
			//$('#filterTable2 :input').attr('disabled', true);
			
		} else {
			$(".field1").show();
			$(".field2").show();
			$(".field3").show();
			$(".operator1").show();
			$(".operator2").show();
			$(".operator3").show();
			$('#IT1').show();
			$('#disabledCities').hide();
			$('#filter2 :input').attr('disabled', false);
			$('#filter3 :input').attr('disabled', false);
			$('#filter4 :input').attr('disabled', false);
			$('#filter5 :input').attr('disabled', false);
			$('#filter6 :input').attr('disabled', false);
			$('#filter7 :input').attr('disabled', false);
			//$('#filterTable2 :input').attr('disabled', false);
		}		
	}
  
	function toggleStatusChangeType(value){
		if(value == '2' || value == '3'){
			//$(".statusChangeTypes :input").attr('disabled', false);
			//toggleFilterOptions($('input[name=statusChangeType]:checked').val());
			//alert("Hello23 !!!");
			reReAssignLeads(false);
		} else if(value == '1'){
			//toggleFilterOptions('byOther');
			//$(".statusChangeTypes :input").attr('disabled', true);
			//alert("Hello1 !!!");
			reReAssignLeads(true);
		}
		else if(value == '4')
		{
			loadMergeOfficePage();
		}
		else if(value == '5')
		{
			loadLeadapprovalPage();
		}
	
	}
	
	function loadLeadapprovalPage()
	{
		$("#Leadapproval").show();
		$("#mergeOffices").hide();
		$("#showleadOperations").hide();
		$("#mergeOfficeList").hide();

		
	}
	
	
	function reReAssignLeads(option) {//alert("reAssignLeads !!!");
		var params = {
			pageName : "LeadManagement",
			controlName : "selectOperations",
			option : option
		}
		var url = "uiController";
		loadControl(url,params,function(data){
			$("#mergeOffices").hide();
			$("#Leadapproval").hide();
			$("#showleadOperations").show();
			$("#showleadOperations").children().remove();
			$("#showleadOperations").append(data);
			
		});
	}
	
	function reAssignLeads() {//alert("reAssignLeads !!!");
		var params = {
				pageName : "LeadManagement",
				controlName : "reAssignLeads",
				fieldsAndValues : fieldsAndValues,
				leadsType : leadsType,
				operation : operationString,
				campaignSeq : document.getElementById("campaignID").value,
				officeSeq : document.getElementById("iclID").value
			}
		var url = "uiController";
		loadControl(url,params,loadLeadStatus);
	}
	
	function changeLeadsStatus(action){//alert("changeLeadsStatus !!!");
		var params = {
				pageName : "LeadManagement",
				controlName : "changeStatus",
				fieldsAndValues : fieldsAndValues,
				leadsType : leadsType,
				operation : operationString,
				statusChangeType : $('input[name=statusChangeType]:checked').val(),
				enableCity : $('#disabledCity').val(),
				city : $('#IT1').val(),
				state : $('#IT2').val(),
				campaignName : $('#IT3').val(),
				action : action
			}
		var url = "uiController";
		loadControl(url,params,loadLeadStatus);
	}

	function loadLeadStatus(data) {//alert("loadLeadStatus !!!");
		if(data == 'SUCCESS'){
			//refreshLeadTable();
			goToLeadManagement();
		}else {
			alert('ERROR!!! Try again Later.');
		}
	}
	
	function loadCampaignSelector() {//alert("loadCampaignSelector !!!");
		var params = {
			pageName :"LeadSheetGeneration",
			controlName :"campaignSelector"
		}
		var url = "uiController";
		loadControl(url, params, onCampaignSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function onCampaignSelectorLoaded(data) {//alert("onCampaignSelectorLoaded !!!");
		$("#campaignSelector").children().remove();
		$("#campaignSelector").append(data);
		loadICLSelector();
	}

	function loadICLSelector() {//alert("loadICLSelector !!!");
		var campaignSeq = document.getElementById("campaignID").value;
		var params = {
			pageName :"LeadSheetGeneration",
			controlName :"iclSelector",
			campaignSeq :campaignSeq
		}
		var url = "uiController";
		loadControl(url, params, iclSelectorLoaded);
	}

	// Call back function when Campaign is loaded
	function iclSelectorLoaded(data) {//alert("iclSelectorLoaded !!!");
		$("#iclSelector").children().remove();
		$("#iclSelector").append(data);
		loadDisabledCities();
	}
	
	function loadDisabledCities(){//alert("loadDisabledCities !!!");
		var params = {
				pageName :"LeadManagement",
				controlName :"disabledCities",
				campaignSeq :campaignSeq
			}
		var url = "uiController";
		loadControl(url, params, function(data){
			$("#disabledCities").children().remove();
			$("#disabledCities").append(data);
		});
		
	}
	
	function showActionComponents(){//alert("showActionComponents !!!");
		if(isTableLoaded){
			if(operation == '-1'){
				document.getElementById('reAssignLeads').style.display='none';
				document.getElementById('leadStatus').style.display='none';
			}else if (operation == '1'){
				document.getElementById('reAssignLeads').style.display='';
				document.getElementById('leadStatus').style.display='none';
			}else if (operation == '2' || operation =='3'){
				document.getElementById('reAssignLeads').style.display='none';
				document.getElementById('leadStatus').style.display='';
			}
		}
	}
	
	function refreshleadTableLoaded(data){//alert("refreshleadTableLoaded !!!");
		document.getElementById('leadTable').style.display='';
		$("#leadTable").children().remove();
		$("#leadTable").append(data);
		isTableLoaded = true;
		document.getElementById('reviewBtn').style.display='';
		showActionComponents();
	}
	
	function refreshLeadTable(pageNumber,columnName){//alert("refreshLeadTable !!!");
		operation = $('#operationsList').val();
		operationString = $('#operationsList :selected').text();
		
		if(operation == '-1'){
			alert('Please select a Opearation');
			return;
		}

		if(operation=='2' && $('input[name=statusChangeType]:checked').val()=='byCity'){
			var val = $("#disabledCity").val();
			$('#IT1').val(val.split(':')[0]);
			$('#IT2').val(val.split(':')[1]);
			$('#IT3').val(val.split(':')[3]);
		}
		
		leadsType = '';
		fieldsAndValues =''; 
		queryString ='';
		document.getElementById('reAssignReviewTable').style.display='none';
		document.getElementById('reAssignReviewTable').innerHTML='';
		document.getElementById('statusReviewTable').style.display='none';
		document.getElementById('statusReviewTable').innerHTML='';
		
		var count = 7;
		if($('#operationsList').val() == '2'){
			count = 3;
		}else if($('#operationsList').val() == '3'){
			count = 3;
		}
		
		for(var i=1 ; i <= count ; i++){
			var field = document.getElementById("SF"+i).value;
			var operator = document.getElementById("SO"+i).value;
			var value = document.getElementById("IT"+i).value;
			if(value.search('[!@#$%="\'^:;><?]') != -1){
				alert('Invalid characters in field value at row no.' +i);
				return;
			}
			var statementSeparator = "";
			if(i!=1){
				statementSeparator  =  document.getElementById("SFS"+i).value;
			}
			if(field == '-1' && operator == '-1' && value == ''){
				continue;
			}
			else if(field == '-1' || operator == '-1' || value == ''){
				alert("Field/Operator/value is missed in "+i+ " row." );
				return;
			}else{
				fieldsAndValues =  fieldsAndValues + statementSeparator +':'+ field +':'+ operator +':'+ value+"::" ;
				queryString = queryString +  ( i != 1 ? statementSeparator :' ') + ' <b>' + document.getElementById("SF"+i).options[document.getElementById("SF"+i).selectedIndex].text.replace('By ','') +'</b> '+ document.getElementById("SO"+i).options[document.getElementById("SO"+i).selectedIndex].text +' <b>'+ value + '</b> '  ;
			}			
		}
		if(fieldsAndValues.length < 1){
			alert('Search Criteria is required.');
			return;
		}

		for(var j=0;j<document.getElementsByName('LeadsType').length;j++){
			if(document.getElementsByName('LeadsType')[j].checked){
				leadsType = leadsType + document.getElementsByName('LeadsType')[j].value + ":" ;
			}
		}

		if(leadsType.length < 1){
			alert('Please select at least one type.');
			return;
		}
		
		if(pageNumber != undefined){
			var params = {
					pageName : "LeadManagement",
					controlName :"leadTable",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					fieldsAndValues: fieldsAndValues,
					leadsType : leadsType,
					statusChangeType : $('input[name=statusChangeType]:checked').val(),
					enableCity : $('#disabledCity').val(),
					operation :operationString
				}
		}else{
			var params = {
					pageName : "LeadManagement",
					controlName :"leadTable",
					pageNumber : "1",
					fieldsAndValues : fieldsAndValues,
					leadsType : leadsType,
					statusChangeType : $('input[name=statusChangeType]:checked').val(),
					enableCity : $('#disabledCity').val(),
					operation :operationString
				}
		}
		var url = "uiController";
		loadPaginatedTable(url,params,refreshleadTableLoaded,pageNumber);
	}

	function reviewRows(){//alert("reviewRows !!!");
		if(searchRecordCount == 0 ){
			alert("No records found to Review!");
			return;
		}
		if(operation == '-1'){
			alert('Please select a Opearation');
			return;
		}
		var tmpStr ='';
		if (operation == '1'){
			campaignSeq = document.getElementById("campaignID").value;
			officeSeq = document.getElementById("iclID").value;
			var campaignName =  document.getElementById('campaignID').options[document.getElementById('campaignID').selectedIndex].text;
			var iclName =  document.getElementById('iclID').options[document.getElementById('iclID').selectedIndex].text;
			if( campaignSeq == '-1' ) {
				alert("Please select Campaign");
				return;
			}
			if( officeSeq == '-1' ){
				alert("Please select ICL");
				return;
			}
			 
			var tempReAssnStr = reAssignTemplate.replaceAll('##CAMPAIGN##', campaignName);
			tempReAssnStr = tempReAssnStr.replaceAll('##ICL##', iclName);
			tempReAssnStr = tempReAssnStr.replaceAll('##QUERY##', queryString);
			
			document.getElementById('reAssignReviewTable').innerHTML = tempReAssnStr;
			document.getElementById('reAssignReviewTable').style.display='';
			document.getElementById('statusReviewTable').style.display='none';
			document.getElementById('statusReviewTable').innerHTML='';
			document.getElementById('reAssignLeads').style.display='none';
			tmpStr = 'RA';	
		}else if (operation == '2' || operation =='3'){
			
			document.getElementById('reAssignReviewTable').style.display='none';
			document.getElementById('reAssignReviewTable').innerHTML = '';
			var tmpStatus =''
			if ( operation == '2' ){
				tmpStatus ='Enable'; 
			} else if ( operation =='3' ){
				tmpStatus ='Disable';
			}
			
			var tempStatusStr = statusTemplate.replaceAll('##STATUS##', tmpStatus);
			tempStatusStr = tempStatusStr.replaceAll('##QUERY##', queryString);

			document.getElementById('statusReviewTable').style.display = '';
			document.getElementById('statusReviewTable').innerHTML= tempStatusStr;
			document.getElementById('statusBtn').value = tmpStatus; 
			
			document.getElementById('leadStatus').style.display='none';
			tmpStr = 'ST';
		}

		var leadsTypes = leadsType.split(':');
		
		for(var i =0; i< leadsTypes.length ;i++){
			if(leadsTypes[i] != null && leadsTypes[i] != ''){ 
				document.getElementById(tmpStr+leadsTypes[i]).style.display='';
			}
		}
		
// 		if($('input[name=statusChangeType]:checked').val() == 'byCity'){
//
//			document.getElementById('statusReviewTable').style.display = '';
//			document.getElementById('statusReviewTable').innerHTML= " <br><br><br><br>All Leads(Future) will be <b>"+tmpStatus+"d</b> where " + queryString +"<br><br> <input class='buttonTD' type='submit' id='statusBtn' value='' onclick='javascript:changeLeadsStatus(this.value);'>";
//			document.getElementById('statusBtn').value = tmpStatus; 
//			
//		}
		
		document.getElementById('leadTable').style.display='none';
		document.getElementById('reviewBtn').style.display='none';
	}
	
	function toggleAssignmentTypeChangeType(value){
		var campaignSeq = document.getElementById("campaignSeq").value;
		if(campaignSeq == "-1"){
			alert("Please select campaign.");
			return;
		}
		if(value == -1){
			alert("Please select a value of Assignment Type.");
			return;
		}
		var params = {
				pageName : "LeadManagement",
				controlName : "loadAssignmentTypeValues",
				campaignSeq : campaignSeq,
				assignmentType : value
		}
		var url = "uiController";
		loadControl(url,params,loadAssignmentType);
	}
	
	function loadAssignmentType(data){
		var campaignSeq = document.getElementById("campaignSeq").value;
		var assignmentType = document.getElementById("assignmentType").value;
		$('#showleadOperations').children().remove();
		$('#showleadOperations').append(data);
		$('#campaignSeq').val(campaignSeq);
		$('#assignmentType').val(assignmentType);
	}
	
	function getAssignmentList(sortOrder){
		var campaignSeq = document.getElementById("campaignSeq").value;
		var assignmentType = document.getElementById("assignmentType").value;
		var assignTypeValue = document.getElementById("assignmentTypeList").value;
		if(campaignSeq == "-1"){
			alert("Please select campaign.");
			return;
		}
		if(assignTypeValue == "-1"){
			if(assignmentType == "CLLI"){
				alert("Please select Wire Center value from List.");
			}else{
				alert("Please select ICL value from List.");
			}
			return;
		}
		var params = {
				pageName : "LeadManagement",
				controlName : "loadAssignmentList",
				campaignSeq : campaignSeq,
				assignmentType : assignmentType,
				assignTypeValue : assignTypeValue,
				sortOrder : sortOrder
		}
		var url = "uiController";
		//alert("Campaign : "+campaignSeq+" Assignment Type : "+assignmentType+" AssignmentType List Value : "+assignTypeValue);
		loadControl(url,params,loadAssignmentList);
	}
	
	function loadAssignmentList(data){
		var campaignSeq = document.getElementById("campaignSeq").value;
		var assignmentType = document.getElementById("assignmentType").value;
		var assignmentTypeValue = document.getElementById("assignmentTypeList").value;
		$('#showleadOperations').children().remove();
		$('#showleadOperations').append(data);
		$('#campaignSeq').val(campaignSeq);
		$('#assignmentType').val(assignmentType);
		$('#assignmentTypeList').val(assignmentTypeValue);
		setColumnSortOrderImage();
	}
	
	function sortingTable(){
		var order = 'ASC';
		if(order == sortColumnOrder.split(':')[1]){
				order = 'DESC';
		}

		sortColumnOrder = "CLLI:"+order;
		getAssignmentList(sortColumnOrder.split(':')[1]);
	}
	
	function setColumnSortOrderImage(){
		var spanId ='';
		var img = '';
		if(sortColumnOrder.split(':')[1] == "ASC"){
			img = "assets/images/sort_asc.png" 
		}else {
			img = "assets/images/sort_desc.png"
		}
		spanId = 'span_CLLI';
		$('#'+spanId).attr('innerHTML','&nbsp;<img src="'+img+'"/>');
	}
	
	function saveNewCLLIAssignment(){
		var newLFA = '';
		var campaignSeq = document.getElementById("campaignSeq").value;
		var newWC = document.getElementById("newWireCenter").value;
		if(campaignSeq == "15791795"){
			newLFA = document.getElementById("newLFA").value;
		}
		var newOwner = document.getElementById("newOwnerList").value;
		var message = '';
		var answer = false;
		
		if(campaignSeq == "-1"){
			alert("Please select campaign.");
			return;
		}
		if(newWC.length == 0){
			alert("Please select CLLI code.");
			return;
		}
		if(newOwner == "-1"){
			alert("Please select New Office.");
			return;
		}
		
		if(newLFA != ''){
			message = 'Yor are creating new CLLI code : "'+newWC+'", LFA code : "'+newLFA+'" and assigning it to office : "'+newOwner+'". Please confirm.';
		}else{
			message = 'Yor are creating new CLLI code : "'+newWC+'" and assigning it to office : "'+newOwner+'". Please confirm.';
		}
		
		answer = confirm(message);
		if(answer){
			var params = {
				pageName : "LeadManagement",
				controlName : "saveNewCLLIAssignment",
				campaignSeq : campaignSeq,
				newWC : newWC,
				newLFA : newLFA,
				newOwner : newOwner
			}
			var url = "uiController";
			loadControl(url,params,loadSaveNewCLLIAssignment);
		}else{
			return;
		}
	}
	
	function loadSaveNewCLLIAssignment(){
		var value = document.getElementById("assignmentType").value;
		toggleAssignmentTypeChangeType(value);
	}
	
	function saveAssignNewOwner(){
		var laSelected = false;
		var selectedLA = new Array();
		var selectedRecords = "";//new Array();
		//var incr = 0;
		var newOwner = "";var wc = ""; var lfa = "";
		var campaignSeq = document.getElementById("campaignSeq").value;
		
		document.getElementsByName('').length
		var answer = confirm("Please confirm the assignment changes.");
		if(answer){
			$('[id^=cbLeadAssign_]').each(function () {
				 if($(this).attr('checked')){
					 var index = $(this).attr('id').split('_')[1];
					 var noid = 'newOwner_'+index;
					 newOwner = document.getElementById('newOwner_'+index).value;
					 if(newOwner == "-1"){
						 return;
					 }
					 laSelected = true;
					 wc = $(this).val().split('_')[0];
					 if($(this).val().split('_')[1] != ''){
						 lfa = $(this).val().split('_')[1];
					 }else{
						 lfa = 'NA';
					 }
					 //selectedRecords.push(wc+":"+lfa+":"+newOwner);
					 selectedRecords = wc.trim()+":"+lfa.trim()+":"+newOwner.trim()+"|"+selectedRecords;
					 //alert("Selected Records Length : "+selectedRecords); 
					 //incr++;
				}
			});
			if(!laSelected){
				alert('Please select one or more checkbox and New Office value to Assign / Reassign.');
				return;
			}
		
			var params = {
					pageName : "LeadManagement",
					controlName : "saveNewOwnerList",
					campaignSeq : campaignSeq,
					arrayData : selectedRecords
			}
			var url = "uiController";
			//alert("Campaign : "+campaignSeq+" Assignment Type : "+assignmentType+" AssignmentType List Value : "+assignTypeValue);
			loadControl(url,params,loadSaveAssignmentList);
		}else{
			return;
		}
	}
	
	function loadSaveAssignmentList(){
		getAssignmentList('ASC');
	}
	
	function toggleSelectAll(){
		if($('#selectAll').attr('checked')){
			$('[id^=cbLeadAssign_]').each(function () {
				$(this).attr('checked', true);
			});

		}else{
			$('[id^=cbLeadAssign_]').each(function () {
				$(this).attr('checked', false);
			});
		}
	}

	
	function changeCampaignSeq(){
		$('#assignmentType').val("-1");
		$('#assignmentTypeList').val("-1");
		return;
	}
	
	function selectAllNewOwner(){
		var selectedNOVal = '';
		var chSelected = false;
		
		var selectedNewOwner = document.getElementById('changeALLNewOwnerValue1').value;
		if(selectedNewOwner == "-1"){
			alert('Please select value of New Owner from drop down list.');
			$('#changeALLNewOwnerValue1').focus();
			return;
		}
		
		var answer = confirm("Do you want to overwrite New Owner value of all the selected rows. Please confirm");
		if(answer){
			$('[id^=cbLeadAssign_]').each(function () {
				if($(this).attr('checked')){
					var index = $(this).attr('id').split('_')[1];
					$('#newOwner_'+index).val(selectedNewOwner);
					
					var el = $(this);
					var tr = el.closest('tr');
					tr.addClass('selected');
					
					chSelected = true;
				}
			});
			if(!chSelected){
				alert('Please select atleast one checkbox to populate new owner value.');
				return;
			}
		}
		return;
	}

	function cancelAllAssignment(){
		var answer = confirm("Do you want to cancel all the assignments. Please confirm.");
		if(answer){
			$('#selectAll').attr('checked', false);
			$('[id^=cbLeadAssign_]').each(function () {
				var index = $(this).attr('id').split('_')[1];
				$('#newOwner_'+index).val("-1");
				$(this).attr('checked', false);
				
				var el = $(this);
				var tr = el.closest('tr');
				tr.removeClass('selected');
			});
		}
		return;
	}
	
	function setALLNewOwnerValue(value){
		document.getElementById('changeALLNewOwnerValue1').value = value;
		document.getElementById('changeALLNewOwnerValue2').value = value;
	}

	function selectCB(selectedRow){
		if($(selectedRow).attr('value') == "-1"){
			var index = $(selectedRow).attr('id').split('_')[1];
			$('#cbLeadAssign_'+index).attr('checked', false);
			var el = $(selectedRow);
			var tr = el.closest('tr');
			tr.removeClass('selected');
		}else{
			var index = $(selectedRow).attr('id').split('_')[1];
			$('#cbLeadAssign_'+index).attr('checked', true);
			var el = $(selectedRow);
			var tr = el.closest('tr');
			tr.addClass('selected');
		}
	}

//**********MERGE OFFICES OPERATION***************************
	function loadMergeOfficePage(){
		var params = {
				pageName : "LeadManagement",
				controlName :"loadMergeOfficeList"
		}
		var url = "uiController";
		loadControl(url,params,loadMergeOfficeList);
	}
	
	function loadMergeOfficeList(data){
		//$("#FilterTable").hide();
		//$("#AddDisableOwner").hide();
		$("#showleadOperations").hide();
		$("#Leadapproval").hide();
		$("#mergeOffices").show();
		$("#mergeOfficeList").children().remove();
		$("#mergeOfficeList").append(data);
	}
	
	function saveMergeOffice(){
		if($("#fromOffice").val() == -1){
			alert("Please select an office to merge.");
			$("#fromOffice").focus();
			return;
		}
		if($("#toOffice").val() == -1){
			alert("Please select an office to merge.");
			$("#toOffice").focus();
			return;
		}
		
		if($("#fromOffice").val() == $("#toOffice").val()){
			alert("Office code values selected are the same. Please change one of the office codes.");
			$("#fromOffice").focus();
			return;
		}
		var url = "uiController";
		var params = {
				pageName : "LeadManagement",
				controlName : "checkOwnerAvailability",
				fromOffice : $("#fromOffice").val(),
				toOffice : $("#toOffice").val()
		}
		
		loadControl(url, params, function(data) {
			if(data == 'SUCCESS'){
				var answer = confirm("The owner selected is already active in the merged owners list. Do you want to continue?");
				if(answer){
					var params = {
						pageName : "LeadManagement",
						controlName : "saveMergeOffice",
						fromOffice : $("#fromOffice").val(),
						toOffice : $("#toOffice").val(),
						active : 'Y',
						action : 'Insert'
					}
					var url = "uiController";
					loadControl(url,params,loadMergeOfficePage);
				}else{
					return;
				}
			}else if(data == 'ERROR'){
				var params = {
						pageName : "LeadManagement",
						controlName : "saveMergeOffice",
						fromOffice : $("#fromOffice").val(),
						toOffice : $("#toOffice").val(),
						active : 'Y',
						action : 'Insert'
				}
				var url = "uiController";
				loadControl(url,params,loadMergeOfficePage);
			}
		});
	}
	
	function searchOffice(){
		if($("#sOperation").val() == -1){
			alert("Please select search operation value.");
			$("#sOperation").focus();
			return;
		}
		if($("#sText").val().trim() == ""){
			alert("Please enter search text.");
			$("#sText").focus();
			return;
		}
		
		var params = {
				pageName : "LeadManagement",
				controlName :"loadSearchOfficeList",
				sOperation : $("#sOperation").val(),
				sText : $("#sText").val().trim()
		}
		var url = "uiController";
		loadControl(url,params,loadSearchOfficeList);
	}
	
	function loadSearchOfficeList(data){
		var sOperation = $("#sOperation").val();
		var sText =$("#sText").val();
		$("#FilterTable").hide();
		$("#AddDisableOwner").hide();
		$("#mergeOffices").show();
		$("#newMergeBtn").show();
		$("#mergeOfficeList").children().remove();
		$("#mergeOfficeList").append(data);
		$("#sOperation").val(sOperation);
		$("#sText").val(sText);
	}

//*********Merge Owner*******************	
	function goToSubmitEditMergeActive(fromOffice, toOffice){
		var mergeActiveSelected =  $("#mChangedValue").val();
		var url = "uiController";
		if(mergeActiveSelected == mergeActiveOldValue.trim()){
			alert('No Changes made');
			$("#mChangedValue").focus();
			return;
		}

 		var params = {
 			pageName :"LeadManagement",
 			controlName :"updateMergedOwner",
 			fromOffice : fromOffice,
 			toOffice : toOffice,
			active : mergeActiveSelected,
			action : 'Update'
 		};
 		loadControl(url, params, function(data) {
			$('#td_'+fromOffice+"_"+toOffice).html(oldSavedMergeActiveTD);
			$('#span_s_'+fromOffice+"_"+toOffice).html(mergeActiveSelected);
		});
		$('#mergeActiveEditSubmitBtn_'+fromOffice+"_"+toOffice).hide();
		$('#mergeActiveEditCancelBtn_'+fromOffice+"_"+toOffice).hide();
		//alert("Data is saved, setting old value");
		inlineOpened = false;
	}
	
	var inlineOpened = false;
	var oldSavedMergeActiveTD = '';
	var mergeActiveOldValue ='';
	var mergeActiveInlineOldTD = '';
	
	function goToEditMergeActive(fromOffice, toOffice){
		var rowId = fromOffice+"_"+toOffice;
		if(inlineOpened){
			return;
		}
		oldSavedMergeActiveTD = $('#td_'+rowId).html();
		changeMergeActive(rowId);
		$('#mergeActiveEditSubmitBtn_'+fromOffice+"_"+toOffice).show();
		$('#mergeActiveEditCancelBtn_'+fromOffice+"_"+toOffice).show();
		inlineOpened = true;
		$('#mChangedValue').focus();
		return false;
	}
	
	function goToCancelEditMergeActive(fromOffice, toOffice){
		$('#td_'+fromOffice+"_"+toOffice).html(oldSavedMergeActiveTD);
		$('#mergeActiveEditSubmitBtn_'+fromOffice+"_"+toOffice).hide();
		$('#mergeActiveEditCancelBtn_'+fromOffice+"_"+toOffice).hide();
		inlineOpened = false;
	}

	function changeMergeActive(id){
		if(inlineOpened == true){
			return ;
		}
		inlineId = id;
		mergeActiveOldValue = $('#span_s_'+id).html();
		mergeActiveInlineOldTD = $('#td_s_'+id).html();
		var inlineMergeActiveComponent = '<table><tr><td><SELECT class="inputControl" id="mChangedValue"><option value="Y">Y</option><option value="N">N</option></SELECT></td></tr></table>'; 
		$('#td_s_'+id).html(inlineMergeActiveComponent);
		inlineOpened = false;
		$('#mChangedValue').val(mergeActiveOldValue);	
	}
//*********Merge Owner Ends*****************

//***************************************

// new code added by sanjay
function SearchLead(pageNumber,columnName)
{
	var uploadStartDate = document.getElementById("uploadStartDate").value;
	var uploadEndDate = document.getElementById("uploadEndDate").value;
	var leadid = document.getElementById("leadid").value;
	   if (leadid != "") 
	   {
       		var params;
			columnName = getSortingColumn('LeadApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"LeadApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					leadid : leadid
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"LeadApprovalList",
						uploadStartDate : uploadStartDate,
						uploadEndDate :uploadEndDate,
						leadid : leadid
					};
			}
			var url = "uiController";
		
			loadPaginatedTable(url, params, leadapprovallistTableLoaded,pageNumber);
			
			
			columnName = getSortingColumn('LeadOwnereApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"LeadOwnereApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					leadid : leadid
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"LeadOwnereApprovalList",
						leadid : leadid
					};
			}
			var url = "uiController";
		
			loadPaginatedTable(url, params, leadapprovallistTable,pageNumber);
			
			
			columnName = getSortingColumn('NewLeadOwnereApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"NewLeadOwnereApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					leadid : leadid
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"NewLeadOwnereApprovalList",
						leadid : leadid
					};
			}
			var url = "uiController";
		
			loadPaginatedTable(url, params, NewleadapprovalownerTable,pageNumber);
			
	   }
	   else
		{
		   alert("Search field cannot be Empty");
		}
}


function NewleadapprovalownerTable(data)
{
		$("#NewLeadOwnereApprovalList").children().remove();
		$("#NewLeadOwnereApprovalList").append(data);
		setSortOrderImage('NewLeadOwnereApprovalList',sortedColumns);
		
}


function leadapprovallistTable(data)
{
		$("#LeadOwnereApprovalList").children().remove();
		$("#LeadOwnereApprovalList").append(data);
		setSortOrderImage('LeadOwnereApprovalList',sortedColumns);
		
}


function refreshleadapprovallist(pageNumber,columnName)
{
		var uploadStartDate = document.getElementById("uploadStartDate").value;
		var uploadEndDate = document.getElementById("uploadEndDate").value;
		
		var e = document.getElementById("ddlViewBy");
		var viewbylead = e.options[e.selectedIndex].value;
		
		
		
		if(viewbylead == "DA" || viewbylead == "CLLI")
		{		
			var params;
			columnName = getSortingColumn('LeadApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"LeadApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"LeadApprovalList",
						uploadStartDate : uploadStartDate,
						uploadEndDate :uploadEndDate,
						viewbylead : viewbylead
					};
			}
			var url = "uiController";
		
			loadPaginatedTable(url, params, leadapprovallistTableLoaded,pageNumber);
		}
		
		if(viewbylead == "LEADOWNER")
		{
			var params;
			columnName = getSortingColumn('LeadOwnereApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"LeadOwnereApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"LeadOwnereApprovalList",
						uploadStartDate : uploadStartDate,
						uploadEndDate :uploadEndDate,
						viewbylead : viewbylead
					};
			}
			var url = "uiController";
			loadPaginatedTable(url, params, NewleadapprovalleadlistTableLoaded,pageNumber);
		}
		
		if(viewbylead == "NEWLEADOWNER")
		{
			
			var params;
			columnName = getSortingColumn('NewLeadOwnereApprovalList');
			if(pageNumber != undefined){
			params = {
					pageName :"LeadManagement",
					controlName :"NewLeadOwnereApprovalList",
					pageNumber : pageNumber,
					sortingColumn : columnName,
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
					
				};
			}else{
				params = {
						pageName :"LeadManagement",
						controlName :"NewLeadOwnereApprovalList",
						uploadStartDate : uploadStartDate,
						uploadEndDate :uploadEndDate,
						viewbylead : viewbylead
					};
			}
			var url = "uiController";
			loadPaginatedTable(url, params, NewleadapprovalleadLoaded,pageNumber);
		}
}

function NewleadapprovalleadLoaded(data)
{
		$("#NewLeadOwnereApprovalList").children().remove();
		$("#NewLeadOwnereApprovalList").append(data);
		setSortOrderImage('NewLeadOwnereApprovalList',sortedColumns);
		
}

function NewleadapprovalleadlistTableLoaded(data)
{
		$("#LeadOwnereApprovalList").children().remove();
		$("#LeadOwnereApprovalList").append(data);
		setSortOrderImage('LeadOwnereApprovalList',sortedColumns);
		
}

function leadapprovallistTableLoaded(data)
{
		$("#LeadApprovalList").children().remove();
		$("#LeadApprovalList").append(data);
		setSortOrderImage('LeadApprovalList',sortedColumns);
		
}

function exportReportcllida(reportType,DA,CLLI) 
{

	var fullDate = new Date()
	console.log(fullDate);
	var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
	var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
	var uploadedStartDate = document.getElementById("uploadStartDate").value;
	var uploadedEndDate = document.getElementById("uploadEndDate").value;
	//alert("...." + DA + "..." + CLLI);
	var url = "reportServletCL?queryString=SELECT_IMS_LeadApproval_report&reportName=Lead_Approval_"+currentDate+"&reportType="+reportType+"&DA="+DA+"&CLLI="+CLLI+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate;

	if (url != undefined && url != null) {
		if (url.indexOf("?") == -1) {
			url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
		} else {
			url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
		}
	}

	var mywindow = window.open (url,
			  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
			  mywindow.moveTo(0,0);
}

function exportReportowner(reportType,OWNER,LEAD_ASSIGNED) 
{

	
	//alert(LEAD_ASSIGNED);
	var fullDate = new Date()
	console.log(fullDate);
	var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
	var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
	
	var uploadedStartDate = document.getElementById("uploadStartDate").value;
	var uploadedEndDate = document.getElementById("uploadEndDate").value;
	
	if (OWNER == "" || OWNER.length == 0 || OWNER == null)
	{
		alert("Report cannot be exported OwnerName is mandatory");
	}
	else
	{
		var url = "reportServletCL?queryString=SELECT_IMS_LeadOwner_report&reportName=Lead_Approval_"+currentDate+"&reportType="+reportType+"&OWNER="+OWNER+"&LEAD_ASSIGNED="+LEAD_ASSIGNED+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate;
	
		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

			var mywindow = window.open (url,
					  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
					  mywindow.moveTo(0,0);
	}
}

function exportReportNewLeadOwner(reportType,OWNER,CSF_CURRENT_ICL_OWNERNAME,LEAD_ASSIGNED,CSF_PREV_ASSIGNEDDATE) 
{

	
	//alert(LEAD_ASSIGNED);
	var fullDate = new Date()
	console.log(fullDate);
	var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
	var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();

	var uploadedStartDate = document.getElementById("uploadStartDate").value;
	var uploadedEndDate = document.getElementById("uploadEndDate").value;
	
	if (OWNER == "" || OWNER.length == 0 || OWNER == null)
	{
		alert("Report cannot be exported OwnerName is mandatory");
	}
	else
	{
		var url = "reportServletCL?queryString=SELECT_IMS_New_LeadOwner_report&reportName=LeadApproval_"+currentDate+"&reportType="+reportType+"&OWNER="+OWNER+"&CSF_CURRENT_ICL_OWNERNAME="+CSF_CURRENT_ICL_OWNERNAME+"&LEAD_ASSIGNED="+LEAD_ASSIGNED+"&CSF_PREV_ASSIGNEDDATE="+CSF_PREV_ASSIGNEDDATE+"&uploadedStartDate="+uploadedStartDate+"&uploadedEndDate="+uploadedEndDate;
		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

		var mywindow = window.open (url,
				  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
				  mywindow.moveTo(0,0);
	
	}
	
	
}

//code added by sanjay
function DownloadleadUploadHistoryTable(reportType)
{
	var fullDate = new Date()
	console.log(fullDate);
	var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
	var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
	
	var uploadStartDate = document.getElementById("uploadStartDate").value;
	var uploadEndDate = document.getElementById("uploadEndDate").value;
	
	var url = "reportServletCL?queryString=SELECT_LEAD_APPROVAL_BY_DOWNLOAD&reportName=CenturyLink_Lead_Approval_"+currentDate+"&reportType="+reportType+"&uploadStartDate="+uploadStartDate+"&uploadEndDate="+uploadEndDate;
		
		
		
		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

		var mywindow = window.open (url,
				  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
				  mywindow.moveTo(0,0);
	
			  
}

function DownloadOwnerleads(reportType)
{
	var fullDate = new Date()
	console.log(fullDate);
	var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
	var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
	
	var uploadStartDate = document.getElementById("uploadStartDate").value;
	var uploadEndDate = document.getElementById("uploadEndDate").value;
	
	var url = "reportServletCL?queryString=SELECT_LEAD_OWNER_DOWNLOAD&reportName=CenturyLink_Lead_Approval_"+currentDate+"&reportType="+reportType+"&uploadStartDate="+uploadStartDate+"&uploadEndDate="+uploadEndDate;
		
		
		
		if (url != undefined && url != null) {
			if (url.indexOf("?") == -1) {
				url = url + "?userId=" + userId + "&ssoToken=" + ssoToken;
			} else {
				url = url + "&userId=" + userId + "&ssoToken=" + ssoToken;
			}
		}

		var mywindow = window.open (url,
				  "Report","location=1,status=1,scrollbars=1, width=300,height=300");
				  mywindow.moveTo(0,0);
	
			  
}


function updateapprovedleads(DA,CLLI) 
{
	
	var x;
	if (confirm("Do you want to Approve Lead?  \n\nClick OK to continue") == true) 
	{
		var params = {
				pageName : "LeadManagement",
				controlName : "updateleadapproval",
				DA : DA,
				CLLI : CLLI
			}
		var url = "uiController";
		loadControl(url,params,loadupdateleadapp);

	}
	else
	{
		 x = "You pressed Cancel!";
	}
}

function updateleadowner(OWNER,LEAD_ASSIGNED) 
{
	
	var x;
	if (OWNER == "" || OWNER.length == 0 || OWNER == null)
	{
		alert("OwnerName is mandatory for updating leads");
	}
	else
	{
			if (confirm("Do you want to Approve Lead?  \n\nClick OK to continue") == true) 
			{
				var params = {
						pageName : "LeadManagement",
						controlName : "updateleadowner",
						OWNER : OWNER,
						LEAD_ASSIGNED : LEAD_ASSIGNED
					}
				var url = "uiController";
				loadControl(url,params,loadupdateleadowner);
		
			}
			else
			{
				 x = "You pressed Cancel!";
			}
	}
}
function loadupdateleadowner(data) {
	if(data == 'SUCCESS'){
		//alert("Leads successfully updated");
		refreshDivlead(data,this);
		
		

	}else {
		alert('ERROR!!! Try again Later.');
	}
}
/*
function exportReportnewowner(OWNER,LEAD_ASSIGNED) 
{
	
	var x;
	if (confirm("Do you want to Approve Lead?  \n\nClick OK to continue") == true) 
	{
		var params = {
				pageName : "LeadManagement",
				controlName : "updateleadnewowner",
				OWNER : OWNER,
				LEAD_ASSIGNED : LEAD_ASSIGNED
			}
		var url = "uiController";
		loadControl(url,params,loadupdateleadnewowner);

	}
	else
	{
		 x = "You pressed Cancel!";
	}
}*/

function UpdateReportnewleadowner(OWNER,LEAD_ASSIGNED) 
{
	
	var x;
	if (OWNER == "" || OWNER.length == 0 || OWNER == null)
	{
		alert("OwnerName is mandatory for updating leads");
	}
	else
	{
		if (confirm("Do you want to Approve Lead?  \n\nClick OK to continue") == true) 
		{
			var params = {
					pageName : "LeadManagement",
					controlName : "updateleadnewowner",
					OWNER : OWNER,
					LEAD_ASSIGNED : LEAD_ASSIGNED
				}
			var url = "uiController";
			loadControl(url,params,loadupdateleadnewowner);
	
		}
		else
		{
			 x = "You pressed Cancel!";
		}
	}
}

function loadupdateleadnewowner(data) {
	if(data == 'SUCCESS'){
		//alert("Leads successfully updated");
		refreshDivleadnew(data,this);
		
		

	}else {
		alert('ERROR!!! Try again Later.');
	}
}
function refreshDivlead(pageNumber,columnName)
{
		var uploadStartDate = document.getElementById("uploadStartDate").value;
		var uploadEndDate = document.getElementById("uploadEndDate").value;
		
		
		var viewbylead = "TEST";
		
				
		var params;
		columnName = getSortingColumn('LeadOwnereApprovalList');
		if(pageNumber != undefined){
		params = {
				pageName :"LeadManagement",
				controlName :"LeadOwnereApprovalList",
				pageNumber : pageNumber,
				sortingColumn : columnName,
				uploadStartDate : uploadStartDate,
				uploadEndDate :uploadEndDate,
				viewbylead : viewbylead
				
			};
		}else{
			params = {
					pageName :"LeadManagement",
					controlName :"LeadOwnereApprovalList",
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
				};
		}
		var url = "uiController";
		loadPaginatedTable(url, params, NewleadapprovalleadlistTableLoaded,pageNumber);
		
}
function refreshDivleadnew(pageNumber,columnName)
{
		var uploadStartDate = document.getElementById("uploadStartDate").value;
		var uploadEndDate = document.getElementById("uploadEndDate").value;
		
		
		var viewbylead = "TEST";
		
				
		var params;
		columnName = getSortingColumn('NewLeadOwnereApprovalList');
		if(pageNumber != undefined){
		params = {
				pageName :"LeadManagement",
				controlName :"NewLeadOwnereApprovalList",
				pageNumber : pageNumber,
				sortingColumn : columnName,
				uploadStartDate : uploadStartDate,
				uploadEndDate :uploadEndDate,
				viewbylead : viewbylead
				
			};
		}else{
			params = {
					pageName :"LeadManagement",
					controlName :"NewLeadOwnereApprovalList",
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
				};
		}
		var url = "uiController";
		loadPaginatedTable(url, params, NewleadapprovalleadLoaded,pageNumber);
}

function AllapprovedNewleadOwner() 
{
	var DA;
	var x;
	var choices = [];
	var els = document.getElementsByName('selectedFiles');

		if (confirm("Do you want to Approve Leads? \n\nClick OK to continue") == true) 
		{	
				for (var i=0;i<els.length;i++)
				{
				  if ( els[i].checked ) 
				  {
				   	 DA= els[i].value;
					   	if (DA == "" || DA.length == 0 || DA == null)
						{
					   		alert("OwnerName is mandatory for updating leads");
						}
					   	else
					   	{
					   		var params = {
									pageName : "LeadManagement",
									controlName : "SelectNEWleadownerapproval",
									DA : els[i].value
								}
							var url = "uiController";
							loadControl(url,params,loadupdateleadnewowner);
					   	}
				   }
				}
		}
		else
		{
			 x = "You pressed Cancel!";
		}	
	
}
function Allapprovedleads() 
{
	var DA;
	var x;
	var choices = [];
	var els = document.getElementsByName('selectedFiles');
	
	if (confirm("Do you want to Approve Leads? \n\nClick OK to continue") == true) 
	{	
			for (var i=0;i<els.length;i++)
			{
			  if ( els[i].checked ) 
			  {
			    DA= els[i].value;
				
				 	
						var params = {
								pageName : "LeadManagement",
								controlName : "Selectleadapproval",
								DA : els[i].value
							}
						var url = "uiController";
						loadControl(url,params,loadupdateleadapps);
			  }
			}
	}
	else
	{
		 x = "You pressed Cancel!";
	}
}

function AllapprovedleadOwner() 
{
	var DA;
	var x;
	var choices = [];
	var els = document.getElementsByName('selectedFiles');
	//alert(els);
	if (confirm("Do you want to Approve Leads? \n\nClick OK to continue") == true) 
	{	
			for (var i=0;i<els.length;i++)
			{
			  if ( els[i].checked ) 
			  {
			    DA= els[i].value;
					if (DA == "" || DA.length == 0 || DA == null)
					{
				   		alert("OwnerName is mandatory for updating leads");
					}
					else
					{	
							var params = {
									pageName : "LeadManagement",
									controlName : "Selectleadownerapproval",
									DA : els[i].value
								}
							var url = "uiController";
							loadControl(url,params,loadupdateleadowner);
					}
			  }
			}
	}
	else
	{
		 x = "You pressed Cancel!";
	}
}





function loadupdateleadapp(data) {
	if(data == 'SUCCESS'){
		//alert("Leads successfully updated");
		refreshDiv(data,this);
		
		

	}else {
		alert('ERROR!!! Try again Later.');
	}
}

function loadupdateleadapps(data) {
	if(data == 'SUCCESS')
	{
		refreshDiv(data,this);

			
	}else {
		alert('ERROR!!! Try again Later.');
	}
}

function refreshDiv(pageNumber,columnName)
{
		var uploadStartDate = document.getElementById("uploadStartDate").value;
		var uploadEndDate = document.getElementById("uploadEndDate").value;
		
		
		var viewbylead = "TEST";
		
				
		var params;
		columnName = getSortingColumn('LeadApprovalList');
		if(pageNumber != undefined){
		params = {
				pageName :"LeadManagement",
				controlName :"LeadApprovalList",
				pageNumber : pageNumber,
				sortingColumn : columnName,
				uploadStartDate : uploadStartDate,
				uploadEndDate :uploadEndDate,
				viewbylead : viewbylead
				
			};
		}else{
			params = {
					pageName :"LeadManagement",
					controlName :"LeadApprovalList",
					uploadStartDate : uploadStartDate,
					uploadEndDate :uploadEndDate,
					viewbylead : viewbylead
				};
		}
		var url = "uiController";
	
		loadPaginatedTable(url, params, leadapprovallistTableLoaded,pageNumber);
		
}
function sucessTest() 
{
	   var container = document.getElementById("LeadApprovalList");
	   var content = container.innerHTML;
	   container.innerHTML= content;
}

	
</script>

<table border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px" width="100%">
  <tr>
    <td valign="top">
      <div class="hltb" style="padding:0px;padding-bottom:5px; margin:0px">
        <table cellspacing="0" cellpadding="0" border="0" class="crmWidth">
          <tbody>
            <tr>
              <td width="2%">
                <ul class="piped-list piped-list-left piped-list-view-left">
                  <li class="first">
                    <h4 id="ocTitleFieldLabel">Lead Management
                      <span id="ocTitleField"/>
                      </h4>
                  </li>
                  <li>
                    <a class="vlk" onclick="javascript:gotoHomePage();" style="text-decoration:underline;cursor: pointer">Back to Main Page
                    </a>
                  </li>
                </ul>
              </td>
              <td>
              </td>
              <td width="35%">
                <div align="right">
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
        <tbody>
          <tr>
            <td style="vertical-align:middle;">
              <A onClick="Toggle(this,document.getElementById('divOperationList'))" id="divOperationListLink" style="CURSOR: hand"> 
                <IMG style="vertical-align:middle" src="assets/images/hideshow_infoshown_grayscale.gif">
              </a>
            </td>
            <td>Operations
            </td>
            <td width="100%">&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td> &nbsp;
    </td>
  </tr>

  <tr>
    <td align="center" >
    <div id='divOperationList'>
      Select Operation: 
      <SELECT id="operationsList" onchange="javascript:toggleStatusChangeType(this.value)">
        <OPTION VALUE="-1">---Select---</option>
        <OPTION VALUE="1">Lead Assign/ReAssign</option>
        <OPTION VALUE="2">Lead Enable</option>
        <OPTION VALUE="3">Lead Disable</OPTION>
		<OPTION VALUE="4">Merge two offices</OPTION>
		<OPTION VALUE="5">Lead Approval</OPTION>        
       </SELECT>
    </div>
    </td>
  </tr>
  <tr>
    <td> &nbsp;
    </td>
  </tr>

  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" class="tb crmWidth">
        <tbody>
          <tr>
            <td style="vertical-align:middle;">
              <A onClick="Toggle(this,document.getElementById('FilterTable'))" id="FilterTableLink" style="CURSOR: hand"> 
                <IMG style="vertical-align:middle" src="assets/images/hideshow_infoshown_grayscale.gif">
              </a>
            </td>
            <td>Search Options
            </td>
            <td width="100%">&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td> &nbsp;
    </td>
  </tr>
  <tr>
    <td>
    	<div id="showleadOperations" name="showleadOperations" align="left"></div>
    	<div id="mergeOffices" name="mergeOffices">
		<TABLE class="crmWidth" >
          <TR>
            <TD align="center" width='100%'>
				<div id="mergeOfficeList" name="mergeOfficeList"></div>
			</TD>
		  </TR>
		</TABLE>
      </div>		
    </td>
  </tr>
  
  
  <tr>
	  <td>
	  	<div id="Leadapproval" name="Leadapproval">
		<table border="0" cellpadding="1" cellspacing="0" class="crmWidth" align="center">
			<tr align="center" class="list">
				<td align="center" width="10%">View By Lead:&nbsp;
					 <select id="ddlViewBy">
						    <option value="CLLI">CLLI</option>
				            <option value="DA">DA</option>
				            <option value="LEADOWNER">LION Owner Name</option>
				            <option value="NEWLEADOWNER">Opp Owner Name</option> 
				     </select>
				</td>
				
				<td  align="left" width="10%">Upload Start Date:&nbsp;<INPUT TYPE="text" NAME="" size="12"  readonly="true" class="inputControl" id="uploadStartDate">
					<script language="javaScript">
						$("#uploadStartDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
					</script>
				</td>
				<td align="left"  width="10%">Upload End Date:&nbsp; 
				<INPUT TYPE="text" NAME="" size="12"  readonly="true" class="inputControl" id="uploadEndDate">
					<script language="javaScript">
						$("#uploadEndDate").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd' });
					</script>
				<INPUT TYPE="submit" value="Go"  id="go" class="buttonTD" onclick="javascript:sortedColumns= new Array();refreshleadapprovallist();">	
				</td>
				
				<!--<td  align="left" width="10%"><INPUT TYPE="submit" style="width:50px" value="Go"  id="go" class="buttonTD" onclick="javascript:sortedColumns= new Array();refreshleadapprovallist();">	</td>-->
				<td  align="left" width="1%"><b>Search:</b></td>
				<td  align="left" width="10%"><input type="text" name="leadid" id="leadid" type="search" placeholder="search" onfocus="this.value='';">
				<input type="submit" name="go" id="go" value="Go" class="buttonTD" onclick="javascript:sortedColumns= new Array();SearchLead();">
				</td>
			  	<!-- <td  align="left" width="1%"><input type="submit" name="go" id="go" value="Go" class="buttonTD" onclick="javascript:sortedColumns= new Array();SearchLead();"></td> -->
						
			</tr>
	  </table>
	  </BR>
		<div class="CLLI box">
		<div id="LeadApprovalList" name="LeadApprovalList" class="crmWidth" align="center">
			
				<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
					<thead>
						<tr>
						  <th><a id="CLLI" style="cursor:pointer;">DA<span id='span_CLLI'></span></a></th>
						    <th><a id="CLLI" style="cursor:pointer;">CLLI<span id='span_CLLI'></span></a></th>
							<th><a id="OWNER" style="cursor:pointer;">LION Owner Name<span id='span_OWNER'></span></a></th>
							<th><a id="CSF_CURRENT_ICL_OWNERNAME" style="cursor:pointer;">Opp Owner Name<span id='CSF_CURRENT_ICL_OWNERNAME'></span></a></th>
							<th><a id="LEAD_ASSIGNED" style="cursor:pointer;">Current LEAD ASSIGNED<span id='span_LEAD_ASSIGNED'></span></a></th>
							<th><a id="CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;">Opp Previous Assigned Date<span id='span_CSF_PREV_ASSIGNEDDATE'></span></a></th>
							<th><a id="counts" style="cursor:pointer;">COUNTS<span id='span_counts'></span></a></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
      </div> 
      
       <div class="LEADOWNER box" style="display:none;">
		<div id="LeadOwnereApprovalList" name="LeadOwnereApprovalList" class="crmWidth" align="center" >
				<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
					<thead>
						<tr>
						  	
							<th width="20%"><a id="CSF_CURRENT_ICL_OWNERNAME" style="cursor:pointer;">New ICL Owner name<span id='CSF_CURRENT_ICL_OWNERNAME'></span></a></th>
							<th><a id="OWNER" style="cursor:pointer;">Current Owner name<span id='span_OWNER'></span></a></th>
							<th><a id="CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;">New Lead Assign Date<span id='span_CSF_PREV_ASSIGNEDDATE'></span></a></th>
							<th><a id="LEAD_ASSIGNED" style="cursor:pointer;">Current Assigned Date<span id='span_LEAD_ASSIGNED'></span></a></th>
							<th><a id="counts" style="cursor:pointer;">COUNT<span id='span_counts'></span></a></th>
							
							<th></th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
      </div>
      
       <div class="NEWLEADOWNER box" style="display:none;">
		<div id="NewLeadOwnereApprovalList" name="NewLeadOwnereApprovalList" class="crmWidth" align="center" >
				<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
					<thead>
						<tr>
						   	<th width="20%"><a id="CSF_CURRENT_ICL_OWNERNAME" style="cursor:pointer;">New ICL Owner name<span id='CSF_CURRENT_ICL_OWNERNAME'></span></a></th>
							<th><a id="OWNER" style="cursor:pointer;">Current Owner name<span id='span_OWNER'></span></a></th>
							<th><a id="CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;">New Lead Assign Date<span id='span_CSF_PREV_ASSIGNEDDATE'></span></a></th>
							<th><a id="LEAD_ASSIGNED" style="cursor:pointer;">Current Assigned Date<span id='span_LEAD_ASSIGNED'></span></a></th>
							<th><a id="counts" style="cursor:pointer;">COUNT<span id='span_counts'></span></a></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
      </div>
	  </td>
  </tr>
  
  <tr>
    <td> &nbsp;
    </td>
  </tr>
<tr>
    <td> &nbsp;
    </td>
  </tr>
</table>


<script type="text/javascript"> 
//loadCampaignSelector();
$("#mergeOffices").hide();
$("#Leadapproval").hide();
</script>
</#if>