<style type="text/css">
  	#mytable {
    	border-collapse: collapse;
    	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    	font-size: 12px;
    	margin: 20px;
    	text-align: left;
    	width: 600px;
	}
	#mytable th {
    	background: none repeat scroll 0 0 #B9C9FE;
   	 	font-size: 13px;
    	font-weight: normal;
    	padding: 5px;
	}
	#mytable thead th.firstCol {
		/*background: url("http://media.smashingmagazine.com/images/express-css-table-design/table-images/left.png") no-repeat scroll left -1px #B9C9FE;*/
	}
	#mytable thead th.LastCol {
    	/*background: url("http://media.smashingmagazine.com/images/express-css-table-design/table-images/right.png") no-repeat scroll right -1px #B9C9FE;*/
	}
	#mytable td {
    	background: none repeat scroll 0 0 #E8EDFF;
    	border-top: 1px solid #FFFFFF;
    	color: #666699;
    	padding: 5px;
	}
	table td {
    	/*border: 1px solid #000000;*/
	}
	.level1 td:first-child {
    	padding-left: 15px !important;
	}
	.level2 td:first-child {
    	padding-left: 30px !important;
	}
	.level3 td:first-child {
    	padding-left: 45px !important;
	}
	.collapse .toggle {
    	background: url("assets/images/collapse.png") no-repeat;
    	padding: 0 5px 0 0;
	}
	.expand .toggle {
    	background: url("assets/images/expand.png") no-repeat;
    	padding: 0 5px 0 0;
	}
	.toggle {
    	height: 9px;
    	width: 9px;
    	display: inline-block;   
	}
	
	#mytablemerge {
    	border-collapse: collapse;
    	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    	font-size: 12px;
    	text-align: left;
    	width: 600px;
	}

	#mytablemerge th {
    	background: none repeat scroll 0 0 #B9C9FE;
   	 	font-size: 13px;
    	font-weight: normal;
    	padding: 5px;
	}
	#mytablemerge td {
    	background: none repeat scroll 0 0 #E8EDFF;
    	border-top: 1px solid #FFFFFF;
    	color: #666699;
    	padding: 5px;
	}
</style>

<#if leadTable?exists>
<#if result.data?exists>
<script type="text/javascript" >
searchRecordCount = ${result.data?size};
</script>
</#if>
<table cellspacing="0" cellpadding="0" border="0" class="list crmWidth">
<thead>
<tr>
<th>Upload Filename</th>
<th>Campaign</th>
<th>Lead Owner</th>
<#if isCityAdded?exists && isCityAdded>
<th>City</th>
<th>State</th>
</#if>
<#if isWCRemoved?exists && isWCRemoved>
<#else> 
<th>Wirecenter</th>
</#if>
<#if isDAAdded?exists && isDAAdded>
<th>DA</th>
</#if>
<#if isZIPAdded?exists && isZIPAdded>
<th>Zip</th>
</#if>
<th>Count</th>
</tr>
</thead>
	<tbody>
		<#if result.data?exists>
		<#list result.data as row>
		<tr>
			<#list row as column>
			
			<#if column_index == columnCount-1>
			<#else>
				<td>${column.value!''}</td>
			</#if>
			</#list>
		</tr>
		</#list>
		</#if>
	</tbody>
</table>

</#if>

		<#if campaignSelector?exists>
			<td class="fl">Select Campaign:&nbsp; </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" name="campaignID" id="campaignID"  class="inputControl" onchange="javascript:loadICLSelector();">
				    <option value="-1">-Select-</option>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionCampaignSeq?exists && GlobalContext.requestContext.requestWrapper.sessionCampaignSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
				</SELECT>
			</td>
		</#if>
		<#if iclSelector?exists>
			<td class="fl">Select ICL Name:&nbsp; </td>
			<td class="fv" style="padding-right:5px;">
				<SELECT style="width:180px;" id="iclID"  name="iclID" class="inputControl"  >
					<option value="-1">-Select-</option>
					<#list result.data as row>
						<option value="${row[0].value}" <#if (GlobalContext.requestContext.requestWrapper.sessionOfficeSeq?exists && GlobalContext.requestContext.requestWrapper.sessionOfficeSeq == row[0].value) || (result.data?size == 1)> SELECTED </#if> >${row[1].value!''}</option>
					</#list>
				</SELECT>
			</td>
		</#if>
		<#if disabledCities?exists>
				<SELECT style="width:135px;" id="disabledCity"  name="disabledCity" class="inputControl"  >
					<#list result.data as row>
						<option value="${row[0].value}:${row[1].value}:${row[2].value}:${row[3].value}"  >${row[0].value}, ${row[1].value} (${row[3].value})</option>
					</#list>
				</SELECT>
			</td>
		</#if>


<#if showleadOperations?exists>
	<#if reassignOperationSelected?exists  && reassignOperationSelected == true>
		<TABLE class="crmWidth">
		<TR>
		<TD align="left" valign="top" width='30%' style="border-style:solid;border-left:thick #ff0000;border-top:thick #ff0000;border-bottom:thick #ff0000;">
			<div id="FilterReassignTable">
				<TABLE>
					<TR>
						<TD>
						<DIV>
						<TABLE>
							<TR>
								<TD class="fl">Select Campaign:&nbsp;</TD>
								<TD class="fv" style="padding-right:5px;">
								<SELECT style="width:180px;" name="campaignSeq" id="campaignSeq"  class="inputControl" onchange="changeCampaignSeq()">
									<option value="-1">-Select-</option>
									<option value="17429706">Verizon B2B</option>
									<option value="15791795">Verizon FIOS II</option>
								</SELECT>
								</td>
							</TR>
						</TABLE>
						</DIV>
						</TD>
					</TR>
					<TR>
						<TD>
						<DIV>
						<TABLE>
							<TR>
								<TD class="fl">Assignment Type:&nbsp;</TD>
								<TD  class="fv" style="padding-right:5px;">
								<SELECT style='width:180px;' NAME="assignmentType" id="assignmentType"  class="inputControl" onchange="javascript:toggleAssignmentTypeChangeType(this.value)">
                					<OPTION VALUE='-1'>-Select-</OPTION>
                					<OPTION VALUE='CLLI' id='CLLI' class='field1'>By CLLI code</OPTION>
                					<OPTION VALUE='MerlinCode'  id='MerlinCode' class='field1'> By Office</OPTION>
    								<OPTION VALUE='NEWCLLI' id='NEWCLLI' class='field1'>Create New</OPTION>
                				</SELECT>
								</TD>
							</TR>
						</TABLE>
						</DIV>
						</TD>
					</TR>
					<TR>
						<TD>
						<div id="displayAssignmentTypeList" name="displayAssignmentTypeList" align="left">
							<#if displayAssignmentTypeList?exists>
							<TABLE>
								<TR>
								<#if assignmentType == "CLLI">
									<TD class="fl">&nbsp;Select CLLI:&nbsp; </TD>
								<#else>
									<TD class="fl">&nbsp;Select ICL Office:&nbsp; </TD>
								</#if>
									<TD class="fv" style="padding-right:5px;">
										<SELECT style="width:180px;" name="assignmentTypeList" id="assignmentTypeList"  class="inputControl" onchange="javascript:getAssignmentList('ASC');">
										<option value="-1">-Select-</option>
										<#list resultAssignmentType.data as row>
											<#if assignmentType == "CLLI">
												<option value="${row[0].value}">${row[0].value!''}</option>
											<#else>
												<option value="${row[0].value}">${row[0].value!''}</option>
											</#if>
										</#list>
										</SELECT>
									</TD>
								</TR>
							</TABLE>
							</#if>
						</div>
						</TD>
					</TR>
				</TABLE>
			</DIV>
		</TD>
		<TD align="left" valign="top" width='70%'>
			<DIV id="assignmentListTable" name="assignmentListTable" align="left">
				<#if assignmentListTable?exists>
				<#if showCreateNewWC?exists>
					<table cellspacing="0" cellpadding="0" border="0">
					<tr>
						<TD class="fv" style="padding-right:5px;">New CLLI</TD>
						<TD class="fv" style="padding-right:5px;"><INPUT class="inputControl"  size="30px"  TYPE="text" id="newWireCenter" NAME="newWireCenter"></TD>	
					</tr>
					<#if campaignSeq == "15791795">
					<tr>
						<TD class="fv" style="padding-right:5px;">New LFA</TD>
						<TD class="fv" style="padding-right:5px;"><INPUT class="inputControl"  size="30px"  TYPE="text" id="newLFA" NAME="newLFA"></TD>	
					</tr>
					</#if>
					<tr>
						<TD class="fv" style="padding-right:5px;">New Office</TD>
						<TD class="fv" style="padding-right:5px;">
						<SELECT style="width:80px;" name="newOwnerList" id="newOwnerList"  class="inputControl">
						<option value="-1">-Select-</option>
						<#list resultNewOwner.data as row>
						<option value="${row[0].value}">${row[0].value!''}</option>
						</#list>
						</SELECT>
						</TD>
					</tr>
					<TR>
						<TD class="fv" style="padding-right:5px;"><INPUT TYPE="submit" size="60px" value='Assign' onclick="javascript:saveNewCLLIAssignment();" class="buttonTD"></TD>
	    			</TR>
					</table>
				<#else>
				<TABLE class="crmWidth">
				<TR>
				<TD>
					<TABLE><TR>
						<TD class="fv" style="padding-right:5px;">Transfer assignments to</TD>
						<TD>&nbsp;</TD>
						<TD class="fv" style="padding-right:5px;">
							<SELECT style="width:80px;" name="changeALLNewOwnerValue1" id="changeALLNewOwnerValue1"  class="inputControl" onchange="javascript:setALLNewOwnerValue(this.value);">
								<option value="-1">-Select-</option>
								<#list resultNewOwner.data as row>
								<option value="${row[0].value}">${row[0].value!''}</option>
								</#list>
							</SELECT>
						</TD>
						<TD>&nbsp;</TD>
						<TD class="fv" style="padding-right:5px;"><INPUT TYPE="submit" size="30px" value='Apply ALL' onclick="javascript:selectAllNewOwner();" class="buttonTD"></TD>
						&nbsp;
						<TD class="fv" style="padding-right:5px;"><INPUT TYPE="submit" size="30px" value='Cancel ALL' onclick="javascript:cancelAllAssignment();" class="buttonTD"></TD>
						&nbsp;
						<TD class="fv" style="padding-right:5px;"><INPUT TYPE="submit" size="60px" value='Assign / Reassign' onclick="javascript:saveAssignNewOwner();" class="buttonTD"></TD>
					</TR></TABLE>
				</TD>
				</TR>
				<TR>
				<TD>
					<#if campaignSeq == "15791795">
						<table id="mytable" class="crmWidth">
    						<thead>
        						<th class="LastCol" style="width=50px"><input type="checkbox" id="selectAll" name="selectAll" value="" onclick="javascript:toggleSelectAll()"/> Select All</th>
								<th class="firstCol"><a id="CLLI" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable();">CLLI</a><span id='span_CLLI'></span></th>
								<th class="LastCol">LFA</th>
								<th class="LastCol">Current Office</th>
								<th class="LastCol">New Office</th>
    						</thead>
    						<#if resultList?exists>
							<#assign previousCLLI=''>
							<#list resultList as leadAssignment>
							<tr <#if leadAssignment.clli == previousCLLI>data-depth="1"<#else>data-depth="0"</#if> class="collapse level0">
								<td><input type="checkbox"  id="cbLeadAssign_${leadAssignment_index}" name="selectedRecord" <#if leadAssignment.lfa?exists>value="${leadAssignment.clli}_${leadAssignment.lfa}"<#else>value="${leadAssignment.clli}_"</#if> onclick=""/></td>
								<td><#if leadAssignment.clli == previousCLLI><#else><span class="toggle collapse"></span></#if>${leadAssignment.clli}</td>
								<td><#if leadAssignment.lfa?exists>${leadAssignment.lfa}</#if></td>
								<td><#if leadAssignment.current_Owner?exists>${leadAssignment.current_Owner}</#if></td>
								<td class="fv" style="padding-right:5px;">
									<SELECT style="width:80px;" name="newOwner_${leadAssignment_index}" id="newOwner_${leadAssignment_index}"  class="inputControl" onchange="javascript:selectCB(this)">
										<option value="-1">-Select-</option>
										<#list resultNewOwner.data as row>
										<option value="${row[0].value}">${row[0].value!''}</option>
										</#list>
									</SELECT>
								</td>
								<#assign previousCLLI=leadAssignment.clli>
							</tr>
							</#list>
							</#if>
						</table>
					<#else>
						<table id="mytable" class="crmWidth">
    						<thead>
        						<th class="LastCol" style="width=50px"><input type="checkbox" id="selectAll" name="selectAll" value="" onclick="javascript:toggleSelectAll()"/> Select All</th>
								<th class="firstCol"><a id="CLLI" style="text-decoration:underline;cursor: pointer;" onclick="javascript:sortingTable();">CLLI</a><span id='span_CLLI'></span></th>
								<th class="LastCol">Current Office</th>
								<th class="LastCol">New Office</th>
    						</thead>
    						<#if resultList?exists>
							<#list resultList as leadAssignment>
							<tr class="collapse level0">
								<td><input type="checkbox"  id="cbLeadAssign_${leadAssignment_index}" name="selectedRecord" value="${leadAssignment.clli}_" onclick=""/></td>
								<td>${leadAssignment.clli}</td>
								<td><#if leadAssignment.current_Owner?exists>${leadAssignment.current_Owner}</#if></td>
								<td class="fv" style="padding-right:5px;">
									<SELECT style="width:80px;" name="newOwner_${leadAssignment_index}" id="newOwner_${leadAssignment_index}"  class="inputControl" onchange="javascript:selectCB(this)">
										<option value="-1">-Select-</option>
										<#list resultNewOwner.data as row>
										<option value="${row[0].value}">${row[0].value!''}</option>
										</#list>
									</SELECT>
								</td>
							</tr>
							</#list>
							</#if>
						</table>
					</#if>	
				</TD>
				</TR>
				<TR>
					<TABLE><TR>
					<TD class="fv" style="padding-right:5px;">Transfer assignments to</TD>
						<TD>&nbsp;</TD>
						<TD class="fv" style="padding-right:5px;">
							<SELECT style="width:80px;" name="changeALLNewOwnerValue1" id="changeALLNewOwnerValue1"  class="inputControl" onchange="javascript:setALLNewOwnerValue(this.value);">
								<option value="-1">-Select-</option>
								<#list resultNewOwner.data as row>
								<option value="${row[0].value}">${row[0].value!''}</option>
								</#list>
							</SELECT>
						</TD>
						<TD>&nbsp;</TD>
						<TD class="fv" style="padding-right:5px;"><INPUT TYPE="submit" size="30px" value='Apply ALL' onclick="javascript:selectAllNewOwner();" class="buttonTD"></TD>
						&nbsp;
						<TD class="fv" style="padding-right:5px;"><INPUT TYPE="submit" size="30px" value='Cancel ALL' onclick="javascript:cancelAllAssignment();" class="buttonTD"></TD>
						&nbsp;
						<TD class="fv" style="padding-right:5px;"><INPUT TYPE="submit" size="60px" value='Assign / Reassign' onclick="javascript:saveAssignNewOwner();" class="buttonTD"></TD>
					</TR></TABLE>
				</TR>
				</TABLE>
				</#if>
				</#if>
			</DIV>
		</TD>
		</TR>
		</TABLE>
	<#else>
		<div id="FilterTable">
        <TABLE class="crmWidth" >
          <TR>
            <td align="center" width='30%'>
              <TABLE>

                <tr>
                  <Td colspan="4" class='statusChangeTypes' >
                  	<input name='statusChangeType' class='statusChangeType' disabled="disabled" value='byCity' id='statusChangeByCity' type="radio" onchange ="javascript:toggleFilterOptions(this.value);"/> By City* 
                  </Td>
                </tr>

                <tr>
                  <Td colspan="4" class='statusChangeTypes' >
                  	<input name='statusChangeType' class='statusChangeType' disabled="disabled" value='byOther' id='statusChangeByOther' type="radio" checked="checked" onchange="javascript:toggleFilterOptions(this.value);"/> By Other
                  </Td>
                </tr>


                <TR>
                  <Th>
                  </Th>
                  <Th>Field
                  </Th>
                  <Th>Condition
                  </Th>
                  <Th>Value(s)
                  </Th>
                </TR>
                <TR id='filter1'>
                  <TD>&nbsp;
                  </TD>
                  <TD>
                    <SELECT style='width:100px;' NAME="SF1" id="SF1">
                      <OPTION VALUE="-1" class="field1">
                      </option>
                      <OPTION VALUE="CLLI" id="CLLI1" class="field1">By WC
                      </option>
                      <OPTION VALUE="DA"  id="DA1" class="field1">By DA
                      </option>
                      <OPTION VALUE="CITY" >By City
                      </option>
                      <OPTION VALUE="STATE" class="field1">By State
                      </option>
                      <OPTION VALUE="RUN_ID"  id="RUN_ID1" class="field1">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER" id="LEAD_OWNER1" class="field1">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID" id="LEAD_ID1" class="field1">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP" id="ZIP1" class="field1">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ" id="CAMPAIGN_SEQ1" class="field1">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:87px;' NAME="SO1" id="SO1">
                      <OPTION VALUE="-1" id='operator1Blank' class="operator1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2" id='operator1Blank' class="operator1">Not Equals
                      </option>
                      <OPTION VALUE="3" id='operator1I' class="operator1">In
                      </option>
                      <OPTION VALUE="4" id='operator1NI' class="operator1">Not In
                      </option>
                      <OPTION VALUE="5" id='operator1C' class="operator1">Contains
                      </option>
                      <OPTION VALUE="6" id='operator1NC' class="operator1">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                  	<div id="disabledCities" name="disabledCities" style="display:none"></div>
                    <INPUT class="inputControl" TYPE="text" id="IT1" NAME="IT1">
                  </TD>
                </TR>
                <TR id='filter2'>
                  <TD>
                    <SELECT  NAME="SFS2" id="SFS2">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR " class='operator2'>Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:100px;' NAME="SF2" id="SF2">
                      <OPTION VALUE="-1" class="field2">
                      </option>
                      <OPTION VALUE="CLLI" class="field2" id="CLLI2">By WC
                      </option>
                      <OPTION VALUE="DA" class="field2" id="DA2">By DA
                      </option>
                      <OPTION VALUE="CITY" id="CITY2" class="field2">By City
                      </option>
                      <OPTION VALUE="STATE">By State
                      </option>
                      <OPTION VALUE="RUN_ID" id="RUN_ID2" class="field2">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER" id="LEAD_OWNER2" class="field2">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID" id="LEAD_ID2" class="field2">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP" class="field2" id="ZIP2">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ" id="CAMPAIGN_SEQ2" class="field2">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:87px;' NAME="SO2" id="SO2">
                      <OPTION VALUE="-1" id='operator2Blank'  class="operator2">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2" id='operator2Blank' class="operator2">Not Equals
                      </option>
                      <OPTION VALUE="3" id='operator2I' class="operator2">In
                      </option>
                      <OPTION VALUE="4" id='operator2NI' class="operator2">Not In
                      </option>
                      <OPTION VALUE="5" id='operator2C' class="operator2">Contains
                      </option>
                      <OPTION VALUE="6" id='operator2NC' class="operator2">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT2" NAME="IT2">
                  </TD>
                </TR>
                <TR id='filter3'>
                  <TD>
                    <SELECT  NAME="SFS3" id="SFS3">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:100px;' NAME="SF3" id="SF3">
                      <OPTION VALUE="-1"  class="field3">
                      </option>
                      <OPTION VALUE="CLLI" class="field3">By WC
                      </option>
                      <OPTION VALUE="DA" class="field3">By DA
                      </option>
                      <OPTION VALUE="CITY" class="field3">By City
                      </option>
                      <OPTION VALUE="STATE" class="field3">By State
                      </option>
                      <OPTION VALUE="RUN_ID" class="field3">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER" class="field3">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID" class="field3">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP" class="field3">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:87px;' NAME="SO3" id="SO3">
                      <OPTION VALUE="-1" class="operator3">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2" class="operator3">Not Equals
                      </option>
                      <OPTION VALUE="3" class="operator3">In
                      </option>
                      <OPTION VALUE="4" class="operator3">Not In
                      </option>
                      <OPTION VALUE="5" class="operator3">Contains
                      </option>
                      <OPTION VALUE="6" class="operator3">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT3" NAME="IT3">
                  </TD>
                </TR>
                <TR id='filter4'>
                  <TD>
                    <SELECT  NAME="SFS4" id="SFS4">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:100px;' NAME="SF4" id="SF4">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="CITY">By City
                      </option>
                      <OPTION VALUE="STATE">By State
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:87px;' NAME="SO4" id="SO4">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT4" NAME="IT4">
                  </TD>
                </TR>
                <TR id='filter5'>
                  <TD>
                    <SELECT  NAME="SFS5" id="SFS5">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:100px;' NAME="SF5" id="SF5">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="CITY">By City
                      </option>
                      <OPTION VALUE="STATE">By State
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:87px;' NAME="SO5" id="SO5">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT5" NAME="IT5">
                  </TD>
                </TR>
                <TR id='filter6'>
                  <TD>
                    <SELECT  NAME="SFS6" id="SFS6">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:100px;' NAME="SF6" id="SF6">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="CITY">By City
                      </option>
                      <OPTION VALUE="STATE">By State
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:87px;' NAME="SO6" id="SO6">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT6" NAME="IT6">
                  </TD>
                </TR>
                <TR id='filter7'>
                  <TD>
                    <SELECT  NAME="SFS7" id="SFS7">
                      <OPTION VALUE="AND">And
                      </option>
                      <OPTION VALUE="OR ">Or
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:100px;' NAME="SF7" id="SF7">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="CLLI">By WC
                      </option>
                      <OPTION VALUE="DA">By DA
                      </option>
                      <OPTION VALUE="CITY">By City
                      </option>
                      <OPTION VALUE="STATE">By State
                      </option>
                      <OPTION VALUE="RUN_ID">By Filename
                      </option>
                      <OPTION VALUE="LEAD_OWNER">By Office Code
                      </option>
                      <OPTION VALUE="LEAD_ID">By Lead Id
                      </option>
                      <OPTION VALUE="ZIP">By ZIP
                      </option>
                      <OPTION VALUE="CAMPAIGN_SEQ">By Campaign
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <SELECT style='width:87px;' NAME="SO7" id="SO7">
                      <OPTION VALUE="-1">
                      </option>
                      <OPTION VALUE="1">Equals
                      </option>
                      <OPTION VALUE="2">Not Equals
                      </option>
                      <OPTION VALUE="3">In
                      </option>
                      <OPTION VALUE="4">Not In
                      </option>
                      <OPTION VALUE="5">Contains
                      </option>
                      <OPTION VALUE="6">Not Contains
                      </option>
                    </SELECT> 
                  </TD>
                  <TD>
                    <INPUT class="inputControl" TYPE="text" id="IT7" NAME="IT7">
                  </TD>
                </TR>
              </TABLE>
			  <br/>
			  <TABLE  id='filterTable2'>
                <TR>
                  <td>
                    <INPUT TYPE="checkbox" NAME="LeadsType" value="1"> On The Map
                  </td>
                  <td>
                  </td>
                </tr>
                <TR>
                  <td>
                    <INPUT TYPE="checkbox" NAME="LeadsType" value="2"> Generated LeadSheets
                  </td>
                  <td>
                  </td>
                </tr>
                <TR>
                  <td>
                    <INPUT TYPE="checkbox" NAME="LeadsType" value="3"> Saved LeadSheets(Not Assigned)
                  </td>
                  <td>
                  </td>
                </tr>
                <TR>
                  <td>
                    <INPUT TYPE="checkbox" NAME="LeadsType" value="4"> Saved LeadSheets(Assigned)
                  </td>
                  <td>
                  </td>
                </tr>
              </table>
			  <br/>
	        <INPUT TYPE="submit" value='Search' onclick="javascript:refreshLeadTable();" class="buttonTD"> &nbsp;
	        <INPUT class="buttonTD" TYPE="submit" value='Cancel' onclick="javascript:goToLeadManagement();">

            </td>
	    <td align='center' valign='top' style='border-left:0.1em solid black;'>
	    <div id="leadTable" name="leadTable" style='margin-left:15px;'>
				<table cellspacing="0" cellpadding="0" border="0"
					class="list crmWidth">
					<thead>
						<tr>
							<th>Upload Filename</th>
							<th>Campaign</th>
							<th>Lead Owner</th>
							<th>Wirecenter</th>
							<th>Count</th>
						</tr>
					</thead>
				</table>
		</div>
		<div id="reAssignReviewTable" style='margin-left:15px; display: none;' > 		</div>
		<div id="statusReviewTable" style='margin-left:15px; display: none;'>		</div>
		
					<br />
					<br />
				<table>
					<tr>
						<td>
						<table id="reAssignLeads" style="display: none">
							<tr>
								<td>
								<div id="campaignSelector" name="campaignSelector"></div>
								</td>
								<td>
								<div id="iclSelector" name="iclSelector"></div>
								</td>
							</tr>
						</table>
						</td>
						<td>
						<table id="leadStatus" style="display: none">
							<!-- 					<tr>
							<td><input type="submit" value="Enable"
								onclick="javascript:changeLeadsStatus(this.value);"
								class="buttonTD"></td>
							<td><input type="submit" value="Disable"
								onclick="javascript:changeLeadsStatus(this.value);"
								class="buttonTD"></td>
						</tr>  -->
						</table>
						</td>
						<td>&nbsp;</td>
						<td><INPUT class="buttonTD" TYPE="submit" value='Review' id="reviewBtn" style="display: none"
							onclick="javascript:reviewRows();"></td>
					</tr>
				</table>
				</td>
          </tr>
        </table>
      </div>
	</#if>
</#if>

<#if mergeOfficeList?exists>
<DIV>
<TABLE><TR><TD>
<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<TD class="fv" style="padding-right:5px;" align="left">Merge Offices</TD>
	</tr>
	<tr>
		<TD>
		<TABLE style='border-style:solid;border-width:thin;border-color:#B9C9FE;font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;font-size: 12px;text-align:left;width: 600px;'>
			<tr>
				<TD class="fv" style="padding-right:2px;">Move this office&#39;s reps *:</TD>
				<TD class="fv" style="padding-right:2px;">
				<SELECT style="width:80px;" name="fromOffice" id="fromOffice"  class="inputControl">
				<option value="-1">-Select-</option>
				<#list resultOwnerCode.data as row>
					<option value="${row[0].value}">${row[0].value!''}</option>
				</#list>
				</SELECT>
				</TD>

				<TD class="fv" style="padding-right:2px;">To this office&#39;s account *:</TD>
				<TD class="fv" style="padding-right:2px;">
				<SELECT style="width:80px;" name="toOffice" id="toOffice"  class="inputControl">
				<option value="-1">-Select-</option>
				<#list resultOwnerCode.data as row>
					<option value="${row[0].value}">${row[0].value!''}</option>
				</#list>
				</SELECT>
				</TD>
				<TD class="fv" style="padding-right:2px;" align="center">
					<INPUT TYPE="submit" size="60px" value='Merge Office' onclick="javascript:saveMergeOffice();" class="buttonTD">
				</TD>
			</tr>
		</TABLE>
		</TD>
	</tr>
</table>
</TD></TR><TR><TD>
<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<TD class="fv" style="padding-right:5px;" align="left">Search Offices</TD>
	</tr>
	<tr>
		<TD>
		<TABLE style='border-style:solid;border-width:thin;border-color:#B9C9FE;font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;font-size: 12px;text-align:left;width: 600px;'>
			<tr>
				<TD class="fv" style="padding-right:2px;">Office Code :</TD>
				<TD class="fv" style="padding-right:2px;">
				<SELECT style="width:80px;" name="sOperation" id="sOperation"  class="inputControl">
					<option value="-1">-Select-</option>
					<option value="1">Begins with</option>
					<option value="2">Equals</option>
					<option value="3">Not Equals</option>
				</SELECT>
				</TD>
				<TD class="fv" style="padding-right:2px;">
				<TD class="fv" style="padding-right:2px;"><INPUT class="inputControl"  size="20px"  TYPE="text" id="sText" NAME="sText"></TD>
				<TD class="fv" style="padding-right:2px;">
				<TD class="fv" style="padding-right:2px;" align="center">
					<INPUT TYPE="submit" size="60px" value='Search Office' onclick="javascript:searchOffice();" class="buttonTD"> &nbsp;
					<INPUT class="buttonTD"  size="60px" TYPE="submit" value='Cancel' onclick="javascript:loadMergeOfficePage();">
				</TD>
			</tr>
		</TABLE>
		</TD>
	</tr>
</table>
</TD></TR><TR><TD>
<table id="mytablemerge" cellspacing="0" cellpadding="0" border="0" class="crmWidth">
	<thead>
		<tr>
			<th align="center">Reps moved from  this account</th>
			<th align="center">Account showing both office&#39;s reps</th>
			<th align="left">Active</th>
		</tr>
	</thead>
		<#if result.data?exists>
			<#list result.data  as row>
			<tr>
			<#list row as column>
				<#if column_index == 3>
				<#elseif column_index == 2>
				<td id="td_${row[0].value}_${row[1].value}">
					<table>
						<tr>
							<td style="border-style: none " id="td_s_${row[0].value}_${row[1].value}">
								<a title="Click to Edit" id="mergeActiveEditBtn_${row[0].value}_${row[1].value}"  onclick="javascript:goToEditMergeActive('${row[0].value}','${row[1].value}')"  href="#" >
								<span id='span_s_${row[0].value}_${row[1].value}' name="" >
								${column.value!''}
								</span>
								</a>
							</td>
							<td valign="middle"  style="border-style: none ">
								<button id="mergeActiveEditSubmitBtn_${row[0].value}_${row[1].value}" style="width: 18px; height: 18px; display: none" onclick="javascript:goToSubmitEditMergeActive('${row[0].value}','${row[1].value}')"><img src="assets/images/okIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>
								<br>
								<button id="mergeActiveEditCancelBtn_${row[0].value}_${row[1].value}"style="width: 18px; height: 18px; display: none" onclick="javascript:goToCancelEditMergeActive('${row[0].value}','${row[1].value}')"><img src="assets/images/cancelIcon.gif" style="margin-left: -5px; margin-top: -4px;"></button>			
							</td>
						</tr>
					</table>
				</td>
				<#else>
				<td align="center">
					${column.value!''}
				</td>
				</#if>
			</#list>
			</tr>
			</#list>
		</#if>
</table>
</TD></TR></TABLE>

</DIV>
</#if>

<!-- // new code added by sanjay -->
<#if LeadApprovalList?exists>
 <DIV>
		<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
			<thead>
				<tr>
					<th width="4%"><input type="checkbox" id="selectAllFiles" name="selectAllFiles" value="" onclick="javascript:toggleFiles(this)"/></th>
					<th width="6%"><a id="${tableName}_CLLI" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">DA<span id='span_${tableName}_CLLI'></span></a></th>
					<th width="10%"><a id="${tableName}_CLLI" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">CLLI<span id='span_${tableName}_CLLI'></span></a></th>
					<th width="13%"><a id="${tableName}_CSF_CURRENT_ICL_OWNERNAME" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New ICL Owner name<span id='span_${tableName}_CSF_CURRENT_ICL_OWNERNAME'></span></a></th>
					<th width="10%"><a id="${tableName}_OWNER" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Owner name<span id='span_${tableName}_OWNER'></span></a></th>
					<th width="12%"><a id="${tableName}_CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New Lead Assign Date<span id='span_${tableName}_CSF_PREV_ASSIGNEDDATE'></span></a></th>
					<th width="12%"><a id="${tableName}_LEAD_ASSIGNED" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Assigned Date<span id='span_${tableName}_LEAD_ASSIGNED'></span></a></th>
					<th width="9%"><a id="${tableName}_counts" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">COUNT<span id='span_${tableName}_counts'></span></a></th>
					<th></th>
					<th width="19%"></th>
					
					
				</tr>
			</thead>
			<tbody>
				<#if result.data?exists>
				<#list result.data as row>
					<tr>
						<!--<td><input type="checkbox"  name="selectedFiles" value="" id="selectedFiles" onclick="javascript:addToSelectedFilesList(this);"/></td>--> 
						    <td><input type="checkbox" name="selectedFiles" class="selectedFiles" value="${row[0].value}" id="selectedFiles" onchange="javascript:addToMergeList(this);"/></td>
						
						<#list row as column>
								   <#if (column_index == 0)>
									  <td>${column.value!''}</td>
								   </#if>
								 
									
								   <#if (column_index == 1)>
									    <td>${column.value!''}</td>
								   </#if>
								 
								   <#if (column_index == 2)>
										 <td>${column.value!''}</td> 
									</#if>
								   <#if (column_index == 3)>
									   <td>${column.value!''}</td>
								   </#if>
								    <#if (column_index == 4)>
									    <td>${column.value!''}</td> 
								   </#if>
								   <#if (column_index == 5)>
										<td>${column.value!''}</td>							   
									</#if>
									 
								   <#if (column_index == 6)>
										<td>${column.value!''}</td> 
								   </#if>	 
								    <#if (column_index == 7)>
								     	<td><a href="javascript:void(0)"  onclick="javascript:exportReportcllida('XLS','${row[0].value!''}','${row[1].value!''}')">Export</a></td>
								   </#if>
								
								    <#if (column_index == 8)>
									   <td><a href="javascript:void(0)"  onclick="javascript:updateapprovedleads('${row[0].value!''}','${row[1].value!''}')">Approve</a></td>
								   </#if>
								    
					  </#list>
					</tr>
				</#list>
					
			
				</#if>
			</tbody>
		</table>
		
					<#list result.data as row>
					 <#if row_index == 2>
					
			    		<td style="display: inline-block;">
							<INPUT TYPE="submit" style="width:202px; margin:auto;margin-top:10px;" value="EXPORT ALL to csv" class="buttonTD" onclick="javascript:DownloadleadUploadHistoryTable('XLS')">
						</td>
						
						<td style="display: inline-block;">
							<INPUT TYPE="submit" id="unchk" style="width:202px; margin:auto;margin-top:10px;" value="APPROVE selected" class="buttonTD" onclick="javascript:Allapprovedleads()">
						
						</td>
					</#if>
					</#list>
		
		</DIV>

</#if>

<#if LeadOwnereApprovalList?exists>
 <DIV>
		<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
			<thead>
				<tr>
					<th width="1%"><input type="checkbox" id="selectAllFiles" name="selectAllFiles" value="" onclick="javascript:toggleFiles(this)"/></th>
					<th width="8%"><a id="${tableName}_RUN_ID" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New ICL Owner name<span id='span_${tableName}_RUN_ID'></span></a></th>
					<th width="8%"><a id="${tableName}_OWNER" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Owner name<span id='span_${tableName}_OWNER'></span></a></th>
					<th width="8%"><a id="${tableName}_CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New Lead Assign Date<span id='span_${tableName}_CSF_PREV_ASSIGNEDDATE'></span></a></th>
					<th width="8%"><a id="${tableName}_LEAD_ASSIGNED" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Assigned Date<span id='span_${tableName}_LEAD_ASSIGNED'></span></a></th>
					<th width="5%"><a id="${tableName}_counts" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">COUNT<span id='span_${tableName}_counts'></span></a></th>
				
					
					<th width="6%"></th>
					<th width="28%"></th>
					
					
				</tr>
			</thead>
			<tbody>
				<#if result.data?exists>
				<#list result.data as row>
					<tr>
					    <td><input type="checkbox" name="selectedFiles" class="selectedFiles" value="${row[0].value}" id="selectedFiles" onchange="javascript:addToMergeList(this);"/></td>
						
						<#list row as column>
						
									
								   <#if (column_index == 0)>
										 <td>${column.value!''}</td> 
									</#if>
								   <#if (column_index == 1)>
									   <td>${column.value!''}</td>
								   </#if>
								    <#if (column_index == 2)>
									    <td>${column.value!''}</td> 
								   </#if>
								       <#if (column_index == 3)>
									    <td>${column.value!''}</td> 
								   </#if>
								       <#if (column_index == 4)>
									    <td>${column.value!''}</td> 
								   </#if>
								    <#if (column_index == 5)>
									<!--<td><a href="javascript:void(0)"  onclick="javascript:exportReportowner('XLS','${row[1].value!''}','${row[2].value!''}')">Export</a></td>-->								   
									<td><a href="javascript:void(0)"  onclick="javascript:exportReportNewLeadOwner('XLS','${row[0].value!''}','${row[1].value!''}','${row[2].value!''}','${row[3].value!''}')">Export</a></td>								   
									
								
									</#if>
								    <#if (column_index == 6)>
									  <td><a href="javascript:void(0)"  onclick="javascript:updateleadowner('${row[0].value!''}','${row[2].value!''}')">Approve</a></td>    
								   	   
								   	
								   </#if>
								    
					  </#list>
		
					</tr>
				</#list>
					
			
				</#if>
			</tbody>
		</table>
		
					<#list result.data as row>
					 <#if row_index == 2>
					
			    		<td style="display: inline-block;">
							<INPUT TYPE="submit" style="width:202px; margin:auto;margin-top:10px;" value="EXPORT ALL to csv" class="buttonTD" onclick="javascript:DownloadOwnerleads('XLS')">
						</td>
						
						<td style="display: inline-block;">
							<INPUT TYPE="submit" id="unchk" style="width:202px; margin:auto;margin-top:10px;" value="APPROVE selected" class="buttonTD" onclick="javascript:AllapprovedleadOwner()">
						
						</td>
					</#if>
					</#list>
		
		</DIV>

</#if>

<#if NewLeadOwnereApprovalList?exists>
 <DIV>
		<table cellspacing=0 cellpadding=0 class="list" width="100%" align="center">
			<thead>
				<tr>
					<th width="1%"><input type="checkbox" id="selectAllFiles" name="selectAllFiles" value="" onclick="javascript:toggleFiles(this)"/></th>
									
					<th width="8%"><a id="${tableName}_RUN_ID" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New ICL Owner name<span id='span_${tableName}_RUN_ID'></span></a></th>
					<th width="8%"><a id="${tableName}_OWNER" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Owner name<span id='span_${tableName}_OWNER'></span></a></th>
					<th width="8%"><a id="${tableName}_CSF_PREV_ASSIGNEDDATE" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">New Lead Assign Date<span id='span_${tableName}_CSF_PREV_ASSIGNEDDATE'></span></a></th>
					<th width="8%"><a id="${tableName}_LEAD_ASSIGNED" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">Current Assigned Date<span id='span_${tableName}_LEAD_ASSIGNED'></span></a></th>
					<th width="5%"><a id="${tableName}_counts" style="cursor:pointer;" onclick="javascript:refreshleadapprovallist(${tableName}PageNumber,sortColumn(this,'${tableName}',sortedColumns));">COUNT<span id='span_${tableName}_counts'></span></a></th>
					
					
					<th width="6%"></th>
					<th width="28%"></th>
					
					
				</tr>
			</thead>
			<tbody>
				<#if result.data?exists>
				<#list result.data as row>
					<tr>
					    <td><input type="checkbox" name="selectedFiles" class="selectedFiles" value="${row[0].value}" id="selectedFiles" onchange="javascript:addToMergeList(this);"/></td>
						
						<#list row as column>
					 
								   <#if (column_index == 0)>
										 <td>${column.value!''}</td> 
									</#if>
								   <#if (column_index == 1)>
									   <td>${column.value!''}</td>
								   </#if>
								    <#if (column_index == 2)>
									    <td>${column.value!''}</td> 
								   </#if>
								       <#if (column_index == 3)>
									    <td>${column.value!''}</td> 
								   </#if>
								       <#if (column_index == 4)>
									    <td>${column.value!''}</td> 
								   </#if>
								    <#if (column_index == 5)>
										<td><a href="javascript:void(0)"  onclick="javascript:exportReportNewLeadOwner('XLS','${row[0].value!''}','${row[1].value!''}','${row[2].value!''}','${row[3].value!''}')">Export</a></td>								   
								   </#if>
								
								    <#if (column_index == 6)>
									   <td><a href="javascript:void(0)"  onclick="javascript:UpdateReportnewleadowner('${row[0].value!''}','${row[2].value!''}')">Approve</a></td>
								   </#if>
								    
					  </#list>
		
					</tr>
				</#list>
					
			
				</#if>
			</tbody>
		</table>
		
					<#list result.data as row>
					 <#if row_index == 2>
					
			    		<td style="display: inline-block;">
							<INPUT TYPE="submit" style="width:202px; margin:auto;margin-top:10px;" value="EXPORT ALL to csv" class="buttonTD" onclick="javascript:DownloadOwnerleads('XLS')">
						</td>
						
						<td style="display: inline-block;">
							<INPUT TYPE="submit" id="unchk" style="width:202px; margin:auto;margin-top:10px;" value="APPROVE selected" class="buttonTD" onclick="javascript:AllapprovedNewleadOwner()">
						
						</td>
					</#if>
					</#list>
		
		</DIV>

</#if>

<script type="text/javascript" >
	my_jQuery(function() { //alert("hello");
		my_jQuery('#mytable').on('click', '.toggle', function () {
	        //Gets all <tr>'s  of greater depth
	        //below element in the table
	        var findChildren = function (tr) {
	            var depth = tr.data('depth');
	            return tr.nextUntil(my_jQuery('tr').filter(function () {
	                return my_jQuery(this).data('depth') <= depth;
	            }));
	        };

			var el = my_jQuery(this);
	        var tr = el.closest('tr'); //Get <tr> parent of toggle button
	        var children = findChildren(tr);
			var selectedChildren = children.filter('.selected');
			children = children.not(selectedChildren);
	        //Remove already collapsed nodes from children so that we don't
	        //make them visible. 
	        //(Confused? Remove this code and close Item 2, close Item 1 
	        //then open Item 1 again, then you will understand)
	        var subnodes = children.filter('.expand');
	        subnodes.each(function () {
	            var subnode = my_jQuery(this);
	            var subnodeChildren = findChildren(subnode);
	            children = children.not(subnodeChildren);
	        });

			//Change icon and hide/show children
	        if (tr.hasClass('collapse')) {
	            tr.removeClass('collapse').addClass('expand');
	            children.hide();
	        } else {
	            tr.removeClass('expand').addClass('collapse');
	            children.show();
	        }
	        return children;
	    });
	});

</script>

